$data.setLayoutTemplate("/Default.vm")
#set($embed = $data.Parameters.getBoolean("nolayout")) 
#if($embed)
$data.setLayoutTemplate("/Empty.vm")
#end
#set($aclPerm = $data.ACL.Permissions)
#reportMenuTitle("$!l10n.purchase_report")
#if($aclPerm.containsName("View Purchase Reports"))   
#set($path = "report,purchase,")
#if(!$embed)
<div id="scroll3" style="width:98%;height:60vh;background-color:none;overflow:auto">
#end
<table width="100%">  
  #if($aclPerm.containsName("View Operational Reports"))  
  #reportMenu("VendorDataReport.vm" $!l10n.vendor_data "View Vendor Data")
  #reportMenu("ItemsToBuyReport.vm" "Items to Buy" "View Purchase Order")
  #reportMenu("PurchaseOrderReport.vm" $!l10n.purchase_order "View Purchase Order")
  ##reportMenu("PurchaseOrderReportDetailed.vm" "$!l10n.purchase_order (Detail)" "View Purchase Order")  
  #reportMenu("PurchaseReceiptReport.vm" $!l10n.purchase_receipt "View Purchase Receipt")
  ##reportMenu("PurchaseReceiptReportDetailed.vm" "$!l10n.purchase_receipt (Detail)" "View Purchase Receipt")    
  #reportMenu("PurchaseInvoiceReport.vm" $!l10n.purchase_invoice "View Purchase Invoice")
  ##reportMenu("PurchaseInvoiceDetailed.vm" "$!l10n.purchase_invoice (Detail)" "View Purchase Invoice")  
  ##reportMenu("PurchaseInvoiceFreight.vm" "$!l10n.purchase_invoice (Freight)" "View Purchase Invoice")  
  
  #reportMenu("PurchaseReturnReport.vm" $!l10n.purchase_return "View Purchase Return")
  #reportMenu("UncompleteOrderList.vm" "Uncomplete Order List" "View Purchase Order")	            
  #end ##end operational
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr> 
  #if($aclPerm.containsName("View Analytical Reports")) 
  #reportMenu("OrderReceivedHistory.vm" "Order Received History" "View Purchase Receipt")	            
  #reportMenu("PurchasePriceHistory.vm" "Purchase Price History" "View Purchase Invoice")
  #reportMenu("Top10Ordered.vm" "Top 10 Ordered Item" "View Purchase Order")
  #reportMenu("Top10Received.vm" "Top 10 Received Item" "View Purchase Receipt")
  #reportMenu("Top10Vendor.vm" "Top 10 Vendor" "View Purchase Order")
  ##reportMenu("LeadTimeAnalysis.vm" "Order to Received (Lead Time) Analysis By Vendor" "View Purchase Order")
  #reportMenu("MonthlyPurchase.vm" "Monthly Purchase" "View Purchase Order")
  #reportMenu("YearlyPurchase.vm" "Yearly Purchase" "View Purchase Invoice")
  ##reportMenu("PurchaseStockReplenish.vm" "Purchase Replenishment" "Create Purchase Order")
  #end    
</table>
#if(!$embed) 	
</div>
#end
#end ##end if purchase
