## ----------------------------------------------------------------------------
## template parsed from scheduler
## ----------------------------------------------------------------------------
#if($fromScheduler)
$!data.setLayoutTemplate("/Empty.vm")
#set($nocompany=true)
#parse ("/print/headers/HeaderHTML.vm")
<span style="font-weight:bold;font-size:14px">$!title </span>
<br><br>
<table width="100%" cellpadding="4" cellspacing="0" border="1">
  <tr style="background:#eee;font-weight:bold;font-size:14px">
    <td>$!l10n.fa_code</td>
    <td>$!l10n.fa_name</td>
    <td>$!l10n.fixed_asset_type</td>
    <td>$!l10n.category</td>
    <td>$!l10n.location</td>
    <td>$!l10n.svc_type</td>   
    <td>Next Due</td>   
  </tr>
  #foreach($oFS in $vFS)
  #set($oFA = $oFS.FixedAsset)
  <tr>
    <td>$!oFA.FixedAssetCode</td>
    <td>$!oFA.FixedAssetName</td>
    <td>$!oFA.FaType.Description</td>
    <td>$!oFA.FaKategori.Description</td>
    <td>$!oFA.Location.Name</td>
    <td>$!oFS.FaSvcType.Description</td>
    <td><b>$!cf.fmt($!oFS.NextDue)</td>     
  </tr>             
  #end ##end foreach
</table>
</body>
</html>

## ----------------------------------------------------------------------------
## from user request
## ----------------------------------------------------------------------------
#else 
#set($fascheduler = $butil.getInstance("com.ssti.enterprise.pos.tools.fixedasset.FAScheduler"))
<!--
## $fascheduler.setCron("0 0 10 20 * ? ", false)
$fascheduler
$fascheduler.isStarted()
-->
## $fascheduler.init()
## $fascheduler
## $fascheduler.isStarted()
## $fascheduler.start()
## $fascheduler.isStarted()
## $fascheduler
## $fascheduler.stop()

#set($printable = $data.Parameters.getBoolean("printable"))
#set($debug = $data.Parameters.getBoolean("debug"))
#set($op = $data.Parameters.getInt("op"))
#set($title = "Service Due Report ($!l10n.fixed_asset) ")

#if(!$printable)
  $data.setLayoutTemplate("/Report.vm")
#else
  $data.setLayoutTemplate("/Printable.vm")
#end
#set($nocommon = true)

#set($cond   = $data.Parameters.getInt("Condition", -1))
#set($sort   = $data.Parameters.getInt("SortBy"))
#set($limit  = $data.Parameters.getInt("ViewLimit",25))
#set($key    = $data.Parameters.getString("Keywords",""))
#set($deptid = $data.Parameters.getString("DepartmentId",""))
#set($locid  = $data.Parameters.getString("LocationId",""))
#set($katid  = $data.Parameters.getString("FaKategoriId",""))
#set($typeid = $data.Parameters.getString("FixedAssetTypeId",""))  
#set($scvtid = $data.Parameters.getString("SvcTypeId",""))
#set($duefr = $data.Parameters.getString("DueFrom","$!cf.fmt($!dutil.getStartOfMonthDate($!dutil.TodayDate))"))
#set($dueto = $data.Parameters.getString("DueTo","$!cf.fmt($!dutil.getEndOfMonthDate($!dutil.TodayDate))"))
#set($ddfr = $cparser.parseDate($duefr))
#set($ddto = $cparser.parseDate($dueto))  
                                      
#set($pageParam = "&Condition=${cond}&SortBy=${sort}&ViewLimit=${limit}&Keywords=$!{key}&op=$!{op}")
#set($pageParam = "${pageParam}&FixedAssetTypeId=${typeid}&SvcTypeId=${scvtid}")
#set($pageParam = "${pageParam}&LocationId=${locid}&DepartmentId=${deptid}&KategoriId=$!{katid}")
#set($pageParam = "${pageParam}&DueFrom=$!{duefr}&DueTo=$!{dueto}")

#if($printable) #set($pageParam = "${pageParam}&printable=true") #end

#if(!$printable)
#set($vSvcTpe = $fatype.AllFaSvcType)
#set($iSvcLen = $vSvcTpe.size())
<script>
function initPage()
{
    var f = document.frm;
    if (f.Keywords) f.Keywords.focus();
}
function setType()
{
    setSvcType();
}
function setSvcType()
{
    var f=document.frm;
    var tpid = f.FixedAssetTypeId.value;
    var ctid = f.FaKategoriId.value;
    var stid = f.SvcTypeId.value;
    
    document.getElementById('SvcTypeId').options.length = 0;
    
    svctypes.forEach( function (svcType)
    {        
        if((svcType.typeId == tpid || svcType.typeId == '') && svcType.ivalBy == 1)
        {                        
            var option = new Option(svcType.desc,svcType.id); 
            jQuery('#SvcTypeId').append(jQuery(option));            
        }
    });    
}
var svctypes=[
#set($i = 0)
#foreach ($oSvc in $vSvcTpe)
  {id:"$!oSvc.Id",ivalBy:$!oSvc.IvalBy,ival:$!oSvc.Ival,ivalDesc:"$!oSvc.IvalDesc",
   typeId:"$!oSvc.FixedAssetTypeId",katId:"$!oSvc.FaKategoriId",
   desc:"$!oSvc.Description"}
  #set($i= $i+1)  
  #if($i < $iSvcLen) , #end  
#end
]
function viewFA(faid)
{
    var url = '$!link.setPage("transaction,fixedasset,FixedAssetTransaction.vm")?op=4&id=' + faid;
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">',{overlayClose:true});
}
</script>
#end
#reportPrintJS()
<table class="fixTable">
  <tr>
    <td><b>
      <span class="txtTitle2">$title </span>
      ## FILTER INFORMATION
      <b><i>
      #if(!$sutil.empty($key))
        #spc(2)
        Filter,

        #if($cond == 3) $!l10n.fa_name      #end
        #if($cond == 2) $!l10n.fa_code      #end
        #if($cond == 1) $!l10n.serial_no    #end
        #if($cond == 4) $!l10n.custom_field #end
      #end

      #if(!$sutil.empty($typeid))
        #spc(2)
        $!l10n.fixed_asset_type : $!fatype.getFixedAssetTypeByID($typeid).Description                       
      #end
      #if(!$sutil.empty($scvtid))
        #spc(2)      
        #set($oSCVT = $fatype.getFaSvcTypeByID($scvtid))
        Service Type : $!oSCVT.Description
      #end
      #if(!$sutil.empty($katid))
        #spc(2)
        $!l10n.category : $!fakategori.getLongDescription($katid)
      #end

      #if(!$sutil.empty($locid))
        #spc(2)
        $!l10n.location : $!location.getLocationNameByID($locid)
      #end

      #if(!$sutil.empty($deptid))
        #spc(2)
        $!l10n.department : $!department.getDepartmentByID($deptid).DepartmentName
      #end

      </i></b>
    </td>
    #reportPrintBtn()
    
  </tr>
</table>

#if($op == 1)
#set($vFS = $fixedasset.getServiceDue($typeid,$katid,$locid,$deptid,"",$svctid,$ddfr,$ddto))
#end
#if(!$printable)
##<!-- SEARCH -->
<form name="frm" method="post" onSubmit="return loading();"
  action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="op" value="1">
#if(!$printable)
<table class="searchTable">
  <tr>
    <td>Type</td>
    <td>
      <select id="FixedAssetTypeId" name="FixedAssetTypeId" OnChange="setType();" #width("")>
        <option value=""> -- $!l10n.fixed_asset_type --</option>
        #foreach ($fat in $fixedassettype.getAllFixedAssetType())
        <option value="$fat.FixedAssetTypeId"
          #if($fat.FixedAssetTypeId == $typeid) SELECTED #end >$fat.Description</option>
        #end
      </select>
    </td>
    <td>$!l10n.category </td>
    <td>
      <select id="FaKategoriId" name="FaKategoriId" #width("")>
        <option value=""> -- $!l10n.category --</option>
        #foreach ($oKat in $fakategori.getKategoriTreeList("", true))
        <option value="$oKat.FaKategoriId"
          #if($oKat.FaKategoriId == $katid) SELECTED #end >
          #set($iLevel = $oKat.KategoriLevel )
          #if($iLevel > 1) #foreach ($i in [2..$iLevel])  &nbsp;&nbsp; #end #end
          $!oKat.FaKategoriCode [$!oKat.Description]
        </option>
        #end
      </select>
    </td>
    <td>Due $!l10n.from </td>
    <td>
      <input type="text" #width(120) name="DueFrom" value="$!duefr">
      #calf("frm" "DueFrom" true)
    </td>
  </tr>
  <tr>
    <td width="9%">Service Type</td>
    <td>
      <select id="SvcTypeId" name="SvcTypeId" #width("")>        
        #if($sutil.isNotEmpty($scvtid))             
        <option value="$!oSCVT.Id">$!oSCVT.Description</option>
        #else
          #if($sutil.isNotEmpty($typeid) || $sutil.isNotEmpty($katid))
            #foreach ($oSvc in $vSvcTpe)
              <option value="$!oSvc.Id">$oSVc.Description</option>
            #end
          #else
          <option value="">-- $!l10n.svc_type --</option>
          #end
        #end        
      </select>
    </td>
    <td>$!l10n.department </td>
    <td>
      <select name="DepartmentId" #width("")>
        <option value="">-- $!l10n.department --</option>
        #foreach ($dept in $department.getAllDepartment())
        <option value="$dept.DepartmentId" #if($dept.DepartmentId == $deptid) SELECTED #end >
          $dept.Description
        </option>
        #end
      </select>
    </td>
    <td>Due $!l10n.to </td>
    <td>
      <input type="text" #width(120) name="DueTo" value="$!dueto">
      #calf("frm" "DueTo" true)
    </td>    
  </tr>
  <tr>
    <td>$!l10n.sort_by </td>
    <td>
      <select name="SortBy" #width("")>        
        <option value="2" #if($sort == 2) SELECTED #end > $!l10n.fa_code         </option>
        <option value="1" #if($sort == 1) SELECTED #end > $!l10n.serial_no       </option>
        <option value="3" #if($sort == 3) SELECTED #end > $!l10n.fa_name         </option>
        <option value="4" #if($sort == 4) SELECTED #end > $!l10n.end_date (ASC)  </option>
        <option value="5" #if($sort == 5) SELECTED #end > $!l10n.end_date (DESC) </option>
      </select>
    </td>
    <td>$!l10n.location </td>
    <td>
      #if($preference.isHO())
        #locationSB ($locid)
      #else
        $!location.getLocationNameByID($preference.LocationID)
        <input name="LocationId" type="hidden" value="$preference.LocationID">
      #end
    </td>
    ## <td>$!l10n.keywords</td>
    ## <td>
    ##   <input type="text" #width(120) name="Keywords" OnFocus="this.select();"
    ##     OnKeyUp="handleKeypress(event)" value="$!key">
    ## </td>
    <td colspan="2">
      <input type="Submit" value="&nbsp; $!l10n.find &nbsp;" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
<br>

<a name="display"></a>

#end ## end !$Item
</form>
#end ## end !$printable

<!-- END SEARCH SECTION -->

#if($vFS)
<table class="stdTable">
  <tr class="th4">
    <td>$!l10n.fa_code</td>
    <td>$!l10n.fa_name</td>
    <td>$!l10n.fixed_asset_type</td>
    <td>$!l10n.category</td>
    <td>$!l10n.location</td>
    <td>$!l10n.svc_type</td>   
    <td>Next Due</td>   
  </tr>
  #foreach($oFS in $vFS)
  #set($oFA = $oFS.FixedAsset)
  <tr>
    <td>
      <a href="#" OnClick="viewFA('$!oFA.FixedAssetId');">
      $!oFA.FixedAssetCode
      </a>
    </td>
    <td>$!oFA.FixedAssetName</td>
    <td>$!oFA.FaType.Description</td>
    <td>$!oFA.FaKategori.Description</td>
    <td>$!oFA.Location.Name</td>
    <td>$!oFS.FaSvcType.Description</td>
    <td><b>$!cf.fmt($!oFS.NextDue)</td>     
  </tr>             
  #end ##end foreach
</table>
#end

#if(!$printable)
<ul class="btmLinkNav">
#btmLinkMenu("transaction,fixedasset,FixedAssetView.vm" "" "$!l10n.view" "")
#btmLinkMenu("report,fixedasset,FAReportMenu.vm" "" "FA Report" "fa-list")    
</ul>
#end

#end ##end if from scheduler
