#set($bsh = $butil.loadClass("bsh.Interpreter"))
#set($x = $bsh.eval("import java.util.Date"))
#set($x = $bsh.eval("import java.util.ArrayList"))
#set($x = $bsh.eval("import java.io.FileWriter"))
#set($x = $bsh.eval("import org.json.JSONObject"))
#set($x = $bsh.eval("import org.json.JSONException"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.om.SalesOrder"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.om.SalesOrderDetail"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.om.DeliveryOrder"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.om.DeliveryOrderDetail"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.om.SalesTransaction"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.om.SalesTransactionDetail"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.AppAttributes"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.IDGenerator"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.CurrencyTool"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.LocationTool"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.CustomerTool"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.ItemTool"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.UnitTool"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.TaxTool"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.sales.SalesOrderTool"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.sales.DeliveryOrderTool"))
#set($x = $bsh.eval("import com.ssti.enterprise.pos.tools.sales.TransactionTool"))

#set($errcode = 0)
$!bsh.set("errcode",$errcode)
$!bsh.set("err","ERROR:")

$data.setLayoutTemplate("/Empty.vm")
$data.Response.setHeader("Access-Control-Allow-Origin","*")
$data.Response.addHeader("Access-Control-Allow-Methods","GET, POST")

#set($key = $data.Parameters.getString("key", ""))
#set($keyValid = true)
#set($cmd = $data.Parameters.getInt("cmd","test"))

## API key checking
#if($key != "")
    #set($Calendar = $bsh.get("Calendar"))
    #set($x = $bsh.eval("c = Calendar.getInstance()"))
    #set($x = $bsh.eval("iDay = c.get(Calendar.DAY_OF_MONTH) * 3 - 2"))
    #set($x = $bsh.eval("iMon = c.get(Calendar.MONTH) * 7 - 2"))

    #set($iDay = $bsh.get("iDay"))
    #set($iMon = $bsh.get("iMon"))
    #if($iDay < 10)
        #set($iDay = "0$iDay")
    #end
    #if($iMon < 10)
        #set($iMon = "0$iMon")
    #end

    #set($sPwd = "$iDay$iMon")
    #set($sPwd = $bsh.get("sPwd"))
    #if($key == $sPwd)
        #set($keyValid = true)
    #end
#end

#if(!$keyValid)
    {
        "error":1,
        "message":"FORBIDDEN"
    }
#else
    ## parsing JSON and inserting data
    #set($docs = $data.Parameters.getString("docs","{sales_trans:[]}"))
      
    #set($fl = $!iotool.getRealPath($data,"/CreateSIresult"))
    #set($x = $bsh.set("fl",$fl))
    #set($x = $bsh.set("docs",$docs))     
    #set($x = $bsh.eval("fw = new FileWriter(fl,true);"))
    #set($x = $bsh.eval("fw.write(AppAttributes.s_LINE_SEPARATOR); fw.write(docs); fw.flush();"))
    #set($x = $bsh.eval("try{ System.out.println(docs); root = new JSONObject(docs); } catch(JSONException e) { root = false; }"))
    #set($root = $bsh.get("root"))
    #if($root == false)
        {
            "error":1,
            "message":"INVALID JSON"
        }
    #else
        #set($salesTransArr = $bsh.eval('root.getJSONArray("sales_trans")'))
        #set($salesTransArrLength = $salesTransArr.length() - 1)

        ## #foreach ($salesTransIndex in [0..$salesTransArrLength])
        ##     #set($currentSales = $salesTransArr.get($salesTransIndex))
        ##     #foreach ($salesKey in $currentSales.keys())
        ##         #if($salesKey != "details")
        ##           $salesKey = $currentSales.get($salesKey) <br/>
        ##         #else
        ##             #set($currentDetailsArr = $currentSales.get("details"))
        ##             #set($currentDetailsArrLength = $currentDetailsArr.length() - 1)
        ##             <hr/>Details<br/>
        ##              #foreach($detailsIndex in [0..$currentDetailsArrLength])
        ##                 #set($currentDetail = $currentDetailsArr.get($detailsIndex))
        ##                 #foreach( $detailKey in $currentDetail.keys())
        ##                    $detailKey = $currentDetail.get($detailKey)<br/>
        ##                 #end
        ##             #end
        ##             <hr/>
        ##         #end
        ##     #end
        ## #end
        ## real insert

        #set($msg = "")

        #foreach ($salesTransIndex in [0..$salesTransArrLength])
            #set($currentSales = $salesTransArr.get($salesTransIndex))
            #set($txValid = true)

            #set($txType = $currentSales.get("trans_type"))
            #set($transNo = $currentSales.get("trans_no"))
            #set($locCode = $currentSales.get("location"))
            #set($custCode = $currentSales.get("customer"))
            #set($createBy = $currentSales.get("create_by"))
            #set($transDate = $cparser.parseDate($currentSales.get("trans_dt")))
            #set($remark = $currentSales.get("remark"))
            #set($totalQty = 0)

            #set($msg = "$!{msg} \n Processing Trans No: $transNo - Date: $!cf.fmt($transDate) ")

            #set($currId = $currency.DefaultCurrency.CurrencyId)
            #set($locId = $location.getIDByCode($locCode))
            #set($locOM = $location.getLocationByID($locId))    ##validate, err if null
            #set($locName = $locOM.Name)

            #if($custCode.length > 21) ##probably it is ID
              #set($custOM = $customer.getCustomerByID($custCode))
              #if($sutil.empty($custOM.CustomerId))
                #set($custOM = $customer.getCustomerByCode($custCode))  ##try by code
              #end
            #else
              #set($custOM = $customer.getCustomerByCode($custCode))  ##validate, err if null
              #if($sutil.empty($custOM.CustomerId))
                #set($custOM = $customer.getCustomerByID($custCode))  ##try by ID
              #end
            #end ##end

            #set($custId = $custOM.CustomerId)
            #set($custName = $custOM.Name)
            #set($ptypeId = $custOM.DefaultTypeId)
            #set($ptermId = $custOM.DefaultTermId)

            #set($empOM = $employee.getEmployeeByUsername($createBy))  ##validate, err if null
            #set($salesId = $empOM.EmployeeId)

            #if($sutil.isEmpty($locOM))
            #set($errcode = 1)
            #set($msg = "$msg ERROR: Location $locCode Not Found")
            #set($txValid = false)
            #end

            #if($sutil.isEmpty($custOM))
            #set($errcode = 1)
            #set($msg = "$msg ERROR: Customer $custCode Not Found")
            #set($txValid = false)
            #end

            $!bsh.set("transNo",$transNo)
            $!bsh.set("custId",$custId)
            $!bsh.set("locId",$locId)
            $!bsh.set("custId",$custId)
            $!bsh.set("ptypeId",$ptypeId)
            $!bsh.set("ptermId",$ptermId)
            $!bsh.set("currId",$currId)
            $!bsh.set("createBy",$createBy)
            $!bsh.set("remark",$remark)
            $!bsh.set("transDate",$transDate)
            $!bsh.set("salesId","$!salesId")
            $!bsh.set("locName",$locName)
            $!bsh.set("custName",$custName)

            #if($txType == "SO")
              #set($x = $!bsh.eval('doOM = new SalesOrder()')                              )
              #set($x = $!bsh.eval('doOM.setSalesOrderId(IDGenerator.generateSysID())')    )
              #set($x = $!bsh.eval('doOM.setSalesOrderNo(transNo)')                        )
              #set($x = $!bsh.eval('doOM.setTransactionDate(transDate)')                   )
              #set($x = $!bsh.eval('doOM.setDueDate(transDate)')                           )
              #set($x = $!bsh.eval('doOM.setUserName(createBy)')                           )
              #set($x = $!bsh.eval('doOM.setConfirmBy(createBy)')                          )
              #set($x = $!bsh.eval('doOM.setConfirmDate(transDate)')                       )
              #set($x = $!bsh.eval('doOM.setTransactionStatus(1)'))
              #set($x = $!bsh.eval('doOM.setTotalFee(AppAttributes.bd_ZERO)'))
            #elseif($txType == "DO")
              #set($x = $!bsh.eval('doOM = new DeliveryOrder()')                           )
              #set($x = $!bsh.eval('doOM.setDeliveryOrderId(IDGenerator.generateSysID())') )
              #set($x = $!bsh.eval('doOM.setDeliveryOrderNo(transNo)')                     )
              #set($x = $!bsh.eval('doOM.setSalesOrderId("")')                             )
              #set($x = $!bsh.eval('doOM.setDeliveryOrderDate(transDate)')                 )
              #set($x = $!bsh.eval('doOM.setCreateBy(createBy)')                           )
              #set($x = $!bsh.eval('doOM.setConfirmBy(createBy)')                          )
              #set($x = $!bsh.eval('doOM.setLocationName(locName)')                        )
              #set($x = $!bsh.eval('doOM.setCreateDate(new Date())')                       )
              #set($x = $!bsh.eval('doOM.setStatus(2)'))
            #else
              #set($x = $!bsh.eval('doOM = new SalesTransaction()')                           )
              #set($x = $!bsh.eval('doOM.setSalesTransactionId(IDGenerator.generateSysID())') )
              #set($x = $!bsh.eval('doOM.setInvoiceNo(transNo)')                              )
              #set($x = $!bsh.eval('doOM.setTransactionDate(transDate)')                      )
              #set($x = $!bsh.eval('doOM.setCashierName(createBy)')                           )
              #set($x = $!bsh.eval('doOM.setStatus(2)'))
            #end  ##end if DO/INV
            #set($x = $!bsh.eval('doOM.setSalesId(salesId)')                    )
            #set($x = $!bsh.eval('doOM.setCurrencyId(currId)')                  )
            #set($x = $!bsh.eval('doOM.setCurrencyRate(AppAttributes.bd_ONE)')  )
            #set($x = $!bsh.eval('doOM.setFiscalRate(AppAttributes.bd_ONE)')    )
            #set($x = $!bsh.eval('doOM.setCustomerId(custId)')                  )
            #set($x = $!bsh.eval('doOM.setCustomerName(custName)')              )
            #set($x = $!bsh.eval('doOM.setLocationId(locId)')                   )
            #set($x = $!bsh.eval('doOM.setPaymentTypeId(ptypeId)')              )
            #set($x = $!bsh.eval('doOM.setPaymentTermId(ptermId)')              )
            #set($x = $!bsh.eval('doOM.setRemark(remark)')                      )
            #set($x = $!bsh.eval('doOM.setTotalQty(AppAttributes.bd_ZERO)')     )

            ## details
            #set($currentDetailsArr = $currentSales.get("details"))
            #set($currentDetailsArrLength = $currentDetailsArr.length() - 1)
            #set($x = $bsh.eval("vDet = new ArrayList()"))

            #foreach($detailsIndex in [0..$currentDetailsArrLength])
                #set($currentDetail = $currentDetailsArr.get($detailsIndex))
                #set($qty = $currentDetail.get('qty'))
                #set($price = $currentDetail.get('price'))
                #set($disc = $currentDetail.get('discount'))
                #set($itmCode = $currentDetail.get('item_code'))
                #set($itmId = $currentDetail.get('item_id'))

                #set($itmOM = $item.getItemByID($itmId)) ##validate, err if null

                #if($sutil.isEmpty($itmOM))
                #set($errcode = 1)
                #set($msg = "$msg ERROR: Item $itmCode Not Found")
                #set($txValid = false)
                #end

                #set($itmId = $itmOM.ItemId)
                #set($taxId = $itmOM.TaxId)
                #set($unitId = $itmOM.UnitId)
                #set($totalQty = $cal.add($totalQty,$cparser.parseNumber($qty)))

                $!bsh.set("itmId", $itmId)
                $!bsh.set("qty",  $cal.toBigDecimal($cparser.parseNumber($qty)) )
                $!bsh.set("price", $cal.toBigDecimal($cparser.parseNumber($price)) )
                $!bsh.set("disc", $disc)
                $!bsh.set("taxId", $taxId)
                $!bsh.set("unitId", $unitId)

                #if($txType == "SO")
                  #set($x = $!bsh.eval('doDet = new SalesOrderDetail()')                            )
                  #set($x = $!bsh.eval('doDet.setSalesOrderDetailId(IDGenerator.generateSysID())')  )
                  #set($x = $!bsh.eval('doDet.setSalesOrderId(doOM.getSalesOrderId())')       )
                  #set($x = $!bsh.eval('doDet.setItemPrice(price)')                           )
                  #set($x = $!bsh.eval('doDet.setCostPerUnit(AppAttributes.bd_ZERO)')         )
                  #set($x = $!bsh.eval('doDet.setSubTotalDisc(AppAttributes.bd_ZERO)')        )
                #elseif($txType == "DO")
                  #set($x = $!bsh.eval('doDet = new DeliveryOrderDetail()')                            )
                  #set($x = $!bsh.eval('doDet.setDeliveryOrderDetailId(IDGenerator.generateSysID())')  )
                  #set($x = $!bsh.eval('doDet.setDeliveryOrderId(doOM.getDeliveryOrderId())')          )
                  #set($x = $!bsh.eval('doDet.setSalesOrderDetailId("")')                              )
                  #set($x = $!bsh.eval('doDet.setItemPriceInSo(price)')                                )
                  #set($x = $!bsh.eval('doDet.setBilledQty(AppAttributes.bd_ZERO)')                    )
                  #set($x = $!bsh.eval('doDet.setCostPerUnit(AppAttributes.bd_ZERO)')                  )
                  #set($x = $!bsh.eval('doDet.setReturnedQty(AppAttributes.bd_ZERO)')                  )                    )
                #else
                  #set($x = $!bsh.eval('doDet = new SalesTransactionDetail()')                            )
                  #set($x = $!bsh.eval('doDet.setSalesTransactionDetailId(IDGenerator.generateSysID())')  )
                  #set($x = $!bsh.eval('doDet.setSalesTransactionId(doOM.getSalesTransactionId())')       )
                  #set($x = $!bsh.eval('doDet.setDeliveryOrderDetailId("")')                              )
                  #set($x = $!bsh.eval('doDet.setDeliveryOrderId("")')                                    )
                  #set($x = $!bsh.eval('doDet.setItemPrice(price)')                                       )
                  #set($x = $!bsh.eval('doDet.setItemCost(AppAttributes.bd_ZERO)')                        )
                  #set($x = $!bsh.eval('doDet.setReturnedQty(AppAttributes.bd_ZERO)')                     )
                #end ##end if DO/INV
                #set($x = $!bsh.eval('doDet.setItemId(itmId)')                                       )
                #set($x = $!bsh.eval('doDet.setItemCode(ItemTool.getItemByID(itmId).getItemCode())') )
                #set($x = $!bsh.eval('doDet.setItemName(ItemTool.getItemByID(itmId).getItemName())') )
                #set($x = $!bsh.eval('doDet.setQty(qty)')                                            )
                #set($x = $!bsh.eval('doDet.setQtyBase(qty)')                                        )
                #set($x = $!bsh.eval('doDet.setUnitId(unitId)')                                      )
                #set($x = $!bsh.eval('doDet.setUnitCode(UnitTool.getCodeByID(unitId))')              )
                #set($x = $!bsh.eval('doDet.setDiscount(disc)')                                      )
                #set($x = $!bsh.eval('doDet.setTaxId(taxId)')                                        )
                #set($x = $!bsh.eval('doDet.setTaxAmount(TaxTool.getTaxByID(taxId).getAmount())')    )
                #set($x = $!bsh.eval('doDet.setSubTotal(AppAttributes.bd_ZERO)')                     )

                #set($x = $!bsh.eval("vDet.add(doDet)") )
                ## #set($msg = "$!{msg} \n  - Processing Item: $itmCode = Qty: $qty - Price : $price ")
                #set($itmOM = "") ##reset because velocity often keep cache value when right side statement is null
            #end
            #set($locOM = "") ##reset because velocity often keep cache value when right side statement is null
            #set($custOM = "") ##reset because velocity often keep cache value when right side statement is null
            #if($txValid)
              #set($totalQty = $cal.toBigDecimal($totalQty))
              $!bsh.set("res","SUCCESS")
              $!bsh.set("totalQty",$totalQty)
              #set($x = $!bsh.eval('doOM.setTotalQty(totalQty)'))
              #if($txType == "SO")
                #set($x = $!bsh.eval('try{ SalesOrderTool.setHeaderProperties(doOM,vDet,null); SalesOrderTool.saveData(doOM,vDet); } catch(Exception e){ e.printStackTrace(); errcode=1; res=err + e.getMessage(); } ') )
              #elseif($txType == "DO")
                #set($x = $!bsh.eval('try{ DeliveryOrderTool.saveData(doOM,vDet,null,false); } catch(Exception e){ errcode=1; res=err + e.getMessage(); } ') )
              #else
                #set($x = $!bsh.eval('try{ vPmt=new ArrayList(1); TransactionTool.setHeaderProperties(doOM,vDet,null); TransactionTool.saveData(doOM,vDet,vPmt); } catch(Exception e){ errcode=1; res=err + e.getMessage(); } ') )
              #end ##end if DO/INV
              #set($errcode = $!bsh.get("errcode"))
              #set($txmsg = $!bsh.get("res"))
              #set($msg = "$msg RESULT: $txmsg")
              #set($x = $bsh.eval("fw.write(AppAttributes.s_LINE_SEPARATOR); fw.write(res); fw.flush();"))
            #end
        #end
        {
            "error":$!errcode,
            "message":"$msg"
        }
    #end
#end
