<style type="text/css">
body {font-family: sans-serif; font-size: 8px; overflow: visible !important; margin: 0;}
table{border-collapse:collapse;border-spacing:0px;white-space:nowrap;}
</style>

#set($p = $data.Parameters)
#set($st = $cf.formatCustomDateTime($p.getDate("StartDate"),"yyyy-MM-dd 00:00"))
#set($en = $cf.formatCustomDateTime($p.getDate("EndDate"),"yyyy-MM-dd 23:59"))
#set($sql = "select * from salesdetail where si_trdt >= '$!st' AND si_trdt <= '$!en'")
#set($vdt = $sqlutil.executeQuery($sql))
<table border="1">
<tr>
<td><b>stename</td>
<td><b>loccode</td>
<td><b>locname</td>
<td><b>itmcode</td>
<td><b>itmname</td>
<td><b>katroot</td>
<td><b>katcode</td>
<td><b>katincd</td>
<td><b>katdesc</td>
<td><b>vencode</td>
<td><b>venname</td>
<td><b>sid_qty</td>
<td><b>sid_qtb</td>
<td><b>sid_prc</td>
<td><b>sid_dis</td>
<td><b>sid_did</td>
<td><b>discode</td>
<td><b>disdesc</td>
<td><b>subtdis</td>
<td><b>subttax</td>
<td><b>subtamt</td>
<td><b>cuscode</td>
<td><b>cusname</td>
<td><b>ctycode</td>
<td><b>ctydesc</td>
<td><b>sarroot</td>
<td><b>sarcode</td>
<td><b>sardesc</td>
<td><b>terroot</td>
<td><b>tercode</td>
<td><b>terdesc</td>
<td><b>slscode</td>
<td><b>slsname</td>
<td><b>spvcode</td>
<td><b>spvname</td>
<td><b>smgcode</td>
<td><b>smgname</td>
<td><b>so_trno</td>
<td><b>do_trno</td>
<td><b>si_trno</td>
<td><b>si_trdt</td>
<td><b>si_dtdy</td>
<td><b>si_dtmo</td>
<td><b>si_dtyr</td>
<td><b>sr_trno</td>
<td><b>sod_qty</td>
<td><b>sod_sub</td>
<td><b>dod_qty</td>
<td><b>srd_qty</td>
<td><b>srd_sub</td>

</tr>

#foreach($dt in $vdt)
<tr>
<td>$!dt.getValue("stename").asString()</td>
<td>$!dt.getValue("loccode").asString()</td>
<td>$!dt.getValue("locname").asString()</td>
<td>$!dt.getValue("itmcode").asString()</td>
<td>$!dt.getValue("itmname").asString()</td>
<td>$!kategori.getRootParent($!dt.getValue("katgrid").asString()).Description</td>
<td>$!dt.getValue("katcode").asString()</td>
<td>$!dt.getValue("katincd").asString()</td>
<td>$!dt.getValue("katdesc").asString()</td>
<td>$!dt.getValue("vencode").asString()</td>
<td>$!dt.getValue("venname").asString()</td>
<td>$!dt.getValue("sid_qty").asString()</td>
<td>$!dt.getValue("sid_qtb").asString()</td>
<td>$!dt.getValue("sid_prc").asString()</td>
<td>$!dt.getValue("sid_dis").asString()</td>
<td>$!dt.getValue("sid_did").asString()</td>
<td>$!dt.getValue("discode").asString()</td>
<td>$!dt.getValue("disdesc").asString()</td>
<td>$!dt.getValue("subtdis").asString()</td>
<td>$!dt.getValue("subttax").asString()</td>
<td>$!dt.getValue("subtamt").asString()</td>
<td>$!dt.getValue("cuscode").asString()</td>
<td>$!dt.getValue("cusname").asString()</td>
<td>$!dt.getValue("ctycode").asString()</td>
<td>$!dt.getValue("ctydesc").asString()</td>
<td>$!slsarea.getRootParent($!dt.getValue("sareaid").asString()).Description</td>
<td>$!dt.getValue("sarcode").asString()</td>
<td>$!dt.getValue("sardesc").asString()</td>
<td>$!territory.getRootParent($!dt.getValue("teritid").asString()).Description</td>
<td>$!dt.getValue("tercode").asString()</td>
<td>$!dt.getValue("terdesc").asString()</td>
<td>$!dt.getValue("slscode").asString()</td>
<td>$!dt.getValue("slsname").asString()</td>
<td>$!dt.getValue("spvcode").asString()</td>
<td>$!dt.getValue("spvname").asString()</td>
<td>$!dt.getValue("smgcode").asString()</td>
<td>$!dt.getValue("smgname").asString()</td>
<td>$!dt.getValue("so_trno").asString()</td>
<td>$!dt.getValue("do_trno").asString()</td>
<td>$!dt.getValue("si_trno").asString()</td>
<td>$!dt.getValue("si_trdt").asString()</td>
<td>$!dt.getValue("si_dtdy").asInt()</td>
<td>$!dt.getValue("si_dtmo").asInt()</td>
<td>$!dt.getValue("si_dtyr").asInt()</td>
<td>$!dt.getValue("sr_trno").asString()</td>
<td>$!dt.getValue("sod_qty").asString()</td>
<td>$!dt.getValue("sod_sub").asString()</td>
<td>$!dt.getValue("dod_qty").asString()</td>
<td>$!dt.getValue("srd_qty").asString()</td>
<td>$!dt.getValue("srd_sub").asString()</td>

</tr>
#end
</table>

#*/
<!--
DROP VIEW salesdetail;
CREATE OR REPLACE VIEW salesdetail AS
SELECT
st.site_name            AS stename,
lc.location_code        AS loccode,
lc.location_name        AS locname,
sd.item_code            AS itmcode,
sd.item_name            AS itmname,
it.kategori_id          AS katgrid,
kt.kategori_code        AS katcode,
kt.internal_code        AS katincd,
kt.description          AS katdesc,
vn.vendor_code          AS vencode,
vn.vendor_name          AS venname,
sd.qty                  AS sid_qty,
sd.qty_base             AS sid_qtb,
sd.item_price           AS sid_prc,
sd.discount             AS sid_dis,
sd.discount_id          AS sid_did,
ds.discount_code        AS discode,
ds.description          AS disdesc,
sd.sub_total_disc       AS subtdis,
sd.sub_total_tax        AS subttax,
sd.sub_total            AS subtamt,
cu.customer_code        AS cuscode,
cu.customer_name        AS cusname,
ct.customer_type_code   AS ctycode,
ct.description          AS ctydesc,
sa.sales_area_id        AS sareaid,
sa.internal_code        AS sarcode,
sa.description          AS sardesc,
tr.territory_id         AS teritid,
tr.internal_code        AS tercode,
tr.description          AS terdesc,
em.employee_code        AS slscode,
em.employee_name        AS slsname,
sv.employee_code        AS spvcode,
sv.employee_name        AS spvname,
sm.employee_code        AS smgcode,
sm.employee_name        AS smgname,
so.sales_order_no       AS so_trno,
dv.delivery_order_no    AS do_trno,
si.invoice_no           AS si_trno,
si.transaction_date     AS si_trdt,
date_part('day',si.transaction_date)    AS si_dtdy,
date_part('month',si.transaction_date)  AS si_dtmo,
date_part('year',si.transaction_date)   AS si_dtyr,
sod.qty            AS sod_qty,
sod.sub_total      AS sod_sub,
dod.qty            AS dod_qty,
sr.return_no       AS sr_trno,
sr.return_date     AS sr_trdt,
srd.qty            AS srd_qty,
srd.return_amount  AS srd_sub

FROM
  sales_transaction_detail sd
    LEFT OUTER JOIN sales_transaction si ON sd.sales_transaction_id = si.sales_transaction_id
    LEFT OUTER JOIN item it ON sd.item_id = it.item_id
    LEFT OUTER JOIN kategori kt ON kt.kategori_id = it.kategori_id
    LEFT OUTER JOIN vendor vn ON vn.vendor_id = it.prefered_vendor_id
    LEFT OUTER JOIN location lc ON si.location_id = lc.location_id
    LEFT OUTER JOIN site st ON st.site_id = lc.site_id
    LEFT OUTER JOIN customer cu ON cu.customer_id = si.customer_id
    LEFT OUTER JOIN customer_type ct ON ct.customer_type_id = cu.customer_type_id
    LEFT OUTER JOIN sales_area sa ON sa.sales_area_id = cu.sales_area_id
    LEFT OUTER JOIN territory tr ON tr.territory_id = cu.territory_id
    LEFT OUTER JOIN employee em               ON em.employee_id = si.sales_id
    LEFT OUTER JOIN employee sv               ON sv.employee_id = em.parent_id
    LEFT OUTER JOIN employee sm               ON sm.employee_id = sv.parent_id
    LEFT OUTER JOIN delivery_order dv         ON dv.delivery_order_id = sd.delivery_order_id
    LEFT OUTER JOIN delivery_order_detail dod ON dod.delivery_order_detail_id = sd.delivery_order_detail_id    
    LEFT OUTER JOIN sales_order so            ON so.sales_order_id = sd.sales_order_id
    LEFT OUTER JOIN sales_order_detail sod    ON sod.sales_order_detail_id = dod.sales_order_detail_id
    LEFT OUTER JOIN sales_return sr           ON sr.transaction_id = si.sales_transaction_id
    LEFT OUTER JOIN sales_return_detail srd   ON srd.transaction_detail_id = sd.sales_transaction_detail_id    
    LEFT OUTER JOIN discount ds               ON ds.discount_id = sd.discount_id

WHERE si.status = 2
;
-->
/*#

