#txtINIT()
$data.setLayoutTemplate("/Empty.vm")
<html>
<head>
<style TYPE='text/css'>
P.pagebreakhere {page-break-before: always}
h1{font-family:Arial; font-size:14px}
td{font-family:Arial; font-size:12px}
</style>
</head>
<b>

#set($detperpage = 45)
#set($f = $data.Parameters)
#set($start = $f.getString("StartDate"))
#set($end = $f.getString("EndDate"))
#set($dStart = $cparser.parseDate($start))
#set($dEnd = $cparser.parseDate($end))
#set($limit = $f.getInt("ViewLimit",50))
#set($keyword = $f.getString("Keywords",""))
#set($sortBy = $f.getInt("SortBy"))
#set($katid = $f.getString("KategoriId",""))
#set($locid = $f.getString("LocationId"))
#set($cond  = $f.getInt("Condition"))
#set($det = $f.getBoolean("ViewDetail"))
#set($intrans = $f.getBoolean("InTrans"))
#set($mCode = $inventoryreport.SimpleCodeMap)

#set($title = "Stock Movement [$!location.getLocationNameByID($locid)] ($!start - $!end)")

#set($width = 137)
#set($length = $calculator.toInt($calculator.sub($width,$calculator.add($title.length(),4))))
#set($hdings = ["No","$!l10n.item_code","$!l10n.item_name","Begin"])
#set($widths = ["2%", "10%", "25%", "5%"])
#set($aligns = ["", "", "", "right", "right", "right", "right"]) 
#if($det)
#foreach($sCode in $mCode.keySet())#set($b=$hdings.add($mCode.get($sCode)))#end
#foreach($sCode in $mCode.keySet())#set($b=$widths.add("5%"))#end
#foreach($sCode in $mCode.keySet())#set($b=$aligns.add("right"))#end
#else
#set($b=$hdings.add("Total In"))
#set($b=$widths.add("8%"))              
#set($b=$aligns.add("right"))
#set($b=$hdings.add("Total Out"))
#set($b=$widths.add("8%"))              
#set($b=$aligns.add("right"))
#end
#set($b=$hdings.add("End"))
#set($b=$widths.add("5%"))
#set($b=$aligns.add("right"))
#set($page = 1)
#set($no=1)
#set($peer = $butil.loadClass("com.ssti.enterprise.pos.om.InventoryLocationPeer"))
#set($crit = $butil.loadClass("org.apache.torque.util.Criteria"))
#set($crit = $crit.add("inventory_location.LOCATION_ID", "$!locid"))
#set($crit = $crit.addAscendingOrderByColumn("inventory_location.ITEM_CODE"))
#set($Items=$peer.doSelect($crit))
#set($ofpage = $calculator.div($Items.size(),$detperpage))
#set($ofpage = $calculator.roundUp($ofpage,0)) 
#set($pagecs = $hdings.size() - 4)
<table cellpadding="2" cellspacing="0" width="100%">
<tr><td colspan="4"><b>$title</b></td><td colspan="$pagecs" align="right"> $!l10n.page $page $!l10n.of $ofpage </td></tr>
#htmlTH($widths $hdings $widths $aligns)


#if($Items.size()>0)
#foreach($oItem in $Items)                 
#set($itm = $item.getItemByID($oItem.ItemId))   
#set($dBalance = $!inventorylocation.getBalanceAsOf("$!itm.ItemId", "", $locid, $dStart))               
#set($dTotalIn = $!inventorytransaction.getTotalIn($!itm.ItemId, "", "", $locid, $dStart, $dEnd))                 
#set($dTotalOut = $!inventorytransaction.getTotalOut($!itm.ItemId,"", "", $locid, $dStart, $dEnd))
#set($dTotalQtyChanges = $!calculator.add($dTotalIn, $dTotalOut))                                        
#set($dEndStock = $!calculator.add($dBalance, $dTotalQtyChanges))
    
#set($tds = [$no, $itm.ItemCode,$itm.ItemName,$!cformat.fmt($dBalance)])
#if($det)
  #set($vTrans = $inventoryreport.getChangesPerTrans("$!itm.ItemId", "", $locid, $dStart,$dEnd))
  #foreach ($type in $mCode.keySet())
  #set($oRec = $inventoryreport.filterByType($vTrans,$itm.ItemId,$type))
  #set($dQty = 0)
  #if($oRec) #set($dQty = $oRec.getValue(3).asBigDecimal()) #end           
  #set($b = $tds.add($!cformat.fmt($dQty)))      
  #set($oRec = "")
  #end
#else
  #set($b = $tds.add($!cformat.fmt($dTotalIn)))      
  #set($b = $tds.add($!cformat.fmt($dTotalOut)))      
#end
#set($b = $tds.add($!cformat.fmt($dEndStock)))

#htmlTD($widths $tds $widths $aligns)
## #if($calculator.mod($no,5).intValue()==0)
## #linea($hdings.size())
## #end

#if($calculator.mod($no,$detperpage).intValue()==0)
#set($page = $page + 1)
</table>
<p class="pagebreakhere"/>
<table cellpadding="2" cellspacing="0" width="100%">
<tr><td colspan="4"><b>$title</b></td><td colspan="$pagecs" align="right"> Page $page Of $ofpage </td></tr>
#htmlTH($widths $hdings $widths $aligns)
#end

#set($no = $no + 1)
#end ##end foreach Items                   
#end ##end if Items
#linea($hdings.size())                                
</table>

