<script src="${data.ContextPath}/javascript/tabs.js"></script>
<style>
.appconfig-tab-body
{
    min-height:360px;  
    height:70%;
}
</style>
<script>
var rows = new Array;
var num_rows = 1;
var itop = -1;
var ileft = -1;
var iwidth = 580;
var posit = 'relative'; 
var tab_off = "#eee";
var tab_on = "#ccc";

for ( var x = 1; x <= num_rows; x++ ) { rows[x] = new Array; }

rows[1][1] = "System Config ";
rows[1][2] = "Device Config ";
rows[1][3] = "POS Config    ";
rows[1][4] = "Shortcut Config ";
rows[1][5] = "System Properties ";

DrawTabs();
</script>