#* ------------------------------------------------------------------
# Velocity MACROS for TXT Printing
*# ------------------------------------------------------------------
#macro (txtINIT)
#set($cf = $cformat)
#set($cal = $calculator)
#set($oCompany = $preference.getCompany())
#if($butil.hasField($trans, "locationId")   )#set($oLOC  = $location.getLocationByID($trans.LocationId)         )#end
#if($butil.hasField($trans, "paymentTypeId"))#set($oPTP  = $paymenttype.getPaymentTypeByID($trans.PaymentTypeId))#end
#if($butil.hasField($trans, "paymentTermId"))#set($oPTM  = $paymentterm.getPaymentTermByID($trans.PaymentTermId))#end
#if($butil.hasField($trans, "customerId")   )#set($oCUST = $customer.getCustomerByID($trans.CustomerId)         )#end
#if($butil.hasField($trans, "vendorId")     )#set($oVEND = $vendor.getVendorByID($trans.VendorId)               )#end
#if($butil.hasField($trans, "bankId")       )#set($oBANK = $bank.getBankByID($trans.BankId)                     )#end
#if($butil.hasField($trans, "courierId")    )#set($oCOUR = $courier.getCourierByID($trans.CourierId)            )#end
#if($butil.hasField($trans, "fobId")        )#set($oFOB  = $fob.getFobByID($trans.CourierId)                    )#end
#if($butil.hasField($trans, "currencyId")   )#set($oCURR = $currency.getCurrencyByID($trans.CurrencyId)         )#end
#end

#macro (txtTITLE $title $bHeader)
#if($bHeader)
#parse ("/print/headers/HeaderTXT.vm")
#end

$!sutil.left("$!title [$!oLOC.getLocationName()]",58) $!sutil.left("$!l10n.print_date",12): $!cformat.formatDateTime($dutil.getTodayDate())
#end

#macro (txtHDR $title1 $value1 $title2 $value2)
$!sutil.left("$!title1",20): $!sutil.left("$!value1",35)  $!sutil.left("$!title2",20)#if($sutil.isNotEmpty($title2)):#end $!sutil.left("$!value2",25)
#end

#macro (txtDESC $desc)
#if($vCol && $vCol.size() == 2)
$!sutil.left($!l10n.ship_to,57) $!sutil.left($!l10n.description,20)
$!sutil.printColumn($vCol,58)       
#else
$!l10n.description
$!desc
#end
#end

#macro (txtPAGE $width)
#set($no = 1)
#if($current_page && $current_page > 0)
$!sutil.right("page $!current_page of $!of_page", $width)     
#set($iLastNo = ($!current_page - 1) * $detail_per_page)
#set($no = $iLastNo + 1)
#end
#end

#macro (txtLINE $n)
#foreach ($j in [0..$n])-#end

#end

#macro (txtTD $width $values $widths $aligns)
#set($i = 0)
#foreach ($value in $values)$!sutil.align("$!value", $widths.get($i), $aligns.get($i)) #set($i = $i + 1)#end

#end

#macro (txtTH $width $headings $widths $aligns)
#txtLINE ($width)
#txtTD ($width $headings $widths $aligns)
#txtLINE ($width)
#end

#macro (txtEMPTYLINE $size)
#set($line = $detail_per_page - $size)
#if($line > 0)$!sutil.line($line)#end
#end

#macro (txtFTR $title1 $value1)
$!sutil.right("$!title1",91): $!sutil.right("$!value1",20)  
#end

#macro (htmlInitPAGE)
  #set($totaldet = $transDet.size())
  #set($totalpage = $totaldet / $detperpage)
  #set($left = $totaldet % $detperpage)
  ## Total Det : $totaldet <br>
  ## Total Page : $totalpage <br>
  #if($left > 0) #set($totalpage = $totalpage + 1) #end
  ## Left : $left <br>
  ## Total Page + Left : $totalpage <br>
  #set($from = 0)
  #set($to = 0)
  #if($totaldet <= $detperpage)
  #set($to = $totaldet - 1)
  #else
  #set($to = $detperpage - 1)
  #end
  #set($totalpageidx = $totalpage - 1)  
#end

#macro (htmlTD $width $values $widths $aligns)
#set($i = 0)
<tr>
#foreach($value in $values)
  <td width="$widths.get($i)" align="$aligns.get($i)">$!value</td> 
#set($i = $i + 1)
#end
</tr>
#end

#macro (htmlTH $width $headings $widths $aligns)
#linea($headings.size())
#set($i = 0)
<tr>
#foreach($value in $headings)
  <td width="$widths.get($i)" align="$aligns.get($i)"><b>$!value</td> 
#set($i = $i + 1)
#end
</tr>
#linea($headings.size())
#end

