#set($bsh = $butil.loadClass("bsh.Interpreter"))
## $!data.setLayoutTemplate("/Default.vm")

## Authorization:GoApotik:eyJhbGciOiJIUzI1NiJ9.MQ.uqtlW_34VuT6Amnbajp-mAmaAIZ7GznrTRzFtvtbigo
## Content-Type:application/json

$data.ACL.Permissions.containsName("View GoApt Order")

#set($req = "     {                                 ")
#set($req = "$req   'provider_auth': {              ") 
#set($req = "$req       'token_type' : 'bearer',    ")
#set($req = "$req       'token_auth' : 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjIxOTYzLCJpYXQiOjE1MzI2MDc3MTR9.Ne9QqjCJlbIM1x7TWONuXdWEkqrn6IbGmnk-H0yjmn8'")
#set($req = "$req     },                            ")  
#set($req = "$req     'client_data': {              ")
#set($req = "$req     'merchant_id': 28,            ")
#set($req = "$req     'limit': 100,                 ")
#set($req = "$req     'page' : 1 ,                  ")
#set($req = "$req     'status' : 'ready_pickup'     ")
#set($req = "$req     }                             ")
#set($req = "$req }                                 ")
#set($req = $req.replaceAll("'","\""))   
                                       
## $preference.SysConfig
## $preference.Configuration.get("api.key")
<textarea style="width:100%">
$req
</textarea>
<br><br>
#set($j  = $unirest.post("https://apigue.dexagroup.com/api/public/vi/partner/seller/order/list").header("Authorization","GoApotik:eyJhbGciOiJIUzI1NiJ9.MQ.uqtlW_34VuT6Amnbajp-mAmaAIZ7GznrTRzFtvtbigo").header("Content-Type","application/json").body($req).asJson().getBody())
#set($v = $j.getObject().get("data").getJSONArray("data").iterator())
##set($v  = $j.getObject().getJSONArray("data"))

#foreach($d in $v)
<pre>
$d.get("customer_firstname") $d.get("customer_lastname")
</pre>
#end

## <div>
## Order Go APT
## <br>
## <ul>
## ##foreach($o in $orders)
## <li>ORDER 1</li>
## ##end
## </ul>
## </div>  
