	  #if($printable)
	  <table width="100%" cellspacing="0" cellpadding="2"> 
	    <tr>
	      <td #if($printable) colspan="5" #end>
	        <b><span class="txtTitle1">$preference.Company.CompanyName</span></b>
	      </td>
	    </tr>
	  </table>
	  #end
