#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
$data.setLayoutTemplate("/Printable.vm")
#end

#set($tplName = $data.Parameters.getString("tplName"))
#set($title = "$!l10n.cash_management")

#set($op = $data.Parameters.getInt("op"))
#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords"))
#set($start = $data.Parameters.getString("StartDate"))
#set($end = $data.Parameters.getString("EndDate"))
#set($startDue = $data.Parameters.getString("StartDue"))
#set($endDue = $data.Parameters.getString("EndDue"))

#set($status = $data.Parameters.getInt("Status"))                                                                       
#set($bankId = $data.Parameters.getString("BankId"))
#set($locid = $data.Parameters.getString("LocationId"))
#set($cashFlowType = $data.Parameters.getInt("CashFlowType"))
#set($limit = $data.Parameters.getInt("ViewLimit",50))
#set($det = $data.Parameters.getBoolean("Detail"))

#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}")
#set($pageParam = "${pageParam}&ViewLimit=${limit}&StartDate=${start}&EndDate=${end}")
#set($pageParam = "${pageParam}&StartDue=${startDue}&EndDue=${endDue}&BankId=${bankId}")
#set($pageParam = "${pageParam}&CashFlowType=${cashFlowType}&status=${status}&Detail=$!{det}")
#set($pageParam = "${pageParam}&tplName=$!{tplName}&op=$!{op}&printable=$!{printable}")

#if($op == 1)
#set($dstart = $cparser.parseDate($start))
#set($dend = $cparser.parseDate($end))
#set($dstartdue = $cparser.parseDate($startDue))
#set($denddue = $cparser.parseDate($endDue))
#set($vCF = $cashflow.findTrans($cond,$key,$bankId,$locid,$cashFlowType,$status,-1,$dstart,$dend,$dstartdue,$denddue)) 
#end

#reportPrintJS()
<table class="fixTable"> 
  <tr>
    <td colspan="10"><span class="txtTitle2"><b>$title</span></td>
    #reportPrintBtn()            
  </tr>
</table>
##<!-- SEARCH -->                         
#if(!$printable)                                                                                      
<form name="frm1" method="POST" action="$link.setPage($data.ScreenTemplate)">  
<input type="hidden" value="1" name="op">  
<table class="searchTable">
  <tr>
    <td>$!l10n.bank : </td>
    <td colspan="3">
      <select name="BankId">
        #if($data.ACL.Permissions.containsName("Access All Site"))            
        <option value="" #if($bankId == "") SELECTED #end > -- $!l10n.bank --</option>        
        #end ##
        #set($Banks = $bank.getByUserName($data.User.Name,$data.ACL.Permissions))
        #foreach ($oBank in $Banks)
        <option value="$!oBank.BankId" #if($bankId == $!oBank.BankId) SELECTED #end > 
          $!oBank.BankCode $!oBank.Description</option>
        #end
      </select>  
      &nbsp;
    </td>     
    <td>#spc(2) $!l10n.location : </td>
    <td colspan="3">
      #locationSB($locid)
    </td>                
  </tr>
  <tr>
    <td>$!l10n.search_by : </td>
    <td>$!cashflow.conditionSB($cond)</td>  
    <td>#spc(2) $!l10n.start_date : </td>
    <td>
      <input type="text" #width(80) name="StartDate" value="$!start">
      #calf ("frm1" "StartDate" true)
    </td>
    <td>#spc(2) $!l10n.to : </td>
    <td>
      <input type="text" #width(80) name="EndDate" value="$!end">
      #calf ("frm1" "EndDate" true)                   
    </td>
    <td>#spc(2) $!l10n.status : </td>
    <td>             
      <select name="Status" #width(100)>
        <option value="0" >-- STATUS --</option>
        <option value="1" #if($status == 1) SELECTED #end >$!cashflow.getStatusString(1)</option>
        <option value="2" #if($status == 2) SELECTED #end >$!cashflow.getStatusString(2)</option>
        <option value="3" #if($status == 3) SELECTED #end >$!cashflow.getStatusString(3)</option>
      </select>
    </td>             
    <td>#spc(2) $!l10n.view_limit : </td>
    <td>
      <input type="text" #width(30) name="ViewLimit" value="$!limit">&nbsp;
    </td>                                     
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(150) name="Keywords" value="$!key">
    </td>             
    <td>#spc(2) $!l10n.due_date : </td>
    <td>
      <input type="text" #width(80) name="StartDue" value="$!startDue">
      #calf ("frm1" "StartDue" true)
    </td> 
    <td>#spc(2) $!l10n.to : </td>
    <td>
      <input type="text" #width(80) name="EndDue" value="$!endDue">
      #calf ("frm1" "EndDue" true)
    </td>               
    <td>#spc(2) Type: </td>
    <td>             
      <select name="CashFlowType" #width(100)>
        <option value="0" >-- Type --</option>
        <option value="1" #if($cashFlowType == 1) SELECTED #end >$!l10n.deposit   </option>
        <option value="2" #if($cashFlowType == 2) SELECTED #end >$!l10n.withdrawal</option>
      </select>
    </td>    
    <td>#spc(2) $!l10n.details : </td>
    <td>
      <input type="checkbox" class="cb" #if($det) CHECKED #end name="Detail" > #spc(2)
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
    </td>                
  </tr>  
</table>
</form>
<br>
#end
##<!-- END SEARCH SECTION -->

#if($vCF)
#set($headings = ["No", "$!l10n.trans_no", "$!l10n.bank", "$!l10n.trans_date", "$!l10n.due_date", "$!l10n.trans_type", "$!l10n.description", "$!l10n.bank_issuer", "$!l10n.reference_no",  "$!l10n.status", "$!l10n.create_by", "$!l10n.total_amount"] )
#set($fields = ["","cashFlowNo","bankId","expectedDate","dueDate","cashFlowType","description","bankIssuer","referenceNo","status","userName","journalAmount"] )   
<table class="stdTable">
  #line($headings.size())
  <tr class="th4">
    #foreach($hdg in $headings)
    <td>$hdg</td>
    #end
  </tr>
  #line($headings.size())
  #set($no = 1)
  #set($row = 1)
  #set($amt = $vCF.size())      
  #foreach ($cm in $sortingtool.sort($vCF,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$no</td>
    <td>
      #if(!$printable)<a href="javascript:viewTrans('$!cm.CashFlowId')"> #end
      #if($sutil.isNotEmpty($!cm.CashFlowNo)) $!cm.CashFlowNo #else $!l10n.view #end
      #if(!$printable)</a> #end
    </td>
    <td>$!bank.getBankNameByID($!cm.BankId)</td>
    <td>$!cformat.formatDate($!cm.ExpectedDate)</td>
    <td>$!cformat.formatDate($!cm.DueDate)</td>    
    <td>
     #if($!cm.CashFlowType == 1)$!l10n.deposit #end
     #if($!cm.CashFlowType == 2)$!l10n.withdrawal #end
    </td>    
    <td>
      #if(!$printable)
      <input type="text" class="text2" value="$!cm.Description" #width(160) READONLY 
       onmouseover="tooltip('$!sutil.tooltip($!cm.Description)');" onmouseout="exit();"   
       #if($no % 2 == $row) style="background:#F3F3F3" #else style="background:#F7F7F7" #end >                
      #else
      $!cm.Description
      #end
    </td>       
    <td>$!cm.BankIssuer</td>
    <td>$!cm.ReferenceNo</td>                  
    <td>
     #if($!cm.Status == 1) $!l10n.pending #end
     #if($!cm.Status == 2) $!l10n.processed #end
     #if($!cm.Status == 3) $!l10n.cancelled #end
    </td> 
    <td>$!cm.UserName</td>
    <td align="right">$!cformat.formatAligned($!cm.CashFlowAmount)</td>      
  </tr>  
  #if($det)
  #set($vDet = $cashflow.getDetailsByID($cm.CashFlowId))
  <tr>  
    <td></td>
    <td colspan="10">
      <table width="100%" class="stdTable">
        #line(11)
        <tr class="th5">
          <td>$!l10n.account_code</td>
          <td>$!l10n.account_name</td>
          <td>$!l10n.trans_type</td> 
          <td>$!l10n.description</td>          
          <td align="center">$!l10n.currency</td>
          <td align="center">$!l10n.rate</td>          
          <td align="center">$!l10n.amount</td>
          <td align="center">$!l10n.base_amount</td>          
          <td align="center">Loc</td>
          <td align="center">Dept</td>
          <td align="center">Prj</td>                              
        </tr>
        #line(11)
        #foreach ($oDet in $vDet) 
        <tr>
          <td width="12%">$!oDet.Account.Code   </td>             
          <td width="20%">$!oDet.Account.Name   </td>
          <td>$!oDet.CFT.Description</td>                    
          <td>$!oDet.Memo</td>          
          <td align="right">$!oDet.Currency.Code</td>
          <td align="right">$!oDet.CurrencyRate</td>          
          <td align="right">$!cformat.fmt($!oDet.Amount)</td>
          <td align="right">$!cformat.fmt($!oDet.AmountBase)</td>
          <td align="right">$!oDet.Location.Code</td>
          <td align="right">$!oDet.Department.Code</td>
          <td align="right">$!oDet.Project.Code</td>          
        </tr>
        #end ##end foreach det        
      </table>
      ##<br>
    </td>
  </tr>  
  #end ##end if det
  #set($no = $no + 1)
  #if($det)
  #line($headings.size())
  #end
  #end   ##end foreach  
  #line($headings.size())
</table>
</form>
#end ##if

<br>
