#if($sutil.isEmpty($transID))
#set($transID = "$!trans.SalesTransactionId")
#end
#if($sutil.isEmpty($transNo))
#set($transNo = "$!trans.InvoiceNo")
#end
#if($sutil.isEmpty($txtTPL))
#set($txtTPL = "POSInvoiceTXT.vm")
#set($iDetailPerPage = $preference.getPOSDetailLinePerPage())
#end
#set($bPOSPrintable = false)
#if($sutil.isNotEmpty($transID) && $sutil.isNotEmpty($transNo) && !$POST_ERROR && !$REFRESH)
#set($bPOSPrintable = true)
#end
#if($sutil.isEmpty($sDetVM)) #set($sDetVM = "transaction,ajax,POSDetail.vm") #end
#if($sutil.isEmpty($sBtmVM)) #set($sBtmVM = "transaction,ajax,POSBottom.vm") #end
<script>
#if($RedirectToOpenCashier)
function initPage()
{
    document.location.href = '$link.setPage("transaction,CashierTransaction.vm")?type=1';
}
#end
function paymentKeypad(field)
{
    var f = document.frm;
    var dTotal = parseFloat(f.TotalAmount.value);
    var url = sTPL + 'transaction,pos,POSKeypad.vm?TotalAmount=' + dTotal + '&Field=' + field;
    jQuery.modal('<iframe src="' + url + '" style="border:0px;width:100%;height:260px;">',{
        containerCss:{width:360,height:300},
        overlayClose:true
    });        
}
function addSpcDiscount()
{    
    var f = document.frm;   
    if(f.ItemId.value != '')
    {                                      
        incSAS();        
        var url = sTPL + 'transaction,pos,POSSpecialDisc.vm?price=' + f.ItemPrice.value;
        jQuery.modal('<iframe src="' + url + '" style="border:0px;width:100%;height:260px;">',{
            containerCss:{width:360,height:300},
            overlayClose:true
        });        
    }
}
function cleanInput()
{
    var f = document.frm;
    f.ItemId.value = '';
    f.ItemCode.value = '';
    f.ItemName.value = '';
    f.Description.value = '';
    f.UnitId.value = '';
    f.UnitCode.value = '';
    f.Qty.value = '';      
    f.ItemPrice.value = '';
    f.TxtItemPrice.value = '';
    f.Discount.value = '';
    
    if(f.PL) f.PL.value = '';
    
    #if(!$data.ACL.Permissions.containsName("Alter Sales Price"))
    f.TxtItemPrice.readOnly = true;
    #else
    f.TxtItemPrice.readOnly = false;
    #end

    f.SubTotal.value = '';
    f.SubTotal.value = '';            
    f.PendingQty      .value='';
    f.CurrentQty      .value='';
    f.ItemType        .value='';
    f.InventoryType   .value='';
    f.ItemId          .value='';
    f.UnitCode        .value='';
    f.DiscountId      .value='';
    f.SubTotalTax     .value='';
    f.SubTotalDisc    .value='';
    f.ItemCost        .value='';
    f.SubTotalCost    .value='';
    f.OriginalDiscount.value='';
    f.ChangedManual   .value='false';
                          
    f.Qty.readOnly = false;                             
    
    #if($preference.SysConfig.DefaultSearchCond == "2")
    f.ItemName.focus();    
    #else
    f.ItemCode.focus();    
    #end    
    
    var da = f.DirectAdd;
    da.value='$DirectAdd'; //##because setDirectAdd() below will switch direct add status
    
    if(da.value == 'false')
    {
        jQuery('#ItemCode').attr('placeholder', 'Code [M]');
        jQuery('#ItemCode').css('background', '#eee');
    }
    else
    {
        jQuery('#ItemCode').attr('placeholder', 'Code [A]');
        jQuery('#ItemCode').css('background', '#fff');
    }       
}
function submitAjax()
{
    loading();
    incSAS();
    var url = '$link.setPage("$!sDetVM")';
    var param = jQuery(document.frm).serialize();   
    jQuery.post(url,param,function(resp){refreshDetail(resp);} );    
}
function submitBottom()
{
    loading();    
    incSAS();
    var url = '$link.setPage("$!sBtmVM")';
    var param = jQuery(document.frm).serialize();    
    jQuery.post(url,param,function(resp){refreshBottom(resp);} );
}
function refreshDetail(response)
{
    incSAS();
    replaceHtml ("detailTableDiv", response);    
    submitBottom();

    if(jQuery('#detMsg').text()) {
        jQuery.notify(jQuery('#detMsg').text(), jQuery('#detMsg').attr('msgtype'));  
    }

    #if($bTouch)
    submitTotal();
    #end

    #if($bVideo)
    reloadVideo();
    #end
    
    #if($UseDisplayer)
    toPoleDisplay('','',1,2);
    #end
    unload();  
    
    if(typeof setDetKeys === 'function') { setDetKeys(); } 
}
function refreshBottom(response)
{
    incSAS();
    replaceHtml ("bottomPaymentDiv", response);
    unload();
}
#if($bTouch)
function submitTotal()
{
    loading();
    incSAS();
    var url = '$link.setPage("transaction,ajax,POSTotal.vm")';
    var param = jQuery(document.frm).serialize(); 
    jQuery.post(url,param,function(resp){refreshTotal(resp);} );    
}
function refreshTotal(response)
{
    incSAS();
    eval (response);
    unload();
}
#end ##end if POSTouch.vm
function delPOS(iNo)
{
    document.frm.no.value = iNo;
    #if($ValidateDelete)
    askPassword('', true, false);
    #else
    delDetail(iNo);
    #end
}
function changePrice(e)
{
    var f = document.frm;
    var txtPrice = parse(f.TxtItemPrice.value);
    var oriPrice = f.ItemPrice.value;
    if (txtPrice != oriPrice && f.ChangedManual)
    {
        f.ChangedManual.value = true;
    }
    f.ItemPrice.value = txtPrice;
    recalculate();
    if (getKey(e) == 13) addDetail();
}

#if($ValidateChange || $ValidateDelete)
function askPassword(field, isDel, isCancel)
{   
    var frm = document.frm;
    var url = '$link.setPage("transaction,POSPassword.vm")?op=0'; 
    if(isDel) url = url + '&del=' + isDel;
    if(isCancel) url = url + '&cancel=' + isCancel;
    if (!isDel && !isCancel && field != '' && eval('frm.' + field + '.readOnly') == true)
    {
        url = url + '&field=' + field;
    }
    jQuery.modal('<iframe src="' + url + '" style="border:0px;width:100%;height:260px;">',{
      containerCss:{width:360,height:300},
      overlayClose:true
    }); 
}
#end
function showDescription()
{
    var url = '$link.setPage("transaction,POSViewDesc.vm")';
    jQuery.modal('<iframe src="' + url + '" style="border:0px;width:100%;height:260px;">',{
      containerCss:{width:480,height:300},    
    });
}
function handlePaymentChangeKeypress (e)
{
    if (getKey(e) == 13)
    {        
        calculateChange();
    }
}
function calculateChange()
{
    var f = document.frm;
    var sPayment = f.PaymentAmount.value;
    if (sPayment.indexOf(' ') >= 0) 
    {
        f.PaymentAmount.value = sPayment.replace(/\s+/g, "");
        alert('WARNING: Number must not contains space ');                
    }
    if(isNaN(sPayment) || !isFinite(sPayment))
    {
        alert('$!l10n.payment_amount must be number ' + f.TotalAmount.value);            
        f.PaymentAmount.value = f.TotalAmount.value;   
        return false;
    }    
    var dPayment = parseFloat(f.PaymentAmount.value);
    var dAmount = parseFloat(f.TotalAmount.value);        
    if(dPayment < dAmount)
    {
        alert(' $!l10n.payment_amount < $!l10n.total_amount ');
        dPayment = dAmount
        f.PaymentAmount.value = dPayment;   
        f.PaymentAmount.select();       
    }
    
    f.TxtChangeAmount.value = dPayment - dAmount;
    f.ChangeAmount.value = dPayment - dAmount;    
    //f.ItemCode.focus();        
    
    #if($UseDisplayer)
    var payment = '$!l10n.payment: ' + formatNumber(f.PaymentAmount.value, ",**0.*0");
    var change  = '$!l10n.changes: '  + formatNumber(f.ChangeAmount.value, ",**0.*0");
    toPoleDisplay(payment, change, 1, 1);
    #end
    return true;
}
function toPoleDisplay(line1, line2, cmd, op)
{            
    #if($UseDisplayer)
    ##//op 1 = Normal Display
    ##//op 2 = refreshDetail (i.e Read Item Data for Line1 && Total Amount for Line2) need POSDisplayer.vm   
        
    incSAS();
    if(!cmd) cmd = 1;
    if(!op) op = 1;
    var param = '&cmd=' + cmd + '&line1=' + line1 + '&line2=' + line2;
    
    if(op == 1) //send directly to POSClient
    {
        var url = 'http://localhost:8080/?dest=2' + param;  
        console.log('tpdURL:' + url);    
        jQuery.post(url,'',function(resp){
            console.log('response From POSClient:' + resp);
        });
    }
    else //use POSDisplayer and eval POSDisplayer response
    {
        var url = sTPL + 'transaction,POSDisplayer.vm?op=' + op + param;        
        console.log('tpdURL:' + url);
        jQuery.post(url,'',function(resp){
            console.log('response From POSDisplayer:' + resp);
            eval(resp);
        });
    }
    #end
}
function viewPriceChecker()
{
    var url = sTPL + 'transaction,POSPriceChecker.vm?CustomerId=' + document.frm.CustomerId.value;
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">');
}
function openDrawer(bReason)
{
    #if($UseDrawer)
    var url = sTPL + 'transaction,OpenDrawer.vm?setreason=' + bReason;    
    if (bReason) {        
        jQuery.modal('<iframe src="' + url + '" class="modal-iframe">',{
            containerCss:{
                width:480,
                height:300
            },
            overlayClose:true
        });
    }
    else {
        jQuery.get(url,'',function(resp){
            eval(resp); console.log(resp);
        });
    }
    #end
    
}
function printPOS()
{
    #if($bPOSPrintable)
    var ptm = document.frm.PrintTimes;
    
    #if($maxPrintTimes && $maxPrintTimes > 0)
    if (ptm.value > $maxPrintTimes)
    {
        alert('Maximum Print Times is $maxPrintTimes');
        return false;        
    }
    #end
    
    if (ptm.value > 0)
    {
        if (!confirm ('Reprint (' + ptm.value + ') ? '))
        {
            return false;
        }
    }
    ptm.value = parseInt(ptm.value) + 1;
    var url = '${data.ContextPath}/print?helper_class=$helper'+
               '&print_type=1' +
               '&txt_tpl=$txtTPL' +
               '&id=$transID'+
               '&user_name=$data.User.Name' +
               '&detail_per_page=$!{iDetailPerPage}';
      
    ## //open drawer can be from here or create command in POSInvoiceTXT.vm  
    ## //openDrawer(false);

    jQuery.get(url,'', function(resp){
        console.log(resp);  
        #if($preference.useLocalPOSClient())
        printToLocal(resp);        
        #end              
    });    
    #end ##end if pos printable
}
function printOther()
{
    var url = '${data.ContextPath}/print?helper_class=$helper' +
               '&print_type=1' +
               '&txt_tpl=POSOtherTXT.vm' +
               '&id=$transID' +
               '&user_name=$data.User.Name' +
               '&detail_per_page=$!{iDetailPerPage}';
    jQuery.get(url,'', function(resp){
        console.log(resp);  
        #if($preference.useLocalPOSClient())
        printToLocal(resp);        
        #end                    
    });  
}
function cancelPOS(valid)
{                   
    var f = document.frm;    
    if(!valid)
    {
        #if($ValidateDelete)
        askPassword('', false, true);
        #end        
    }
    else
    {             
        f.action = '$link.setPage($tplName).setAction("$!sAction")';                                                                                                       
        #if($sutil.isEmpty($trans.InvoiceNo))  ##not saved / pending
          var stat = f.Status;
          var option = document.createElement("option");
          option.value = 3;
          option.text = "$!l10n.cancelled";
          stat.add(option); 

          //reset payment 
          f.PaymentAmount.value = f.TotalAmount.value;   
          f.ChangeAmount.value = 0;
                              
          f.op.value = 3;
          f.Status.value = 3;
          f.save.value = 2;
          f.submit();          
          
        #elseif($sutil.isNotEmpty($trans.SalesTransactionId) && $sutil.isNotEmpty($trans.InvoiceNo)) ##processed   
          f.action = '$link.setPage($tplName).setAction("$!sAction")'; 
          f.save.value = 3;
          cancelTransaction();
        #end
    }
}
function openCustomerForm()
{
    var f = document.frm;    
    var url = sTPL + 'setup,CustomerForm.vm';
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">');    
}  
#if($bVideo) ##set from POS Screen
var mmWnd;
function initVideo()
{            
    var lefpos = window.screen.width;
    var sizeprop = 'width='+ 800 + ',height=' + 600 + ',left=' + lefpos + ',top=0'
    var url = sTPL + 'transaction,pos,MultiMediaDisplayer.vm';
    var feat = 'directories=0,titlebar=0,toolbar=0,location=0,status=0,menubar=0,scrollbars=no,resizable=no,' + sizeprop;
    if (!mmWnd)
    {
        mmWnd = window.open (url,'mmWnd',feat);
        //mmWnd.moveTo(lefpos,0);
        mmWnd.focus();
    }
}
function reloadVideo()
{
    if (mmWnd){mmWnd.reloadPOS();}
}
#end

#if($op == 3 && $UseDisplayer)
##new trans / resetScreen
toPoleDisplay('','',2,1);
#end 

#if(!$sutil.empty($data.Message))
#set($msgtype = "success")
#if($sutil.containsIgnoreCase($data.Message,"error"))
#set($msgtype = "error")
#end
jQuery.notify('$!data.Message','$!msgtype');
#end ##end 
</script>
