#if($sutil.isEmpty($helper))
#set($helper = "com.ssti.enterprise.pos.print.helper.InvoicePrintHelper")
#end
#set($tplName = $data.ScreenTemplate)
#if($sutil.isEmpty($sAction)) #set($sAction="transaction.SalesTransactionAction") #end
#if($sutil.isEmpty($transID)) #set($transID = "$!trans.SalesTransactionId") #end
#set($bAllowAlterDiscount = $data.ACL.Permissions.containsName("Alter Sales Discount"))
<script>
function openDOLookUpWindow()
{
    var f = document.frm;
    var sCustomerID = f.CustomerId.value;
    var sCurrencyID = f.CurrencyId.value;
    var url = '${link.setPage("transaction,DOLookup.vm")}?CustomerId=' + sCustomerID + '&CurrencyId=' + sCurrencyID;
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">');
}
#if($preference.AllowImportSO)
function openSOLookUpWindow()
{
    var f = document.frm;
    var sCustomerID = f.CustomerId.value;
    var sCurrencyID = f.CurrencyId.value;
    var url = '${link.setPage("transaction,SOLookup.vm")}?Trans=SalesInvoice&CustomerId=' + sCustomerID + '&CurrencyId=' + sCurrencyID;
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">');
}
#end
## CALCULATOR 
function inputDiscount()
{
    var f = document.frm;
    f.TotalAmount.value = f.TotalAmountTemp.value
    var fTotal = f.TotalAmount.value;
    var fTotalDiscPctAmount = calculateDiscount('', fTotal, 2, '');
    var fTotalDiscAmount = parseFloat(f.TotalDiscount.value);
    
    var sTotalDiscPct = f.TotalDiscountPct.value;
    sTotalDiscPct = escape(sTotalDiscPct);
    fTotalDiscAmount = fTotalDiscAmount + fTotalDiscPctAmount;
    f.TxtTotalDiscount.value = fTotalDiscAmount;

    //loading();
    var url = '$link.setPage("transaction,CalculateTotalAfterDisc.vm")?TotalDiscountPct=' + sTotalDiscPct;        
    var param = '';
    jQuery.post(url,param,function(resp){incSAS();eval(resp);} );  
}
function recalculate()
{
    var f = document.frm;
    var Qty = f.Qty.value;
    
    f.ItemPrice.value = parse(f.TxtItemPrice.value);
    ##//var iOFIdx = f.UnitId.selectedIndex;
    ##//var sub = parseFloat(aOF[iOFIdx]); //get Unit Base Value
    ##//var sub = f.UnitBaseValue.value;
    var RealQty = Qty; ##// sub;

    var ItemPrice = f.ItemPrice.value;
    var Discount  = f.Discount.value;
    var TaxAmount = f.TaxAmount.value;
    var ItemCost  = f.ItemCost.value;
    
    if(!validateDisc(Discount))
    {
        return false;
    }
        
    if(ItemPrice != '' &&
        Discount  != '' &&
        TaxAmount != '' ) 
    {
        var TotalCost  = (RealQty * ItemCost);
        var TotalSales = (Qty * ItemPrice);
        var TotalDisc  = calculateDiscount('', TotalSales, 1, Discount);
        TotalSales     = TotalSales - TotalDisc;
        var TotalTax   = (TaxAmount/100) * TotalSales;        
        
        f.SubTotalCost.value = TotalCost;      
        f.SubTotalTax.value  = TotalTax;
        f.SubTotalDisc.value = TotalDisc;
        f.SubTotal.value     = TotalSales;
        
        if(f.TxtItemPrice)f.TxtItemPrice.value = formatNumber(ItemPrice,JSFMTNO);
        if(f.TxtSubTotal) f.TxtSubTotal.value  = formatNumber(TotalSales,JSFMTNO);        
    }
}
function recalculateDetail(i)
{
    var f = document.frm;
    eval('f.ItemPrice' + i + '.value = parse(f.TxtItemPrice' + i + '.value)');
    
    var Qty       = eval('f.Qty' + i + '.value');
    var ItemPrice = eval('f.ItemPrice' + i + '.value');
    var Discount  = eval('f.Discount'  + i + '.value');
    var TaxAmount = eval('f.TaxAmount' + i + '.value');
    var TaxAmount = eval('f.TaxAmount' + i + '.value') / 100;
 
    var dTotalSales = (Qty * ItemPrice);
    var dTotalDisc  = calculateDiscount(i, dTotalSales, 1, Discount);
    
    dTotalSales   = dTotalSales - dTotalDisc;
    var dTotalTax = TaxAmount * dTotalSales;

    eval('f.SubTotalTax'  + i + '.value =' + dTotalTax);
    eval('f.SubTotalDisc' + i + '.value =' + dTotalDisc);
    eval('f.SubTotal'     + i + '.value =' + dTotalSales);
    eval('f.txtSubTotal'  + i + '.value =' + dTotalSales);
    eval('f.TxtItemPrice' + i + '.value = formatNumber(ItemPrice,JSFMTNO)');
}
function openDiscount(field, isDel)                                                                                                                     
{                                                                                                                                                       
    var url = '$link.setPage("transaction,POSPassword.vm")?field=Discount&del=false';                                                                  
    var pwdWnd = window.open (url,'pwdWnd','toolbar=no,scrollbars=no,menubar=no,resizable=no,width=320,height=100,left=200,top=200');                  
    pwdWnd.focus();                       
}

## VALIDATOR
## VALIDATE MAX DISCOUNT A USER CAN GIVE
#set($sMaxDisc = "$employee.getEmployeeByUsername($data.User.Name).Value1")
function validateDisc(sDisc)
{
    var f = document.frm;
    if(f.OpenDiscount &&  f.OpenDiscount.value == 'false')
    {                                        
        #if($sutil.isNotEmpty($sMaxDisc))
        var dMaxDisc = parseFloat('$!sMaxDisc');
        var dDisc = parseFloat(sDisc.replace('%',''));
        if(dDisc > dMaxDisc)
        {
            f.Discount.value = 0;
            f.Discount.select();
            alert('Maximal Discount is ' + dMaxDisc + '%');
            return false;
        }
        #end
    } 
    return true;
}
function validateTrans() 
{
    var f = document.frm;
    if(f.TransactionDate.value == "") { alert ('$!l10n.fill_in $!l10n.trans_date'); f.TransactionDate.focus(); return false; }
    if(!validateDate(f.TransactionDate.value)) { return false; }
    if(f.TotalQty.value     <= 0 )  { alert ('$!l10n.qty_must_gt_zero');     f.ItemCode.focus(); return false; }
    if(f.TotalAmount.value  == "")  { alert ('$!l10n.amount_must_gt_zero');  f.ItemCode.focus(); return false; }
    if(f.ChangeAmount.value < 0)
    {
        if(!confirm('Payment amount is less Than Total, Continue Transaction ?'))
        {
            f.PaymentAmount.focus();
            return false;
        }
    }    
    if(f.MultiPaymentAmount && f.MultiPaymentAmount.value != '')
    {
        if(parseFloat(f.MultiPaymentAmount.value) != parseFloat(f.TotalAmount.value))
        {
            alert ('$!l10n.payment_amount < $!l10n.total_amount ' + f.MultiPaymentAmount.value);
            f.PaymentAmount.focus();
            return false;
        }
    }    
    if(f.TotalExpense && parseFloat(f.TotalExpense.value) > 0)
    {
        if(f.FreightAccountId.value == "")
        {
            selectFreightAccount('SI');
            return false;
        }
    }
    if(!validateRate())
    {
        return false;
    }
    #if($preference.SalesUseSalesman)
    if(f.SalesId.value == "")  
    { 
       if(!confirm('$!l10n.empty $!l10n.salesman?')) 
       {
           return false;
       }
    }
    #end 
    
    #if($isPOS)
    calculateChange();
    #end
    return true;
}
function selectPayment(bDirectSales) 
{       
    var f = document.frm;
    #if($bEditable)
    var sTypeID = f.PaymentTypeId.value;
    var sTermID = f.PaymentTermId.value;
    var dTotal = parseFloat(f.TotalAmount.value);
    var url = '';

    if(!isNaN(dTotal) && dTotal > 0)
    {
        var url = '$link.setPage("transaction,POSMultiPaymentSelector.vm")?typeid=' + sTypeID + 
                   '&termid=' + sTermID + '&TotalAmount=' + dTotal + '&DirectSales=' + bDirectSales;
    }    
    #else
    var url = '$link.setPage("transaction,POSMultiPaymentViewer.vm")?id=$!transID' + 
               '&DirectSales=' + bDirectSales;
    #end
    
	if(url != '')
	{
	    var l = window.screen.availWidth/2 - 380;  if(l < 0) l = 20;
	    var t = window.screen.availHeight/2 - 240; if(t < 0) t = 20;	    
    	var opts = 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=760,height=480,left=' + l + ',top=' + t; 
	    var paymentWnd = window.open (url, 'paymentWnd', opts);	    
	    paymentWnd.focus();            
	}
}
function refreshDetailByPayment()
{
    var f = document.frm;
    loading('');
    f.action = '$link.setPage($tplName)';
    f.op.value = 10;
    f.submit();    
}
function selectFreightAccount(sFrom) 
{
    var f = document.frm;
    if(f.TotalExpense.value != '' && parseFloat(f.TotalExpense.value) > 0) 
    {
        var url = '$link.setPage("transaction,FreightCostSelector.vm")?from=' + sFrom + '&Editable=$bEditable';     
        var wndFreight = window.open(url, 'wndFreight', 
            'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=480,height=280,left=20,top=20');
        wndFreight.focus();            
    }
}
## SAVE, EDIT & CANCEL
function saveTransaction()
{       
    #if($POST_ERROR)
    if(!confirm($sutil.parseErrMsgJS($!data.Message) + ', $!l10n.continue?')) return false;
    #end
    
    var f = document.frm;        
    if(validateTrans()) 
	{
	    processing('$!l10n.saving $!title');
	    if(f.CustomerId.selectedIndex != null)
	    {
	       f.CustomerName.value = f.CustomerId.options[f.CustomerId.selectedIndex].text; 
	    }
        if(f.eventSubmit_doSave) f.eventSubmit_doSave.disabled = true;        
        f.action = '$link.setPage($tplName).setAction("$!sAction")';
        f.op.value = 4;
        f.submit();        
    }
}
##-----------------------------------------------------------------------------
#if($trans.Status != 3)
function cancelTransaction() 
{
    #if($trans)
    setCancelRemark ('trans', 'remark', '$!cformat.formatDate($trans.TransactionDate)', '$trans.SalesTransactionId');
    #end
}
function execCancel(id) 
{        
    #if($trans)
    if(id == '$trans.SalesTransactionId')
    {
        var f = document.frm;
        loading('$!l10n.cancelling');
        f.action = '$link.setPage($tplName).setAction("$!sAction")';
        f.op.value = 4;
        f.submit();
        
        processing('$!l10n.cancel_trans ...');
    }
    else
    {
        alert ('Different Transaction No !');
    }
    #end
}
#printTrans("$!transID" "$!helper" -1)
function printTaxInvoice() 
{
    var url = '$link.setPage("transaction,print,TaxInvoicePrint.vm")';     
    var wndItem = window.open(url, 'wndItem', 
        'toolbar=no,scrollbars=yes,menubar=yes,resizable=yes,width=820,height=600,left=20,top=20');
    wndItem.focus();            
}
function viewDO(sDOID)
{
    var url = '${link.setPage("transaction,DeliveryOrderTransaction.vm")}?op=4&id=' + sDOID;    
    var wndSDO = window.open(url, 'wndSDO', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    wndSDO.focus();
}
function viewSO(sSOID)
{
    var url = '${link.setPage("transaction,SalesOrderTransaction.vm")}?op=4&id=' + sSOID;    
    var wndSDO = window.open(url, 'wndSDO', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    wndSDO.focus();
}
function handleTaxNoKeypress(e)
{                           
    if(getKey(e) == 13)
    {
        #if($sutil.isNotEmpty($trans.SalesTransactionId))
        var url = '$link.setPage("transaction,ajax,TaxSerial.vm")';        
        var param = '&TaxSerial=' + document.frm.TaxSerial.value;
        jQuery.post(url,param,function(resp){eval(resp);} );  
        #else
        alert('$!l10n.save_trans!');
        #end
    }
}         
function editRemark()                                                                                                                             
{                                                                                                                                                 
    var url = '$link.setPage("transaction,TransactionEditor.vm")?op=2&fromTrans=true&TransType=7&FieldName=remark&TransNo=$trans.InvoiceNo';     
    var wndTxEdit = window.open(url, 'wndTxEdit',                                                                                                
        'toolbar=no,scrollbars=yes,menubar=yes,resizable=yes,width=480,height=360,left=20,top=20');                                               
    wndTxEdit.focus();                                                                                                                            
} 
function viewPayment()
{
    var url = '$link.setPage("transaction,TransPaymentView.vm")?id=$trans.SalesTransactionId';     
    var wndTxPmt = window.open(url, 'wndTxPmt',                                                                                                
        'toolbar=no,scrollbars=yes,menubar=yes,resizable=yes,width=600,height=360,left=20,top=20');                                               
    wndTxPmt.focus();                                                                                                                            

}                                                                                                                                                
#end ##end if Status == 2                                                                                     
</script>
