#set($mode = $data.Parameters.getInt("mode"))
#set($view = $data.Parameters.getInt("view",1))
#if($mode == 1) ##is popup
$data.setLayoutTemplate("/PopupWindow.vm")
#end
<script>                                 
function handleKey(e,detid,i)
{
    var f = document.frm;
    if (getKey(e) == 13)
    {
        var n = i + 1;
        //alert ("Qty" + detid + n);
        document.getElementById("Qty" + detid + n).select();
    }
}
function saveDist()
{
    var f = document.frm;
    f.op.value = 3;
    f.submit();
}
function transfer(detId,toLocId)
{    
    var f = document.frm;
    f.detId.value = detId;
    f.toLocId.value = toLocId;
    f.op.value = 4;
    f.submit();
}
function transferLoc(detId,toLocId)
{    
    var f = document.frm;
    f.detId.value = detId;
    f.toLocId.value = toLocId;
    f.op.value = 5;
    f.submit();
}
function viewTransfer(trfId)
{    
    var sURL = '$link.setPage("transaction,ItemTransferTransaction.vm")?op=4&id='	+ trfId;
	var wndTRF = window.open(sURL, 'wndTRF', 
	    'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=680,left=43,top=43');	
	wndTRF.focus();
}
function detView()
{    
    document.location.href = '$!link.setPage($data.ScreenTemplate)?op=1&view=1'
}
function locView()
{    
    document.location.href = '$!link.setPage($data.ScreenTemplate)?op=1&view=2'
}

</script>
#set($title = "$!l10n.purchase_order Distribution [$!poDist.PurchaseOrderNo]")
<table width="100%" cellspacing="0" cellpadding="2"> 
  <tr>
    <td>
      <span class="txtTitle2">$title</span>
      <div id="inetStatus"></div>
    </td>
    <td align="right" rowspan="2">
    </td>
  </tr>
  #if($data.Message)                    
  <tr>
    <td><span class="txtMessage">$data.Message</span></td>                    
  </tr>
  #end 
</table>
<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>
<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<table cellpadding="2" cellspacing="0">
  <tr>
	<td valign="top" width="1%">
	<td valign="top" width="98%">
      <input type="hidden" name="mode" value="$!mode">
      ##<!-- END SEARCH SECTION -->
      #if($poDist)
      <input type="hidden" name="op" value="$!op">      
      <input type="hidden" name="id" value="$!poDist.PurchaseOrderId">            
      <input type="hidden" name="PurchaseOrderId" value="$!poDist.PurchaseOrderId">
      <input type="hidden" name="detId" value="">
      <input type="hidden" name="toLocId" value="">
      <input type="hidden" name="AllowGTPO" value="false">
      <input type="hidden" name="view" value="$!view">      
      
##----PER ITEM VIEW ---------------------------------------------------------##
      #if($view == 1)
      #foreach ($pod in $poDistDet)
      #set($detId = $pod.PurchaseOrderDetailId)  
      #set($dPRQty = $podist.getReceiptQty($detId))
      #set($oItem = $item.getItemByID($pod.ItemId))
      #set($sUnit = $unit.getCodeByID($oItem.UnitId))
      <b>Item: $!oItem.ItemCode #spc(2) Qty: $!cformat.fmt($!pod.QtyBase) $!sUnit </b>
      <table width="800" cellspacing="0" cellpadding="1">
        <tr>
          <td class="th4">$!l10n.code</td>
          <td class="th4">$!l10n.location</td>          
          <td class="th4">$!l10n.qty</td>
          <td class="th4">$!l10n.unit</td>
          <td class="th4">$!l10n.item_transfer</td>          
        </tr>
        #set($vDist = $mDist.get($detId))
        #set($i = 1)
        #set($dDistQty = 0)
        #foreach ($oDist in $vDist)
        <tr>
          <td class="tbs">$!oDist.Location.LocationCode</td>
          <td class="tbs">$!oDist.Location.LocationName</td>          
          <td class="tbs">
            <input type="text" class="txt2" id="Qty${detId}${i}" #width(80) maxlength="5"
              #if($sutil.isEmpty($oDist.TransferId)) OnKeyup="handleKey(event,'$detId',$i)"; OnFocus="this.select();" #else READONLY #end
              name="Qty${detId}$!{oDist.LocationId}" value="$!oDist.Qty.setScale(0,4)" >          
          </td>
          <td class="tbs">$!sUnit</td>
          <td class="tbs">          
            #if($sutil.isNotEmpty($oDist.PurchaseOrderDistId) && $dPRQty.intValue() > 0 && $oDist.Qty.intValue() > 0)
            #if($sutil.isEmpty($oDist.TransferId))
            <a href="#" OnClick="transfer('$!detId','$!oDist.LocationId');">$!l10n.item_transfer </a>                      
            #else
            <a href="#" OnClick="viewTransfer('$!oDist.TransferId');">$!oDist.Transfer.TransactionNo</a>                      
            #end ##end if isEmpty            
            #end ##end if podistid not empty
          </td>          
        </tr>        
        #set($dDistQty = $calculator.add($dDistQty,$oDist.Qty))
        #set($i = $i + 1)
        #end
        <tr>
          <td class="th4" colspan="8"><b>
            PO Qty: $!cformat.fmt($!pod.QtyBase) #spc(4)   
            PR Qty: $!cformat.fmt($!dPRQty) #spc(4)                     
            Distributed Qty: $!cformat.fmt($!dDistQty) #spc(4)
            Left Qty: $!cformat.fmt($!calculator.sub($pod.QtyBase,$dDistQty)) #spc(4)
          </td>
        </tr>
      </table>              
      <br>
      #end ##end foreach pod      
      <input type="button" OnClick="saveDist();" value="$!l10n.save_trans">
      <input type="button" OnClick="locView();"  value="$!l10n.view $!l10n.location">
##----LOCATION VIEW ---------------------------------------------------------##
      #elseif ($view == 2)
      #foreach ($loc in $poDistLoc)
      #set($vDist = $podist.filterByLocID($podist.getAll($mDist),$loc.LocationId))
      <table width="720" cellspacing="0" cellpadding="1">
        <tr>
          <td colspan="4">
            <b>Location: $!loc.LocationCode - $!loc.LocationName </by
          </td>
        </tr>
        <tr>
          <td class="th4" width="120">$!l10n.code</td>
          <td class="th4" width="300">$!l10n.item_name</td>          
          <td class="th4" width="60">$!l10n.qty</td>
          <td class="th4" width="60">$!l10n.unit</td>
          <td class="th4" width="150">#spc(1)</td>          
        </tr>
        #foreach($oDist in $vDist)
        <tr>
          <td class="tbs">$!oDist.Item.ItemCode</td>
          <td class="tbs">$!oDist.Item.ItemName</td>          
          <td class="tbs" align="right">$!oDist.Qty.setScale(0,4)</td>
          <td class="tbs" align="right">$unit.getCodeByID($oDist.Item.UnitId)</td>
          <td class="tbs">
            #spc(1)
            #if($sutil.isNotEmpty($oDist.PurchaseOrderDistId) && $oDist.Qty.intValue() > 0)
            #if($sutil.isEmpty($oDist.TransferId))
            <a href="#" OnClick="transferLoc('$!oDist.PurchaseOrderDetailId','$!oDist.LocationId');">$!l10n.item_transfer </a>                      
            #else
            <a href="#" OnClick="viewTransfer('$!oDist.TransferId');">$!oDist.Transfer.TransactionNo</a>                      
            #end ##end if isEmpty           
            #end ##end if podistid not empty                
          </td>               
        </tr>        
        #set($i = $i + 1)
        #end ##end foreach oDist
      </table>      
      <br>
      #end ##end foreach loc      
      <input type="button" OnClick="detView();"  value="$!l10n.view $!l10n.item_code">  
      #end ##end if view
##----END VIEW MODE
        
      #end ##end if po      
  	</td>
  </tr>
</table>
