#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
$data.setLayoutTemplate("Printable.vm")
#end


#set($title = "Medical Daily $!l10n.sales_report ")
#set($locid = $data.Parameters.getString("LocationId","$!USRLOC"))
#set($start = $data.Parameters.getString("StartDate"))
#set($end = $data.Parameters.getString("EndDate"))
#set($det = $data.Parameters.getBoolean("PTDetail"))
#set($invdet = $data.Parameters.getBoolean("InvDetail"))

#set($pageParam = "&Op=1&StartDate=$!{start}&EndDate=$!{end}")
#set($pageParam = "${pageParam}&LocationID=$!{locid}&PTDetail=${det}&InvDetail=$!{invdet}")

#set($bIsHO = false)
#set($bViewCost = true)
#set($oLoc = $location.getLocationByID($preference.getLocationID($data.User.Name)))
#if($oLoc.LocationType == 1)
  #set($bIsHO = true)
#end
#if($oLoc.LocationType != 1)
  #set($bViewCost = false)
#end
#if(!$data.ACL.Permissions.containsName("View Item Cost"))
  #set($bViewCost = false)
#end

<script>
function viewSalesReport(sDate)
{
    var sURL = '${link.setPage("report,sales,SalesReport.vm")}?printable=$!{printable}&StartDate=' + sDate + 
               '&EndDate=' + sDate + '&Condition=1&GroupBy=-1&Status=2&CurrencyId=&LocationId=${locid}';    
    document.location.href = sURL;
}
function displayChart () 
{
    var sURL = '${data.ContextPath}/chart?helper_class=com.ssti.enterprise.pos.chart.helper.DailySalesSummaryChartHelper${pageParam}';
    var prnWnd = window.open(sURL, 'printWindow', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=835,height=515,left=20,top=20');
    prnWnd.focus();                                                   
}
</script>
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage("$!data.ScreenTemplate")">

<table width="100%" cellspacing="0" cellpadding="4"> 
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title 
        #if($start != "")                      
         ($!start - $!end)
          #if($locid != "") [$!location.getLocationNameByID($locid)] #else [$!l10n.all $!l10n.location] #end
        #end
        </b>
      </span>
    </td>
    #if(!$printable)
    <td align="right">          
      #if($bIsHO)
       <a href="javascript:void(0)" OnClick="displayChart();">
        <img src="${data.ContextPath}/images/btn_chart.gif" border="0"/>
      </a> 
      #end            
      <a href="javascript:void(0)" OnClick="printReport();">
        <img src="${data.ContextPath}/images/btn_print.gif" border="0"/>
      </a>
      <a href="javascript:void(0)" OnClick="printReport(true);">
        <img src="${data.ContextPath}/images/btn_excel.gif" border="0"/>
      </a>                         
    <td>
    #end
  <tr>
</table>

#if(!$printable)
<!-- SEARCH -->
<table cellspacing="0" cellpadding="2" border="0">
  <tr>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!start">
      #calf("frm" "StartDate" true)
      #spc(2)
    </td>
    <td>
      $!l10n.location :
    </td>
    <td colspan="2">
      #if($bIsHO)
        #locationSB($locid)
      #else
        $!location.getLocationNameByID($preference.LocationID)
        <input name="LocationId" type="hidden" value="$preference.LocationID">
      #end            
      #spc(2)       
    </td>           
  </tr>
  <tr>                 
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" size="15" name="EndDate" value="$!end">
      #calf("frm" "EndDate" true)
      #spc(2)
    </td>
    <td>$!l10n.payment_type : </td>
    <td>
      <input type="checkbox" class="cb" name="PTDetail" #if($det) CHECKED #end >    
      #spc(2)
      Detail : 
      <input type="checkbox" class="cb" name="InvDetail" #if($invdet) CHECKED #end >
      #spc(2)<input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
<!-- END SEARCH SECTION -->
<br>
#end ##if(!$printable)

#if($vDates)
#set($vPT = $paymenttype.getAllPaymentType())
<table width="100%" cellspacing="0" cellpadding="4">
  #line(10)
  <tr>
    <td class="th4"><b>$!l10n.date</td>
    #if(!$det)
    <td class="th4"><b>Cash</td>
    <td class="th4"><b>Non Cash</td>
    #else
      #foreach ($oPT in $vPT)
        #if(!$oPT.IsMultiplePayment)
        <td class="th4"><b>$!oPT.PaymentTypeCode</td>
        #end
      #end    
    #end
    <td class="th4"><b>$!l10n.total_amount</td>
    <td class="th4"><b>$!l10n.discount</td>
    <td class="th4"><b>$!l10n.sales_return</td>
    <td class="th4"><b>$!l10n.tax</td>
    <td class="th4"><b>$!l10n.rfee</td>
    <td class="th4"><b>$!l10n.packaging</td>
    <td class="th4"><b>$!l10n.rounding</td>
  </tr>       
  #line(10)
  
  #set($totalQty    = 0)
  #set($totalCash   = 0)
  #set($totalNonCash= 0)
  #set($totalNett   = 0)
  #set($totalDisc   = 0)
  #set($totalReturn = 0)  
  #set($totalTax    = 0)
  #set($totalRfee   = 0)               
  #set($totalPack   = 0)
  #set($totalRound  = 0)                 
  
  #set($vAll = $butil.loadClass("java.util.ArrayList"))
  #foreach ($date in $vDates)  
    #set($hSales = $medsales.getDailySalesSummary($date, $locid))
    #set($vSales        = $hSales.get("vSales"))
    #set($dTotalCash    = $hSales.get("TotalCash")) 
    #set($dTotalNonCash = $hSales.get("TotalNonCash")) 
    #set($dTotalNett    = $hSales.get("TotalNett")) 
    #set($dTotalDisc    = $hSales.get("TotalDisc"))     
    #set($dTotalTax     = $hSales.get("TotalTax")) 
    #set($dTotalRfee    = $hSales.get("TotalRfee")) 
    #set($dTotalPack    = $hSales.get("TotalPack")) 
    #set($dTotalRound   = $hSales.get("TotalRound")) 

    #set($dTotalReturn     = $hSales.get("TotalReturn")) 
    #set($dTotalCashReturn = $hSales.get("TotalCashReturn")) 
    #set($dTotalNonReturn  = $hSales.get("TotalNonCashReturn")) 
    
    #set($dTotalCash       = $calculator.sub($dTotalCash, $dTotalCashReturn))
    #set($dTotalNonCash    = $calculator.sub($dTotalNonCash, $dTotalNonReturn))
    ###set($dTotalNett       = $calculator.sub($dTotalNett, $dTotalReturn))
    
    #set($totalCash     = $calculator.add($dTotalCash    ,$totalCash   ))
    #set($totalNonCash  = $calculator.add($dTotalNonCash ,$totalNonCash))
    #set($totalNett     = $calculator.add($dTotalNett    ,$totalNett   ))
    #set($totalDisc     = $calculator.add($dTotalDisc    ,$totalDisc   ))
    #set($totalReturn   = $calculator.add($dTotalReturn  ,$totalReturn ))
    #set($totalTax      = $calculator.add($dTotalTax     ,$totalTax    ))
    #set($totalRfee     = $calculator.add($dTotalRfee    ,$totalRfee   ))
    #set($totalPack     = $calculator.add($dTotalPack    ,$totalPack   ))
    #set($totalRound    = $calculator.add($dTotalRound   ,$totalRound  ))
    #set($x = $vAll.addAll($vSales))

    <tr>
      <td width="10%" class="tbs">
        #if(!$printable)<a href="javascript:viewSalesReport('$!cformat.formatDate($date)');">#end
        $!cformat.formatLongDate($date, $preference.Locale)  
        #if(!$printable)</a>#end
      </td>                 
      #if(!$det)
        <td width="8%" class="tbs" align="right">$!cformat.formatAligned($dTotalCash   )</td>
        <td width="8%" class="tbs" align="right">$!cformat.formatAligned($dTotalNonCash)</td>
      #else
        #set($mPT = $hSales.get("TotalPerPT"))
        #foreach ($oPT in $vPT)
          #if(!$oPT.IsMultiplePayment)
          #set($dTotalPT = $!mPT.get($!oPT.PaymentTypeId))
          <td width="8%" class="tbs" align="right">$!cformat.formatAligned($dTotalPT)</td>
          #end
        #end    
      #end      
      <td width="8%" class="tbs" align="right">$!cformat.formatAligned($dTotalNett   )</td>
      <td width="8%" class="tbs" align="right">$!cformat.formatAligned($dTotalDisc   )</td>
      <td width="8%" class="tbs" align="right">$!cformat.formatAligned($dTotalReturn )</td>
      <td width="8%" class="tbs" align="right">$!cformat.formatAligned($dTotalTax    )</td>
      <td width="6%" class="tbs" align="right">$!cformat.formatAligned($dTotalRfee   )</td>
      <td width="6%" class="tbs" align="right">$!cformat.formatAligned($dTotalPack   )</td>
      <td width="8%" class="tbs" align="right">$!cformat.formatAligned($dTotalRound  )</td> 
    </tr>    
  #end     

  #if($invdet)
  #foreach ($s in $vAll)
    <tr>
    <td class="tbs">$s.InvoiceNo</td>
    #foreach($oPT in $vPT)
    #if(!$oPT.IsMultiplePayment)
    #if($oPT.PaymentTypeId == $s.PaymentTypeId)
    <td class="tbs" align="right">$!cformat.formatAligned($!s.TotalAmount)</td>    
    #else
    <td class="tbs" align="right">&nbsp;</td>    
    #end ##end if oPT.PaymentTypeId
    #end ##end foreach Multiple
    #end ##end foreach PT
    </tr>
  #end ##end foreach $vAll
  #end ##end if det
  
  #line(10)
  <tr>
    <td class="th4"><b>Total</b>&nbsp;</td>      
    #if(!$det)
      <td width="8%" class="th4" align="right"><b>$!cformat.formatAligned($totalCash   )</td>
      <td width="8%" class="th4" align="right"><b>$!cformat.formatAligned($totalNonCash)</td>
    #else
      #set($mPT = $medsales.groupAmountByPaymentType($vAll))
      #foreach ($oPT in $vPT)
        #if(!$oPT.IsMultiplePayment)          
        #set($dTotalPT = $!mPT.get($!oPT.PaymentTypeId))
        <td width="8%" class="th4" align="right"><b>$!cformat.formatAligned($dTotalPT)</td>
        #end
      #end    
    #end      
    <td width="8%" class="th4" align="right"><b>$!cformat.formatAligned($totalNett   )</td>
    <td width="8%" class="th4" align="right"><b>$!cformat.formatAligned($totalDisc   )</td>
    <td width="8%" class="th4" align="right"><b>$!cformat.formatAligned($totalReturn )</td>
    <td width="8%" class="th4" align="right"><b>$!cformat.formatAligned($totalTax    )</td>
    <td width="6%" class="th4" align="right"><b>$!cformat.formatAligned($totalRfee   )</td>
    <td width="6%" class="th4" align="right"><b>$!cformat.formatAligned($totalPack   )</td>
    <td width="8%" class="th4" align="right"><b>$!cformat.formatAligned($totalRound  )</td> 
  </tr>    
  #line(10)                          
</table>
#end
</form>
       