#*op: 
  1. Send
  2. Read
  3. Del
 *#
#set($op = $data.Parameters.getInt("op"))
#set($URL = "$!link.setPage($data.ScreenTemplate)")
##-----------------------------------------------------------------------------
#if($op == 1) ##SEND
$data.setLayoutTemplate("/Empty.vm")
#set($users = $data.Parameters.getStrings("username"))
#set($topic = $data.Parameters.getString("topic"))
#set($key = $data.Parameters.getString("topic"))

#foreach($user in $users)
alert('$user');
#end
##-----------------------------------------------------------------------------
#elseif($op == 2) ##READ
$data.setLayoutTemplate("/Empty.vm")

##-----------------------------------------------------------------------------
#elseif($op == 3) ##DEL
$data.setLayoutTemplate("/Empty.vm")

##-----------------------------------------------------------------------------
#else ##MAIN TRANSACTION FORM

#set($key = $data.Parameters.getString("key"))
#set($tpc = $data.Parameters.getString("topic",""))
#set($msg = $data.Parameters.getString("msg",""))

#set($tx = $data.Session.getAttribute($key))

#set($title = "Notification Center [$!tx.TransactionNo]")
#set($aclRole = $data.ACL.Roles)
#set($aclPerm = $data.ACL.Permissions)
#set($Roles = $employee.AllRole)
#set($Emps = $employee.AllEmployee)

$data.setLayoutTemplate("/PopupWindow.vm")

<link type="text/css" href="$!{data.ContextPath}/javascript/modules/select2/select2.min.css" rel="stylesheet"/>
<script src="$!{data.ContextPath}/javascript/modules/select2/select2.min.js"></script>
<script src="$!{data.ContextPath}/javascript/jq/jquery.easytabs.min.js"></script>
                                                            
<form method="post" id="frm" name="frm" action="$!{URL}">
##<input type="hidden" name="_session_access_counter" value="$data.User.getTemp("_session_access_counter")"/>
<input type="hidden" name="op" value="$!op">
<input type="hidden" name="no" value="-1">
<input type="hidden" name="key" value="$!key">
<input type="hidden" name="txid" value="$!tx.TransactionId">
<input type="hidden" name="txno" value="$!tx.TransactionNo">

<style>
optgroup{font-weight:bold;color:blue;font-face:courier}
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    
</style>

<table class="fixTable">
  <tr>
    <td>
      <span class="txtTitle2">$title</span>
    </td>
    <td align="right" rowspan="2">

    </td>
  </tr>
  #if($data.Message)
  <tr>
    <td><span class="txtMessage">$data.Message</span></td>
  </tr>
  #end
</table>
<table class="stdTable">
  <tr class="th4">
    <td colspan="2">$!l10n.to</td>
  </tr>
  <tr>
    <td width="20%"><label for="Username">$!l10n.user</label></td>
    <td>      
      <select id="Username" name="Username" data-placeholder="-- UserName --" class="sel-user" multiple style="width:100%;max-width:600px;" tabindex="4">        
        #foreach ($role in $Roles)
        #set($EmpsByRole = $butil.filterListByFieldValue($Emps,"roleId",$role.RoleId))
        <optgroup label="$!role.RoleName"> 
          #foreach($emp in $EmpsByRole)
          <option value="$!emp.UserName">$emp.Name [$!emp.UserName]</option>
          #end  
        </optgroup>
        #end
      </select>    
    </td>
  </tr>
  <tr>
    <td>$!l10n.topic</td>
    <td>
      <select name="Topic" data-placeholder="-- Topic --" class="sel-topic" style="width:100%;max-width:600px;" tabindex="4">        
        <option value="Information">Information</option>
        <option value="Confirmation Request">Confirmation Request</option>
        <option value="General">General</option>                
      </select>    
    </td>
  </tr>
  <tr>
    <td>$!l10n.transaction</td>
    <td>
      <b>$!tx.TransactionNo 
    </td>
  </tr>      
  <tr>
    <td>$!l10n.messages</td>
    <td>
      <textarea id="msg" name="msg" #wid("95%" 360 640)></textarea>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <a id="btnSend" class="button"> <i class="fa fa-envelope-o"></i> Send Notification</a>
    </td>
  </tr>
  
</table>
#tblbr(2)
#set($mdtool = $butil.getInstance("com.ssti.enterprise.pos.tools.MessageDataTool"))
#set($vmsg = $mdtool.getMessages($data.User.Name))
#set($vinb = $butil.filterListByFieldValue($vmsg,"toUser",$data.User.Name))
#set($vout = $butil.filterListByFieldValue($vmsg,"fromUser",$data.User.Name))
<div id="tabs-msg" class="tab-container">
  <ul class='etabs'>
    <li class='tab'><a href="#tab-inbox">Inbox</a></li>
    <li class='tab'><a href="#tab-sent">Sent</a></li>
  </ul>
  <div id="tab-inbox" style="border:1px;">
    ##<h2>Inbox</h2>
    <br>
    <table class="stdTable">    
      <tr>
        <td class="th4">$!l10n.from</td>
        <td class="th4">$!l10n.date</td>
        <td class="th4">$!l10n.topic</td>
        <td class="th4">$!l10n.message</td>        
      </tr>
    #foreach($msg in $vinb)
      <tr>
        <td>$!l10n.</td>
        <td>$!l10n.date</td>
        <td>$!l10n.subject</td>
        <td>$!l10n.message</td>                
      </tr>
    #end
    </table>
  </div>
  <div id="tab-sent">
    ##<h2>Sent</h2>
    
  </div>
</div>
    


#tblbr(2)
</form>

<script> 
jQuery('.sel-user').select2({width:'95%'});
jQuery('.sel-topic').select2({width:'95%', placeholder:'-- $!l10n.topic --',  tags:true});
jQuery('#tabs-msg').easytabs();
jQuery('#btnSend').click(function(){
    var f = document.frm; f.op.value = 1;
    var param = jQuery('#frm').serialize();
    var url = '$!sURL';   
    jQuery.post(url,param,function(resp){eval(resp);});
});
</script>                                                            



#end ##end

## function sendNotification(idm, tpc, msg, snd, tor)
## {
##     var o = {
##        topic: tpc,
##        message: msg,
##        sender: snd,
##        to: tor
##     };
##     var jsmsg = JSON.stringify(o);
##     jQuery.post('$!data.ContextPath/sse/', {op:'send', id: idm, msg: jsmsg});
## }
##  
