<script>
function displayEX()
{
   var na = document.getElementById('StackTraces');
   var btn = document.getElementById('btnView');
   if (na.style.display == 'none') {na.style.display = ''; btn.value = 'Hide';}
   else if (na.style.display == '') {na.style.display = 'none'; ; btn.value = '$!l10n.view';}    
}
</script>     

<table width="100%"> 
  <tr>
    <td class="txtErrorPage" align="center">
      <br><br>
      $!l10n.error_line1
      <br><br><br>
      $!l10n.error_line2
      <br><br>
      $processingException
      <br><br><br>
      $!l10n.contact_support
      <br><br>
      <a href="mailto:retailsoft-service@yahoo.com">retailsoft-service@yahoo.com</a>
      <br><br>
      <b>Please kindly provide us below StackTrace upon request:</b>
      <input type="button" value="$!l10n.view" OnClick="displayEX();" id="btnView">
      <div id="StackTraces" style="display:none;">                                          
      #set($idx = $stackTrace.indexOf("Caused")) 
      #set($stack = $stackTrace)
      #if($idx > 0)
      #set($stack = $stackTrace.substring($idx))
      #end           
      <pre class="txtStack" style="align:left">$stack</pre>
      </div>                                                                         
      <br><br>
      <input type="button" #width(160) OnClick="history.go(-1)" value="$!l10n.button_back">
    </td>
  </tr>
</table>

                  