#set($finish = $data.Parameters.getBoolean("finish", false))
#set($id = $data.Parameters.getString("id",""))
#if($finish) ## finish trans mode
$data.setLayoutTemplate("/Empty.vm")
#set($mprp = $medsales.getHeaderByID($id))
#if($mprp.PrepQueueNo)
#set($x = $!mprp.setPrepStatus(2))
#set($x = $!mprp.setPrepEnd($!dutil.TodayDate))
#set($x = $!mprp.save())
$!mprp.PrepQueueNo $!l10n.save_success
#else
ERROR: Not Found
#end ##end if
#else ## normal view mode
#set($popup = $data.Parameters.getBoolean("popup",false))
#if($popup)
  $data.setLayoutTemplate("/PopupWindow.vm")
#end
#set($tplName = $data.Parameters.getString("tplName"))
## #set($txPage = "transaction,MedicalSalesTrans.vm")
#set($txPage = "transaction,MedPOSPrep.vm")
<script>
function viewTrans(_sid)
{
    var wnd = window.opener;
    if(!wnd) wnd = parent;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.User.getTemp("_session_access_counter")';

    wnd.location.href = sTPL + '$!txPage?op=4&id='+_sid;
    window.close();
}
function finish(sid, prepno)
{
    var scanno = prompt('Scan $!l10n.prescription_no ');
    console.log(prepno.indexOf(scanno));
    if(scanno != '' && prepno.indexOf(scanno) > 3)
    {
        var url = sSCR + '?finish=true&id=' + sid + '&prepno=' + prepno;
        console.log(url);
        jQuery.post(url,function(res){
            var msgtype = 'success';
            if(res.indexOf('ERROR') >= 0) msgtype = 'error';
            jQuery.notify(res, msgtype);
            setTimeout(document.frm.submit(), 3000);
        });
    }
    else
    {
        alert('Invalid $!l10n.prescription_no ');
    }
}
</script>
#set($headings = ["No","$!l10n.trans_no","$!l10n.trans_date", "$!l10n.patient", "$!l10n.age", "$!l10n.phone", "$!l10n.status", "<center>$!l10n.started","<center>$!l10n.finished", "&nbsp;"] )
#set($title = "$!l10n.prescription (E-Ticket)" )

<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title </span><br></td>
  </tr>
</table>

#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords",""))
#set($qno = $data.Parameters.getString("QueueNo",""))
#set($limit  = $data.Parameters.getInt("ViewLimit",9999))
#set($status = $data.Parameters.getInt("Status",2))
#set($prepstat = $data.Parameters.getInt("PrepStatus",1))
#set($custid = $data.Parameters.getString("CustomerID",""))
#set($locid = $data.Parameters.getString("LocationID","$!USRLOC"))
#set($start = $data.Parameters.getString("StartDate","$!cf.fmt($!dutil.TodayDate)"))
#set($end = $data.Parameters.getString("EndDate",""))
#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}&ViewLimit=${limit}")
#set($pageParam = "${pageParam}&Status=${status}&CustomerId=${custid}&LocationId=${locid}")
#set($pageParam = "${pageParam}&StartDate=${start}&EndDate=${end}&tplName=${tplName}&fromTrans=${fromTrans}")

<form name="frm" method="post"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.MedicineSalesAction")?op=next">
<input type="hidden" name="Status" value="$!status">
<input type="hidden" name="ViewLimit" value="9999">
<input type="hidden" name="Condition" value="91">
<table class="searchTable">
  <tr>
    <td>$!l10n.trans_no : </td>
    <td>
      <input type="text" #width("") name="Keywords" value="$!key">
    </td>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" #width(100) name="StartDate" value="$!start">
      #calf ("frm" "StartDate" true) #spc(1)
    </td>
    <td>$!l10n.status :</td>
    <td>
      <select name="PrepStatus" #width("") >
        <option value="-1" #if($prepstat == -1) SELECTED #end >-- $!l10n.all -- </option>
        <option value="1"  #if($prepstat == 1)  SELECTED #end >$!l10n.new       </option>
        <option value="2"  #if($prepstat == 2)  SELECTED #end >$!l10n.finished  </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.location : </td>
    <td>
      #locationSB($locid)
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" #width(100) name="EndDate" value="$!end">
      #calf ("frm" "EndDate" true) #spc(1)
    </td>
    ## <td>$!l10n.view_limit :</td>
    ## <td><input type="text" #width(60) name="ViewLimit" value="$limit"></td>
    <td colspan="2">
      <input type="button" value="$!l10n.search" name="eventSubmit_doFind" Onclick="document.frm.submit();">
    </td>
  </tr>
</table>
</form>
## <!-- END SEARCH SECTION -->

#if($Invoices)
<table class="stdTable">
  <tr class="th5">
    #foreach($hdg in $headings)
    <td>$!hdg</td>
    #end
  </tr>
  #set($no = 1)
  #foreach($inv in $sortingtool.sort($Invoices,"prepQueueNo",$flux.ACDC))
  #if($prepstat > 0 && $inv.PrepStatus == $prepstat)
  #set($bReady = true)
  <tr>
    <td>$no</td>
    <td>$!inv.PrepQueueNo</td>
    <td>$!cf.fmt($!inv.TransactionDate)</td>
    <td>#if(!$sutil.empty($inv.PatientName)) $!inv.PatientName #else $!inv.CustomerName #end </td>
    <td>$!inv.PatientAge</td>
    <td>$!inv.PatientPhone</td>
    <td>
      #if($!inv.PrepStatus==2)$!l10n.finished  #end
      #if($!inv.PrepStatus==1)$!l10n.new       #end
    </td>
    <td align="center">$!cf.formatDateTime($!inv.PrepStart)</td>
    <td align="center" valign="center">$!cf.formatDateTime($!inv.PrepEnd)
      #if($!inv.PrepStatus==1)
        #set($vVal = $butil.loadClass("java.util.ArrayList"))
        #foreach($td in $medsales.getDetailsByID($inv.MedicineSalesId))
          #if(($td.TxTypeCode == "/R" || $td.TxTypeCode == "/RC*") && ($sutil.empty($td.Dosage) && $sutil.empty($td.BeforeAfter)))
            #set($x = $vVal.add($td))
          #end ##end if
        #end ##end foreach
        #if($vVal.size() > 0)
          #set($bReady = false)
        #end
        #if($bReady)
        <a href="#" OnClick="finish('$!inv.MedicineSalesId','$!inv.PrepQueueNo');" title="$!l10n.finished">
          <i class="fa fa-barcode faicon"></i>
        </a>
        #end
      #end
    </td>
    <td align="right">
     #if(!$fromTrans)
      <ul class="rowLinkNav">
      #rowDataLink ("$!txPage" "?op=4&id=$!inv.MedicineSalesId" $!l10n.view "" "View Sales Invoice")
      </ul>
     #else
      &nbsp;
     #end
    </td>
  </tr>
  #set($no = $no + 1)
  #end ##end if prepstat
  #end ##end foreach
</table>
#end ##end if
#if(!$fromTrans)
<ul class="btmLinkNav">
#btmLinkMenu("MedicalMenu.vm" "" "Home" "fa fa-home")
</ul>
#end
#end ## end if ! finish trans op
