#set($excel = $data.Parameters.getBoolean("excel"))
#set($mode = $data.Parameters.getString("mode" , "report"))
#set($src = $data.Parameters.getString("src" , "loc"))
#set($sID = $data.Parameters.getString("id", ""))
#set($printable = $data.Parameters.getBoolean("printable"))

#if($mode == "popup")
  $data.setLayoutTemplate("/PopupWindow.vm")
#elseif ($mode == "print" || $printable)                                                                                        
  $data.setLayoutTemplate("/Printable.vm")
#end

#set($year  = $data.Parameters.getInt("Year", $dutil.CurrentYear))
#set($accid = $data.Parameters.getString("AccountId"))
#set($accno = $data.Parameters.getString("AccountNo",""))
#set($mode  = $data.Parameters.getString("mode"))
#set($siteid= $data.Parameters.getString("SiteId"))

#set($pageParam = "&Year=${year}&AccountId=${accid}&GroupBy=${groupby}")
#set($pageParam = "$pageParam&&AccountNo=$!{sutil.encode($accno)}")
#set($pageParam = "$pageParam&src=${src}&SiteId=${siteid}")

#set($title = "Sales Balance $!l10n.period $year")

#if($sutil.isNotEmpty($accno) && $sutil.isEmpty($accid))
#set($oAcc = $account.getAccountByCode($accno))
#set($accid = $oAcc.AccountId)
#end

#if($sutil.isNotEmpty($accid))
  #set($oAcc = $account.getAccountByID($accid))
  
  #set($bPLOnly = false)                                                                            
  #if($src == "dept")
    #set($sSrc = $l10n.deparment)
    #set($vSrc = $department.AllDepartment)
  #elseif ($src == "prj")
    #set($sSrc = $l10n.project)
    #set($vSrc = $location.AllProject)
  #elseif ($src == "loc")          
    #set($sSrc = $l10n.location)
    #if($sutil.isNotEmpty($siteid))
      #set($vSrc = $location.getBySiteID($siteid))
    #else               
      #set($vSrc = $location.AllLocation)
    #end
  #end
#end

#if(!$printable) 


<script>
function submitForm(e) 
{		                   
    var f = document.frm;
    if (f.AccountNo.value == '') alert('$!l10n.fill_in $l10n.account_code');
    else f.submit(); 
}
var wndAcc;
function openAccountLookUpWindow()
{   
    if (!wndAcc || wndAcc.closed)
    {
        var sURL = '${link.setPage("transaction,AccountLookup.vm")}?src=5';
        wndAcc = window.open(sURL, 'wndAcc', 
            'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=600,left=20,top=20');
    }
    wndAcc.focus();
}
function printTXT()
{
    var sURL = '${data.ContextPath}/print' + 
               '?helper_class=com.ssti.framework.print.helper.ReportPrintHelper' +
               '&txt_tpl=/print/report/AccountBalancePeriodicTXT.vm' +               
               '&print_type=1'+
               '&use_header=true' +
               '&title=$!sutil.encode($title)'+               
               '&$pageParam' + 
               '&user_name=$!data.getUser().getName()' + 
               '&detail_per_page=-1';
               
    var printWindow = window.open (sURL, 'printWindow', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    printWindow.focus();         
}
</script>
#reportPrintJS()
<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>
#end ##end printable

<table width="100%">
  <tr>
    #if(!$printable)<td width="1%"></td>#end
	<td valign="top" width="98%">
      <table width="100%" cellspacing="0" cellpadding="0" >
        <tr>
          <td #if($printable) colspan="10" #end ><span class="txtTitle2"><b>$title</span></td>          
          #if(!$printable)
          <td align="right">
            ##<a href="javascript:printTXT();">
            ##<img src="${data.ContextPath}/images/btn_print_txt.gif" border="0"/></a>          
            <a href="javascript:printReport();">
            <img src="${data.ContextPath}/images/btn_print.gif" border="0"/></a>
            <a href="javascript:printReport(true);">
            <img src="${data.ContextPath}/images/btn_excel.gif" border="0"/></a>                     
          </td>
          #end
        </tr>
      </table>
      
      ##<!-- SEARCH -->
      #if(!$printable)      
      <form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
        <input type="hidden" name="id" value="$sID">
        <input type="hidden" name="src" value="$src">
        <input type="hidden" name="AccountNo" value="4101.001">
        
        <table cellspacing="0" cellpadding="4" border="0">
          <tr>
            #if($src == "loc")          
            <td>$!l10n.site : &nbsp;</td>
            <td colspan="4">
              <select name="SiteId">
                <option value="">-- $!l10n.site --</option>
                #foreach($oSite in $site.AllSite)
                <option value="$oSite.SiteId" #if($oSite.SiteId == $siteid) SELECTED #end >$!oSite.Description</option>
                #end
              </select>
              #spc(2)
            </td> 
            #end          
      	    <td>$!l10n.year : &nbsp;</td>
            <td>
              <input type="text" name="Year"  size="4" value="$!year">
              #spc(2)
            </td>
            <td> 
              <input type="hidden" name="mode" value="$mode">                 
              <input type="hidden" name="AccountId" value="$!accid">
              <input type="button" value="$!l10n.view_report" OnClick="submitForm();">                    
            </td>   
          </tr>
        </table>
        <a name="display"></a><br>              
      </form>
      #end ##if mode
      ##<!-- END SEARCH SECTION -->
          
      #if($sutil.isNotEmpty($accno))        
      #set($vPeriod = $period.getPeriodByYear($year, $null))          
      <table width="100%" cellspacing="0" cellpadding="4" >                  
        #line(13)
        <tr>
          <td class="th4">$sSrc</td>
          #foreach ($oPeriod in $vPeriod)
          <td class="th4">$oPeriod.Month</td>
          #end                                                                                             
        </tr>
        #line(13)
        #set($salesreport = $butil.loadClass("com.ssti.enterprise.pos.tools.report.SalesReportTool"))
        #foreach ($oSrc in $vSrc)
        <tr>
          <td class="tbs">$oSrc.Name</td>
          #foreach ($oPeriod in $vPeriod)
          <td class="tbs" align="right">
            #set($dBalance = 0)
            #set($dSales = 0)
            #set($dRet = 0)
            
            #set($v = $salesreport.getTotalSalesPerLocation($oPeriod.BeginDate,$oPeriod.EndDate,$oSrc.Id, true, false, 2))
            #set($r = $salesreport.getTotalReturnPerLocation($oPeriod.BeginDate,$oPeriod.EndDate,$oSrc.Id, true, false, 2))
            #if($v.size() > 0)              
              #set($rcsi = $v.get(0))
              #set($dSales = $rcsi.getValue(3).asBigDecimal())
            #end
            #set($dRet = 0)
            #if($r.size() > 0)
              #set($rcsr = $r.get(0))
              #set($dRet = $rcsr.getValue(3).asBigDecimal())            
            #end
            #set($dBalance = $calculator.sub($dSales, $dRet))
            $!cformat.formatAccounting($dBalance)          
          </td>
          #end                                                                                             
        </tr>        
        #end
        #line(13)      
      </table>              
      #end ##end if accid
    </td>
    #if(!$printable)<td width="1%"></td>#end
  </tr>
</table>
