#if($op == 1)    	  			  
#set($vData = $account.getAccountTreeList($vNull, "", $gltype))      
<table class="stdTable">                  
  <tr class="th5">
    <td rowspan="2" width="15%"><b>$!l10n.account_code</td>
    <td rowspan="2" width="28%"><b>$!l10n.account_name</td>
    <td rowspan="2" width="15%"><b><center>$!l10n.beginning_balance</td>
    <td colspan="2" width="28%"><b><center>$!l10n.changes</td>
    <td rowspan="2" width="15%"><b><center>$!l10n.ending_balance</td>          
  </tr>
  <tr class="th5">
    <td width="14%"><b><center>$!l10n.total_debit</td>
    <td width="14%"><b><center>$!l10n.total_credit</td>
  </tr>
  #set($dTotalDebit  = 0)
  #set($dTotalCredit = 0)

  #foreach ($oAcc in $vData)
  ##if($oAcc.AccountCode == "1105.001.999") ## TEST 1 ACCOUNT
  #set($iRepeat = $oAcc.AccountLevel.intValue() - 1)
  #set($sAccSPC = "")
  #if($bParent)
  #set($sAccSPC = $sutil.repeatString($sSPC, $iRepeat))  
  #end
  
  #set($dBalance = $glreport.getBalance($oAcc.AccountId, $src, $sID, $dStart, true) )
  #set($dDebit   = $glreport.getChangesAmount($oAcc.AccountId, $src, $sID, $siteid, $dStart, $dEnd, 1))
  #set($dCredit  = $glreport.getChangesAmount($oAcc.AccountId, $src, $sID, $siteid, $dStart, $dEnd, 2))
  #set($dDebit   = $tplutil.array($dDebit,0))
  #set($dCredit  = $tplutil.array($dCredit,0))

  #set($bOk = true)
  #if($debug)
    #set($dBal1 = $tplutil.array($accountbalance.getBalance($oAcc.AccountId, $src, $sID, $dStart) ,0) )
    #set($bOk = $cal.isInTolerance($dBal1, $dBalance, $cal.div(10,100)))    
  #end
  
  #if(!$oAcc.hasChild)
  #set($dTotalDebit  = $calculator.add($dTotalDebit, $dDebit))
  #set($dTotalCredit = $calculator.add($dTotalCredit, $dCredit))
  #end
  
  #set($dEndBalance = $calculator.add($dBalance,$account.checkBalancePlusMinus($oAcc.AccountId,1,$dDebit)))
  #set($dEndBalance = $calculator.add($dEndBalance,$account.checkBalancePlusMinus($oAcc.AccountId,2,$dCredit))) 
  
  #if($bParent || (!$bParent && !$oAcc.HasChild))      
  #if($bZero || ($dBalance.intValue() > 0 || $dDebit.intValue() > 0 || $dCredit.intValue() > 0 || $dEndBalance.intValue() > 0))
  <tr>
    <td >
      #if(!$printable)
      <input class="text2" type="text"  value="$sAccSPC $!oAcc.AccountCode" READONLY 
       style="width:156px;#if($oAcc.hasChild)font-weight:bold;#end">
      #else
        $sAccSPC #if($oAcc.hasChild)<b> #end $!oAcc.AccountCode 
      #end
    </td>
    <td >$sAccSPC #if($oAcc.hasChild)<b> #end $!oAcc.AccountName </td> 
    <td align="right" >
      #if($oAcc.hasChild)<b> #end  
      $!cformat.formatAccounting($dBalance) 
      
      #if($debug && !$bOk)
      $!cformat.formatAccounting($dBal1) 
      #end      
    </td> 
    <td align="right">#if($oAcc.hasChild)<b> #end 
      #if($oAcc.hasChild) <b> $!cformat.formatAccounting($dDebit)  
      #else <a href="javascript:viewHistory('$oAcc.AccountId');"> $!cformat.formatAccounting($dDebit) </a> #end  
    </td> 
    <td align="right">#if($oAcc.hasChild)<b> #end 
      #if($oAcc.hasChild) <b> $!cformat.formatAccounting($dCredit)  
      #else <a href="javascript:viewHistory('$oAcc.AccountId');"> $!cformat.formatAccounting($dCredit) </a> #end  
    </td> 
    <td align="right">
      #if($oAcc.hasChild)<b> #end
      $!cformat.formatAccounting($dEndBalance) 
    </td> 
  </tr>  
  #end ##end if bZero
  #end ##end if bParent
  ##end ##end test
  #end
  ###if($gltype == 0)
  #if(!$excel) #line(10) #end
  <tr class="th5">
    <td >#spc(1)</td>
    <td >#spc(1)</td> 
    <td align="right">#spc(1)</td> 
    <td align="right"><b>$!cformat.formatAccounting($dTotalDebit) </b></td> 
    <td align="right"><b>$!cformat.formatAccounting($dTotalCredit)</b></td> 
    <td align="right">#spc(1)</td> 
  </tr>  
  ###end
  #if(!$excel) #line(10) #end
</table>
<br>
#end ##end if op == 1
