$data.setLayoutTemplate("/Mobile.vm")

<script>
function validate(frm)
{
    #isEmpty("frm" "Username")
    #isEmpty("frm" "Password") 
}
</script>
<div class="container-fluid">
<div class="logo">
<img border="0" src="${data.ContextPath}/images/login/logo-retailsoft.gif" />
#if($data.Message)
<p id="sign-up" class="txtmsg">$data.Message</p>
#end
</div>

<form class="form-horizontal m-form" role="form" method="post" id="frm" name="frm" 
    action="$link.setAction("Login")" Onsubmit="return validate(this);">
  <input type="hidden" name="m" value="true" />

  <div class="form-group">
    ##<label class="col-sm-4 control-label" for="Username" >UserName</label>
    <div class="col-sm-12">
    <input class="form-control" name="Username" type="text" placeholder="UserName"
        autocapitalize="off" autocomplete="off"autocorrect="off"  />
    </div>
  </div>
  <div class="form-group">
    ##<label class="col-sm-4 control-label" for="Password" >Password</label>
    <div class="col-sm-12">
    <input class="form-control" name="Password" type="password" placeholder="Password" 
        autocapitalize="off" autocomplete="off" autocorrect="off" />
    </div>
  </div> 
  <div class="form-group">
    ##<div class="col-sm-4"></div>   
    <div class="col-sm-12">
    <button type="submit" class="btn btn-primary form-control ">
      Login
    </button>
    </div>
  </div>
</form>


</div>
