#if($preference.getLocationFunction() == 2)
#if(!$data.Message)
<script>
function cancel()
{
    return confirm('WARNING: STORE DATA GENERATE CANCEL IS A VERY DANGEROUS OPERATION \n MAKE SURE YOU HAVE CONTACTED RETAILSOFT SUPPORT TEAM FIRST ! \n CONTINUE ?');
}
</script>
<table width="100%" cellpadding="4" cellspacing="0">
  <tr>
	<td valign="top" width="98%">
      <center>
      <br><br>
      
      <form name="frm"  method="POST" onSubmit="return cancel();"
        action="$link.setPage($data.ScreenTemplate).setAction("periodic.GenerateSyncDataAction")">
      
      <input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>
      
      <table width="90%">
        <tr>
          <td>&nbsp;
            <center>
              <span class="txtWarning">
                CANCEL $!l10n.generate_store2ho
                <br><br>
                <br><br>
                WARNING : This is a very dangerous operation. <br> 
                Please make sure that you have contacted Retailsoft support team first.                                          
              </span>   
              <br><br>
              <br><br>
              <span class="txtWarningPeriod">
                $!l10n.last_generate_date :
                #if($lastsyncdate)
                  $!lastsyncdate 
                #else
                  $!l10n.no_data_generated
                #end
                <br><br>
                <br><br>
              </span>   
              <input type="submit" name="eventSubmit_doCancel" value="CANCEL $!l10n.generate_store2ho"> 
            </center>     
          <td>
        <tr>
      </table>
      </form>
	  </center>
  	</td>
  	<td valign="top" width="1%">&nbsp;</td>
  </tr>
</table>
#else
<br><br>
<table width="100%">
  <tr>
    <td width="2%"></td>
    <td>
      <span class="txtWarning">
      $!data.Message
      </span>
      <br><br>
    </td>
  </tr>
</table>
#end
#else
<script>alert('Store only function');</script>
#end
