#set($title = "Item Transfer Transaction Print")
$data.setLayoutTemplate("/Printable.vm")
#set($it = $data.getSession().getAttribute("it"))
#set($itDet = $data.getSession().getAttribute("itDet"))
#set($oCourier = $courier.getCourierByID($it.CourierId))
#set($oDriver = $employee.getEmployeeByID($oCourier.EmployeeId))

<table width="99%">
  <tr>
    <td valign="top" width="98%">      
      <table width="100%" cellspacing="0" cellpadding="2">
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="2"> 
              <tr>
                <td>
                  <span class="txtTitle2">SURAT JALAN</span>
                </td>
              <tr>
            </table>
            <br>
            <table width="100%" cellspacing="0" cellpadding="4" >
              <tr>
                <td class="txtTitle4" width="80">Transfer No</td>
                <td class="txtTitle4" width="5"> : </td>
                <td class="txtTitle4">$!it.TransactionNo</td>
                <td class="txtTitle4" width="30">Date </td>
                <td class="txtTitle4" width="5"> : </td>                
                <td class="txtTitle4">$!cformat.formatLongDateTime($it.TransactionDate,$preference.Locale)</td>
              </tr>
              <tr>
              </tr>
              <tr>
                <td class="txtTitle4">From </td>
                <td class="txtTitle4"> : </td>
                <td class="txtTitle4">$!it.FromLocationName</td>
                <td class="txtTitle4">To </td>
                <td class="txtTitle4"> : </td>                
                <td class="txtTitle4">$!it.ToLocationName</td>
              </tr>
              <tr>
                <td class="txtTitle4" width="80">Nomor Mobil </td>
                <td class="txtTitle4" width="5"> : </td>                
                <td class="txtTitle4" colspan="3">$!oCourier.CarNo</td>
              </tr>
              <tr>
                <td class="txtTitle4">Description </td>
                <td class="txtTitle4"> : </td>
                <td class="txtTitle4" colspan="3">$!it.Description</td>
              </tr>
            </table>

            <table width="100%" cellspacing="0" cellpadding="2" border="0">                                     
              <tr>
                <td>
                  <table width="100%" cellspacing="0" cellpadding="2">
                    <tr><td colspan="6"><hr></td></tr>
                    <tr>
                      #set($headings = ["No", "$!l10n.item_code", "$!l10n.item_name","Full Name","Qty" ,"Unit"])
                      #foreach ($heading in $headings)
                        <td class="txtTitle4">$heading</td>
                      #end
                    </tr>                                 
                    <tr><td colspan="6"><hr></td></tr>
                    #set($no=1)
                    #foreach ($td in $itDet)
					 #set($oItem = $item.getItemByID($td.ItemId))
					 #if($!td.QtyChanges.intValue() > 0)
                    <tr cellpadding="0">
                      <td class="txtTitle4" width="4%"  > $no</td>
                      <td class="txtTitle4" width="20%" > $!td.ItemCode</td>
                      <td class="txtTitle4" width="20%" > $oItem.ItemName</td>
                      <td class="txtTitle4" width="40%" > $oItem.Description</td>
                      <td class="txtTitle4" width="16%" > $!cformat.formatNumber($!td.QtyChanges)</td>
                      <td class="txtTitle4" width="20%" > $td.UnitCode</td>
                    </tr>
                     #end
                     #if($!td.QtyChanges.intValue() > 0)
                        #set($no=$no+1)
                     #end
                    #end
                    <tr><td colspan="6"><hr></td></tr>
                  </table>
                  <br>
                </td>
              </tr>  
            </table>
            
           <table width="400" cellspacing="0" cellpadding="2" >
              <tr>
                <td class="txtTitle4" width="30%">Created By :</td>
                <td class="txtTitle4" width="5%">&nbsp;</td>
                <td class="txtTitle4" width="30%">Driver :</td>
                <td class="txtTitle4" width="5%">&nbsp;</td>
                <td class="txtTitle4" width="25%">Received By:</td>
                <td class="txtTitle4" width="40%">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="6">&nbsp;<br><br><br><br></td>
              </tr>
              <tr>
                <td class="txtTitle4">($!it.UserName)</td>
                <td class="txtTitle4">&nbsp;</td>
                <td class="txtTitle4">($!oDriver.EmployeeName)</td>
                <td class="txtTitle4">&nbsp;</td>
                <td class="txtTitle4">(...............)</td>
                <td class="txtTitle4">&nbsp;</td>
              </tr>
            </table>          
            <br>
          </td>
        </tr> 
      </table>              
    </td>
  </tr>
</table>