
#set($title = "$!l10n.bank" )
#set($vAcc = $account.getAccountByType(1,false,false))
<script>
#currJS()
function setAccountNo()
{
    var f = document.frm;
    if (f.IsCash.checked)
    {
        f.AccountNo.value = '-';
        f.AccountNo.readOnly = true;        
    }
    else
    {
        f.AccountNo.readOnly = false;            
    }
}
function validate(frm)
{
    #isEmpty      ("frm" "BankCode")
    #isEmpty      ("frm" "Description")
    #isCharsValid ("frm" "BankCode")
    #isCharsValid ("frm" "Description")    
    if (!validateRate('CurrencyId', 'ObRate')) return false;
}
</script>

<form method="post" onSubmit="return validate(this)" name="frm"
    action="$link.setPage($data.ScreenTemplate).setAction("setup.BankSetupAction")">
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>

<span class="txtTitle2">$title </span><br>
#if($data.Message)
<span class="txtMessage">$data.Message</span><br>
#end
<table class="stdTable">
  <tr>
    <td  width="20%">$!l10n.bank_code</td>
    <td ><input type="text" size="10" name="BankCode" value="$!Bank.BankCode" required></td>
  </tr>
  <tr>
    <td >$!l10n.account_no</td>
    <td >
      <input type="text" size="20" name="AccountNo" value="$!Bank.AccountNo" #if($Bank.IsCash) READONLY #end >
      #spc(2) Cash
      <input type="checkbox" class="cb" name="IsCash" #if($!Bank.IsCash) CHECKED #end OnChange="setAccountNo();">          
    </td>          
  </tr>
  <tr>
    <td>$!l10n.description</td>
    <td><input type="text" size="50" name="Description" value="$!Bank.Description" required></td>
  </tr>          
  <tr>
    <td>$!l10n.location</td>
    <td>
      #locationSB($!Bank.LocationId)
    </td>
  </tr>          
  <tr>
    <td >$!l10n.currency</td>
    <td >             
      #currencySB ("CurrencyId" "ObRate" "$!Bank.CurrencyId" $!Bank.ObRate)
    </td>
  </tr>
  <tr>
    <td>$!l10n.gl_account</td>
    <td>
      <select name="AccountId">
      <option value="">-- $!l10n.account.toUpperCase() --</option>
      #foreach ($acc in $vAcc)
      <option value="$acc.AccountId" #if($acc.AccountId == $!Bank.AccountId) SELECTED #end >
        $!acc.AccountCode - $!acc.AccountName</option>
      #end
      </select>
    </td>
  </tr>               
  <tr>
    <td>$!l10n.opening_balance</td>
    <td>
      $!currency.getCurrencyByID($!Bank.CurrencyId).Symbol
      <input type="number" step="any" #width(150) name="OpeningBalance" 
        value="$!Bank.OpeningBalance" OnFocus="this.select();">
      &nbsp;&nbsp;&nbsp;&nbsp;
      $!l10n.as_of :
      &nbsp;&nbsp;
      <input type="text" size="12" name="AsDate" 
      #if($Bank.AsDate) value="$!cformat.formatDate($!Bank.AsDate)" 
      #else value="$!cformat.formatDate($!preference.StartDate)" #end >
      #calf("frm" "AsDate" true)
    </td>
  </tr>
  #if($Bank)
  <tr>
    <td>$!l10n.current_balance</td>
    <td>
      $!cformat.formatNumber($!bankbook.getBankBook($!Bank.BankId).AccountBalance)
      &nbsp;
    </td>
  </tr>
  #end

  <tr>
    <td>&nbsp;</td>
    <td>
      #hiddenField ("ID" $!Bank.BankId)
      #if($data.ACL.Permissions.containsName("Update Bank Setup"))
        #if($flux.Mode == "delete")
          <input type="submit" id="btnCancel" name="eventSubmit_doDelete" value="$!l10n.delete $!title"/>
        #elseif ($flux.Mode == "update")
          <input type="submit" name="eventSubmit_doUpdate" value="$!l10n.update $title"/>
        #else
          <input type="submit" name="eventSubmit_doInsert" value="$!l10n.add $title"/>
        #end
      #end
   </td>
 </tr>
</table>
<ul class="btmLinkNav">
#btmLinkMenu("setup,BankSetup.vm" "" "$!l10n.view $!title" "")
</ul>
</form>
