#set($printable = $data.Parameters.getBoolean("printable"))
#set($headings = ["No","$!l10n.code", "$!l10n.description", "&nbsp;"] )
#set($fields = ["","customerTypeCode","description",""] )
#set($title = "$!l10n.customer_type" )

<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
    <td>
      <div align="right">
      <a href="javascript:void(0)" OnClick="msgDetail=window.open('$link.setPage("setup,CustomerTypeSetupPrint.vm")', 'printWindow', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=560,height=480,left=20,top=20')"    
           class=""><img src="${data.ContextPath}/images/btn_print.gif" border="0"/></a>
      </div>
    </td>
  </tr>
</table>
<form name="frm" method="post" action="$link.setPage("setup,CustomerTypeSetup.vm")">
<table class="altRowTable">
#if($printable)
  <tr>
    #foreach ($heading in $headings)
      <td class="th2">$heading</td>
    #end
  </tr>
#else
  #sortableHeader ($headings $fields "th2" "sort2" true)
#end
  #set($no = 1)
  #foreach ($CustomerType in $sortingtool.sort($CustomerTypes,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$!no</td>
    <td width="30%">$!CustomerType.CustomerTypeCode</td>
    <td width="50%">$!CustomerType.Description</td>
    <td>
      <ul class="rowLinkNav">    
      #rowDataLink ("setup,CustomerTypeSetupForm.vm" "?id=${CustomerType.Id}&mode=update" $!l10n.update "" "View Customer Data")
      #rowDataLink ("setup,CustomerTypeSetupForm.vm" "?id=${CustomerType.Id}&mode=delete" $!l10n.delete "" "Update Customer Data")
      </ul>
    </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
<ul class="btmLinkNav">
#btmLinkMenu("setup,CustomerTypeSetupForm.vm" "?mode=insert" "$!l10n.add $!title" "")
</ul>
</form>
