#set($title = "$!l10n.customer $!l10n.email")
#set($op = $data.Parameters.getInt("op"))
#if($op == 2) ##save Email
$data.setLayoutTemplate("/Empty.vm")
window.alert('$data.Message');
#elseif($op == 3) ##save Phone
$data.setLayoutTemplate("/Empty.vm")
#set($id = $data.Parameters.getString("CustomerId"))
#set($ph = $data.Parameters.getString("ContactPhone1"))
#set($oCust = $customer.getCustomerByID($id))
#if($oCust && $sutil.isNotEmpty($ph))
$oCust.setContactPhone1($ph)
$oCust.save()
#set($mgr = $butil.getInstance("com.ssti.enterprise.pos.manager.CustomerManager"))
#set($x = $mgr.refreshCache($oCust))
window.alert('$!oCust.Name $!l10n.phone : $!ph');
#end ##end

#else ##send email
$data.setLayoutTemplate("/PopupWindow.vm")
<script>
function sendSMSAll(n) 
{
    var f = document.frm;
    for (i = 0; i < n; i++) 
    {
        var cid = eval( 'f.id' + i  + '.value');
        var cb = eval( 'f.cb' + cid);
        if(cb.checked)
        {
            sendSMS(cid);
        }
    }
}
function sendSMS(cid)
{
    var f = document.frm;
    var phn = eval('f.ContactPhone1' + cid + '.value');
    var nme = eval('f.CustomerName' + cid + '.value');
    var msg = f.Body.value;
    var url = '$!{preference.SysConfig.SmsGatewayUrl}';
    if(phn != '' && msg != '')
    {    
        if(url != '')
        {    
            msg = msg.replace("{name}", nme);    
            processing("Sending SMS To: " + phn);
            var param = '&nohp='+ phn +'&pesan=' + msg;
            jQuery.get(url,param)
                  .always(function(resp){unload()});
        }
        else
        {
            alert('Please Fill In SMS Gateway URL in: Company > Preferences > Application Config!');                        
        }
    }
    else
    {
        alert('$!l10n.fill_in $!l10n.mobile_phone / Subject');
    }
}
function savePhone(cid, e) 
{
    if (getKey(e) == 13)
    {
        var f = document.frm;
        var phn = eval('f.ContactPhone1' + cid + '.value');        
        if (phn != '')
        {
            var url = '$link.setPage($data.ScreenTemplate)';    
            var param = '&op=3&CustomerId=' + cid + '&ContactPhone1=' + phn;
            jQuery.post(url,param,function(resp){eval(resp);} );  
        }
    }
}
function sendEmail() 
{
    var f = document.frm;
    if(f.Subject.value == '') { alert('$!l10n.fill_in Subject'); return false;}
    if(f.Body.value == '') { alert('$!l10n.fill_in Email Body'); return false;}    
    f.op.value = 1;
    f.submit();
    processing('Sending Email...');
}
function saveEmail(cid, e) 
{
    if (getKey(e) == 13)
    {
        var f = document.frm;
        var email = eval('f.Email' + cid + '.value');
        if (email != '')
        {
            var url = '$link.setPage($data.ScreenTemplate)';    
            var param = '&op=2&CustomerId=' + cid + '&Email=' + email;
            jQuery.post(url,param,function(resp){eval(resp);} );
        }
    }
}
function checkAll(n) 
{
    var f = document.frm;
    var bIsChecked = f.cbAll.checked;  
    for (i = 0; i < n; i++) 
    {
        var id = eval( 'f.id' + i  + '.value');
        var cb = eval( 'f.cb' + id);
        if (cb) 
        {
            cb.checked = bIsChecked;
        }
    }
}
function viewFolder()
{
	var sURL = '$link.setPage("transaction,ViewFolder.vm")';
	var fldWnd = window.open (sURL,'fldWnd', 
	    'toolbar=no,scrollbars=yes,menubar=yes,resizable=yes,width=960,height=640,left=20,top=20');
	fldWnd.focus();	                                                  
}
function showHideOpt()
{
    var opts = document.getElementById('opts').style;
    if(opts.display == 'block') opts.display = 'none';
    else if(opts.display == 'none') opts.display = 'block';
}
</script>      
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
  </tr>
</table>
#if($sutil.isNotEmpty($data.Message))
<span class="txtMessage">$data.Message</span>
#end
#set($Customers = $data.Session.getAttribute("Customers")) 
#set($sub = $data.Parameters.getString("Subject"))
#set($body = $data.Parameters.getString("Body"))
#set($att = $data.Parameters.getString("Attachment"))

<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="op" value="1">
<table class="stdTable">
  <tr>    
    <td valign="top"><input type="text" placeholder="Subject" name="Subject" #wid("" 240 640) value="$!sub"></td>     
  </tr>
  <tr>    
    <td valign="top">
      <textarea  placeholder="Body" name="Body"  #wid("" 240 640) rows="10">$!body</textarea>
      <br><b><a href="javascript:showHideOpt();">Merge Options</a>
      <ul id="opts"style="display:none;">
        <li>{code} $!l10n.customer_code
        <li>{name} $!l10n.customer_name
        <li>{bday} $!l10n.birth_date        
      </ul>
    </td>
  </tr>  
  <tr>   
    <td valign="top">
      Attachment: <input type="file" placeholder="Attachment" name="Attachment" size="80">
    </td>
  </tr>    
  <tr>   
    <td valign="top">
      <input type="button" value="Send Email" Onclick="sendEmail();"> #spc(2)
      <input type="button" value="Send SMS" Onclick="sendSMSAll($!Customers.size());">      
    </td>
  </tr>    
</table>       
<br>
#if($Customers)
<table class="stdTable">
  #set($headings = ["No","$!l10n.code","$!l10n.customer_name","Type","$!l10n.employee","$!l10n.location","$!l10n.birth_date","<center>$!l10n.credit_limit", "<center>$!l10n.current_balance"])
  <tr  class="th4">
    <td>
      <input type="checkbox" class="cb" name="cbAll" OnClick="javascript:checkAll($Customers.size());">
    </td>
    #foreach($heading in $headings)<td class="th4">$heading</td>#end
  </tr>        
  #set($no = 1)  
  #foreach ($oCust in $Customers)
  #set($sID = $oCust.CustomerId)
  <tr>
    <td width="2%" >
      #set($i = $no - 1)
      <input type="checkbox" class="cb" name="cb$!sID">
      <input type="hidden"  name="id$i" value="$!sID">
      <input type="hidden"  name="CustomerName$!sID" value="$!oCust.CustomerName">      
    </td>
    <td width="2%" >$!no</td>
    <td width="10%">#if($oCust.isDefault)<b>#end  $!oCust.CustomerCode </td>
    <td width="24%">
      <a href="javascript:openHistoryWindow('$!sID')">
      #if($oCust.isDefault)<b>#end 
      $!oCust.CustomerName
      </a>
    </td>
    <td width="7%"  >$!customertype.getCustomerTypeByID($!oCust.CustomerTypeId).getCustomerTypeCode()</td>
    <td width="12%" >$!employee.getEmployeeNameByID($!oCust.DefaultEmployeeId)</td>    
    <td width="6%"  >$!location.getCodeByID($!oCust.DefaultLocationId)</td>       
    <td width="6%"  >$!cf.fmt($!oCust.BirthDate)</td>                        
    <td width="10%" align="right"> $!cformat.formatAligned($!oCust.CreditLimit)</td>    
    <td width="10%" align="right">
      $!cformat.formatAligned($!customerbalance.getCustomerBalance($!sID).PrimeBalance)</a>
    </td>    
  </tr>        
  <tr>
    <td colspan="2">
    <td colspan="10">
      <input #width(240) name="Email$!sID" placeholder="Email" value="$!oCust.Email" OnKeyup="saveEmail('$!sID', event);">
      #spc(2)      
      #set($phn = "")
      #if($sutil.isNotEmpty($oCust.Phone1))
        #set($phn = $oCust.Phone1)      
      #elseif($sutil.isNotEmpty($oCust.Phone2))
        #set($phn = $oCust.Phone2)      
      #elseif($sutil.isNotEmpty($oCust.ContactPhone1))
        #set($phn = $oCust.ContactPhone1)      
      #elseif($sutil.isNotEmpty($oCust.ContactPhone2))
        #set($phn = $oCust.ContactPhone2)                    
      #end
      <input #width(160) name="ContactPhone1$!sID" placeholder="$!l10n.mobile_phone" value="$!phn" OnKeyup="savePhone('$!sID', event);">      
    </td>
  </tr>
  #set($no = $no + 1)
  #end ##end foreach
  #line(10)
</table>
#end ##end if Customers
</form>      
#end ##end if op
