
## i_DS_VENDOR = 1;
## i_DS_CUSTOMER = 2;
## i_DS_LOCATION = 3;
##
## i_DT_DAILY = 1;
## i_DT_MONTHLY = 2;

#set($dstype = $data.Parameters.getInt("dstype", 1))
#set($typeid = $data.Parameters.getString("typeid", ""))  
#set($locid = $data.Parameters.getString("locid", ""))  
#set($op = $data.Parameters.getInt("op", -1))
#set($dstool = $butil.getInstance("com.ssti.enterprise.pos.tools.DeliveryScheduleTool"))
#if($op == 1) ##SAVE 
#set($result = $dstool.saveDS($data))
#end  ##end if SAVE
#if($op == 2) ##DEL                     
#set($id = $data.Parameters.getString("id", ""))  
#set($result = $dstool.delDS($id))
#end ##end if DEL                              
#if($op == 4) ##VIEW                     
#set($id = $data.Parameters.getString("id", ""))  
#set($ds = $dstool.getByID($id))
#set($locid = $ds.LocationId)
#set($typeid = $ds.ExternalId)
#end ##end if VIEW                              

#set($title = "Delivery Schedule [$!dstool.getTypeDesc($dstype)]")

#if($sutil.isNotEmpty($result))
$data.setMessage($result)
#end
<script>
function save(op)
{
    var f = document.frm;
    f.op.value = op;
    if (validate(f))
    {
        f.submit();
    }
}
function validate(frm)
{
    var f = document.frm;
    if (f.op.value != 3)
    {        
        #if($dstype == 3)  
    	  #isEmpty ("frm" "LocationId")      	
        #else
          #isEmpty ("frm" "ExternalId")            
    	#end
    }
	return true;
}                
function showDays()
{
    var btn = document.getElementById('imgDays');
    var x = btn.x + 10;
    var y = btn.y - 180;    
    var f = document.frm;
    var url = '$link.setPage("setup,DiscountDays.vm")?fieldName=DeliveryDays';
    var daysWnd = window.open(url, 'daysWnd', 'toolbar=no,scrollbars=no,menubar=no,resizable=no,width=200,height=280,left=' + x + ',top=' + y);
    daysWnd.focus();
}

</script>
<form method="post" name="frm" action="$link.setPage("$data.ScreenTemplate")">
##<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>
<input type="hidden" name="dstype" value="$!dstype"/>
<input type="hidden" name="id" value="$!ds.Id"/>

<span class="txtTitle2">$title </span><br>
#if($data.Message)                    
<span class="txtMessage">$data.Message</span><br>
#end 
<table class="stdTable">
  #if($dstype != 3)
  <tr>
    <td>$!dstool.getTypeDesc($dstype)   </td>
    <td>
      #if($dstype == 1) ##VENDOR
        #vendorSB ($typeid "ExternalId" "$!l10n.vendor")
      #end 
      #if($dstype == 2) ##VENDOR      
        #custSB ($typeid "ExternalId" "$!l10n.customer" "")
      #end             
    </td>
  </tr>
  #else  
  #end ##end if not loc  
  <tr>
    <td #width("20%")>$!l10n.location  </td>
    <td>#locationSB($locid)</td>
  </tr>    
  <tr>
    <td>$!l10n.delivery_type</td>
    <td>
      <input type="radio" class="rb" name="DeliveryType" value="1" #if($ds.DeliveryType==1) checked #end >$!l10n.daily   #spc(2)
      <input type="radio" class="rb" name="DeliveryType" value="2" #if($ds.DeliveryType==2) checked #end >$!l10n.monthly
    </td>
  </tr>
  <tr>
    <td>Delivery Days</td>
    <td>
      <input type="text" size="25" name="DeliveryDays" value="$!ds.DeliveryDays" READONLY >
      <a href="#" OnClick="showDays();" title="$!l10n.view $!l10n.days">
       <i class="fa fa-search"></i><img id="imgDays"/>
      </a>      
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="hidden" name="id" value="$!oData.Id">
      <input type="hidden" name="op" value="1">                 
      #if($data.ACL.Permissions.containsName("Update Fixed Asset Setup"))
        <input type="button" OnClick="save(1);" value="$!l10n.save" #wid("" 120 240) />              
        #if($sutil.isNotEmpty($ds.Id))
        <input type="button" id="btnCancel" OnClick="save(2);" value="$!l10n.delete" #wid("" 120 240) id="btnCancel"/>                
        #end
      #end
   </td>
 </tr>
</table>
<br>              
#set($vData = $dstool.getDS($dstype))
#set($headings = ["No", "Type", "External ", "Location ", "Delivery Type", "Delivery Days", "&nbsp;"] )
<table class="altRowTable">
  <tr>
    #foreach ($heading in $headings)
    <td class="th2">$heading</td>
    #end
  </tr>
  #set($no = 1)
  #foreach ($oDT in $vData)
  <tr>
    <td width="5%">$!no</td>
    <td >$!oDT.TypeDesc</td>              
    <td >$!oDT.Entity.Name</td>              
    <td >$!oDT.Location.Name</td>              
    <td >$!oDT.DeliTypeDesc</td>          
    <td >$!oDT.DeliveryDays</td>
    <td >
      <ul class="rowLinkNav">    
      #rowDataLink ("$data.ScreenTemplate" "?dstype=$!{oDT.DsType}&id=${oDT.Id}&op=4" $!l10n.view "" "Update Master Data")
      </ul>
    </td>
  </tr>
   #set($no = $no + 1)
  #end
</table>		    
</form>


