#set($title = "$!l10n.employee" )
#set($bAdministrator = $data.ACL.Roles.containsName("Administrator"))
<script>
#if($preference.distInstalled())
function showRoleConfig()
{
    var url = '$link.setPage("setup,EmpRoleConfig.vm")?popup=true';
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">');
}
#end
#if($bAdministrator)
function viewUser(usr)
{
    var url = '$!link.setPage("user,FluxUserForm.vm")/username/' + usr + '?mode=modify';
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">');
}
function resetPwd(usr)
{
    if(confirm('Reset Password for User ' + usr + '?'))
    {    
        var url = '$link.setPage("user,FluxUserForm.vm").setAction("user.FluxUserAction")';
        var param = {eventSubmit_doUpdate:'update', username:usr, password:usr, op:1}
        jQuery.post(url, param, function(resp){ alert(resp); });
    }
}
#end
function validate(frm)
{
  #if(!$flux.Mode || $flux.Mode != "delete")
    #isEmpty ("frm" "EmployeeName")
    #isEmpty ("frm" "JobTitle")
  #end
}
</script>
#set($op = $data.Parameters.getInt("op"))
#set($vp = $data.Parameters.getString("viewParam"))

<form name="frm" method="post" onSubmit="return validate(this)"
  action="$link.setPage($data.ScreenTemplate).setAction("setup.EmployeeFormAction")">
<input type="hidden" name="op" value="-1">
<input type="hidden" name="viewParam" value="$!vp">

##<!-- TITLE SECTION -->
<table width="100%" cellspacing="0" cellpadding="2">
  <tr>
    <td colspan="4">
      <span class="txtTitle2">$title </span> #spc(8)
      #if($data.Message)
      <span class="txtMessage">$data.Message</span>
      #end
    </td>
  </tr>
</table>

<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>
<table class="stdTable">
  <tr>
    <td width="15%"><b>$!l10n.employee_code </td>
    <td width="35%">
      <input type="text" size="15" name="EmployeeCode" value="$!Employee.EmployeeCode" required >
    </td>
    <td width="15%">$!l10n.salesman</td>
    <td width="35%">
      <input type="checkbox" class="cb" name="IsSalesman" #if($Employee.IsSalesman) CHECKED #end >
    </td>
  </tr>
  <tr>
    <td><b>$!l10n.employee_name</td>
    <td>
      <input type="text" name="EmployeeName" value="$!Employee.EmployeeName" #wid("" 180 280) required >
    </td>
    <td>$!l10n.user_name #spc(2)
      #if($bAdministrator && $sutil.isNotEmpty($Employee.UserName))
      <a href="javascript:viewUser('$!Employee.UserName');"><i class="fa fa-search"></i></a>
      #end
      #if($bAdministrator && $sutil.isNotEmpty($Employee.UserName))
      #spc(2)
      <a href="javascript:resetPwd('$!Employee.UserName');" title="ResetPassword"><i class="fa fa-unlock-alt"></i></a>
      #end
    </td>
    <td>
      <input type="text" #wid("" 120 200) name="UserName" value="$!Employee.UserName" 
        #if(!$bAdministrator) READONLY #end >
    </td>
  </tr>
  <tr>
    <td><b>$!l10n.job_title</td>
    <td>
      <input type="text" name="JobTitle" value="$!Employee.JobTitle" #wid("" 180 280) required>
    </td>
    <td>Role </td>
    <td>
      #if($Employee.RoleId == 1 && !$bAdministrator)
      <input type="text" size="20" value="Administrator" READONLY >
      #else
      <select name="RoleId" #wid("" 120 200)>
        <option value="-1">-- Role --</option>
        #foreach ($role in $Roles)
          #if($role.Name != "Administrator" || $bAdministrator)
          <option value="$!role.getPrimaryKey()"
          #if( $Employee.RoleId.toString().equals($role.getPrimaryKey().toString()) )SELECTED #end>$!role.Name </option>
          #end
        #end
      </select>
      #end
      #if($preference.distInstalled() && $bAdministrator)
      <a href="#" OnClick="javascript:showRoleConfig();" title="Set Role Config">
        <i class="fa fa-cog"></i>
      </a>
      #end
    </td>
  </tr>
  <tr>
    <td >$!l10n.birth_place / $!l10n.date </td>
    <td >
      <input type="text" name="BirthPlace" value="$!Employee.BirthPlace" #wid("50%" 100 160) >/
      <input type="text" name="BirthDate" value="$!cf.fmt($!Employee.BirthDate)" #wid("40%" 60 100)>
      #cal("BirthDate" true)
    </td>
    <td><b>$!l10n.start_date </td>
    <td>
      <input type="text" #width(100) name="StartDate" value="$!cformat.formatDate($!Employee.StartDate)" required>
      #cal("StartDate" true)
      #if($flux.Mode=="update")
      -
      <input type="text" #width(100) name="QuitDate" value="$!cformat.formatDate($!Employee.QuitDate)" READONLY >
      ##cal("QuitDate" true)
      <script>
      function setNonActive()
      {
        var f = document.frm;
        if (f.NonActive.checked)
        {
           if(confirm('Non Active User?'))
           {
               f.QuitDate.readOnly=false;
               f.QuitDate.value = '$!cf.fmt($dutil.TodayDate)';
           }
           else
           {
               f.NonActive.checked = false;
               return false;
           }
        }
        else
        {
           f.QuitDate.value = '';
           f.QuitDate.readOnly=true;
           f.NonActive.checked = false;
        }
      }
      </script>
      <input type="checkbox" class="cb" name="NonActive" #if(!$Employee.IsActive) CHECKED #end OnClick="javascript:setNonActive();">
      #end
    </td>
  </tr>
  <tr>
    <td>$!l10n.gender</td>
    <td>
      <input type="radio" class="rb" name="Gender" value="1" #if($Employee.Gender==1) checked #end > $!l10n.male
      #spc(2)
      <input type="radio" class="rb" name="Gender" value="2" #if($Employee.Gender==2) checked #end >$!l10n.female
    </td>
    <td>
      <input type="text" class="text2" style="width:100%" name="Field1" value="$!Employee.Field1">
    </td>
    <td><input type="text" #wid("" 120 200) name="Value1" value="$!Employee.Value1"></td>
  </tr>
  <tr>
    <td>$!l10n.work_location</td>
    <td>
      #locationSB("$!Employee.LocationId")
    </td>
    <td>
      <input type="text" class="text2" style="width:100%" name="Field2" value="$!Employee.Field2">
    </td>
    <td><input type="text" #wid("" 120 200) name="Value2" value="$!Employee.Value2"></td>
  </tr>
  #if($preference.MultiDept)
  <tr>
    <td>$!l10n.department </td>
    <td>
     <select name="DepartmentId" #width("")>
       <option value=""> -- $!l10n.department -- </option>
       #foreach ($dept in $department.getDepartmentTree())
         #if(!$dept.HasChild)
         <option value="$dept.DepartmentId" #if($dept.DepartmentId == $!Employee.DepartmentId) SELECTED #end >
           $dept.DepartmentName
         </option>
         #end
       #end
     </select>
     <script>jQuery('select[name=DepartmentId]').select2();</script>
    </td>
    <td>Head </td>
    <td>
      #empTreeSB("ParentId" "$!Employee.ParentId")
      <script>jQuery('select[name=ParentId]').select2();</script>
    </td>
    ## <td>
    ##   Level: $!Employee.EmployeeLevel
    ## </td>        
  </tr>
  #end
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
</table>

#parse("navigations/tabs/EmployeeFormTab.vm")
##<!--PERSONAL DATA TAB-->
<div id="T11" class="tab-body">
  ## <table class="stdTable">
  ##   <tr>
  ##     <td valign="top" >$!l10n.address</td>
  ##     <td valign="top" >
  ##       <textarea type="text" rows="3" #wid("" 120 280) name="Address">$!Employee.Address</textarea>
  ##     </td>
  ##       <td valign="bottom">$!l10n.email</td>
  ##     <td valign="bottom"><input type="email" #wid("" 120 280) name="Email" value="$!Employee.Email"></td>
  ##   </tr>
  ##   <tr>
  ##     <td width="15%">$!l10n.city</td>
  ##     <td width="35%"><input type="text" #wid("" 120 280) name="City" value="$!Employee.City"></td>
  ##     <td width="10%">$!l10n.zip</td>
  ##     <td width="40%"><input type="number" #wid("" 100 120) name="Zip" value="$!Employee.Zip"></td>
  ##   </tr>
  ##   <tr>
  ##     <td>$!l10n.province</td>
  ##     <td><input type="text" #wid("" 120 280) name="Province" value="$!Employee.Province"></td>
  ##     <td>$!l10n.country</td>
  ##     <td><input type="text" #wid("" 120 280) name="Country" value="$!Employee.Country"></td>
  ##   </tr>
  ##   <tr>
  ##     <td>$!l10n.home_phone</td>
  ##     <td><input type="text" #wid("" 120 240) name="HomePhone" value="$!Employee.HomePhone"></td>
  ##     <td>$!l10n.mobile_phone</td>
  ##     <td><input type="text" #wid("" 120 240) name="MobilePhone" value="$!Employee.MobilePhone"></td>
  ##   </tr>
  ## </table>


  <table class="stdTable">
    <tr>
      <td valign="top" width="15%">$!l10n.address</td>
      <td valign="top" width="35%">
        <textarea type="text" rows="3" name="Address">$!Employee.Address</textarea>
      </td>
      ##<td valign="top" width="15%">$!l10n.ship_to</td>
      ##<td valign="top" width="35%">
      ##  <textarea type="text" rows="3" name="ShipTo">$!Employee.ShipTo</textarea>
      ##</td>
    </tr>
    <tr>
      <td>$!l10n.country</td>
      <td><input type="text" #width("") name="Country" value="$!Employee.Country"></td>
      <td>$!l10n.home_phone</td>
      <td><input type="text" #width("40%") name="HomePhone" value="$!Employee.HomePhone"></td>
    </tr>
    <tr>
      <td>$!l10n.province</td>
      <td>
        #set($vprov = $preference.AddressTool.AllProvince)
        #if($vprov.size() > 0)
        <select name="Province" id="Province" #width("")>
          <option>-- $!l10n.province --</option>
          #foreach($d in $vprov)
            <option value="$!d.Id" #if($d.Id == $Employee.Province) SELECTED #end >$!d.Name</option>
          #end
        </select>
        #else
        <input type="text" #width("") name="Province" value="$!Employee.Province">
        #end
      </td>
      <td>$!l10n.mobile_phone</td>
      <td><input type="text" #width("40%") name="MobilePhone" value="$!Employee.MobilePhone"></td>
    </tr>
    <tr>
      <td>$!l10n.city</td>
      <td>
        #if($vprov.size() > 0)
        <select name="City" id="City" #width("")>
          <option>-- $!l10n.city --</option>
          #if($sutil.isNotEmpty($Employee.Province))
          #foreach($d in $preference.AddressTool.getRegency("$!Employee.Province"))
          <option value="$!d.Id" #if($d.Id == $Employee.City) SELECTED #end >$!d.Name</option>
          #end ##end foreach
          #end ##end if
        </select>
        #else
        <input type="text" #width("") name="City" value="$!Employee.City">
        #end
      </td>
      <td >$!l10n.fax</td>
      <td ><input type="text" #width("40%") name="Fax" value="$!Employee.Fax"></td>
    </tr>
    <tr>
      <td>$!l10n.district</td>
      <td>
        #if($vprov.size() > 0)
        <select name="District" id="District" #width("")>
          <option>-- $!l10n.district --</option>
          #if($sutil.isNotEmpty($Employee.City))
          #foreach($d in $preference.AddressTool.getDistrict("$!Employee.City"))
          <option value="$!d.Id"  #if($d.Id == $Employee.District) SELECTED #end >$!d.Name</option>
          #end ##end foreach
          #end ##end if
        </select>
        #else
        <input type="text" #width("") name="District" value="$!Employee.District">
        #end
      </td>
      <td >$!l10n.email</td>
      <td ><input type="email" #width("80%") name="Email" value="$!Employee.Email"></td>
    </tr>
    <tr>
      <td>$!l10n.zip</td>
      <td><input type="number" min="1000" max="99999" #width("25%") name="Zip" value="$!Employee.Zip"></td>
      <td >$!l10n.web_site</td>
      <td ><input type="text" #width("80%") name="WebSite" value="$!Employee.WebSite"></td>
    </tr>
  </table>
</div>
##<!--END PERSONAL DATA TAB-->

##<!-- SALARY DATA TAB-->
<div id="T12" class="tab-body">
  <table class="stdTable">
    <tr>
      <td width="15%">$!l10n.commission_code</td>
      <td width="35%"><input type="text" #width("") name="CommisionCode" value="$!Employee.CommisionCode"></td>
        <td valign="top" rowspan="5">$!l10n.memo <br>
         <textarea type="text" style="width:95%;max-width:360px;height:72px;" name="Memo">$!Employee.Memo</textarea>
      </td>
    </tr>
    <tr>
      <td>$!l10n.monthly_salary</td>
    <td><input type="text" #width("") name="MonthlySalary" value="$!Employee.MonthlySalary"></td>
    </tr>
    <tr>
      <td>$!l10n.other_income</td>
        <td><input type="text" #width("") name="OtherIncome" value="$!Employee.OtherIncome"></td>
    </tr>
    <tr>
      <td>$!l10n.frequency</td>
        <td><input type="text" #width("") name="Frequency"
              value=#if($Employee.Frequency)"$!Employee.Frequency" #else "0" #end></td>
    </tr>
  </table>
</div>
##<!--END SALARY DATA TAB-->


##<!--DIST DATA TAB-->
  #if($preference.distInstalled())
<div id="T13" class="tab-body">
  <table class="stdTable">
    <tr>
      <td>$!l10n.territory </td>
      <td>
        #territorySB("TerritoryId" "$!Employee.TerritoryId")
      </td>
      <td>
        #territorySB("Territory1Id" "$!Employee.TerritoryId")
      </td>
      ##<td>
      ##  #territorySB("Territory2Id" "$!Employee.TerritoryId")
      ##</td>
    </tr>
    <tr>
      <td>$!l10n.sales_area </td>
      <td>
        #salesareaSB("SalesAreaId" "$!Employee.SalesAreaId")
      </td>
      <td>
        #salesareaSB("SalesArea1Id" "$!Employee.SalesArea1Id")
      </td>
      ##<td>
      ##  #salesareaSB("SalesArea2Id" "$!Employee.SalesArea2Id")
      ##</td>
    </tr>
  </table>
</div>
#end
##<!--END PERSONAL DATA TAB-->

<table class="stdTable">
  <tr>
    <td width="15%"></td>
    <td colspan="2">
      <input type="hidden" name="ID" value="$!Employee.EmployeeId">
      #if($data.ACL.Permissions.containsName("Update Employee Data"))
        #if($flux.Mode == "view")
        #elseif ($flux.Mode == "update" || $op == 4)
          <input type="submit" name="eventSubmit_doUpdate" value="$!l10n.update $title" />
        #elseif ($flux.Mode == "delete")
          <input type="submit" id="btnCancel" name="eventSubmit_doDelete" value="$!l10n.delete $title" />
        #else
          <input type="submit" name="eventSubmit_doInsert" value="$!l10n.add $title" />
        #end
      #end
   </td>
    <td></td>
  </tr>
  <tr>
     <td>
       #prevNext("$!Employee.EmployeeId" $employee)
     </td>
     <td colspan="2">
    </td>
    <td align="right">
      #if($Employee)
      <input type="button" value=" $!l10n.add " style="width:80px"
        OnClick="document.location.href='$link.setPage($data.ScreenTemplate)?mode=insert'"/>
      #end
      <input type="button" value=" $!l10n.find " style="width:80px"
        OnClick="document.location.href='$link.setPage("setup,EmployeeView.vm")?op=1$!vp'"/>
    </td>
  </tr>
</table>

</form>
<script>showTab('11');</script>

#set($addressJS = true)
#parse("screens/transaction/ajax/Address.vm")
