#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
$data.setLayoutTemplate("/Printable.vm")
#end

#set($title = "$!l10n.employee")
#set($cond = $data.Parameters.getInt("Condition"))
#set($orderby = $data.Parameters.getInt("OrderBy"))
#set($key = $data.Parameters.getString("Keywords",""))
#set($locid = $data.Parameters.getString("LocationId",""))
#set($areaid = $data.Parameters.getString("Saleareaid",""))
#set($terrid = $data.Parameters.getString("TerritoryId",""))
#set($bNA = $data.Parameters.getBoolean("NonActive"))

#set($pageParam = $tplutil.pageParam($data))
<script>
function printReport ()
{
    var url   = '${link.setPage($data.ScreenTemplate)}?printable=true$!{pageParam}' ;
    var prnWnd = window.open (url,'printWindow',
        'toolbar=no,scrollbars=yes,menubar=yes,resizable=yes,width=960,height=640,left=20,top=20');
    prnWnd.focus();
}
function printToExcel (sHelperClass)
{
    var url = '${data.ContextPath}/excel/employee.xls?helper_class='+ sHelperClass + '$!{pageParam}';
    var excelWnd = window.open (url, 'excelWnd',
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=480,left=20,top=20');
    excelWnd.focus();
}
</script>
<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>

##<!-- TITLE SECTION -->
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
    #if(!$printable)
    <td>
      <div align="right">      
        <a href="#" OnClick="printReport();">
          <img src="${data.ContextPath}/images/btn_print.gif" border="0"/>
        </a>
        <a href="#" title="Export $title"
          OnClick="printToExcel('com.ssti.enterprise.pos.excel.helper.EmployeeViewHelper');">
          <img src="${data.ContextPath}/images/btn_excel.gif" border="0" />
        </a>
      </div>
    <td>
    #end
  </tr>
</table>

##<!-- SEARCH -->
<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="op" value="1">
#if(!$printable)
<table class="searchTable">
  <tr> 
    <td>$!l10n.location : </td>    
    <td colspan="3">
      #locationSB($!locid)
    </td>
  </tr>
  <tr>
    <td>$!l10n.search_by : </td>
    <td>
      <select name="Condition" #width(150)>
        <option value="1"  #if($cond == 1)  SELECTED #end > $!l10n.employee_name </option>
        <option value="5"  #if($cond == 5)  SELECTED #end > $!l10n.employee_code </option>
        <option value="2"  #if($cond == 2)  SELECTED #end > $!l10n.job_title     </option>
        <option value="3"  #if($cond == 3)  SELECTED #end > $!l10n.location      </option>
        <option value="4"  #if($cond == 4)  SELECTED #end > $!l10n.user_name     </option>
        <option value="20" #if($cond == 20) SELECTED #end > $!l10n.birth_date    </option>        
      </select>
    </td>
    #if($preference.distInstalled())      
    <td>$!l10n.territory </td>
    <td>
      #territorySB("TerritoryId" "$!terrid")
    </td>
    #end
    <td colspan="2">
      <input type="checkbox" class="cb" name="NonActive" #if($bNA) CHECKED #end > Non Active
    </td>    
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(150) name="Keywords" value="$!key">
    </td>
    #if($preference.distInstalled())
    <td>$!l10n.sales_area </td>
    <td>
      #salesareaSB("Saleareaid" "$!areaid")
    </td>
    #end    
    <td colspan="2">
      <input type="Submit" value="$!l10n.search $title" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
<br>
#end
##<!-- END SEARCH SECTION -->
#if($Employees)
#if(!$printable) <div id="longListDiv"> #end
<table class="altRowTable">
  #set($headings = ["No","$!l10n.code","$!l10n.employee_name","$!l10n.user_name","$!l10n.role","$!l10n.job_title", "$!l10n.phone / $!l10n.mobile_phone","$!l10n.location",""] )
  #set($fields = ["","employeeCode","employeeName","userName","roleId","jobTitle", "homePhone","locationId",""] )
  
  #if($preference.distInstalled())
  #set($x = $headings.add(5,"Head"))
  #set($x = $fields.add(5,"parentId"))
  #set($x = $headings.add(9,"Area"))
  #set($x = $fields.add(9,"saleareaid"))
  #end

  #if($printable)
    <tr>#foreach($heading in $headings)<td class="th4">$heading</td>#end</tr>
  #else
    #sortableHeader ($headings $fields "th2" "sort2" true)
  #end

  #set($no = 1)
  #set($row = 1)
  #set($amt = $Employees.size())
  #foreach ($emp in $sortingtool.sort($Employees,$flux.Sort,$flux.ACDC))
  #set($vRoles = $employee.getRoles($emp.UserName))   
  <tr>
    <td>$!no</td>
    <td>$!emp.EmployeeCode</td>
    <td>$!emp.EmployeeName</td>
    <td>$!emp.UserName</td>
    <td title="$!sutil.toCSV($vRoles,"roleName")">
      $!employee.getRoleByID($emp.RoleId).RoleName  
      #if($vRoles.size() > 1) <i> ($!vRoles.size()) </i> #end         
    </td>
    #if($preference.distInstalled())
    <td>$!emp.Parent.Name</td>    
    #end
    <td>$!emp.JobTitle</td>
    #set($sPhone = $!emp.HomePhone)
    #if($sutil.isNotEmpty($!emp.HomePhone) && $sutil.isNotEmpty($!emp.MobilePhone))
      #set($sPhone = "$!emp.HomePhone / $!emp.MobilePhone")
    #end
    <td>
      <input type="text" class="text2" value="$!sPhone" #width(150) READONLY
        title="$!sutil.tooltip($!sPhone)" >
    </td>
    #set($sPhone = "")
    ##<td>$!cformat.formatLongDate($!emp.StartDate,$preference.Locale)</td>
    <td>$!location.getLocationNameByID($!emp.LocationId)</td>
    #if($preference.distInstalled())
    <td>$!emp.SalesArea.InternalCode</td>    
    #end
    <td>
      #if(!$printable) 
      <ul class="rowLinkNav">    
      #rowDataLink ("setup,EmployeeForm.vm" "?id=${emp.EmployeeId}&mode=update&viewParam=$!sutil.encode($!pageParam)" $!l10n.update "" "View Employee Data")
      #rowDataLink ("setup,EmployeeForm.vm" "?id=${emp.EmployeeId}&mode=delete&viewParam=$!sutil.encode($!pageParam)" $!l10n.delete "" "Update Employee Data")
      </ul>
      #end
    </td>
  </tr>
  #set($no=$no+1)
  #end
  #line(10)
</table>
#if(!$printable) </div> #end
#end

#if(!$printable)
<ul class="btmLinkNav">
#btmLinkMenu("setup,EmployeeForm.vm" "?mode=insert" "$!l10n.add $!title" "")
#btmLinkMenu("setup,ImportEmployeeData.vm" "" "$!l10n.load_excel_data" "")
#if($preference.distInstalled())
#btmLinkMenu("setup,ImportEmployeeTarget.vm" "" "$!l10n.load_excel_data (Target)" "")
#end
#if($data.ACL.Roles.containsName("Administrator"))
#btmLinkMenu("user,FluxUserList.vm" "" "$!l10n.user" "fa-user-circle-o")
#btmLinkMenu("role,FluxRoleList.vm" "" "$!l10n.role" "fa-cog")
#end
</ul>
#end
</form>
