#set($title = "$!l10n.fixed_asset_type" )

<script>
function validate(frm)
{
    #isEmpty      ("frm" "FixedAssetTypeCode")
}

function recalculateRate()
{
    var iMethod = document.frm.DepreciationMethod.value;
    var iLife = document.frm.EstimatedLife.value;
    
    if (iLife != '')
    {
        #isAllDigit ("frm" "EstimatedLife")
        if (iMethod == 1) { document.frm.DepreciationRate.value = 0;               } 
        if (iMethod == 2) { document.frm.DepreciationRate.value = 100 / iLife;     } 
        if (iMethod == 3) { document.frm.DepreciationRate.value = 100 / iLife * 2; }  
    }
}

function setFromFiscal()
{
	var sURL = '$link.setPage("setup,FixedAssetTypeFiscalSet.vm")?id=' + document.frm.FixedAssetFiscalId.value; 
	window.open(sURL,'itemLookup',
	    'toolbar=no,scrollbars=no,menubar=no,resizable=no,width=1,height=1,left=1600,top=1200');
}
</script>

<form method="post" onSubmit="return validate(this)" name="frm"
    action="$link.setPage($data.ScreenTemplate).setAction("setup.FixedAssetTypeSetupAction")">
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>
<span class="txtTitle2">$title </span><br>
#if($data.Message)                    
<span class="txtMessage">$data.Message</span><br>
#end 
<table class="stdTable">
  <tr>
    <td>$!l10n.fiscal_type</td>
    <td>
      <select name="FixedAssetFiscalId" OnChange="setFromFiscal();">
        <option value="">-- $!l10n.fixed_asset_fiscal --</option>

        #foreach ($oFA in $fixedassettype.getAllFixedAssetFiscal())
        <option value="$oFA.FixedAssetFiscalId" 
          #if($oFA.FixedAssetFiscalId == $FixedAssetType.FixedAssetFiscalId) SELECTED #end >
          $oFA.FixedAssetFiscalName</option>
        #end
      </select>
    </td>
  </tr>   
  <tr>
    <td width="25%">$!l10n.fa_type_code</td>
    <td><input type="text" size="20" name="FixedAssetTypeCode" value="$!FixedAssetType.FixedAssetTypeCode"></td>
  </tr>
  <tr>
    <td>$!l10n.description</td>
    <td><input type="text" size="50" name="Description" value="$!FixedAssetType.Description"></td>
  </tr>
  <tr>
    <td>$!l10n.depr_method</td>
    <td>
      <select name="DepreciationMethod" OnChange="recalculateRate();">
        <option value="1" #if($!FixedAssetType.DepreciationMethod == 1) SELECTED #end >$!l10n.non_depreciable  </option>
        <option value="2" #if($!FixedAssetType.DepreciationMethod == 2) SELECTED #end >$!l10n.straight_line    </option>
        <option value="3" #if($!FixedAssetType.DepreciationMethod == 3) SELECTED #end >$!l10n.double_declining </option>                 
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.est_life</td>
    <td>
      <input type="text" size="6" name="EstimatedLife" value="$!FixedAssetType.EstimatedLife" OnChange="recalculateRate();">
    </td>
  </tr>
  <tr>
    <td>$!l10n.depr_rate</td>
    <td>
      <input type="text" size="6" name="DepreciationRate" value="$!FixedAssetType.DepreciationRate" READONLY > %   
    </td>
  </tr>                       
  
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td><b>$!l10n.default_fa_account</b></td>
    <td>&nbsp;</td>
  </tr>           
  <tr>
    <td>$!l10n.asset_account</td>
    <td>
      #set($vAcc = $account.getAccountByType(5, false, true))
      <select name="AssetAccount" #width(250)>
        #foreach ($acc in $vAcc) 
        <option value="$acc.AccountId" #if($FixedAssetType.AssetAccount == $acc.AccountId) SELECTED #end>
          $acc.AccountCode &nbsp; $acc.AccountName
        </option>
        #end
      </select>
    </td>
  </tr>           
  <tr>
    <td>$!l10n.accum_depr_account</td>
    <td>
      #set($vAcc = $account.getAccountByType(6, false, true))
      <select name="AccDeprAccount" #width(250)>
        #foreach ($acc in $vAcc) 
        <option value="$acc.AccountId" #if($FixedAssetType.AccDeprAccount == $acc.AccountId) SELECTED #end>
          $acc.AccountCode &nbsp; $acc.AccountName
        </option>
        #end
      </select>
    </td>    
  </tr>
  <tr>
    <td>$!l10n.depr_exp_account</td>
    <td>
      #set($vAcc = $account.getAccountByType(13, false, true))
      <select name="DeprExpAccount" #width(250)>
        #foreach ($acc in $vAcc) 
        <option value="$acc.AccountId" #if($FixedAssetType.DeprExpAccount == $acc.AccountId) SELECTED #end>
          $acc.AccountCode &nbsp; $acc.AccountName
        </option>
        #end
      </select>
    </td>
  </tr>                         
  <tr>
    <td>&nbsp;</td>
    <td>
      #hiddenField ("ID" $!FixedAssetType.FixedAssetTypeId)
      #if($data.ACL.Permissions.containsName("Update Fixed Asset Setup"))
        #if($flux.Mode == "delete")
          <input type="submit" name="eventSubmit_doDelete" value="$!l10n.delete $!title" id="btnCancel"/>
        #elseif ($flux.Mode == "update")
          <input type="submit" name="eventSubmit_doUpdate" value="$!l10n.update $title"/>
        #else
          <input type="submit" name="eventSubmit_doInsert" value="$!l10n.add $title"/>
        #end
      #end
   </td>
 </tr>
</table>
<ul class="btmLinkNav">
#btmLinkMenu("setup,FixedAssetTypeSetup.vm" "" "$!l10n.view $!title" "")
</ul>
</form>
