#set($title = "$!l10n.category [$!l10n.fixed_asset]" )
$data.setLayoutTemplate("/Printable.vm")
<br>
<table width="100%" cellspacing="0" cellpadding="4">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td colspan="6"><hr></td>
        </tr>		        
        <tr>
          <td colspan="6"><span class="txtTitle2">$title</span></td>
        </tr>		        
        <tr>
          <td colspan="6"><hr></td>
        </tr>		        
        #foreach ($oKat in $fakategori.getKategoriTreeList("", false))
        <tr>
          <td>
            #if($oKat.KategoriLevel > 1)
              #foreach ($i in [2..$oKat.KategoriLevel])
                &nbsp;&nbsp;&nbsp;&nbsp;
              #end
            #end
            
            #if($fakategori.hasChild($oKat.KategoriId)) <b> #end
            $!oKat.KategoriCode  -  $!oKat.Description
          </td>
          		        
        </tr>
        #end
        <tr>
          <td colspan="6"><hr></td>
        </tr>		        
      </table>
    </td>
  </tr>
</table>