#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
$data.setLayoutTemplate("/Printable.vm")
#else
$data.setLayoutTemplate("/PopupWindow.vm")
#end
#set($itmid = $data.Parameters.getString("itemid",""))
#set($locid = $data.Parameters.getString("locid",""))
#set($loc = $!location.getLocationByID($locid))
#set($itm = $item.getItemByID($itmid))
#set($Discounts = $itm.getPromo($locid))
#set($title = "$!l10n.discount_mgmt")
<span class="txtTitle2">
$!title  Filter: $!l10n.item_code: $!itm.ItemCode - $!l10n.location: $!loc.Name
</span>
<br><br>
#if(!$printable)<div id="longListDiv" style="height:85vh;">#end
#set($headings = ["No","$!l10n.promo_code","$!l10n.discount_code","$!l10n.description","$!l10n.location","$!l10n.discount_type","$!l10n.location","$!l10n.customer_type","$!l10n.start_date", "$!l10n.end_date","Disc Value","NormalPrice","DiscPrice","Other","&nbsp;"] )
<table class="altRowTable">  
  <tr>
    #foreach($hdg in $headings)
    <td class="th2">$!hdg</td>
    #end
  </tr>
  #set($no = 1)  
  #set($amt = $Discounts.size())
  #set($dPrice = $itm.getPrice("$!locid",""))
  #foreach ($oDisc in $sortingtool.sort($Discounts, $flux.Sort,$flux.ACDC))    
  <tr style="vertical-align:top;">
    <td>$!no</td>
    <td>$!oDisc.PromoCode</td>    
    <td>$!oDisc.DiscountCode</td>
    <td>$!oDisc.Description </td>
    <td>
      #set($vLoc = $sutil.toList($oDisc.LocationId,","))
      #foreach($sLocID in $vLoc)
      $!location.getLocationByID($sLocID).Code #if($vLoc.size() > 1) <br> #end 
      #end    
    </td>
    <td>$!discount.getTypeStr($!oDisc.DiscountType)</td> 
    <td>
      #set($vLoc = $sutil.toList($oDisc.LocationId,","))
      #foreach($sLocID in $vLoc)
      $!location.getLocationByID($sLocID).Code #if($vLoc.size() > 1) <br> #end 
      #end
    </td>    
    <td>$!oDisc.CustomerType.Code</td>
    <td>$!cf.fmt($!oDisc.EventBeginDate)</td>
    <td>$!cf.fmt($!oDisc.EventEndDate)</td>
    <td>      
      #if($oDisc.DiscountType == 1) $oDisc.EventDiscount
      #elseif($oDisc.DiscountType == 8)
        #set($dAmt = $cal.sub($dPrice,$cal.calculateDiscount($oDisc.EventDiscount,$dPrice)))
        $!cf.fmt($dAmt)
      #else N/A 
      #end      
    </td>
    <td>$!cf.fmt($dPrice)</td>
    <td>      
      #if($oDisc.DiscountType == 1)
      #set($dAmt = $cal.calculateDiscount($oDisc.EventDiscount,$dPrice))
      #elseif($oDisc.DiscountType == 8)
      #set($dAmt = $cal.sub($dPrice,$cal.calculateDiscount($oDisc.EventDiscount,$dPrice)))
      #end ##end if  
      #if($oDisc.DiscountType == 1 || $oDisc.DiscountType == 8) 
      $!cf.fmt($!cal.sub($dPrice,$dAmt))   
      #else N/A 
      #end    
    </td> 
    <td>
      #if($oDisc.DiscountType == 5)
        ## <table width="99%" cellspacing="0" cellpadding="2">
        ##   #set($pwpBuy = $pwptool.getBuyByID($oDisc.DiscountId,$null))
        ##   #set($headings = ["No", "$!l10n.item_code", "$!l10n.item_name", "$!l10n.qty", "$!l10n.price"])
        ##   <tr class="th4">
        ##     <td colspan="$headings.size()">Buy Items</td>
        ##   </tr>
        ##   #set($no = 1)
        ##   #foreach ($buy in $pwpBuy)
        ##   #set($oItem = $item.getItemByID($buy.BuyItemId))
        ##   <tr cellpadding="0">
        ##     <td width="20"  >
        ##       <input #stdin ("No${no}" "$no" 20 false) >
        ##     </td>
        ##     <td width="120">
        ##       <input #stdin ("" "$!oItem.ItemCode" 120 false) >
        ##     </td>
        ##     <td width="180">
        ##       <input #stdin ("" "$!oItem.ItemName" 180 false) >
        ##     </td>
        ##     <td width="100">
        ##       <input #stdin ("" "$!cf.fmt($!buy.BuyQty)" 100 false) >
        ##     </td>
        ##     <td width="150">
        ##       <input #stdin ("" "$!cf.fmtAlg($!buy.BuyPrice)" 150 false) >
        ##     </td>
        ##   </tr>
        ##   #set($no = $no + 1)
        ##   #end ##end foreach pwp buy
        ##   #set($pwpGet = $pwptool.getGetByID($oDisc.DiscountId,$null))
        ##   <tr class="th4">
        ##     <td colspan="$headings.size()">Get Items</td>
        ##   </tr>
        ##   #set($no = 1)
        ##   #foreach ($get in $pwpGet)
        ##   #set($oItem = $item.getItemByID($get.GetItemId))
        ##   <tr cellpadding="0">
        ##     <td width="20"  >
        ##       <input #stdin ("No${no}" "$no" 20 false) >
        ##     </td>
        ##     <td width="120">
        ##       <input #stdin ("" "$!oItem.ItemCode" 120 false) >
        ##     </td>
        ##     <td width="180">
        ##       <input #stdin ("" "$!oItem.ItemName" 180 false) >
        ##     </td>
        ##     <td width="100">
        ##       <input #stdin ("" "$!cf.fmt($!get.GetQty)" 100 false) >
        ##     </td>
        ##     <td width="150">
        ##       <input #stdin ("" "$!cf.fmtAlg($!get.GetPrice)" 150 false) >
        ##     </td>
        ##   </tr>
        ##   #set($no = $no + 1)
        ##   #end ##end foreach pwp buy
        ## </table>
      #end ##end if DiscountType    
      #if($oDisc.DiscountType == 6)
        Buy: $!cf.fmt($!oDisc.BuyQty) Get: $!cf.fmt($!oDisc.GetQty)
      #end
    </td> 
    ## <td>$!oDisc.Kategori.Code</td>
    ## <td>$!sutil.replace($!oDisc.Items,",","<br>")</td>    
    ## <td>$!sutil.replace($!oDisc.Barcodes,",","<br>")</td>        
    ## <td>$!sutil.replace($!oDisc.KatItemDesc,",","<br>")</td>                 
    ## #if($det)       
    ## #set($sBR = "")  #if($oDisc.ListOfItems.size() > 1) #set($sBR = "<br>") #end
    ## <td align="right">            
    ##   #foreach($oItem in $oDisc.ListOfItems)
    ##   $!cf.fmt($!oItem.ItemPrice) $sBR
    ##   #end
    ## </td>    
    ## <td align="right">
    ##   #foreach($oItem in $oDisc.ListOfItems)
    ##   $!cf.fmt($!oItem.getPrice("$!locid","")) $sBR 
    ##   #end    
    ## </td>        
    ## <td align="right">            
    ##   #foreach($oItem in $oDisc.ListOfItems)
    ##     #set($dPrice = $oItem.getPrice("$!locid",""))
    ##     #if($oDisc.DiscountType == 1)
    ##     #set($dAmt = $cal.calculateDiscount($oDisc.EventDiscount,$dPrice))
    ##     #elseif($oDisc.DiscountType == 8)
    ##     #set($dAmt = $cal.sub($dPrice,$cal.calculateDiscount($oDisc.EventDiscount,$dPrice)))
    ##     #end ##end if  
    ##     #if($oDisc.DiscountType == 1 || $oDisc.DiscountType == 8)       
    ##     $!cf.fmt($!cal.sub($dPrice,$dAmt)) $sBR   
    ##     #else N/A $sBR
    ##     #end
    ##   #end              
    ## </td>        
    ## #end ##end
       
    ## <td>                    
    ## #if(!$printable)
    ## <input #stdin("" "$!oDisc.KatItemDesc" 180 false)>
    ## #else
    ## $!oDisc.KatItemDesc
    ## #end
    ## </td>
    <td>
      #if(!$printable)
      <ul class="rowLinkNav">
      ## #if(!$bAllowUpdate)
      #rowDataLink ("setup,DiscountSetupForm.vm" "?id=${oDisc.Id}&mode=view" $!l10n.view "" "View Discount Setup")
      ## #end      
      ## #rowDataLink ("setup,DiscountSetupForm.vm" "?id=${oDisc.Id}&mode=update" $!l10n.update "" "Update Discount Setup")
      ## #rowDataLink ("setup,DiscountSetupForm.vm" "?id=${oDisc.Id}&mode=delete" $!l10n.delete "" "Update Discount Setup")
      </ul>
      #end
    </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
#if(!$printable)</div>#end
</form>

