$data.setLayoutTemplate("/Empty.vm")
#set($sName  = $data.Parameters.getString("Name",""))
#if($sutil.isNotEmpty($sName)) 
  #set($vItems = $item.getItemByName($sName,true,true)) 
#else
  #set($sDesc  = $data.Parameters.getString("Desc",""))
  #set($vItems = $item.getItemByDescription($sDesc,true,true))
#end
<ul>
#foreach ($oItem in $vItems)
<li>$oItem.ItemName
#end
</ul>