#set($printable = $data.Parameters.getBoolean("printable"))
#set($excel = $data.Parameters.getBoolean("excel"))
#if($printable)      
  $data.setLayoutTemplate("Printable.vm")    
#end                  
                      
#set($headings = ["No","$!l10n.item_code", "$!l10n.item_name", "$!l10n.location","$!l10n.customer_type", ""] )
#set($fields = ["No","", "","", ""] )
#set($title = "Min. $!l10n.sales_price" )
#set($op = $data.Parameters.getInt("op"))
#set($itmcode = $data.Parameters.getString("ItemCode"))
#set($loccode = $data.Parameters.getString("LocationCode"))
#set($ctypecode = $data.Parameters.getString("CustomerTypeCode"))
#set($pageParam = "&op=1&ItemCode=$!itmcode&LocationCode=$!loccode&CustomerTypeCode=$!ctypecode")
#if($op == 1)
#set($v = $itemminprice.findData($itmcode, $loccode, $ctypecode))
#end
#if($op == 2)
#set($id = $data.Parameters.getString("id"))
#set($res = $itemminprice.delete($id))
#set($v = $itemminprice.findData($itmcode, $loccode, $ctypecode))
#end
#reportPrintJS()
#if(!$printable)
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" width="1%">&nbsp;</td>
    <td valign="top" width="98%">
      <form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
      <input type="hidden" name="op" value="1">
      <!-- TITLE SECTION -->
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td><span class="txtTitle2">$title</span></td>
          #reportPrintBtn()
        </tr>
      </table>
      <br>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td>$!l10n.item_code :     #spc(2)</td><td><input type="text" #width(120) name="ItemCode" value="$!itmcode">          #spc(2)</td>
          <td>$!l10n.location_code : #spc(2)</td><td><input type="text" #width(120) name="LocationCode" value="$!loccode">      #spc(2)</td>
          <td>$!l10n.customer_type : #spc(2)</td><td><input type="text" #width(120) name="CustomerTypeCode" value="$!ctypecode">#spc(2)</td>
          <td><input type="submit" value="$!l10n.view">#spc(2)</td>
        </tr>
      </table>
      </form>
      <br>
#end
      
      <!-- END TITLE SECTION -->
      <table width="100%" cellspacing="0" cellpadding="4">
        #line(10)
        <tr class="th2">
          #if(!$excel)<td>No</td>#end
          <td>#if(!$excel)$!l10n.item_code #else Item Code #end</td>
          #if(!$excel)<td>$!l10n.item_name</td>#end
          <td>$!l10n.location </td>
          <td>$!l10n.customer_type</td>
          <td #width(150) align="center">Min. $!l10n.sales_price</td>          
          #if(!$printable)
          <td>&nbsp;</td>       
          #end   
        </tr>
        #line(10)
        
        #set($no = 1)
        #foreach ($imp in $v)
        #set($itm = $item.getItemByID($imp.ItemId))
        #set($loc = $location.getLocationByID($imp.LocationId))
        #set($ctype = $customertype.getCustomerTypeByID($imp.CustomerTypeId))
        <tr>
          #if(!$excel)<td class="tbs">$!no</td>#end
          <td class="tbs">$!itm.ItemCode</td>
          #if(!$excel)<td class="tbs">$!itm.ItemName</td>#end
          <td class="tbs">$!loc.LocationCode #if(!$excel)- $!loc.LocationName #end</td>
          <td class="tbs">$!ctype.CustomerTypeCode #if(!$excel)- $!ctype.Description #end</td>
          <td class="tbs" align="right">#if(!$excel) $!cformat.formatNumber($!imp.MinPrice) #else $!imp.MinPrice #end</td>
          #if(!$printable)
          <td class="tbs" align="center">
             <a href="$link.setPage($data.ScreenTemplate)?op=2&id=$!imp.ItemMinPriceId">$!l10n.delete</a>
          </td>       
          #end   
        </tr>
        #set($no = $no + 1)
        #end
        #line(10)
      </table>
      
      #if(!$printable)
      <br>
      <a href="$link.setPage($data.ScreenTemplate)">$!l10n.view $title</a>#spc(4)
      <a href="$link.setPage("setup,ImportItemMinPrice.vm")">$!l10n.import $title</a>#spc(4)
      <br><br>
      #end
    </td>
#if(!$printable)
<td valign="top" width="1%">&nbsp;</td>
  </tr>
</table>
#end






