<script type="application/javascript" src="${data.ContextPath}/javascript/nanotree.js"></script>

#set($title = "$!l10n.category_data" )
<script>
showRootNode = true;
sortNodes = false;
dragable = false;

function printToExcel (sHelperClass) 
{
    var sURL     = '${data.ContextPath}/excel/kategori.xls?helper_class='+ sHelperClass;
    var excelWnd   = window.open (sURL, 'excelWnd', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=720,height=480,left=20,top=20');
    excelWnd.focus();                                                     
}
function standardClick(treeNode)
{
    var param = treeNode.getParam();
    getKategori(param);
}
function getKategori(sID) 
{
    var url = '$link.setPage("setup,KategoriLookup.vm")';
    var param = 'ajax=true&KategoriID=' + sID; 
    jQuery.post(url,param,function(resp){eval(resp);} );  
}
function validateParent(frm)
{
    if (document.frm.parentid.value == '')
    {
        alert ('Select Kategori From Tree First');
    }

    #isEmpty("frm" "parentcode")
    #isEmpty("frm" "parentdesc")
    #isCharsValid ("frm" "parentcode")
    #isCharsValid ("frm" "parentdesc") 

    return true;
}
function validate(frm)
{
    #isEmpty ("frm" "kategoricode")
    #isEmpty ("frm" "description")

    #isCharsValid ("frm" "kategoricode")
    #isCharsValid ("frm" "description")     
}
function deleteKategori()
{
    if (validateParent(document.frm))
    {
        if(confirm('$!l10n.delete $!l10n.category ' + document.frm.parentcode.value + ' ?' ))
        {
            document.frm.op.value = '1';
            document.frm.submit();
        }
    }
}
function updateKategori()
{
    if (validateParent(document.frm))
    {
        document.frm.op.value = '2';
        document.frm.submit();
    }
}
function setKategoriAccount()
{
    var sKategoriID = document.frm.parentid.value;
    if (sKategoriID != '')
    {
        var sURL = '${link.setPage("setup,KategoriAccount.vm")}?KategoriId=' + sKategoriID;    
        var wndAcc = window.open(sURL, 'wndAcc', 
            'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=720,height=560,left=20,top=20');
        wndAcc.focus();
    }
}
</script>

<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title </span></td>
    #if($data.Message)
    <td><span class="txtMessage">$data.Message</span></td>   
    #end
    <td align="right" rowspan="2" width="15%">
      #if($preference.isHO())
      <a href="#" title="Export $title"
        OnClick="printToExcel('com.ssti.enterprise.pos.excel.helper.KategoriViewHelper');">
      <img src="${data.ContextPath}/images/btn_excel.gif" border="0" /></a>
                      
      <a href="#" title="Print Report"
        OnClick="msgDetail=window.open('$link.setPage("setup,KategoriPrint.vm")', 'printWindow', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=600,left=20,top=20')">
      <img src="${data.ContextPath}/images/btn_print.gif" border="0"/></a>

      #end
    </td>
  </tr>
</table>

<style>
#katCol   {min-width:240px; position:relative;}
#detCol   {min-width:480px; position:relative;}
.innerTbl {width:100%;margin:0;padding:2px;}
@media (max-width:600px) 
{      
    #katCol   {display:block;}
    #detCol   {display:block;min-width:320px;}
    body      {font-size:0.8em;}
    #footerRow1 {display:none}            
    #footerRow2  td {display:none}   
}
</style>

<!-- END TITLE SECTION -->
<table class="stdTable">
  <tr>
    <td id="katCol" valign="top">
      ##<!-- CATEGORY TREE -->
      <table class="innerTbl">
         <tr class="th2">
           <td>
             <a href="$link.setPage($data.ScreenTemplate)" title="Root Kategori" >
             <img src="${data.ContextPath}/images/btn_up.gif" border="0" height="12" width="12"></a>                        
             <b>$!l10n.category</b>       
           </td>
        </tr>
        <tr><td><div id="categorytree"></div></td></tr>
       </table>
    </td>
    <td id="detCol" valign="top">
      <form name="frm" method="post" onSubmit="return validate(this)"
          action="$link.setPage($data.ScreenTemplate).setAction("setup.KategoriSetupAction")" >
        
        <input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>

        <!-- ADD CATEGORY FORM -->
          <input type="hidden" name="parentid" value="">
          <table class="innerTbl">
            <tr class="th2">
              <td colspan="2"><b>$!l10n.existing_category / $!l10n.parent_category</b></td>
            </tr>
            <tr height="8"><td colspan="2"></td></tr>
            <tr>
              <td width="25%" valign="bottom">$!l10n.category_code</td>
              <td width="75%" valign="bottom"><input type="text" name="parentcode" #width(100)></td>
            </tr>                          
            <tr> 
              <td>$!l10n.parent_category</td>
              <td><input type="text" name="parentdesc" #width("") ></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>
              <input type="hidden" name="op" >
              #if($data.ACL.Permissions.containsName("Update Kategori Data"))
              <input type="button" value="$!l10n.update $!l10n.category"
                      OnClick="javascript:updateKategori();">
              <input type="button" id="btnCancel" name="btnCancel" value="$!l10n.delete $!l10n.category"
                      OnClick="javascript:deleteKategori();">
              #if($data.ACL.Permissions.containsName("Update Chart Of Account"))
              <input type="button" id="btnAcc" name="btnAcc" value="$!l10n.update $!l10n.account"
                      OnClick="javascript:setKategoriAccount();">                    
              #end
              #end
              </td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="th2">
              <td colspan="2"><b>$!l10n.new_category</b></td>
            </tr>
            <tr height="8"><td colspan="2"></td></tr>
            <tr>  
              <td>$!l10n.category_code</td>
              <td><input type="text" name="kategoricode" #width(100)></td>
            </tr>
            <tr>
              <td>$!l10n.description</td>
              <td><input type="text" name="description" #width("") OnBlur="document.frm.eventSubmit_doInsert.focus();"></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>
              #if($data.ACL.Permissions.containsName("Update Kategori Data"))
              <input type="submit" name="eventSubmit_doInsert" value="$!l10n.add $!l10n.category">
              #end
              </td>
            </tr>
          </table>
        </form>
     </td>
   </tr>
</table>
#if($preference.isHO() && $data.ACL.Permissions.containsName("Update Kategori Data"))
<ul class="btmLinkNav">
#btmLinkMenu("setup,ImportKategoriData.vm" "" "$!l10n.load_excel_data" "")
#if($data.ACL.Permissions.containsName("Update Item Data"))
#btmLinkMenu("setup,PrincipalSetupForm.vm" "" "$!l10n.view $!l10n.manufacturer" "")
#btmLinkMenu("setup,BrandSetupForm.vm" "" "$!l10n.view $!l10n.brand" "")
#end
</ul>
#end

<script>
var closedGif = '${data.ContextPath}/images/tree/folder_closed.gif';
var openGif   = '${data.ContextPath}/images/tree/folder_open.gif';
var pageIcon  = '${data.ContextPath}/images/tree/page16x16.gif';
var userIcon  = '${data.ContextPath}/images/tree/user_16x16.gif';
var helpIcon  = '${data.ContextPath}/images/tree/help_16x16.gif';
var treeImg   = new Array(closedGif,openGif);

$kategori.getKategoriJSTree()
container = document.getElementById('categorytree');
showTree('$data.ContextPath');
</script>
