#set($title = "$!l10n.location")
#set($vp = $data.Parameters.getString("viewParam"))
#set($bPrefLoc = false) ##is location used in preference
#if(!$sutil.empty($Location.Name) && $preference.LocationName == $!Location.Name)
#set($bPrefLoc = true)
#end 
<script>
function validate(frm)
{
    var f = document.frm;
    #isEmpty ("frm" "LocationCode")
    #isLengthValid ("frm" "LocationCode" 5)
    #isEmpty ("frm" "LocationName")
    #if($bPrefLoc) 
    if(f.LocationName.value != '$!Location.LocationName' &&
       !confirm('Warning: Location is used by License, are you sure want to change name?')) {
       f.LocationName.value = '$!Location.Name';
       return false;
    }
    #end
    #isCharsValid ("frm" "LocationName")
    #isLengthValid ("frm" "LocationName" 50)
    #isEmpty ("frm" "LocationAddress")
    #isEmpty ("frm" "Description")
    #isAllDigit("frm" "HoStoreLeadtime")

}
function setLongLat()
{
    if (navigator.geolocation)
    {
        processing('Waiting for GPS Location...');
        navigator.geolocation.getCurrentPosition(setPos,showGeoError);        
    }
    else
    {
        alert("Geolocation is not supported by this browser.");
    }
}
function setPos(position)
{    
    var f = document.frm;
    f.Longitudes.value = position.coords.longitude;
    f.Latitudes.value = position.coords.latitude;
    unload();
}
</script>

<form method="post" name="frm" onSubmit="return validate(this)"
  action="$link.setPage($data.ScreenTemplate).setAction("setup.LocationSetupAction")">
<input type="hidden" name="_session_access_counter" value="$data.User.getTemp("_session_access_counter")"/>
<input type="hidden" name="viewParam" value="$!vp">
<span class="txtTitle2">$title </span><br>
#if($data.Message)
<span class="txtMessage">$data.Message</span><br>
#end
<table class="stdTable">
  <tr>
    <td width="20%">$!l10n.location_code</td>
    <td><input type="text" size="10" name="LocationCode" value="$!Location.Code" required ></td>
  </tr>
  <tr>
    <td>$!l10n.location_name</td>
    <td>
      #set($bRO = false)
      #set($oLC = $data.Session.getAttribute("License"))      
      #if($bPrefLoc && $oLC.LicenseType == 2) #set($bRO = true) #end  ##if license full set READONLY
      <input type="text" size="50" name="LocationName" value="$!Location.Name" #if($bRO) READONLY #end required>    
    </td>
  </tr>
  <tr>
    <td>$!l10n.location_address</td>
    <td>
      <textarea type="text" rows="4" cols="50" name="LocationAddress">$!Location.LocationAddress</textarea>
    </td>
  </tr>
  <tr>
    <td>$!l10n.phone</td>
    <td>
      <input type="text" size="40" name="LocationPhone" value="$!Location.LocationPhone" >
    </td>
  </tr>
  <tr>
    <td>$!l10n.email</td>
    <td>
      <input type="email" size="40" name="LocationEmail" value="$!Location.LocationEmail" >
    </td>
  </tr>
  <tr>
    <td>URL</td>
    <td>
      #if($preference.medicalInstalled() && !$prerefence.syncInstalled())
      <input type="text" #width("") name="LocationUrl" value="$!Location.LocationUrl" >
      #else
      <input type="url" size="40" name="LocationUrl" value="$!Location.LocationUrl" >
      #end
    </td>
  </tr>
  <tr>
    <td>$!l10n.site</td>
    <td>
      #selectBox ("SiteId" "$!Location.SiteId" "" $site.getAllSite() "siteName")
    </td>
  </tr>
  <tr>
    <td>$!l10n.inventory_type</td>
    <td>
      <select name="InventoryType">
        <option value="1" #if($Location && $Location.InventoryType == 1) selected #end > NORMAL  </option>
        <option value="2" #if($Location && $Location.InventoryType == 2) selected #end > MINUS   </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.location_type</td>
    <td>
      <select name="LocationType">
        <option value="1" #if($Location && $Location.LocationType == 1) selected #end > $!l10n.head_office </option>
        <option value="2" #if($Location && $Location.LocationType == 2) selected #end > $!l10n.store       </option>
        <option value="3" #if($Location && $Location.LocationType == 3) selected #end > $!l10n.warehouse   </option>
        <option value="4" #if($Location && $Location.LocationType == 4) selected #end > $!l10n.consignment </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.ho2store_lead_time</td>
    <td>    
      #set($lt = 1)
      #if($Location.HoStoreLeadTime) #set($lt = $Location.HoStoreLeadTime) #end
      <input type="number" name="HoStoreLeadtime" #width(80) value="$!lt"> $!l10n.days
    </td>
  </tr>
  <tr>
    <td>$!l10n.description</td>
    <td>
      <input type="text" size="50" name="Description" value="$!Location.Description"
        #if(!$Location.Description) OnFocus="if(this.value==''){this.value=document.frm.LocationName.value;this.select();}" #end >
    </td>
  </tr>
  #set($vAll = $account.getAllChildAccount())
  <tr>
    <td>$!l10n.item_transfer ($!l10n.account)</td>
    <td>
      <select name="TransferAccount" #width("60%")>
        <option value="">-- $!l10n.account --</option>
        #foreach ($acc in $vAll)
        <option value="$acc.AccountId" #if($Location.TransferAccount == $acc.AccountId) SELECTED #end>
          $acc.AccountCode &nbsp; $acc.AccountName
        </option>
        #end
      </select>
    </td>
  </tr>
  <tr>
    <td>Longitudes/Latitudes:</td>
    <td colspan="2">
      <input type="text" #width(100) name="Longitudes" value="$!Location.Longitudes" >/
      <input type="text" #width(100) name="Latitudes"  value="$!Location.Latitudes"  >
      #if($sutil.isNotEmpty("$!Location.Longitudes") && $sutil.isNotEmpty("$!Location.Latitudes"))
      <a href="#" Onclick="viewMaps('$!{Location.Latitudes},$!{Location.Longitudes}');" class="faicon" title="View Maps">
      <i class="fa fa-map "></i>
      </a>
      #spc(2)
      #end 
      #if($data.ACL.Permissions.containsName("Update Master Data") ||  $$data.ACL.Roles.containsName("Administrator"))
      <a href="#" Onclick="setLongLat();" class="faicon" title="Update Location">
      <i class="fa fa-map-marker "></i>
      </a>
      #end ##end
    </td>
  </tr>  
  <tr>
    <td>&nbsp;</td>
    <td>
      #hiddenField ("ID" $!Location.LocationId)
      #if($data.ACL.Permissions.containsName("Update Master Data"))
        #if($flux.Mode == "delete")
          <input type="submit" name="eventSubmit_doDelete" value="$!l10n.delete $!title"/>
        #elseif ($flux.Mode == "update")
          <input type="submit" name="eventSubmit_doUpdate" value="$!l10n.update $title"/>
        #else
          <input type="submit" name="eventSubmit_doInsert" value="$!l10n.add $title"/>
        #end
      #end
    </td>
  </tr>
</table>

<ul class="btmLinkNav">
#btmLinkMenu("setup,LocationSetup.vm" "?op=1$!vp" "$!l10n.view $!title" "")
#if($Department)
#btmLinkMenu("setup,AccountOB.vm" "?id=$!Location.LocationId&src=loc" "$!l10n.opening_balance" "")
#btmLinkMenu("setup,AccountBudget.vm" "?id=$!Location.Location&src=loc" "$!l10n.account_budget" "")
#end
</ul>

</form>
