#set($headings = ["$!l10n.code","$!l10n.description", "$!l10n.symbol", "<center>$!l10n.rate","$!l10n.active"] )
#set($title = "$!l10n.currency" )

$data.setLayoutTemplate("/Printable.vm")

<table width="99%">
  <tr>
	<td valign="top" width="1%">&nbsp;</td>
	<td valign="top" width="$mainColumnWidth">
	
	
		<br>
	    <span class="txtTitle2">$title</span>
		<table width="100%" cellspacing="0" cellpadding="4">
		  <tr>
		    <td>
		      <table width="100%" cellspacing="0" cellpadding="2" >
		        <tr>
		          <td colspan="5"><hr></td>
		        </tr>
		        <tr>
		          #foreach ($heading in $headings)
		          	<td class="th4">$heading</a>
		          #end
		        </tr>		
		        <tr>
		          <td colspan="5"><hr></td>
		        </tr>
		        #foreach ($curr in $sortingtool.sort($Currency,$flux.Sort,$flux.ASCP))
		        <tr>
		          <td>$!curr.CurrencyCode</td>
		          <td>$!curr.Description </td>
		          <td>$!curr.Symbol      </td>
		          <td align="right">$!cformat.formatNumber($!currency.getCurrentRateByID($!curr.CurrencyId)) #spc(4)</td>
		          <td>
		          <input type="checkbox" checked="$!currency.IsActive" class="cb" disabled>
		          </td>
		        </tr>
		        #end
		        <tr>
		          <td colspan="5"><hr></td>
		        </tr>		        
		      </table>
  	
  	</td>
  </tr>
</table>







