#set($title = "EDC Merchant ID [$!pt.Description]")
#set($op = $data.Parameters.getInt("op",4))
<script>
function save(op)
{
    var f = document.frm;  
    if(op == 3 && !confirm('$!l10n.delete $!title'))
    {
        return false;
    }
    if(op != 3 && f.checkValidity())
    {
        f.op.value = op;
        f.submit();
    }                 
}

jQuery(document).ready(function(){ 
 
    
});
</script>

<form name="frm" id="frm" method="post"  action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="_session_access_counter" value="$data.User.getTemp("_session_access_counter")"/>
<input type="hidden" name="ptid" value="$!pt.Id"/>
<input type="hidden" name="PaymentTermId" value="$!pt.Id"/>

<span class="txtTitle2">$title </span><br>
#if($data.Message)                    
<span class="txtMessage">$data.Message</span><br>
#end 

#if($pt.Id)
<table class="stdTable" >
  <tr class="th5" id="titleRow">
    <td colspan="2"> Input Form</td>
  </tr>
</table>  
<table class="stdTable" id="inputTable">
  <tr>
    <td width="15%">EDC</td>
    <td>
      $!pt.Description
    </td> 
  </tr>  
  <tr>
    <td>$!l10n.location</td>
    <td>
      #locationSB($!oData.LocationId)
    </td>
  </tr> 
  <tr>
    <td>Merchant ID</td>
    <td>
      <input type="text" #width(120) name="MerchantId" value="$!oData.MerchantId" required >
    </td>
  </tr>   
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="hidden" name="id" value="$!oData.Id">   
      <input type="hidden" name="op" value="1">                          
      #if($data.ACL.Permissions.containsName("Update Payment Setup"))
        <input type="submit" OnClick="save(2);" value="$!l10n.save $title"/>              
        #if($sutil.isNotEmpty($oData.Id))              
        <input type="submit" OnClick="save(3);" value="$!l10n.delete $title" id='btnCancel'/>                
        #end
      #end           
   </td>
 </tr>
</table>
</form>
<hr>
#end ##end if $pt.ID

## <table class="stdTable" >
##   <tr class="th5" id="viewRow">
##     <td colspan="2"></i> Display Form</td>
##   </tr>
## </table>  
<div id="viewDiv">
#set($headings = ["No", "EDC", "$!l10n.location", "Merchant ID"] )
<table class="stdTable">
  <tr class="th5">
    #foreach ($heading in $headings)
    <td>$heading</td>
    #end
    <td>&nbsp;</td>
  </tr>
  #set($no = 1)
  #set($amt = $vData.size())
  #foreach ($oDT in $vData)
  <tr>
    <td width="5%">$!no  </td>
    <td>$!oDT.EDC.Description</td>
    <td>$!oDT.Location.Name</td>      
    <td>$!oDT.MerchantId</td>      
    <td width="20%">
      <ul class="rowLinkNav">    
      #rowDataLink ("$!data.ScreenTemplate" "?ptid=$!{oDT.PaymentTermId}&id=${oDT.Id}&op=1" $!l10n.update "" "View Payment Setup")
      </ul>      
    </td>
  </tr>
   #set($no = $no + 1)
  #end
</table>
</div>   
<hr>  
<ul class="btmLinkNav">                                                                                              
#btmLinkMenu("setup,PaymentTermSetup.vm" "?edc=true" "$!l10n.view EDC" "")                                                
</ul>              
                                                                                                   