#set($headings = ["No","$!l10n.code","$!l10n.description", "$!l10n.petty_cash_flow","$!l10n.account", ""])
#set($fields = ["","pettyCashCode","description","incomingOutgoing","accountId",""])
#set($title = "$!l10n.petty_cash_type")

<script>
function printToExcel (sHelperClass) 
{
	var sURL = '${data.ContextPath}/excel/pettyCashType.xls?helper_class='+ sHelperClass + '$!{pageParam}';	
	var excelWnd = window.open (sURL, 'excelWnd', 
	    'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=480,left=20,top=20');
	excelWnd.focus();	                                                  
}
</script>
<table width="100%" cellspacing="0" cellpadding="4">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
   <td>
      <div align="right">
      <a href="javascript:void(0)" OnClick="msgDetail=window.open('$link.setPage("setup,PettyCashTypeSetupPrint.vm")?sort=$flux.Sort&ascdsc=$flux.ACDC', 'printWindow', 'toolbar=no,scrollbars=yes,menubar=yes,resizable=yes,width=560,height=480,left=20,top=20')"     
               class=""><img src="${data.ContextPath}/images/btn_print.gif" border="0"/></a>
      <a href="javascript:void(0)" title="Export $title"
        OnClick="printToExcel('com.ssti.enterprise.pos.excel.helper.PettyCashTypeHelper');">
        <img src="${data.ContextPath}/images/btn_excel.gif" border="0" />
	</a>               
      </div>
   </td>
  </tr>
</table>
<table class="altRowTable">
   #sortableHeader ($headings $fields "th2" "sort2" false) 
   #set($no = 1)
   #set($row = 1)
   #set($amt = $PettyCashTypes.size())
   #foreach ($pct in $sortingtool.sort($PettyCashTypes,$flux.Sort,$flux.ACDC))
   <tr>
     <td>$!no</td>
     <td>$!pct.PettyCashCode</td>
     <td>$!pct.Description</td>            
     <td>#if($!pct.IncomingOutgoing == 2)$!l10n.withdrawal #else $!l10n.deposit #end</td>
     <td>$!account.getCodeByID($pct.AccountId)</td>            
     <td>
       <ul class="rowLinkNav">
       #rowDataLink ("setup,PettyCashTypeSetupForm.vm" "?id=${pct.PettyCashTypeId}&mode=update" $!l10n.update "" "View Bank Setup")
       #rowDataLink ("setup,PettyCashTypeSetupForm.vm" "?id=${pct.PettyCashTypeId}&mode=delete" $!l10n.delete "" "Update Bank Setup")
       </ul>
     </td>
   </tr>
   #set($no = $no + 1)
   #end
</table>
<ul class="btmLinkNav">
#btmLinkMenu("setup,PettyCashTypeSetupForm.vm" "?mode=insert" "$!l10n.add $!title" "")
#btmLinkMenu("setup,ImportPettyCashType.vm" "" "$!l10n.load_excel_data" "")
</ul>
