#set($title = "$!l10n.point_reward" )

<script>
function validate(frm)
{
}
</script>

<form method="post" onSubmit="return validate(this)" name="frm" 
    action="$link.setPage($data.ScreenTemplate).setAction("setup.PointRewardSetupAction")">
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>

<span class="txtTitle2">$title </span><br>
#if($data.Message)
<span class="txtMessage">$data.Message</span><br>
#end
<table class="stdTable">
  <tr>
    <td width="20%">$!l10n.from_amount</td>
    <td><input type="text" size="20" name="FromAmount" value="$!PointReward.FromAmount"></td>
 </tr>
 <tr>
    <td>$!l10n.to_amount</td>
    <td><input type="text" size="20" name="ToAmount" value="$!PointReward.ToAmount"></td>
  </tr>
  <tr>
    <td>$!l10n.multiply</td>
    <td colspan="3">
      <input type="text" size="15" name="MultiplyAmount" value="$!PointReward.MultiplyAmount"></td>
    </td>             
  </tr>
  <tr>
    <td>$!l10n.point</td>
    <td colspan="3">
      <input type="text" size="10" name="Point" value="$!PointReward.Point">
    </td>             
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="3">
      #hiddenField ("ID" $!PointReward.PointRewardId)
      #if($data.ACL.Permissions.containsName("Update Master Data"))
        #if($flux.Mode == "delete")
          <input type="submit" name="eventSubmit_doDelete" value="$!l10n.delete $title"/>
        #elseif ($flux.Mode == "update")
          <input type="submit" name="eventSubmit_doUpdate" value="$!l10n.update $title"/>
        #else
          <input type="submit" name="eventSubmit_doInsert" value="$!l10n.add $title"/>
        #end
      #end
   </td>
 </tr>
</table>
<br>
<a href="$link.setPage("setup,PointRewardSetup.vm")">$!l10n.view $title</a>
</form>
