$data.setLayoutTemplate("/Empty.vm")
<script>

function setSalesArea () 
{
    var wnd = window.opener;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';   
    
	if (wnd && !wnd.closed) 
	{
  	    #set($oSalesArea = $salesarea.getSalesAreaByID($data.Parameters.getString("SalesAreaId")))
  	    frm.parentid.value   = '$!oSalesArea.SalesAreaId';
  	    frm.parentcode.value = '$!oSalesArea.SalesAreaCode';
  	    frm.parentdesc.value = '$!oSalesArea.Description';  	    
  	}
  	window.close();
}
</script>
<html>
<body Onload="javascript:setSalesArea();" leftMargin="0" topMargin="0">
</body>
</html>