#set($headings = ["$!l10n.site_name","$!l10n.costing_method","$!l10n.description"] )
#set($title = "$!l10n.site" )

$data.setLayoutTemplate("/Printable.vm")

<br>
<span class="txtTitle2">$title</span>
<table width="100%" cellspacing="0" cellpadding="4">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="3"><hr></td>
        </tr>
        <tr>
          #foreach ($heading in $headings)
          	<td class="th4">$heading</td>
          #end
        </tr>
        <tr>
          <td colspan="3"><hr></td>
        </tr>		        
        #foreach ($site in $sortingtool.sort($Sites, $flux.Sort,$flux.ACDC))
        <tr>
          <td>$!site.SiteName</td>
          <td>
             #if($!site.CostingMethod == 1) $!l10n.weighted_average #end 
             #if($!site.CostingMethod == 2) FIFO                    #end 
             #if($!site.CostingMethod == 3) $!l10n.last_cost        #end 
          </td>		          
          <td>$!site.Description</td>
        </tr>
        #end
        <tr>
          <td colspan="3"><hr></td>
        </tr>		        
      </table>
    </td>
  </tr>
</table>
