#set($wndMode = $data.Parameters.getString("wndMode"))
#if($wndMode == "popup")
$data.setLayoutTemplate("/PopupWindow.vm")
#end
#set($title = "$!l10n.status_code" )
<script>
function validate(frm)
{
    #isEmpty    ("frm" "StatusCode")
    #isEmpty    ("frm" "Description")
    #isEmpty    ("frm" "Variable")
}
</script>
<form method="post" onSubmit="return validate(this)" 
    action="$link.setPage("setup,StatusCodeSetupForm.vm").setAction("setup.ItemStatusCodeAction")">
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>

<span class="txtTitle2">$title</span>
<br>
#if($data.Message)
  <span class="txtMessage">$data.Message</span>
  <br>
#end

<table class="stdTable">
  <tr>
    <td>$!l10n.status_code</td>
    <td><input type="text" size="5" name="StatusCode" value="$!StatusCodeSetup.StatusCode"></td>
  </tr>
  <tr>
    <td>$!l10n.variable</td>
    <td><input type="text" size="5" name="Variable" value="$!StatusCodeSetup.Variable"></td>
  </tr>

  <tr>
    <td>$!l10n.description</td>
    <td> <input type="text" size="50" name="Description" value="$!StatusCodeSetup.Description">&nbsp;</td>
  </tr>
  <tr>
    <td>$!l10n.default</td>
    <td><input type="checkbox" class="cb" name="IsDefault" #if($!StatusCodeSetup.IsDefault == true) Checked #end></td>
  </tr>           
  <tr>
    <td>&nbsp;</td>
    <td>
      #hiddenField ("ID" $!StatusCodeSetup.ItemStatusCodeId)
      #hiddenField ("wndMode" "$!wndMode")
      #if($data.ACL.Permissions.containsName("Update Item Data"))
        #if($flux.Mode == "delete")
          <input type="submit" name="eventSubmit_doDelete" value="$!l10n.delete $!title"/>
        #elseif ($flux.Mode == "update")
          <input type="submit" name="eventSubmit_doUpdate" value="$!l10n.update $!title"/>
        #else
          <input type="submit" name="eventSubmit_doInsert" value="$!l10n.add $!title"/>
        #end
      #end
   </td>
 </tr>
</table>
<br>
<ul class="btmLinkNav">
#btmLinkMenu("setup,StatusCodeSetup.vm" "?wndMode=$!wndMode" "$!l10n.view $!title" "")
</ul>

</form>
