#txtINIT()
#set($nohtml = true)
#set($nocompany = true)
#parse("/print/headers/HeaderHTML.vm")

#set($sAPT = "Apoteker Penanggungjawab")
#set($vFRAPT = $employee.findData(2, $sAPT, $!trans.FromLocationId))
#set($vTOAPT = $employee.findData(2, $sAPT, $!trans.ToLocationId))
#if($vFRAPT.size() > 0) #set($oFRAPT = $vFRAPT.get(0)) #end
#if($vTOAPT.size() > 0) #set($oTOAPT = $vTOAPT.get(0)) #end

<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td colspan="2" align="center">
      <span class="largeHeader">
      <u>$!title [$!trans.FromLocation.Code - $!trans.ToLocation.Code]</u>
      </span>
    </td>
  </tr>
  <tr>
    <td width="35%">$!l10n.trans_no</td>
    <td>: $!trans.TransactionNo</td>
    ##<td width="16%">$!l10n.print_date :</td>
    ##<td>$!cformat.formatDateTime($!dutil.TodayDate)</td>
  </tr>
  <tr>
    <td>$!l10n.trans_date</td>
    <td>: $!cformat.formatDate($!trans.TransactionDate)</td>
    ##<td>$!l10n.create_by :</td>
    ##<td>$!trans.UserName</td>
  </tr>
  <tr>
    <td>$!l10n.from_location</td>
    <td>: $!trans.FromLocationName</td>
  </tr> 
  <tr>
    <td>$!l10n.create_by</td>
    <td>: $!trans.CreateBy /$!trans.ConfirmBy</td>
  </tr>    
  <tr>
    <td>Apoteker Penanggungjawab</td>
    <td>: $!oFRAPT.Name </td>
  </tr>  
  <tr>
    <td>$!oFRAPT.Field1</td>
    <td>: $!oFRAPT.Value1 </td>
  </tr>  
  #linea(2)  
  <tr>
    <td>$!l10n.to_location</td>
    <td>: $!trans.ToLocationName</td>
  </tr>
  <tr>
    <td>Apoteker Penanggungjawab</td>
    <td>: $!oTOAPT.Name </td>
  </tr>  
  <tr>
    <td>$!oTOAPT.Field1</td>
    <td>: $!oTOAPT.Value1 </td>
  </tr> 
  <tr>
    <td>$!l10n.received_by</td>
    <td>: $!trans.ReceivedBy </td>
  </tr>    
     
  ## <tr>
  ##   <td>$!l10n.create_by</td>
  ##   <td>: $!trans.UserName</td>
  ## </tr>
  <tr>
    #if($sutil.isNotEmpty($!trans.Description))
    <td colspan="2">$!trans.Description</td>
    #end
    ## #if($sutil.isNotEmpty($!trans.ShipTo))
    ## <td colspan="2">$!trans.ShipTo</td>
    ## #end
  </tr>
</table>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td width="30">No</td>
    <td width="80">$!l10n.item_code</td>
    <td width="60">Batch No.</td>
    <td width="40">ED</td>
    <td width="60"  align="center">$!l10n.qty</td>
    <td width="80"  align="center">$!l10n.unit</td>
    #if($bConsignment)
    <td width="80"  align="center">$!l10n.price</td>
    <td width="80"  align="center">$!l10n.sub_total</td>
    #end
  </tr>  
  #set($no = $from + 1)
  #set($batchtool = $butil.getInstance("com.ssti.enterprise.pos.tools.inventory.BatchTransactionTool"))
  #foreach($td in $transDetPage)
  #set($itm = $item.getItemByID($td.ItemId))
  #set($dPrice = $itm.ItemPrice)
  <tr>
    <td>$no</td>
    <td>$!itm.ItemCode</td>
    #set($vBatch = $batchtool.getByItemAndDetID($td.ItemId, $td.PrimaryKey.toString()))
    #set($vBatch = $butil.getDistinctListByField($vBatch,"batchNo"))
    <td align="center" valign="top">      
      #foreach ($oBatch in $vBatch)
      #if($oBatch.Qty.intValue() != 0)
      $!oBatch.BatchNo 
        #if($vBatch.size() > 1)
          ($!cf.fmt($!oBatch.Qty.abs()))
        #end      
      #end
      #end      
    </td>  
    <td align="center">
      #foreach ($oBatch in $vBatch)
      #if($oBatch.Qty.intValue() != 0)
      $!cf.formatCustomDateTime($!oBatch.ExpiredDate,"MM/yy")
      #end
      #end      
    </td>
    #set($vBatch = "")
    <td align="right">$!cformat.formatNumber($!td.QtyChanges)</td>
    <td align="right">$!td.UnitCode</td>
    #if($bConsignment)
    #set($dSubTotal = $calculator.mul($td.QtyChanges,$dPrice))
    #set($dTotalAmt = $calculator.add($dTotalAmt,$dSubTotal))
    <td width="80"  align="right">$!cformat.formatNumber($!dPrice)</td>
    <td width="80"  align="right">$!cformat.formatNumber($!dSubTotal)</td>
    #end
  </tr>
  <tr>
     <td>&nbsp;</td>
     <td colspan="3">$!itm.ItemName</td>
  </tr>
  #set($dTotalQty = $calculator.add($dTotalQty,$td.QtyChanges))
  #set($no = $no + 1)
  #end
  #if($currentpage == $totalpage)
  <tr class="topline">
    <td colspan="3" align="right">$!l10n.total_item :</td>
    <td align="right">$!transDet.size()</td>
    <td></td>
    #if($bConsignment)
    <td></td>
    <td></td>
    #end    
  </tr>
  <tr>
    <td colspan="3" align="right">$!l10n.total_qty :</td>
    <td align="right">$!cformat.formatNumber($!dTotalQty)</td>
    #if($bConsignment)
    <td></td>
    <td></td>
    #end    
  </tr>
  #if($bConsignment)
  <tr>
    <td colspan="3" align="right">$!l10n.total_amount :</td>
    <td align="right">$!cformat.formatNumber($!dTotalAmt)</td>
    <td></td>
    <td></td>
  </tr>
  #end
  #end
</table>
<br>