#txtINIT()
#set($nohtml = true)
#set($nocompany = true)
#parse("/print/headers/HeaderHTML.vm")

#set($sAPT = "Apoteker Penanggungjawab")
#set($sPJA = "Penanggung jawab alkes")
#set($vFRPJA = $employee.findData(2, $sPJA, $!trans.FromLocationId))
#set($vFRAPT = $employee.findData(2, $sAPT, $!trans.FromLocationId))
#set($vTOAPT = $employee.findData(2, $sAPT, $!trans.ToLocationId))
#if($vFRAPT.size() > 0) #set($oFRAPT = $vFRAPT.get(0)) #end
#if($vTOAPT.size() > 0) #set($oTOAPT = $vTOAPT.get(0)) #end
#if($vFRPJA.size() > 0) #set($oFRPJA = $vFRPJA.get(0)) #end

<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td colspan="2" align="center">
      <span class="largeHeader">
      <u>$!title [$!trans.FromLocation.Code - $!trans.ToLocation.Code]</u>
      </span>
    </td>
  </tr>
  <tr>
    <td width="35%">$!l10n.trans_no</td>
    <td>: $!trans.TransactionNo</td>
    ##<td width="16%">$!l10n.print_date :</td>
    ##<td>$!cformat.formatDateTime($!dutil.TodayDate)</td>
  </tr>
  <tr>
    <td>$!l10n.trans_date</td>
    <td>: $!cformat.formatDate($!trans.TransactionDate)</td>
    ##<td>$!l10n.create_by :</td>
    ##<td>$!trans.UserName</td>
  </tr>
  <tr>
    <td>Supplier</td>
    <td>: PT. Sarika</td>
  </tr> 
  <tr>
    <td>$!l10n.create_by</td>
    <td>: $!trans.CreateBy /$!trans.ConfirmBy</td>
  </tr>    
  <tr>
    <td>Apt. PJ</td>
    <td>: $!oFRPJA.Name </td>
  </tr>  
  <tr>
    <td>$!oFRPJA.Field1</td>
    <td>: $!oFRPJA.Value1 </td>
  </tr>  
  #linea(2)  
  <tr>
    <td>Pembeli</td>
    <td>: $!trans.ToLocationName</td>
  </tr>
  <tr>
    <td>Apt. PJ</td>
    <td>: $!oTOAPT.Name </td>
  </tr>  
  <tr>
    <td>$!oTOAPT.Field1</td>
    <td>: $!oTOAPT.Value1 </td>
  </tr> 
  <tr>
    <td>$!l10n.received_by</td>
    <td>: $!trans.ReceivedBy </td>
  </tr>    
     
  ## <tr>
  ##   <td>$!l10n.create_by</td>
  ##   <td>: $!trans.UserName</td>
  ## </tr>
  <tr>
    #if($sutil.isNotEmpty($!trans.Description))
    <td colspan="2">$!trans.Description</td>
    #end
    ## #if($sutil.isNotEmpty($!trans.ShipTo))
    ## <td colspan="2">$!trans.ShipTo</td>
    ## #end
  </tr>
</table>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr class="th1">
    <td width="30">No</td>
    <td width="120">$!l10n.item_code</td>
    <td width="60"  align="center">$!l10n.qty</td>
    <td width="80"  align="center">$!l10n.unit</td>
    <td width="80"  align="center">$!l10n.price</td>
    <td width="80"  align="center">$!l10n.sub_total</td>
  </tr>  
  #set($no = $from + 1)
  #foreach($td in $transDetPage)
  #set($itm = $item.getItemByID($td.ItemId))
  #set($dPrice = $itm.ItemPrice)
  <tr>
    <td>$no</td>
    <td>$!itm.ItemCode</td>    
    <td align="right">$!cf.fmt($!td.QtyChanges)</td>
    <td align="right">$!td.UnitCode</td>
    #set($dSubTotal = $calculator.mul($td.QtyChanges,$dPrice))
    #set($cPrice = $calculator.mul($dPrice,$td.QtyBase))
    #set($dSubTotal = $calculator.mul($td.QtyChanges,$cPrice))
    #set($dTotalAmt = $calculator.add($dTotalAmt,$dSubTotal))
    #if($td.UnitId == $td.Item.PurchaseUnitId)
    <td width="80"  align="right">$!cf.fmt($cPrice)</td>
    <td width="80"  align="right">$!cf.fmt($!dSubTotal)</td>
    #else
    <td width="80"  align="right">$!cf.fmt($!dPrice)</td>
    <td width="80"  align="right">$!cf.fmt($!dSubTotal)</td>
    #end
  </tr>
  <tr>
     <td>&nbsp;</td>
     <td colspan="3">$!itm.ItemName</td>
  </tr>
  #set($dTotalQty = $calculator.add($dTotalQty,$td.QtyChanges))
  #set($no = $no + 1)
  #end
  #if($currentpage == $totalpage)
  <tr class="topline">
    <td colspan="3" align="right">$!l10n.total_item :</td>
    <td align="right">$!transDet.size()</td>
    <td></td>
    #if($bConsignment)
    <td></td>
    <td></td>
    #end    
  </tr>
  <tr>
    <td colspan="3" align="right">$!l10n.total_qty :</td>
    <td align="right">$!cf.fmt($!dTotalQty)</td>
    #if($bConsignment)
    <td></td>
    <td></td>
    #end    
  </tr>
  #if($bConsignment)
  <tr>
    <td colspan="3" align="right">$!l10n.total_amount :</td>
    <td align="right">$!cf.fmt($!dTotalAmt)</td>
    <td></td>
    <td></td>
  </tr>
  #end
  #end
</table>
<br>