#txtINIT()
#set($oCompany = $preference.getCompany())
#set($lastnumber = $butil.loadClass("com.ssti.enterprise.pos.tools.LastNumberTool"))
#set($medsales = $butil.loadClass("com.ssti.enterprise.medical.tools.MedicalSalesTool"))
#set($medprint = $butil.loadClass("com.ssti.enterprise.medical.tools.MedPrintTool"))
#set($prescription = $butil.loadClass("com.ssti.enterprise.medical.tools.PrescriptionTool"))
#set($powder = $butil.loadClass("com.ssti.enterprise.medical.tools.PowderTool"))
#set($cbal = $butil.loadClass("com.ssti.enterprise.pos.tools.financial.CashierBalanceTool"))
#set($oPTP = $paymenttype.getPaymentTypeByID($trans.PaymentTypeId))
#set($vNonPres = $medprint.getNonPres($transDet))
#set($vOthers = $medprint.getOthers($transDet))
#set($vPres = $medprint.getPres2($transDet))
#set($sCreateBy = $medprint.getPresCreateBy($transDet))
#if($trans.PrintTimes.intValue() == 1) #set($copy = "(ASLI)") #else #set($copy = "(COPY $!trans.PrintTimes)") #end
## --- UPDATE QUEUE NO

#if($sutil.empty($trans.PrepQueueNo))
$!medsales.updateQueueNo($trans, 91, "lcyymmddxxxxx")
#end

<html>
<head>
<title>Retailsoft - $!title [$!oLOC.LocationName]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
body {font-family: Helvetica, sans-serif; font-size: 10px; width:320px;}
table {border-collapse: collapse; width:100%;max-width:320px;}
thead,th,tbody,tr,td {border:inherit;}
tr{height:22px;}
td {font-family: Helvetica; font-size: 12px}
.largeHeader {font-size: 15px}
.medHeader {font-size: 12px}
.btmline {border-bottom:1px solid black;}
P.pagebreakhere {page-break-before: always}
.msg1{font-size:13px;width:360px;display:table-cell;text-align:center}
.msgp{font-family:Courier New;font-size:11px;}
.box {display: flex;align-items:center;}
pre {max-width:320px;}
</style>
<script src="${data.ContextPath}/javascript/print.js"> </script>
</head>
<body topMargin="2" leftMargin="2" Onload="javascript:printpage();">

              
<table width="100%">
  <tr>
    <td align="center" class="largeHeader"><b>$!oLOC.LocationName</td>
  </tr>               
  <tr>
    <td align="center"><b>$!oLOC.LocationAddress</td>
  </tr>
  <tr>
    <td align="center">
      <br>         
      <span style="font-weight:bold;font-size:10px;">No RS: $!trans.PrepQueueNo</span><br>   
      ## <img src="${data.ContextPath}/barcode/bcode.jpg?data=$!{trans.PrepQueueNo}&type=Code128A&width=1&height=40&resolution=50&drawText=true" border="0" >
      ## <br>
      <b><span style="font-size:24px;">No Antrian: $!sutil.substring($!trans.PrepQueueNo,10)</span></b>   
    </td>
  </tr>
  
</table>

<table width="100%">
  <tr>
    <td colspan="2"><hr></td> 
  </tr>
  <tr>
    <td>$!sutil.left("No",12): </td>
    <td>$!sutil.left("$!trans.InvoiceNo",18) $!copy</td> 
  </tr>
  
  <tr>
    <td>$!sutil.left("$!l10n.cashier",12): </td>
    <td>$!sutil.left("$!employee.getEmployeeByUsername($!trans.CashierName).Name",24) </td>
  </tr>
  <tr>
    <td>$!sutil.left("$!l10n.customer",12): </td>
    <td>$!sutil.left("$!trans.CustomerName / $!trans.PatientName",25)</td>
  </tr>    
  <tr>
    <td>$!sutil.left("$!l10n.phone",12): </td>
    <td>$!sutil.left("$!trans.PatientPhone",25)</td>
  </tr>            
  #if($sutil.isNotEmpty($trans.DoctorName))
  <tr>
    <td>$!sutil.left("$!l10n.doctor_name",12): </td>
    <td>$!sutil.left("$!trans.DoctorName",18)</td>
  </tr>  
  #end
  <tr>
    <td>$!sutil.left("$!l10n.payment",12): </td>
    <td> $!sutil.left("$!oPTP.Description",18) </td>
  </td>
  <tr>
    <td>$!sutil.left("$!l10n.date",12):</td>
    <td>$!sutil.left("$!cf.formatDate($!trans.TransactionDate)",10)($!cf.formatCustomDateTime($!trans.TransactionDate, "HH:mm")) </td>
  </tr> 
  <tr>
    <td colspan="2"><hr></td> 
  </tr>  
</table>

#if($vNonPres.size() > 0)
<table width="100%">
<tr>
  <td colspan="3"><b>NR:</td>
</tr>
#foreach ($td in $vNonPres)
#set($dPrice = $td.ItemPrice)
#set($dSubTotal = $calculator.mul($dPrice,$td.Qty))
<tr>  
  <td>$!sutil.left(" $!td.ItemName",20)  #spc(4)
      $!cf.fmt($!td.Qty) x $!cf.fmt($dPrice)
   </td>
  <td align="right">$!cf.fmt($dSubTotal) </td>
</tr>  
#end ##end foreach 
</table>
#end ##end if nonpres 

#if($vOthers)
<table width="100%">
#foreach ($td in $vOthers)
#set($dPrice = $medsales.calcPriceIncFee($td))
#set($dSubTotal = $calculator.mul($dPrice,$td.Qty))
<tr>  
  <td>$!sutil.left(" $!td.ItemName",20)  #spc(4)
      $!cf.fmt($!td.Qty) x $!cf.fmt($dPrice)
   </td>
  <td align="right">$!cf.fmt($dSubTotal) </td>
</tr>
#end
</table>
#end ##end if others 

#if($vPres.size() > 0)  
<table width="100%">
<tr>
  <td colspan="3"><b>RESEP:</td>
</tr>
#foreach ($oPres in $vPres)
## #foreach($td in $vPRD)
#if($oPres.TxType == 1)
<tr>  
  <td>&nbsp; R/ $!sutil.left("$!oPres.ItemName",20) ($!cf.fmt($oPres.Qty))</td>
  <td align="right"> $!sutil.right("$!cf.fmt($oPres.SubTotal)",17) </td>
</tr>  
#else ## powder
## calc
#set($dTotal=$oPres.Total)
#foreach($td in $transDet)
#if($td.ParentId == $oPres.PrescriptionDetailId)
#set($dTotal=$cal.add($dTotal,$td.Total))
## <tr>
##   <td>$!sutil.left("&nbsp;&nbsp; $!td.Item.Name",20) ($!cf.fmt($td.Qty))</td>
##   <td align="right"></td>
## </tr>
#end ##end if parent
#end ##end foreach
<tr>
  <td>&nbsp; R/ $!sutil.left("RACIKAN $!oPres.IndexNo $!oPres.Unit.Code",20) ($!cf.fmt($oPres.Qty))</td>
  <td align="right"> $!sutil.right("$!cf.fmt($dTotal)",17) </td>
</tr>
#end ##end if pres.txType
#end ##end if foreach oPres
</table>
#end ##end if vPRes
                     
<table width="100%">
  <tr><td width="15%"></td><td><b>$!l10n.total_item     :</b></td><td align="right"><b> $transDet.size()                </b></td></tr>
  <tr><td width="15%"></td><td><b>$!l10n.total_amount   :</b></td><td align="right"><b> $!cf.fmt($!trans.TotalAmount)   </b></td></tr>
  <tr><td width="15%"></td><td><b>$!l10n.payment_amount :</b></td><td align="right"><b> $!cf.fmt($!trans.PaymentAmount) </b></td></tr>
  <tr><td width="15%"></td><td><b>Kembali               :</b></td><td align="right"><b> $!cf.fmt($!trans.ChangeAmount)  </b></td></tr>
  <tr> 
    <td colspan="3" align="center">
<pre style="align:center">
-------------------------------------------- 
*           SEMOGA CEPAT SEMBUH            * 
*         BARANG YANG SUDAH DIBELI         * 
*        TIDAK DAPAT DIKEMBALIKAN          * 
*        ****   Terima Kasih   ****        * 
-------------------------------------------- 
</pre>
    </td>
  </tr>
</table>

</body>
</html>
