$data.setLayoutTemplate("/Empty.vm")
#set($sID  = $data.Parameters.getString("AccountId",""))
#set($bSetup  = $data.Parameters.getBoolean("setup"))
#if($sutil.isNotEmpty($sID))
#set($acc = $account.getAccountByID($sID))

#if($acc)
var f = window.document.frm;
var sas = f._session_access_counter;
if (sas) sas.value = '$!data.User.getTemp("_session_access_counter")';

#if(!$bSetup) ##if not setup
  if(f.AccountId)   f.AccountId.value = '$!acc.AccountId';
  if(f.AccountCode) f.AccountCode.value = '$!acc.AccountCode';
  if(f.AccountName) f.AccountName.value = '$!acc.AccountName';
  if(f.Description) f.Description.value = '$!acc.Description';
  if(f.AccountType) f.AccountType.value = "$!acc.AccountType";
      
#else ##if setup
  #set($bExist = $gltransaction.isExistInTransaction($!acc.AccountId, -1, false))  
  if (f.parentId           ) f.parentId            .value   = "$!acc.AccountId"     ;	
  if (f.parentAccountId    ) f.parentAccountId     .value   = "$!acc.AccountId"     ;
  if (f.parentAccountCode  ) f.parentAccountCode   .value   = "$!acc.AccountCode"   ;
  if (f.parentAccountName  ) f.parentAccountName   .value   = "$!acc.AccountName"   ;
  if (f.parentDescription  ) f.parentDescription   .value   = "$!acc.Description"   ;
  if (f.parentAccountType  ) f.parentAccountType   .value   = "$!acc.AccountType"   ;
  if (f.parentHasChild     ) f.parentHasChild      .value   = "$!acc.HasChild"      ;
  if (f.parentAccountLevel ) f.parentAccountLevel  .value   = "$!acc.AccountLevel"  ;
  if (f.parentCurrencyId   ) f.parentCurrencyId    .value   = "$!acc.CurrencyId"    ;
  if (f.parentNormalBalance) f.parentNormalBalance .value   = "$!acc.NormalBalance" ;
  if (f.parentStatus       ) f.parentStatus        .checked = "$!acc.Status"        ;     
  
  window.setRate('parentCurrencyId', 'parentObRate');
          
  #if($!acc.OpeningBalance.intValue() > 0 || $bExist)
  f.parentCurrencyId.readonly = true;	    
  #end   
  f.parentExistInTrans.value = $bExist;
 
  f.parentOpeningBalance.value    = "$!acc.OpeningBalance";
  f.parentAsDate        .value    = "$!cformat.formatDate($!acc.AsDate)";		
  f.parentOpeningBalance.disabled = false;
  f.parentAsDate        .readOnly = false;
  f.parentCurrencyId    .disabled = false;	   	    
  
  #if($acc.HasChild)
  f.parentOpeningBalance.value    = "";
  f.parentAsDate        .value    = "$!cformat.formatDate($!acc.AsDate)";		
  f.parentOpeningBalance.disabled = true;
  f.parentAsDate        .readOnly = true;
  f.parentCurrencyId    .disabled = true;	   
  #end
    
  f.AccountType.value = "$!acc.AccountType";
  f.AccountCode.value = "$!acc.AccountCode" + ".";     
  f.AccountTypeDD.value    = "$!acc.AccountType";
  f.AccountTypeDD.disabled = true;
  
  f.Update.disabled = false;
  f.Delete.disabled = false;
  f.AccountCode.focus();
#end ##end if setup
#end ##end if acc    

#else ##search mode

#set($sCode = $data.Parameters.getString("AccountCode",""))
#set($sName = $data.Parameters.getString("AccountName",""))
#set($bCode = false)
#if($sutil.isNotEmpty($sCode)) #set($where = "account_code ilike '%$!{sCode}%'") #set($bCode = true) #end
#if($sutil.isNotEmpty($sName)) #set($where = "account_name ilike '%$!{sName}%'") #set($bCode = false) #end
#set($sSQL = "select account_id, account_code, account_name from account where  $where limit 10")

#set($bp = $butil.loadClass("com.ssti.framework.tools.BasePeer"))
#set($v = $bp.executeQuery($sSQL)) 
<ul>
#foreach ($rcd in $v)
#set($sID = $rcd.getValue("account_id").asString())
#set($sCD = $rcd.getValue("account_code").asString())
#set($sNM = $rcd.getValue("account_name").asString())
<li id="$!sID">#if($bCode) $!sCD #else $!sNM #end </li>
#end
</ul>

#end
