$data.setLayoutTemplate("/Empty.vm")
##set($bAll = $data.Parameters.getBoolean("displayAll"))
#if(!$bAll)
#set($vDet = $tplutil.displayList($transDet, 0, 12))
#else
#set($vDet = $transDet)
#end
#set($iMinRow = 10)
<table class="stdTable">
  #set($no=1)       
  #set($inwid = "98%")
  #foreach ($td in $vDet)
  #set($sDisplay = "$!td.ItemName")
  #if($td.Item.ItemType == 2)
    #set($sDisplay = "$!td.Description")
  #end
  <tr class="detailRow">
    <td width="30px" ><input #stdin ("" "$no #if($td.ChangedManual)*#end" $inwid false)></td>
    <td width="120px"><input #stdin ("" "$!td.Item.Barcode" $inwid false)></td>
    <td width="250px"><input #stdin ("" "$!sDisplay" $inwid false) ></td>
    <td width="60px" ><input #stdin ("" "$cf.fmt($!td.Qty)" $inwid false)></td>
    <td width="80px" ><input #stdin ("" "$!td.UnitCode" $inwid false) ></td>
    <td width="100px"><input #stdin ("" "$cf.fmt($!td.ItemPrice)" $inwid false) ></td>
    <td width="72px" ><input #stdin ("" "$!td.Discount" $inwid false) ></td>
    <td width="78px" ><input #stdin ("" "$td.Tax.Code" $inwid false) ></td>
    <td width="100px"><input #stdin ("" "$cf.fmt($!td.SubTotal.setScale(0,4))" $inwid false) ></td>
    <td >
      #if(($sutil.isEmpty($trans.InvoiceNo)) && ($trans.Status != 3))
        #if($vDet.size() == 1)
        <a href="#" OnClick="cancelPOS();" title="$!l10n.delete $!l10n.item_data">
          <i class="fa fa-trash-o faicon-del"></i>
        </a>  
        #else
        <a href="#" OnClick="delPOS($no);" title="$!l10n.delete $!l10n.item_data">
          <i class="fa fa-trash-o faicon-del"></i>
        </a>  
        #end
      #end
      #if(!$bAll && $transDet.size() > 12 && $no == 12)
      <input type="button" id="disAllBtn" OnClick="displayAll();">       
      #end
    </td>
  </tr>
  #set($no=$no+1)
  #end ##end foreach transDet

  #if($transDet)
    #if($transDet.size() < $iMinRow) #set($EmptyCols = $iMinRow - $transDet.size()) #end
  #else
    #set($EmptyCols = $iMinRow)
  #end

  #if($EmptyCols > 0)
  #foreach ($col in [1..$EmptyCols])
  <tr class="detailRow">
    <td width="30px"  >&nbsp;</td>
    <td width="120px" >&nbsp;</td>
    <td width="250px" >&nbsp;</td>
    <td width="60px"  >&nbsp;</td>
    <td width="80px"  >&nbsp;</td>
    <td width="100px" >&nbsp;</td>
    <td width="72px"  >&nbsp;</td>
    <td width="78px"  >&nbsp;</td>
    <td width="100px" >&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  #end ##end foreach col
  #end ##end if EmptyCols
</table>
<input type="hidden" name="no" value="$no">
