#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
$data.setLayoutTemplate("Printable.vm")
#end

#set($pct = $data.Parameters.getDouble("pct",8))
#set($sStart = $data.Parameters.getString("StartDate", "$!cformat.formatDate($!dutil.getStartOfMonthDate($dutil.TodayDate))"))   
#set($sEnd = $data.Parameters.getString("EndDate", "$!cformat.formatDate($!dutil.TodayDate)"))
#set($sEmpName = $data.Parameters.getString("EmployeeName",""))
#set($bDet = $data.Parameters.getBoolean("showDetail"))
#set($bPaid = $data.Parameters.getBoolean("paidOnly"))
#set($iOp = $data.Parameters.getInt("op"))
#set($sID = $data.Parameters.getString("id",""))
#set($dStart = $!cparser.parseDate($sStart))   
#set($dEnd = $!cparser.parseDate($sEnd))
#set($pageParam = "&StartDate=${sStart}&EndDate=${sEnd}&showDetail=${bDet}&paidOnly=${bPaid}&EmployeeName=${sEmpName}")
#set($pageParam = "$!{pageParam}&LocationId=$!locid&pct=$!{pct}")

## drop table salesman_csf;
## create table salesman_csf
## (
##     slscode VARCHAR(20),
##     slsname VARCHAR(50),
##     slsdate DATE,
##     invno VARCHAR(20),    
##     shpto TEXT,
##     tcrew INTEGER,
##     totamt DECIMAL(20,2),
##     disamt DECIMAL(20,2),
##     slsamt DECIMAL(20,2),
##     comamt DECIMAL(20,2)         
## );
## drop table salesman_csfdet;
## create table salesman_csfdet
## (
##     slscode VARCHAR(20),
##     slsname VARCHAR(50),
##     slsdate DATE,
##     invno VARCHAR(20),    
##     shpto TEXT,
##     tcrew INTEGER,
##     katid VARCHAR(30),
##     itmid VARCHAR(30),
##     qty DECIMAL(12,0),
##     price DECIMAL(18,2),
##     subttl DECIMAL(20,2)             
## );

<style type="text/css">
P.pagebreakhere {page-break-before: always}
</style>
#if(!$printable)

#end
#set($title = "Crew Incentives Report")
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<table width="100%" cellspacing="0" cellpadding="2"> 
  <tr>
    <td #if($printable) colspan="10" #end ><b>
      <span class="txtTitle2">$title 
        #if($sStart != "")                   
         ($!sStart - $!sEnd) 
        #end
      </span>
    </td>
    #reportPrintBtn()
  <tr>
</table>
#if(!$printable)
<table cellspacing="0" cellpadding="2" border="0">
  <tr>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!sStart">
      #cal("StartDate" true)      
    </td>
    <td>#spc(2) $!l10n.salesman : </td>
    <td>
      <input type="text" name="EmployeeName" value="$!sEmpName">
    </td>      
    <td>Pct : </td>
    <td>
      <input type="text" size="3" maxlength="3" name="Pct" value="$!pct">%
    </td>           
  </tr>
  <tr>
    <td>$!l10n.end_date : </td>
    <td>
       <input type="text" size="15" name="EndDate" value="$!sEnd">
       #cal("EndDate" true)                   
    <td>
      #spc(2) Detail : 
    </td>
    <td>
      <input type="checkbox" class="cb" name="showDetail" #if($bDet) CHECKED #end >                                   
      #spc(2)
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">                   
    </td>
  </tr>
</table>
<br>
#end ##if(!$printable)

#set($dCmPct = $calculator.div($pct,100))
#set($sQStart = $cformat.formatSqlDate($dStart))
#set($sQEnd = $cformat.formatSqlDate($dEnd))
#set($headings = ["No", "$!l10n.invoice_no","$!l10n.trans_date","Flight","<center>Crews","<center>$!l10n.total_sales","<center>+/- Payment","Incentive"])
#if($sutil.isNotEmpty($sEmpName))
#set($vEmp = $employee.Salesman)
#set($vEmp = $employee.findData(1,$sEmpName,""))
#else
#set($vEmp = $employee.Salesman)
#end
#foreach($oEmp in $vEmp)     
  <table width="100%" cellspacing="0" cellpadding="4">    
  #set($no = 1)                    
  #set($sCode = $oEmp.EmployeeCode)                 
  #set($sName = $oEmp.EmployeeName)  
  #set($sql = "SELECT sales_transaction_id,invoice_no,transaction_date,customer_name,ship_to,total_amount,total_discount FROM sales_transaction WHERE ship_to ILIKE '%$sCode%' AND status = 2 ")
  #set($sql = "${sql} AND transaction_date >= '$!sQStart' AND transaction_date <= '$!sQEnd'")  
  #set($vRes = $sqlutil.executeQuery($sql))
  #if($vRes.size() > 0)  
  #set($del = "DELETE FROM salesman_csf WHERE slscode = '$sCode' AND slsdate >= '$!sQStart' AND slsdate <= '$!sQEnd' ")
  #set($delres = $sqlutil.executeStatement($del))  
  #set($del2 = "DELETE FROM salesman_csfdet WHERE slscode = '$sCode' AND slsdate >= '$!sQStart' AND slsdate <= '$!sQEnd' ")
  #set($delres = $sqlutil.executeStatement($del2))      
  <tr>
    <td colspan="5"><b>$oEmp.EmployeeCode - $oEmp.EmployeeName</td>
  </tr>	    
  #line($headings.size())
  <tr>
    #foreach ($heading in $headings)
    <td class="th4"><b>$heading</b></td>
    #end
  </tr>	
  #set($dIAmnt = 0)
  #set($dIDisc = 0)  
  #set($dComms = 0)  
  #set($dTAmnt = 0)
  #set($dTDisc = 0)  
  #set($dTComm = 0)
    
  #line($headings.size()) 
  #foreach($res in $vRes) 
    #set($sInvID = $res.getValue(1).asString())   
    #set($sInvNo = $res.getValue(2).asString())
    #set($sInvDt = $res.getValue(3).asDate())
    #set($sDescr = $res.getValue(4).asString())    
    #set($sShpTo = $res.getValue(5).asString())
    #set($dIAmnt = $res.getValue(6).asBigDecimal())
    #set($dIDisc = $res.getValue(7).asBigDecimal())
    #set($iTCrew = $sutil.toList($sShpTo,",").size())
    #set($dAmtBD = $calculator.add($dIAmnt,$dIDisc))                     
    #set($dComms = $calculator.mul($dAmtBD,$dCmPct))
    #set($dComms = $calculator.sub($dComms,$calculator.div($dIDisc,$iTCrew)))
    #set($dComms = $calculator.div($dComms,$iTCrew))
   
    #set($dTAmnt = $calculator.add($dTAmnt,$dAmtBD))
    #set($dTDisc = $calculator.add($dTDisc,$dIDisc))                
    #set($dTComm = $calculator.add($dTComm,$dComms))
    <tr>
      <td class="tbs" width="20">$no</td>  
      <td class="tbs">$!sInvNo </td>           
      <td class="tbs">$!cformat.fmt($!sInvDt)</td>           
      <td class="tbs">$!sDescr </td>    
      <td class="tbs" width="7%"  align="right">$!iTCrew</td>                     
      <td class="tbs" width="15%" align="right">$!cformat.formatAligned($dAmtBD) </td>
      <td class="tbs" width="15%" align="right">$!cformat.formatAligned($dIDisc) </td>    
      <td class="tbs" width="15%" align="right">$!cformat.formatAligned($dComms) </td>    
    </tr>	
    #set($vDet = $salestransaction.getDetailsByID($sInvID)) 
    #set($ins = "INSERT INTO salesman_csf (slscode,  slsname, slsdate,  invno,    tcrew,    shpto,    totamt,    disamt,    comamt) VALUES ")
    #set($ins = " $ins                    ('$sCode','$sName','$sInvDt','$sInvNo','$iTCrew','$sShpTo','$dTAmnt', '$dIDisc', '$dComms') ")   
    #set($x = $sqlutil.executeStatement($ins))
    #foreach($oDet in $vDet)
      #set($oItem = $oDet.Item)      
      #set($ins = "INSERT INTO salesman_csfdet (slscode,  slsname, slsdate,  invno,    tcrew,    shpto,  katid, itmid, qty, price, subttl) ")
      #set($ins = " $ins  VALUES               ('$sCode','$sName','$sInvDt','$sInvNo','$iTCrew','$sShpTo','$oItem.KategoriId','$oItem.ItemId', ")         
      #set($ins = " $ins                        '$oDet.Qty','$oDet.ItemPrice','$oDet.SubTotal') ")      
      #set($x = $sqlutil.executeStatement($ins))
    #end 
    #set($dIAmnt = 0)
    #set($dIDisc = 0)
    #set($dComms = 0)
    #set($res = "")
    #set($no = $no + 1)    
    
  #end ## end foreach vRes
  #line($headings.size())
  <tr>
    <td class="tbs" colspan="5" align="right"><b>Total Incentives</td>                
    <td class="tbs" width="15%" align="right">$!cformat.formatAligned($dTAmnt) </td>
    <td class="tbs" width="15%" align="right">$!cformat.formatAligned($dTDisc) </td>    
    <td class="tbs" width="15%" align="right">$!cformat.formatAligned($dTComm) </td>    
  </tr>	    
  #line($headings.size())
  #set($vRes = "")
  #if($printable)
  <br><br>  
  <table cellspacing="0" cellpadding="2" width="100%">
    <tr>
      <td width="25%" align="center">$!l10n.approved_by</td>
      <td width="25%" align="center">$!l10n.received_by</td>      
    </tr>
  </table>
  <br><br>
  <table cellspacing="0" cellpadding="2" width="100%">
    <tr>
      <td width="25%" align="center">(...............) </td>
      <td width="25%" align="center">(...............)</td>
    </tr>    
    <tr>
      <td width="25%" align="center">Cashier Staff </td>
      <td width="25%" align="center">Flight Crew   </td>
    </tr>    
  </table>   
  <p class="pagebreakhere"/>
  #end ##printable  
  #end ##end if vRes > 0  
  </table>
#end ##end if foreach Emp
