$data.setLayoutTemplate("/PopupWindow.vm")

#set($fa = $data.Session.getAttribute("fa"))
#set($title = "$!l10n.fa_revaluate")

#set($oLastDepr = $fadepr.getLastDepr($fa.FixedAssetId, $conn))
#set($dTotalDepr = $fadepr.getTotalDepr($fa.FixedAssetId))
#set($dBookValue = $calculator.sub($fa.AssetValue, $dTotalDepr))
        
#set($bFullyDepreciated = false)
  #if($oLastDepr && $calculator.compare($dTotalDepr, $fa.AssetValue, ">="))
  #set($bFullyDepreciated = true)
#end

#set($sFARID = $data.Parameters.getString("FixedAssetRevalId"))
#if($sutil.isNotEmpty($sFARID)) #set($oFAR = $fareval.getRevalByID($sFARID, $conn)) #end

#set($oAge = $!fixedasset.countAge($!fa, $dutil.getTodayDate()))
<script>
function setTransType()
{
	var iType = document.frm.RevType.value;
	if (iType == 1)
	{
		document.frm.RevDeprAmount.disabled = true;
		setSales(true);
	}
	else if (iType == 2)
	{
		document.frm.RevDeprAmount.disabled = false;
		setSales(true);
	}
	else if (iType == 3)
	{
		document.frm.RevDeprAmount.disabled = false;
		setSales(false);
	}
	else
	{
		document.frm.RevDeprAmount.disabled = false;
		setSales(true);	
	}
}
function setSales (disabled)
{           
    var f = document.frm;
	f.RevSalesAccount.disabled = disabled;
	f.RevSalesRef.disabled = disabled;
	f.RevSalesAmount.disabled = disabled;	
}
function validate(cancel)
{
    var f = document.frm;
	var iType = f.RevType.value;
	if(iType < 0)
	{
	    f.RevType.focus();
	    alert('$!l10n.fill_in $!l10n.trans_type');
	    return false;
	}
	
    var qty = f.Qty.value;
    var qrv = f.RevQty.value;    
	if(!cancel && qrv > qty)
	{
	    alert('Reval Qty must be less equal to Qty');
	    return false;
	}
	
	#isEmpty("frm" "RevAccount")
	if(iType == 1)
	{    
	}
	else if (iType == 2)
	{
	}
	else if (iType == 3)
	{
	}
	else
	{
	}
	return true;
}
function calcAmt()
{   
    var f = document.frm;
    var iType = f.RevType.value;
    if(iType == 2 || iType == 3)
    {
        var qty = f.Qty.value;
        var qrv = f.RevQty.value;
        if(qrv > qty)
        {
            qrv = qty;
            f.RevQty.value = qty;
        }
        qrv = qrv / qty;
        f.RevAmount.value = f.AssetValue.value * qrv;
        f.RevDeprAmount.value = f.Depreciation.value * qrv;            
    }
    if(iType == 1)
    {
        f.RevAmount.value = 0;
        f.RevDeprAmount.value = 0;
    }
}
function saveTrans()
{
	if (validate() && confirm('$!l10n.save_trans ?'))
	{
	    var f = document.frm;
		f.save.value = 3;
    	f.action =  '$link.setPage($data.ScreenTemplate).setAction("transaction.fixedasset.FixedAssetAction")';
    	f.submit();
	}
}

function cancelTrans()
{
	if (validate(true) && confirm('$!l10n.cancel_trans ?'))
	{             
	    var f = document.frm;
		f.save.value = 4;
    	f.action = '$link.setPage($data.ScreenTemplate).setAction("transaction.fixedasset.FixedAssetAction")';
    	f.submit();
	}
}
</script>

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)"> 
  <input type="hidden" name="FixedAssetId" value="$!fa.FixedAssetId">
  <input type="hidden" name="FixedAssetRevalId" value="$!sFARID">
  <input type="hidden" name="save" value="3">
  <input type="hidden" name="_session_access_counter" value="$!data.User.getTemp("_session_access_counter")">
  
  <table class="stdTable">
    <tr>
      <td colspan="3">
        <span class="txtTitle2">$title [$!fa.FixedAssetCode - $!fa.FixedAssetName]</span><br>
      </td>		
    </tr>
    #if($data.Message)
    <tr>
      <td colspan="2">
        <span class="txtMessage">$data.Message</span><br>
      </td>		
    </tr>
    #end
	<tr>
      <td width="25%">$!l10n.asset_value</td>
      <td width="25%">
        <input type="hidden" name="AssetValue" value="$!fa.AssetValue" READONLY > 
        <input type="text" name="txtAssetValue" value="$!cformat.formatNumber($!fa.AssetValue)" READONLY > 
      </td>
      <td width="25%">$!l10n.qty</td>
      <td width="25%">
        <input type="text" name="Qty" value="$!fa.Qty.intValue()" READONLY > 
      </td>
    </tr>
    <tr>
      <td>$!l10n.depreciation</td>
      <td>
        <input type="hidden" name="Depreciation" value="$!dTotalDepr" READONLY > 
        <input type="text" name="txtDepreciation" value="$!cformat.formatNumber($!dTotalDepr)" READONLY > 
      </td>
      <td>$!l10n.depr_last</td>
      <td>
        <input type="text" name="LastDepreciation" value="$!cformat.formatDate($!oLastDepr.TransDate)" READONLY > 
      </td>	  
    </tr>
    <tr>
      <td>$!l10n.book_value</td>
      <td>
        <input type="text" name="BookValue" value="$!cformat.formatNumber($!dBookValue)" READONLY > 
      </td>
      <td>$!l10n.end_date</td>
      <td>
        <input type="text" name="DeprFinishDate" value="$!cformat.formatDate($!fa.DeprFinishDate)" READONLY > 
      </td>	  
    </tr>
    <tr>
      <td>$!l10n.est_life</td>
      <td>
        <input type="text" name="EstimatedLife" 
		  value="$!fa.EstLifeYear $!l10n.year $!fa.EstLifeMonth $!l10n.month" READONLY > 
      </td>
      <td>$!l10n.fa_age</td>
      <td>
        <input type="text" name="FixedAssetAge" 
		  value="$oAge.Years $!l10n.year $oAge.Months $!l10n.month" READONLY > 
      </td>	  
    </tr>	
  </table>  
  <br>
  ## --------- REV ------------ 
  <table class="stdTable">	
    #set($revDate = $cformat.formatDate($dutil.TodayDate))
	<tr>
      <td width="25%">$!l10n.trans_date</td>
      <td>
        <input type="text" name="RevDate" #width(100)
		  #if($oFAR) value="$!cformat.formatDate($oFAR.RevDate)" 
		  #else value="$!cformat.formatDate($dutil.TodayDate)" #end > 
		  #cal("TransDate" true)
      </td>
      <td rowspan="6" width="50%" valign="top">
        $!l10n.description:<br>
        <textarea name="Description" cols="50" rows="5">$!oFAR.Description</textarea>
      </td>      
    </tr>
	<tr>
      <td width="25%">$!l10n.create_by</td>
      <td>
        <input type="text" name="CreateBy" value="$!data.getUser().getName()" #width(100) READONLY > 
      </td>
    </tr>	
    <tr>
      <td>$!l10n.trans_type</td>
      <td>
		<select name="RevType" OnChange="setTransType();" #width(100)>
		  <option value="-1">-- $!l10n.trans_type --</option>
		  #if(!$bFullyDepreciated)
		  <option value="1" #if($oFAR.RevType == 1) SELECTED #end>$!fareval.getRevTypeStr(1)</option>
		  #end
		  <option value="2" #if($oFAR.RevType == 2) SELECTED #end>$!fareval.getRevTypeStr(2)</option>
		  <option value="3" #if($oFAR.RevType == 3) SELECTED #end>$!fareval.getRevTypeStr(3)</option>
		</select>
      </td>
    </tr>
    <tr>
      <td>$!l10n.qty</td>
      <td>
		<input type="hidden" name="RevEstLifeYear" value="$!fa.EstLifeYear">
		<input type="hidden" name="RevEstLifeMonth" value="$!fa.EstLifeYear">		
        <input type="text" name="RevQty" #width(100)
		  #if($oFAR) value="$!oFAR.RevQty.intValue()" #else value="$fa.Qty.intValue()" #end  #if($bFullyDepreciated) READONLY #end >         
        #if(!$bFullyDepreciated)
        <i class="fa fa-calculator faicon" OnClick="calcAmt();"></i>
        #end
      </td>
    </tr>
	<tr>
      <td>$!l10n.amount</td>
      <td>
        #set($amt = 0)
        #if($oFAR.RevAmount)
          #set($amt = $oFAR.RevAmount)          
        #else
          #if($bFullyDepreciated) #set($amt = $fa.AssetValue) #end
        #end
        <input type="text" name="RevAmount" value="$!amt" #width("") #if($bFullyDepreciated) READONLY #end >         
      </td>
    </tr>
    <tr>
      <td>$!l10n.depreciation</td>
      <td>  
        #set($depr = 0)
        #if($oFAR.RevDeprAmount)
          #set($depr = $oFAR.RevDeprAmount)          
        #else
          #if($bFullyDepreciated) #set($depr = $dTotalDepr) #end
        #end            
        <input type="text" name="RevDeprAmount" value="$!depr" #width("") #if($bFullyDepreciated) READONLY #end >         
      </td>
    </tr>
    <tr>
      <td>Gain Loss / Expend $!l10n.account </td>
      <td colspan="3">
		#set($vAcc = $account.getAllChildAccount())
        <select id="revAcc" name="RevAccount" #width("") >
          <option value="" >-- $!l10n.account --</option>
		  #foreach ($acc in $vAcc) 
          <option value="$acc.AccountId" #if($acc.AccountId == $oFAR.RevAccount) SELECTED #end >
             $acc.AccountCode &nbsp; $acc.AccountName
          </option>
          #end
        </select>
        <script>jQuery('#revAcc').select2();</script>
      </td>
    </tr>	
    <tr>
      <td colspan="3"><br><b>Sales $!l10n.fixed_asset</td>
    </tr>	
	<tr>
      <td>Sales $!l10n.reference_no</td>
      <td colspan="3">
		<input type="text" name="RevSalesRef" value="$!oFAR.RevSalesRef" #width(150) DISABLED >       
      </td>
    </tr>	
    <tr>
      <td>$!l10n.sales_price</td>
      <td colspan="3">
		<input type="text" name="RevSalesAmount" value="$!oFAR.RevSalesAmount" #width(150) DISABLED >       
      </td>
    </tr>	
	<tr>
      <td>Sales $!l10n.account</td>
      <td colspan="3">
        <select id="revSlsAcc" name="RevSalesAccount" #width(350) DISABLED >
          <option value="" >-- $!l10n.account --</option>
		  #foreach ($acc in $vAcc) 
          <option value="$acc.AccountId" #if($acc.AccountId == $oFAR.RevSalesAccount) SELECTED #end >
             $acc.AccountCode &nbsp; $acc.AccountName
          </option>
          #end
        </select>
        <script>jQuery('#revSlsAcc').select2({allowClear:true});</script>
      </td>
    </tr>	
	<tr>
      <td>#spc(1)</td>
      <td colspan="2">
        #if(!$oFAR)
        <input type="button" value="$!l10n.save_trans" OnClick="saveTrans();">
        #else
		  ##$period.LastFAClosedPeriod.EndDate
	      #if($oFAR.RevDate.after($period.LastFAClosedPeriod.EndDate))
          <input type="button" id="btnCancel" value="$!l10n.cancel_trans" OnClick="cancelTrans();">			
		  #end
        #end
	  </td>
    </tr>
  </table>
  
  #set($vRev = $fareval.getReval($fa.FixedAssetId, $conn))
  #if($vRev.size() > 0)
  <br>
  <table class="stdTable">
    #set($headings = [$!l10n.trans_date, $!l10n.trans_type, $!l10n.account, "<div align=right>$!l10n.qty</div>", "<div align=right>$!l10n.amount</div>", "<div align=right>$!l10n.depreciation</div>", "&nbsp;"])
	<tr  class="th4">
	  #foreach ($heading in $headings)
	  <td>$heading</td>
	  #end
	</tr>
    #foreach ($oRev in $vRev)
	<tr>
	  <td>$cformat.formatDate($oRev.RevDate)</td>
	  <td>$!fareval.getRevTypeStr($oRev.RevType)</td>
	  <td>$account.getAccountByID($oRev.RevAccount).AccountCode</td>	  
	  <td align="right">$cformat.formatNumber($oRev.RevQty)</td>
	  <td align="right">$cformat.formatNumber($oRev.RevAmount)</td>
	  <td align="right">$cformat.formatNumber($oRev.RevDeprAmount)</td>
	  <td>
		<a href="$!link.setPage($data.ScreenTemplate)?FixedAssetRevalId=$oRev.FixedAssetRevalId">
		 <i class="fa fa-search faicon"></i>
	    </a>
	  </td>	  
	</tr>
	#end		
  </table>
  <br><br>
  #end
</form>