$data.setLayoutTemplate("/Transaction.vm")

#set($title = "$!l10n.fixed_asset" )
#set($iOp = $data.Parameters.getInt("op") )

#if($sutil.isNotEmpty($fa.FixedAssetId))
  #set($oLastDepr = $fadepr.getLastDepr($fa.FixedAssetId, $conn))
  #set($dTotalDepr = $fadepr.getTotalDepr($fa.FixedAssetId))
#end

#set($bEditable = true)
#set($bDepreciated = $sutil.isNotEmpty($oLastDepr.FixedAssetDeprId))
#set($bSaved = $sutil.isNotEmpty($fa.FixedAssetId))
#set($sAction = "transaction.fixedasset.FixedAssetAction")

#set($sName = "TxtDeprAmount")
#set($iWidth = 150)
#set($dAcq = $fa.AcquisitionDate)
#set($bManualDepr = false)
#if(!$oLastDepr)
  #set($oLastClosedPeriod = $period.getLastClosedPeriod())
  #if($dAcq && $dAcq.before($preference.StartDate) || $dAcq.before($oLastClosedPeriod.BeginDate))
    #set($bManualDepr = true)
    #set($sName = "DeprAmount")
    #set($iWidth = 100)
    <script>
    </script>
  #end
#else
  #set($bEditable = false)
#end
#set($bDisposed = false)
#if($fa.Status == 3)
  #set($bDisposed = true)
  #set($bEditable = false)
#end
#set($bFullyDepreciated = false)
#if($oLastDepr && $calculator.compare($dTotalDepr, $fa.AssetValue, ">="))
#set($bFullyDepreciated = true)
#end

<link rel="stylesheet" href="$data.ContextPath/css/lightbox.simple.css">
<script>
function setPageFocus ()
{
}
function initPage ()
{
    var f = document.frm;
    setPageFocus();
    #if($sutil.isEmpty($fa.FixedAssetId))
    setDate(f.AcquisitionDate);
    setDate(f.UsageDate);
    #end
    setDate(f.TransactionDate0);
    setDate(f.NotesCreateDate);

    #if($iOp != 1 && $iOp != 2 && $iOp != 5 && $iOp != 6 && $iOp != 7 && $iOp != 8)
    //flip tab to prevent bug in IE and the tab
    changeCont("12", "tab12");
    changeCont("11", "tab11");
    #end
}
function generateCode()
{
    var f = document.frm;
    var sKatID  = f.FaKategoriId.value;
    var sTypeID = f.FixedAssetTypeId.value;
    var sDeptID = f.DepartmentId.value;
    var sLocID  = f.LocationId.value;

    var url = sTPL + 'transaction,fixedasset,GenerateCode.vm?KategoriID=' + sKatID +
        '&TypeID=' + sTypeID + '&DepartmentID=' + sDeptID + '&LocationID=' + sLocID; 
    jQuery.post(url,'',function(resp){eval(resp)});
}
function setType()
{
	var url = sTPL + 'transaction,fixedasset,FixedAssetTypeSet.vm'; 	    
	var param = 'ajax=true&id=' + document.frm.FixedAssetTypeId.value;
	jQuery.post(url, param, function(resp){eval(resp);});
}
function handleAccountKeypress (e)
{    
    if (getKey(e) == 13)
    {
        var url = sTPL + 'transaction,AccountLookup.vm?mode=2&src=2&AccountCode=' + document.frm.AccountCode.value;
        jQuery.get(url,'',function(resp){eval(resp);});    
    }
}
function openAccountLookUpWindow()
{
    var url = sTPL + 'transaction,AccountLookup.vm?src=2';
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">',{overlayClose:true});
}
function validateDetail()
{
    var f = document.frm;
    ##if(!validateDate(f.AcquisitionDate.value)) {return false;}
    ##if(!validateDate(f.UsageDate.value)) {return false;}
    ##if(!validateDate(f.TransactionDate0.value)) {return false;}
    if (f.AssetValue.value <= 0)
    {
        alert ('Journal amount must > 0');
        return false;
    }
    return true;
}
function addDetail()
{
    if (validateDetail())
    {
        var f = document.frm;
        f.op.value = 1;
        f.action = sSCR;
        f.submit();
    }
}
function delDetail(i)
{
    eval ('document.frm.Amount'    + i + '.value = 0');
    eval ('document.frm.AmountBase'+ i + '.value = 0');
    eval ('document.frm.Amount'    + i + '.value = 0');

    var f = document.frm;
    f.op.value = 2;
    f.no.value = i;
    f.action = sSCR;
    f.submit();
}
function recalculateRate()
{
    var f = document.frm;
    var iMethod = f.DepreciationMethod.value;

    var iYear  = parseInt(f.EstLifeYear.value);
    var iMonth = parseInt(f.EstLifeMonth.value);
    var iLife  = (iYear * 12) + iMonth;
    var iRate  = ((iYear * 12) + iMonth) / 12;

    if (iYear != '')
    {
        #isAllDigit ("frm" "EstLifeYear")
        if (iMethod == 1) { f.DepreciationRate.value = 0;               }
        if (iMethod == 2) { f.DepreciationRate.value = 100 / iRate;     }
        if (iMethod == 3) { f.DepreciationRate.value = 100 / iRate * 2; }

        f.EstimatedLife.value = parseInt(iLife);
    }
}
function recalculateJournal(i)
{
    var f = document.frm;
    if (eval ('f.Amount'+ i + '.value=""'))
    {
        eval ('f.Amount'+ i + '.value=' + eval ('document.frm.TxtAmount' + i + '.value'));
    }
    var dOldTotal = parse(f.AssetValue.value);
    var dRate     = 1;
    var dOld      = eval ('parse (f.Amount'    + i + '.value)');
    var dNew      = eval ('parse (f.TxtAmount' + i + '.value)');
    var dNewBase  = dNew * dRate;

    if (dOldTotal > 0)
    {
        dOldBase  = eval ('parse (f.AmountBase'+ i + '.value)');
        dOldTotal = dOldTotal - dOldBase;
    }

    eval ('f.CurrencyRate'    + i + '.value = dRate');
    eval ('f.Amount'          + i + '.value = dNew');
    eval ('f.AmountBase'      + i + '.value = dNewBase');

    //eval('f.TxtCurrencyRate' + i + '.value = formatNumber(dRate,    ",**0.*0")');
      eval('f.TxtAmount'       + i + '.value = formatNumber(dNew,     ",**0.*0")');
    //eval('f.TxtAmountBase'   + i + '.value = formatNumber(dNewBase, ",**0.*0")');

    var dTotal = dOldTotal + dNewBase;
    f.AssetValue.value = dTotal;
    f.TxtAssetValue.value = formatNumber(dTotal, ",**0.*0");
}
function calcDepr()
{   
    var f = document.frm;
    f.DeprAmount.value = f.Months.value * f.MonthlyDepr.value;
}
function validateTrans()
{
    #isEmpty("frm" "FixedAssetTypeId")
    #isEmpty("frm" "FaKategoriId")
    #isEmpty("frm" "FixedAssetCode")
    #isEmpty("frm" "FixedAssetName")
    #isEmpty("frm" "AcquisitionDate")
    #isEmpty("frm" "UsageDate")
    #isEmpty("frm" "EstLifeYear")

    ##//if (!validateDate(document.frm.AcquisitionDate.value)) {return false;}
    ##//if (!validateDate(document.frm.UsageDate.value)) {return false;}

    
    if(document.frm.AssetValue.value <= 0)
    {
        return confirm ('Asset Value is zero, $!l10n.save ? ');
    }
    #if($faDet.size() == 0)
    return confirm('$!l10n.fa_expenditure $!l10n.empty, $!l10n.save?');
    #else
    return true;
    #end
}
function newTrans()
{
    if (confirm ('$!l10n.create_new_trans'))
    {
        var f = document.frm;
        f.op.value = 3;
        f.action = '$link.setPage("$data.ScreenTemplate")';
        f.submit();
    }
}
function saveTrans()
{
    if (validateTrans ())
    {
        var f = document.frm;
        f.action = '$link.setPage($data.ScreenTemplate).setAction($sAction)';
        f.op.value = -1;
        f.save.value = 1;
        f.submit();
    }
}
function cancelTrans()
{
	if (confirm ('$!l10n.delete $!l10n.fixed_asset ?'))
	{
	    var f = document.frm;
        f.action = '$link.setPage($data.ScreenTemplate).setAction($sAction)';
        f.op.value = 3;
        f.save.value = 2;
        f.submit();
	}
}
function findTrans()
{
    #set($iPage = $data.User.getTemp("page"))
    #set($sParam = $data.User.getTemp("FAViewParam"))
    #if($iPage && $iPage.intValue() > 0)
    #set($sParam = "?op=page&page=$!{iPage}$!{sParam}")
    #end    
    document.location = sTPL + 'transaction,fixedasset,FixedAssetView.vm$!{sParam}';
}
function setNotes(sNoteID)
{
    var url = sTPL + 'transaction,fixedasset,FixedAssetNotesSet.vm?id=' + sNoteID;
	jQuery.get(url,'',function(resp){eval(resp);});
}
function saveNotes()
{
    var f = document.frm;
    f.op.value = 5;
    f.action = sSCR;
    f.submit();
}
function delNotes()
{
    if (confirm('$!l10n.delete ?'))
    {
        var f = document.frm;
        f.op.value = 6;
        f.action = sSCR;
        f.submit();
    }
}
function setSvc(sSvcID)
{
    var url = sTPL + 'transaction,fixedasset,FixedAssetSvcSet.vm?id=' + sSvcID;
	jQuery.get(url,'',function(resp){eval(resp);});
}
function saveSvc()
{
    var f = document.frm;
    #isEmpty("frm" "SvcDate")
    if(f.SvcTypeId.value != '')
    {        
        f.op.value = 9;
        f.action = sSCR;
        f.submit();
    }
}
function delSvc()
{
    if (confirm('$!l10n.delete ?'))
    {
        var f = document.frm;
        f.op.value = 10;
        f.action = sSCR;
        f.submit();
    }
} 
function viewFile(dataFile)
{
    jQuery.modal('<iframe src="' + dataFile + '" class="modal-iframe">',{overlayClose:true});
}
function setPic(sPicID)
{
    var url = sTPL + 'transaction,fixedasset,FixedAssetPicSet.vm?id=' + sPicID;
	jQuery.get(url,'',function(resp){eval(resp);});
}
function savePic()
{
    var f = document.frm;
    f.op.value = 7;
    f.action = sSCR;
    f.submit();
}
function delPic()
{
    if (confirm('$!l10n.delete $!l10n.picture ?'))
    {
        var f = document.frm;
        f.op.value = 8;
        f.action = sSCR;
        f.submit();
    }
}
function viewHistory()
{
    var url = sTPL + 'report,fixedasset,DepreciationHistory.vm?id=' + document.frm.FixedAssetId.value;
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">',{overlayClose:true});
}
function revaluate()
{
    var url = '${link.setPage("transaction,fixedasset,FARevaluation.vm")}?id=$!fa.FixedAssetId';
    jQuery.modal('<iframe src="' + url + '" class="modal-iframe">',{overlayClose:true});
}
function openTransferWindow()
{
   var url = sTPL + 'transaction,fixedasset,FATransfer.vm?id=$!fa.FixedAssetId';
   jQuery.modal('<iframe src="' + url + '" class="modal-iframe">',{overlayClose:true});   
}
## function printTrans()
## {
##     var sID = document.frm.FixedAssetId.value;
##     var url = '${link.setPage("transaction,fixedasset,FixedAssetPrint.vm")}' + '?op=4&id=' + sID;
##     var wndPrint = window.open(url, 'wndPrint',
##         'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=600,left=20,top=20');
## }
## function createItem()
## {
##     if (confirm ('$!l10n.new $!l10n.item_data ?'))
##     {
##         var f = document.frm;
##         f.action = '$link.setPage($data.ScreenTemplate).setAction($sAction)';
##         f.op.value = -1;
##         f.save.value = 7;
##         f.submit();
##     }
## }  
</script>	

<div id="lightbox" style="display:none;"></div>
<form name="frm" method="POST" enctype="multipart/form-data" action="$link.setPage("$data.ScreenTemplate")">
<input type="hidden" name="_session_access_counter" value="$data.User.getTemp("_session_access_counter")"/>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <span class="txtTitle2">$title</span>
    </td>
    #if($data.Message)
    <td><span class="txtMessage">$data.Message</span></td>
    #end
    <td>
      #if(!$fa.FixedAssetId)
        &nbsp;&nbsp;
      #else
        <div align="right">
          <a href="javascript:void(0)" OnClick="viewHistory('$fa.FixedAssetId')" title="View History">
            <img src="${data.ContextPath}/images/btn_history.gif" border="0" />
          </a>
          #spc(1)
          ##<a href="javascript:void(0)" OnClick="printTrans();">
          ##  <img src="${data.ContextPath}/images/btn_print.gif" border="0"/>
          ##</a>
        </div>
      #end
    </td>
  </tr>
</table>
##<!-- END TITLE SECTION -->
#parse("navigations/tabs/FixedAssetTab.vm")

<input type="hidden" name="op" value="">
<input type="hidden" name="no" value="">
<input type="hidden" name="FixedAssetId"  value="$!fa.FixedAssetId">

#set($sCreateBy = "$!fa.CreateBy")
#if(!$bSaved) #set($sCreateBy = "$!data.getUser().getName()") #end
<input type="hidden" name="CreateBy"  value="$!sCreateBy" >

##FIXED ASSET
<div id="T11" class="fa-tab-body tab-body">
<table class="stdTable">
  <tr>
    <td width="50%" valign="top">
      <table class="stdTable">
        <tr>
          <td>$!l10n.fixed_asset_type</td>
          <td>
            <select name="FixedAssetTypeId" OnChange="setType();" #width("")
               #if(!$bEditable || $bDepreciated) DISABLED #end >
              <option value=""> -- $!l10n.fixed_asset_type --</option>
              #foreach ($fat in $fixedassettype.getAllFixedAssetType())
              <option value="$fat.FixedAssetTypeId"
                #if($fat.FixedAssetTypeId == $fa.FixedAssetTypeId) SELECTED #end >$fat.Description</option>
              #end
            </select>
          </td>
        </tr>
        <tr>
          <td>$!l10n.category</td>
          <td>
            <select name="FaKategoriId" #width("")  #if(!$bEditable || $bDepreciated) DISABLED #end >
              <option value=""> -- $!l10n.category [$!l10n.fixed_asset] --</option>
              #foreach ($oKat in $fakategori.getKategoriTreeList("", true))
              <option value="$oKat.FaKategoriId"
                #if($oKat.FaKategoriId == "$!fa.FaKategoriId") SELECTED #end >
                #set($iLevel = $oKat.KategoriLevel )
                #if($iLevel > 1) #foreach ($i in [2..$iLevel]) &nbsp;&nbsp; #end #end
                $!oKat.FaKategoriCode [$!oKat.Description]
              </option>
              #end
            </select>
          </td>
        </tr>
        <tr>
          <td>$!l10n.department</td>
          <td>
            <select name="DepartmentId" #width("")
              #if(!$bEditable || $bDepreciated) DISABLED #end >
              <option value="">-- $!l10n.department --</option>
              #foreach ($dept in $department.getAllDepartment())
              <option value="$dept.DepartmentId"
                #if($dept.DepartmentId == $!fa.DepartmentId) SELECTED #end >
                $dept.DepartmentCode - $dept.Description
              </option>
              #end
            </select>
          </td>
        </tr>
        <tr>
          <td>$!l10n.location</td>
          <td>
            <select name="LocationId" #width("") #if(!$bEditable || $bDepreciated) DISABLED #end >
              <option value="">-- $!l10n.location --</option>
              #foreach ($loc in $location.getByUserName($data.User.Name, $data.ACL.Permissions))
              <option value="$loc.LocationId"
              #if($loc.LocationId == $fa.LocationId) SELECTED #end >$loc.Description</option>
              #end
            </select>
            #if(!$bEditable || $bDepreciated)
            <a href="javascript:void(0)" OnClick="openTransferWindow();" title="$!l10n.item_transfer">
              <i class="fa fa-folder-open"></i>
            </a>
            #end
          </td>
        </tr>
        <tr>
          <td>$!l10n.fa_code</td>
          <td>
            <input type="text" #width("") value="$!fa.FixedAssetCode" name="FixedAssetCode"
              #if(!$bEditable || $bDepreciated) READONLY #end >
            #if($bEditable && $sutil.empty($!fa.FixedAssetCode))
            <a href="javascript:void(0)" OnClick="generateCode();" title="$!l10n.create $!l10n.code">
              <i class="fa fa-edit"></i>
            </a>
            #end
          </td>
        </tr>
        <tr>
          <td>$!l10n.serial_no  </td>
          <td>
            <input type="text" #width("") value="$!fa.SerialNo" name="SerialNo"
              #if(!$fa.FixedAssetCode) OnFocus="this.value=document.frm.FixedAssetCode.value;" #end
              #if(!$bEditable || $bDepreciated) READONLY #end >
          </td>
        </tr>
        <tr>
          <td>$!l10n.fa_name</td>
          <td>
            <input type="text" #wid("" 200 360) value="$!fa.FixedAssetName" name="FixedAssetName"
              #if(!$bEditable || $bDepreciated) READONLY #end >
          </td>
        </tr>
        <tr>
          <td>$!l10n.fa_acq_date</td>
          <td>
            <input type="text" size="12" name="AcquisitionDate"
              #if(!$bEditable || $bDepreciated) READONLY #end
              value="$!cf.fmt($!fa.AcquisitionDate)" >
              #if($bEditable && !$bDepreciated) #cal("AcquisitionDate" true) #end
          </td>
        </tr>
        <tr>
          <td>$!l10n.fa_usg_date</td>
          <td>
            <input type="text" size="12" name="UsageDate"
              #if(!$bEditable || $bDepreciated) READONLY #end
              value="$!cf.fmt($!fa.UsageDate)" >
              #if($bEditable && !$bDepreciated) #cal("UsageDate" true) #end
          </td>
        </tr>
        <tr>
          <td >$!l10n.depr_method</td>
          <td >
            <select name="DepreciationMethod" OnChange="recalculateRate();"
              #if(!$bEditable || $bDepreciated) DISABLED #end >
              <option value="1" #if($!fa.DepreciationMethod == 1) SELECTED #end >$!l10n.non_depreciable  </option>
              <option value="2" #if($!fa.DepreciationMethod == 2) SELECTED #end >$!l10n.straight_line    </option>
              <option value="3" #if($!fa.DepreciationMethod == 3) SELECTED #end >$!l10n.double_declining </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>$!l10n.est_life</td>
          <td>
            <input type="hidden" name="EstimatedLife" value="$!fa.EstimatedLife">
            <input type="text" size="6" OnChange="recalculateRate();"
                #if(!$bEditable || $bDepreciated) READONLY #end
                name="EstLifeYear"  value="$!fa.EstLifeYear"> $!l10n.year
            #spc(2)
            <select name="EstLifeMonth" OnChange="recalculateRate();"
              #if(!$bEditable || $bDepreciated) DISABLED #end >
              <option value="0"  #if($!fa.EstLifeMonth ==  0 ) SELECTED #end >  0 </option>
              <option value="1"  #if($!fa.EstLifeMonth ==  1 ) SELECTED #end >  1 </option>
              <option value="2"  #if($!fa.EstLifeMonth ==  2 ) SELECTED #end >  2 </option>
              <option value="3"  #if($!fa.EstLifeMonth ==  3 ) SELECTED #end >  3 </option>
              <option value="4"  #if($!fa.EstLifeMonth ==  4 ) SELECTED #end >  4 </option>
              <option value="5"  #if($!fa.EstLifeMonth ==  5 ) SELECTED #end >  5 </option>
              <option value="6"  #if($!fa.EstLifeMonth ==  6 ) SELECTED #end >  6 </option>
              <option value="7"  #if($!fa.EstLifeMonth ==  7 ) SELECTED #end >  7 </option>
              <option value="8"  #if($!fa.EstLifeMonth ==  8 ) SELECTED #end >  8 </option>
              <option value="9"  #if($!fa.EstLifeMonth ==  9 ) SELECTED #end >  9 </option>
              <option value="10" #if($!fa.EstLifeMonth == 10 ) SELECTED #end > 10 </option>
              <option value="11" #if($!fa.EstLifeMonth == 11 ) SELECTED #end > 11 </option>
            </select>
            $!l10n.month
          </td>
        </tr>
        <tr>
          <td>$!l10n.depr_rate</td>
          <td>
            <input name="DepreciationRate" value="$!fa.DepreciationRate"
                type="text" size="12" READONLY >%
            #spc(2)
            $!l10n.intangible
            <input type="checkbox" class="cb" name="IntangibleType"
              #if(!$bEditable || $bDepreciated) DISABLED #end
              #if($!fa.IntangibleType) CHECKED #end >
          </td>
        </tr>
      </table>
      <table  class="stdTable">
        <tr class="th4">
          <td colspan="2">$!l10n.account</td>
        </tr>
        <tr>
          <td>$!l10n.asset_account</td>
          <td>
            #set($vAcc = $account.getAccountByType(5, false, true))
            <select name="AssetAccount" #wid("" 200 360) #if(!$bEditable) DISABLED #end >
              #foreach ($acc in $vAcc)
              <option value="$acc.AccountId" #if($acc.AccountId == $fa.AssetAccount) SELECTED #end >
                $acc.AccountCode &nbsp; $acc.AccountName
              </option>
              #end
            </select>
          </td>
        </tr>
        <tr>
          <td>$!l10n.accum_depr_account</td>
          <td>
            #set($vAcc = $account.getAccountByType(6, false, true))
            <select name="AccDeprAccount" #wid("" 200 360) #if(!$bEditable) DISABLED #end >
              #foreach ($acc in $vAcc)
              <option value="$acc.AccountId" #if($acc.AccountId == $fa.AccDeprAccount) SELECTED #end >
                $acc.AccountCode &nbsp; $acc.AccountName
              </option>
              #end
            </select>
          </td>
        </tr>
        <tr>
          <td>$!l10n.depr_exp_account </td>
          <td>
            #set($vAcc = $account.getAccountByType(13, false, true))
            <select name="DeprExpAccount" #wid("" 200 360) #if(!$bEditable) DISABLED #end >
              #foreach ($acc in $vAcc)
              <option value="$acc.AccountId" #if($acc.AccountId == $fa.DeprExpAccount) SELECTED #end >
                $acc.AccountCode &nbsp; $acc.AccountName
              </option>
              #end
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
      </table>
    </td>
    <td width="50%" valign="top" >
      <div id="scroll3" style="width:100%;height:371px;overflow:auto">
      <table  class="stdTable">
        #if($fa.Status == 3)
        <tr>
          <td colspan="2" height="23">
            <span class="txtMessage"><b>DISPOSED<br></span>
          </td>
        </tr>
        #end
        #if($bFullyDepreciated)
        <tr>
          <td colspan="2" height="23">
            <span class="txtMessage"><b>$!l10n.fully_depreciated.toUpperCase()</span>             
            #spc(2)
            <a href="#" OnClick="javascript:revaluate();">
              #if($fa.Qty.intValue() > 0)
              <i class="fa fa-money faicon"></i> Sell / Dispose
              #else
              <i class="fa fa-search "></i>
              #end
            </a>            
          </td>
        </tr>
        #end
        <tr>
          <td>$!l10n.qty</td>
          <td>
            <input type="text" name="Qty" value="$!fa.Qty" #width(60) #if(!$bEditable || $bDepreciated) READONLY #end >
            <b>@ $!cformat.formatNumber($calculator.div($!fa.AssetValue,$!fa.Qty))
          </td>
        </tr>
        <tr>
          <td>$!l10n.monthly_depr</td>
          <td>
            #set($d1 = $!fadepr.getMonthlyDepreciation($!fa, $conn))
            #set($d2 = $!fadepr.getMonthlyDepreciation($!fa))
            <b>$!cformat.formatNumber($d1) ##/ $!cformat.formatNumber($d2)
          </td>
        </tr>
        #if($fixedasset.isCostSharing())
        <tr>
          <td>$!l10n.cost_allocation</td>
          <td>
            <select name="CostAllocationId" #width("")>
			  <option value="">-- $!l10n.cost_allocation --</option>
              #foreach ($oCA in $!costallocation.getAll())
		      <option value="$!oCA.CostAllocationId"
			    #if($oCA.CostAllocationId == $fa.CostAllocationId) SELECTED #end >
		        $!oCA.Departments - $!oCA.Percentage
			  </option>
              #end
		    </select>
          </td>
        </tr>
        #end
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        #if($sutil.isNotEmpty($fa.FixedAssetId))    
        #set($vFldKat = $fafield.getByFAKategori($fa.FaKategoriId, $!fa.FixedAssetTypeId))                
        #set($vGroups = $butil.getDistinctListByField($vFldKat,"groupTag"))        
        #if($vGroups.size() > 0) 
        #set($no = 0)
        #foreach($grp in $vGroups)
        #set($vFields = $butil.filterListByFieldValue($vFldKat,"groupTag",$grp.GroupTag))        
        #if($vFields.size() > 0)
          <tr class="th4">
            <td colspan="2">$!grp.GroupTag</td>
          </tr>
          #foreach($oField in $vFields)
          <tr>
            <td width="30%">$!oField.FieldName</td>
            <td width="70%">                         
              $!oField.createField("$!mFld.get($!oField.CustomFaFieldId)", true)
            </td>
          </tr>
          #set($no= $no + 1)
          #end ##end foreach vFields
        #end ##end if vFields > 0
        #end ##end foreach group   
        #end ##end if vGroups
        #end ##end if not Empty FA ID
      </table>
      </div>
      <input type="hidden" name="TotalField" value="$!no">
    </td>
  </tr>
</table>
</div>

## EXPENDITURES
#set($Currency = $!currency.getDefaultCurrency())
#set($dRate = 1)
<input type="hidden" value="$dRate" name="CurrencyRate">
<div id="T12" class="fa-tab-body tab-body">
<table class="stdTable">
  <tr class="th2">
    <td><b>$!l10n.fa_expenditure</b></td>
  </tr>
</table>
<table class="stdTable">
  <tr class="th4">
    #set($headings = ["No", "$!l10n.date", "$!l10n.code", "$!l10n.account_name", "$!l10n.currency", "$!l10n.amount", "&nbsp;"])
    #foreach ($heading in $headings)
      <td>$heading</td>
    #end
  </tr>
  #set($no = 1)
  #foreach ($FAD in $faDet)
  <tr cellpadding="0">
    <td width="20"  >
      <input #stdin ("No${no}" "$no" 20 false) >
    </td>
    <td width="120">
      <input #stdin ("TransactionDate$no" "$!cf.fmt($!FAD.TransactionDate)" 90 $bEditable) >
      #if($bEditable) #cal("TransactionDate$no"  true) #end
    </td>
    <td width="150">
      <input value="$!FAD.AccountId"   name="AccountId$no"   type="hidden">
      <input value="$!FAD.CurrencyId"  name="CurrencyId$no"  type="hidden">
      <input #stdin ("AccountCode$no" "$!FAD.AccountCode" 150 false) >
    </td>
    <td width="200">
      <input #stdin ("AccountName$no" "$!FAD.AccountName" 200 false) >
    </td>
    <td width="80">
      <input #stdin ("CurrencyCode$no" "$!currency.getCurrencyByID($!FAD.CurrencyId).CurrencyCode" 80 false) >
    </td>
    <td width="100" >
      <input value="$!FAD.CurrencyRate" name="CurrencyRate$no" type="hidden" >
      <input value="$!FAD.AmountBase" name="AmountBase$no"  type="hidden" >
      <input value="$!FAD.Amount" name="Amount$no" type="hidden" value="$!FAD.Amount">
      <input #stdin ("TxtAmount$no"  "$!cformat.formatNumber($!FAD.Amount)" 100 $bEditable)
        onFocus="this.select();" OnChange="recalculateJournal($no);" >
    </td>
   <td>
     #if($bEditable && !$bDepreciated)
       #opBtn ("del" "" "" "")
     #end
     &nbsp;
    </td>
  </tr>
  #set($no = $no + 1)
  #end ##end foreach faDet

  ##INPUT JOURNAL
  #if($bEditable)
    <tr cellpadding="0">
      <td width="20"  >
        <input #stdin ("No${no}" "$no" 20 false)  >
      </td>
      <td width="120">
        <input #stdin ("TransactionDate0" "" 90 $bEditable) >
        #if($bEditable) #cal("TransactionDate0"  true) #end
      </td>
      <td width="150">
        <input value="$!Currency.CurrencyId" type="hidden" name="CurrencyId0">
        <input value="" name="AccountId"     type="hidden">
        <input value="" name="Amount"        type="hidden">
        <input value="" name="AccountType"   type="hidden">
        <input value="" name="AccountLevel"  type="hidden">
        <input value="" name="HasChild"      type="hidden">
        <input value="" name="NormalBalance" type="hidden">
        <input value="" name="Memo0"         type="hidden">

        <input #stdin ("AccountCode" "" 120 true) placeholder="$!l10n.code">
        <a href="#" OnClick="openAccountLookUpWindow();" title="$!l10n.find $!l10n.account">
        <i class="fa fa-search"></i>
        </a>
      </td>
      <td width="200">
        <input name="AccountName"  type="hidden">
        <input #stdin ("TxtAccountName" "" 200 false)>
      </td>
      <td width="80">
        <input #stdin ("CurrencyCode" "$!Currency.CurrencyCode" 80 false) >
      </td>
      <td width="100" >
        <input name="CurrencyRate0" type="hidden" value="$!dRate">
        <input name="AmountBase0" type="hidden">
        <input name="Amount0"  type="hidden">
        <input #stdin ("TxtAmount0" "" 100 true)
          onFocus="this.select()" OnChange="recalculateJournal(0);">
      </td>
      <td>
        #opBtn ("add" "" "" "")
      </td>
    </tr>
    ## END INPUT TRANS
  #end ##end if Status
  <tr cellpadding="0">
    <td colspan="5" align="right"><b>$!l10n.total_amount &nbsp;&nbsp;</b></td>
    <td colspan="4">
      <input name="OldAssetValue"  type="hidden"
        value="$!fixedasset.getCurrentValue($!fa.FixedAssetId, $!conn)">
      <input name="AssetValue"  type="hidden" value="$!fa.AssetValue">
      <input #stdin ("TxtAssetValue" "$!cformat.formatNumber($!fa.AssetValue)" 150 false) >
    </td>
  </tr>
</table>
<br>
## SUMMARY
#if($bManualDepr)
#set($iMonths = $!fixedasset.countMonths($!fa.UsageDate, $preference.StartDate))
#set($dMonthlyDepr = $!fadepr.getMonthlyDepreciation($!fa))
<table class="stdTable">
  <tr>
    <td>      
      $!l10n.fa_acq_date : $!cf.fmt($fa.AcquisitionDate)  #spc(2)
      $!l10n.start_date : $!cf.fmt($preference.StartDate) #spc(1)
      ($!iMonths $!l10n.month)
      <input type="hidden" name="Months" value="$!iMonths">
      <input type="hidden" name="MonthlyDepr" value="$!dMonthlyDepr">
    </td>
  </tr>
</table>
#end
<table class="stdTable">
  <tr class="th2">
    <td #width("16%")>$!l10n.asset_value</td>
    <td #width("16%")>$!l10n.fa_age</td>
    <td #width("16%")>$!l10n.depreciation </td>
    <td #width("16%")>$!l10n.depr_last</td>
    <td #width("16%")>$!l10n.book_value</td>
    <td #width("16%")>$!l10n.salvage_value</td>
  </tr>
  <tr>
    <td>
      <input #stdin ("" "$!cformat.formatNumber($!fa.AssetValue)" "" false) >
    </td>
    <td>
      #set($oAge = $!fixedasset.countAge($!fa, $dutil.getTodayDate()))
      <input #stdin ("" "$oAge.Years $!l10n.year $oAge.Months $!l10n.month" "" false) >
    </td>
    <td>
      <input type="hidden" name="OldDeprAmount" value="$!fa.DeprAmount">
      #if(!$bManualDepr) <input type="hidden" name="DeprAmount" value="$!fa.DeprAmount"> #end

      <input #stdin ("$sName" "$!cformat.formatNumber($dTotalDepr)" $iWidth $bManualDepr)
      #if($bManualDepr) OnFocus="this.select();" #end >
      #if($bManualDepr) <input type="button" value="Calculate" OnClick="calcDepr();">#end
    </td>
    <td>
      <input #stdin ("" "$!cf.fmt($oLastDepr.TransDate)" "" false) >
    </td>
    #set($dBookValue = $calculator.sub($!fa.AssetValue, $!dTotalDepr))
    <td>
      <input #stdin ("BookValue" "$!cformat.formatNumber($!dBookValue)" "" false) >
    </td>
    <td>
      <input #stdin ("SalvageAmount" "$!fa.SalvageAmount" "" false) >
    </td>                                                  
  </tr>
</table>
<table class="stdTable">
  <tr>
    <td>
      $!l10n.end_date : $!cf.fmt($fa.DeprFinishDate)  #spc(2)
      ##($!fixedasset.countMonths($!fa.UsageDate, $fa.DeprFinishDate) $!l10n.month)
    </td>
  </tr>
</table>
</div>

## NOTES
<div id="T13" class="fa-tab-body tab-body">
#if($bSaved)
<table class="stdTable">
  <tr>
    <td #width("20%")>$!l10n.create_by</td>
    <td>
      <input type="hidden" name="FixedAssetNotesId" value="">
      <input type="text" name="NotesCreateBy" value="$!data.User.Name" size="20" READONLY >
    </td>
  </tr>
  <tr>
    <td>$!l10n.date</td>
    <td>
     <input type="text" name="NotesCreateDate" value=""
      size="15" #if(!$bSaved || $bDisposed) READONLY #end >
      #if($bSaved && !$bDisposed) #cal("NotesCreateDate" true) #end
    </td>
  </tr>
  <tr>
    <td>$!l10n.fa_notes</td>
    <td>
      <textarea name="Notes" rows="5" cols="50"
          #if(!$bSaved|| $bDisposed) READONLY #end >$!sNotes</textarea>
    </td>
  </tr>
  #if($bSaved && !$bDisposed)
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="button" value="$!l10n.save $!l10n.fa_notes" OnClick="saveNotes();">
      #spc(1)
      <input type="button" value="$!l10n.delete $!l10n.fa_notes" OnClick="delNotes();"
        id="btnDelNote" style="display:none;background:#933;">
    </td>
  </tr>
  #end
</table>
#end ##end if bSaved
#if($bSaved && $faNot.size() > 0)
<br>
<div id="scroll3" style="width:100%;height:175px;overflow:auto">
<table class="stdTable">
  <tr class="th2">
    #set($headings = ["No", "$!l10n.date", "$!l10n.create_by", "$!l10n.fa_notes", "&nbsp;"])
    #foreach ($heading in $headings)
    <td>$heading</td>
    #end
  </tr>
  #set($no = 1)
  #foreach($FAN in $faNot)
    <tr cellpadding="0">
      <td width="20">$no</td>
      <td width="100">$!cf.fmt($!FAN.CreateDate)</td>
      <td width="100">$!FAN.CreateBy</td>
      <td>
        <textarea rows="2" style="width:80%" READONLY >$!FAN.Notes
        </textarea>
      </td>
      <td width="80">
        #if(!$bDisposed)
        <a href="#" OnClick="javascript:setNotes('$!FAN.FixedAssetNotesId');"><i class="fa fa-edit faicon"></i></a>
        #end
      </td>
    </tr>
    #set($no=$no+1)
  #end ##end foreach
</table>
#end
</div>
</div>

## PICTURE
<div id="T14" class="fa-tab-body tab-body">
#if($bSaved)
<table class="stdTable">
  <tr>
    <td #width("20%")>$!l10n.picture</td>
    <td>
      <input type="file" name="Picture" #wid("" 160 360) #if(!$bSaved || $bDisposed) DISABLED #end >
    </td>
  </tr>
  <tr>
    <td>$!l10n.description</td>
    <td>
     <input type="text" name="PicDesc" #wid("" 160 360) #if(!$bSaved || $bDisposed) READONLY #end >
    </td>
  </tr>
  <tr>
    <td>$!l10n.create_by</td>
    <td>
      <input type="hidden" name="FixedAssetPicId" value="">
      <input type="text" name="PicCreateBy" value="$!data.User.Name" size="20" READONLY >
    </td>
  </tr>
  #if($bSaved && !$bDisposed)
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="button" value="$!l10n.save $!l10n.picture" OnClick="savePic();">
      #spc(1)
      <input type="button" value="$!l10n.delete $!l10n.picture" OnClick="delPic();"
        id="btnDelPic" style="display:none;background:#933;">
    </td>
  </tr>
  #end
</table>
#end ##end if saved
#if($bSaved && $faPic.size() > 0)
<br>
<div id="scroll3" style="width:100%;height:251px;overflow:auto">
<table class="stdTable">
  <tr class="th4">
    #set($headings = ["No", "$!l10n.date", "$!l10n.create_by", "$!l10n.picture", "$!l10n.description", "&nbsp;"])
    #foreach ($heading in $headings)
    <td>$heading</td>
    #end
  </tr>
  #set($no = 1)
  ##$faPic
  #foreach ($FAP in $faPic)
    <tr style="height:52px;" valign="center">
      <td width="20"  >$no</td>
      <td width="100">$!cf.fmt($!FAP.UpdateDate)</td>
      <td width="120">$!FAP.CreateBy</td>
      <td>
        <a href="javascript:viewPic('$!FAP.Picture');">
          <img src="$!FAP.Picture" style="object-fit: cover; width:50%; max-width:200px; height:50%; max-height:50px;float:left;border: 1px solid #ccc; box-shadow: 2px 2px 1px #ddd;">
        </a>
      </td>
      <td>$!FAP.PicDesc</td>
      <td>
        #if(!$bDisposed) 
        <a href="#"  OnClick="setPic('$!FAP.FixedAssetPicId');"><i class="fa fa-edit faicon"></i></a>
        #end
      </td>
    </tr>
    #set($no=$no+1)
  #end ##end foreach
</table>
</div>
#end
</div>

## MAINTENANCE
<div id="T15" class="fa-tab-body tab-body">
##INPUT
#if($bSaved)
#set($vSvcTpe = $fixedassettype.getByFAKategori($fa.FaKategoriId, $!fa.FixedAssetTypeId))
#set($iSvcLen = $vSvcTpe.size())
<script>
function setSvcType()
{
    var f=document.frm;
    var stid = f.SvcTypeId.value;    
    svctypes.forEach( function (svcType)
    {        
        if(svcType.id == stid)
        {            
            if(svcType.ivalBy == 2)
            {
                jQuery('#IvalByParam').show();
                //alert(svcType.ivalDesc);
                jQuery('#IvalUnitDesc').text(svcType.ivalDesc);
                jQuery('#IvalUnitDesc2').text(svcType.ivalDesc);
            }
            else
            {
                jQuery('#IvalByParam').hide();
                jQuery('#IvalUnitDesc').text('');  
                jQuery('#IvalUnitDesc').text('');  
            }
        }
    });
    
}
var svctypes=[
#set($i = 0)
#foreach ($oSvc in $vSvcTpe)
  {id:"$!oSvc.Id",ivalBy:$!oSvc.IvalBy,ival:$!oSvc.Ival,ivalDesc:"$!oSvc.IvalDesc"}
  #set($i= $i+1)  
  #if($i < $iSvcLen) , #end  
#end
]
</script>

<table class="stdTable">
  <tr>
    <td #width("20%")>$!l10n.svc_type</td>
    <td>
      <select name="SvcTypeId" #width("") OnChange="setSvcType();">
        <option value="">-- $!l10n.svc_type --</option>
        #foreach ($oSvc in $vSvcTpe)
        <option value="$!oSvc.Id">$!oSvc.Description $!oSvc.Ival $!oSvc.IvalUnitDesc</option>
        #end
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.create_by</td>
    <td>
      <input type="hidden" name="FixedAssetSvcId" value="">
      <input type="text" name="SvcCreateBy" value="$!data.User.Name" #width(120) READONLY >
    </td>
  </tr>
  <tr>
    <td>$!l10n.date</td>
    <td>
     <input type="text" name="SvcDate" value="" #width(120)
      #if(!$bSaved || $bDisposed) READONLY #end >
      #if($bSaved && !$bDisposed) #cal("SvcDate" true) #end
    </td>
  </tr>
  <tr id="IvalByParam" style="display:none;">
    <td>Service Parameter</td>
    <td>
      <input type="text" name="SvcParam" value="" #width("15%")  placeholder="Now" >      
      <span id="IvalUnitDesc"></span> #spc(2)
      <input type="text" name="NextParam" value="" #width("15%") placeholder="Next"  >      
      <span id="IvalUnitDesc2"></span>
    </td>
  </tr>  
  <tr>
    <td>Service Notes</td>
    <td>
      <textarea name="SvcNotes" rows="3" #wid("" 160 360) s#if(!$bSaved|| $bDisposed) READONLY #end >$!sNotes</textarea>
    </td>
  </tr>
  <tr>
    <td>Attachment</td>
    <td>
      <input type="file" name="SvcFile" #wid("" 160 360) #if(!$bSaved || $bDisposed) DISABLED #end >
    </td>
  </tr>
  #if($bSaved && !$bDisposed)
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="button" value="$!l10n.save $!l10n.fa_maintenance" OnClick="saveSvc();">
      #spc(1)
      <input type="button" value="$!l10n.delete $!l10n.fa_maintenance" OnClick="delSvc();" 
        id="btnDelSvc" style="display:none;background:#933;">
    </td>
  </tr>
  #end
</table>
#end ##end if Status

<table class="stdTable">
  <tr class="th5">
    #set($headings = ["No", "Svc Type", "$!l10n.date", "Next", "Notes", "Att", "&nbsp;"])
    #foreach ($heading in $headings)
    <td>$heading</td>
    #end
  </tr>
  #set($no = 1)
  #foreach ($FAM in $faMnt)
    <tr cellpadding="0">
      <td width="10"  >
        <input value="$no" type="text" class="text2" size="2" READONLY >
      </td>
      <td width="80">$!FAM.FaSvcType.Description</td>
      <td width="80">$!cf.fmt($!$!FAM.SvcDate)</td>
      <td width="80">      
        #if($FAM.FaSvcType.IvalBy == 1)  
        $!cf.fmt($!$!FAM.NextDue)
        #else                                                                                   
        $!FAM.SvcParam / $!FAM.NextParam  $!FAM.FaSvcType.IvalDesc
        #end
      </td>
      <td width="120">
        <input value="$!FAM.SvcNotes" type="text" class="text2" #width("") READONLY >
      </td>      
      <td width="20" align="center">      
        #if($sutil.isNotEmpty($FAM.SvcFile))
        <a href="#" OnClick="viewFile('$FAM.SvcFile');"><i class="fa fa-file-text-o faicon"></i></a>
        #end
      </td>            
      <td width="60">
        ## #if($bEditable)
        #spc(1)       
        <a href="#" title="$!l10n.delete"
          OnClick="javascript:setSvc('$!FAM.FixedAssetSvcId');">
          <i class="fa fa-edit faicon"></i>
        </a>
        ## #end
        &nbsp;
      </td>
    </tr>
    #set($no=$no+1)
  #end ##end foreach
</table>
</div>
</div>  

<table width="100%" cellspacing="0" cellpadding="2">
  <tr>
    <td width="24%">
      #prevNext("$!fa.FixedAssetId" $fixedasset)
    </td>
    <td>
      <div align="right">
        #if($iOp == 4 && $data.Message == "")
          <input type="button" name="back" value="<< Back" onClick="history.go(-1);">
        #end
        <input type="button" value="$!l10n.new_trans" onClick="newTrans();">
        <input type="button" value="$!l10n.find_trans" onClick="findTrans();">
        #if(!$bDisposed)
          <input type="hidden" name="save" value="1">
          #if(!$bFullyDepreciated)                    
          <input type="button" OnClick="javascript:saveTrans();"
              name="eventSubmit_doSave" value="$!l10n.save_trans">  
          #end        
          #if($fa && $bSaved)
            <input type="button" OnClick="javascript:revaluate();"
              name="eventSubmit_doRevaluate" value="$!l10n.fa_revaluate">
            <input type="button" id="btnCancel" OnClick="javascript:cancelTrans();"
              name="eventSubmit_doCancel" value="$!l10n.delete $!l10n.fixed_asset">
            ## #if(!$item.getItemByID($fa.FixedAssetId))
            ## <input type="button" OnClick="javascript:createItem();"
            ##   name="eventSubmit_doItem" value="$!l10n.item_data">
            ## #end
          #end
        #end
      </div>
     </td>
  </tr>
</table>
</form>

#if($iOp == 1 || $iOp == 2)
<script>showTab('12');</script>
#elseif ($iOp == 5 || $iOp == 6)
<script>showTab('13');</script>
#elseif ($iOp == 7 || $iOp == 8)
<script>showTab('14'); </script>
#else
<script>showTab('11');</script>
#end