#set($printable = $data.Parameters.getBoolean("printable"))
#set($title = "$!l10n.fixed_asset")
#set($sTrans = "transaction,fixedasset,FixedAssetTransaction.vm")

#if(!$printable)
  $data.setLayoutTemplate("/Transaction.vm")
#else
  $data.setLayoutTemplate("/Printable.vm")
#end
#set($nocommon = true)

#set($cond   = $data.Parameters.getInt("Condition", -1))
#set($sort   = $data.Parameters.getInt("SortBy"))
#set($limit  = $data.Parameters.getInt("ViewLimit",25))
#set($key    = $data.Parameters.getString("Keywords",""))
#set($deptid = $data.Parameters.getString("DepartmentId"))
#set($locid  = $data.Parameters.getString("LocationId"))
#set($sku    = $data.Parameters.getBoolean("GroupBySKU"))
#set($kat    = $data.Parameters.getString("FaKategoriId",""))
#set($typeid = $data.Parameters.getString("FixedAssetTypeId"))

#set($f1  = $data.Parameters.getBoolean("f1") )
#set($f2  = $data.Parameters.getBoolean("f2",false) )
#set($f3  = $data.Parameters.getBoolean("f3") )
#set($f4  = $data.Parameters.getBoolean("f4",false) )
#set($f5  = $data.Parameters.getBoolean("f5",false) )
#set($f6  = $data.Parameters.getBoolean("f6",false) )
#set($f7  = $data.Parameters.getBoolean("f7") )
#set($f8  = $data.Parameters.getBoolean("f8",false) )
#set($f9  = $data.Parameters.getBoolean("f9") )
#set($f10 = $data.Parameters.getBoolean("f10",false))
#set($f11 = $data.Parameters.getBoolean("f11"))
#set($f12 = $data.Parameters.getBoolean("f12"))
#set($f13 = $data.Parameters.getBoolean("f13",false))
#set($f14 = $data.Parameters.getBoolean("f14"))
#set($f15 = $data.Parameters.getBoolean("f15"))
#set($f16 = $data.Parameters.getBoolean("f16"))
#set($f17 = $data.Parameters.getBoolean("f17",false))
#set($f18 = $data.Parameters.getBoolean("f18"))
#set($f19 = $data.Parameters.getBoolean("f19"))
#set($f20 = $data.Parameters.getBoolean("f20",false))
#set($f21 = $data.Parameters.getBoolean("f21"))

#if($cond == -1)
  #set($f1  = true)
  #set($f3  = true)
  #set($f7  = true)
  #set($f9  = true)
  #set($f11 = true)
  #set($f12 = true)
  #set($f14 = true)
  #set($f15 = true)
  #set($f16 = true)
  #set($f18 = true)
  #set($f19 = true)
#end

#set($dispParam = "&f1=$f1&f2=$f2&f3=$f3&f4=$f4&f5=$f5&f6=$f6&f7=$f7&f8=$f8&f9=$f9&f10=$f10&f11=$f11&f12=$f12")
#set($dispParam = "${dispParam}&f13=$f13&f14=$f14&f15=$f15&f16=$f16&f17=$f17&f18=$f18&f19=$f19&f20=$f20&f21=$f21")

#set($pageParam = "&Condition=${cond}&SortBy=${sort}&ViewLimit=${limit}&Keywords=$!{key}")
#set($pageParam = "${pageParam}&LocationId=${locid}&DepartmentId=${deptid}&KategoriId=${kat}${dispParam}")
#if($printable) #set($pageParam = "${pageParam}&printable=true") #end

#if(!$printable)
<script>
function initPage()
{
    var f = document.frm;
    if (f.Keywords) f.Keywords.focus();
}
function viewHistory (sID)
{
    var sURL = '${link.setPage("report,fixedasset,DepreciationHistory.vm")}?id=' + sID;
    var wndPrint = window.open(sURL, 'wndPrint',
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
}
function printToExcel (sPageParam, sHelperClass)
{
    var sURL = '${data.ContextPath}/excel/fixedAsset.xls?helper_class='+ sHelperClass + sPageParam;
    var excelWnd  = window.open (sURL, 'excelWnd',
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=480,left=20,top=20');
    excelWnd.focus();
}
function print ()
{
    var sURL = '$link.setPage("$data.ScreenTemplate")?op=page&page=$!LargeData.CurrentPageNumber' +
               '${pageParam}&sort=$flux.Sort&ascdsc=$flux.ACDC&printable=true';

    var printWnd = window.open(sURL, 'printWnd',
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');

    printWnd.focus();
}
function printLabel ()
{
    var sURL = '$link.setPage("transaction,fixedasset,FALabelPrint.vm")?op=page&page=$!LargeData.CurrentPageNumber' +
               '${pageParam}&sort=$flux.Sort&ascdsc=$flux.ACDC&printable=true';
    var printWnd = window.open(sURL, 'printWnd',
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    printWnd.focus();
}
function handleKeypress(e)
{
    var key = getKey(e);
    if (key == 13){document.frm.submit();}
}
function setType()
{
}
</script>
#end

<table class="fixTable">
  <tr>
    <td><b>
      <span class="txtTitle2">$title </span>
      ## FILTER INFORMATION
      <b><i>
      #if(!$sutil.empty($key))
        #spc(2)
        Filter,

        #if($cond == 3) $!l10n.fa_name      #end
        #if($cond == 2) $!l10n.fa_code      #end
        #if($cond == 1) $!l10n.serial_no    #end
        #if($cond == 4) $!l10n.custom_field #end
      #end

      #if(!$sutil.empty($kat))
        #spc(2)
        $!l10n.category : $!fakategori.getLongDescription($kat)
      #end

      #if(!$sutil.empty($locid))
        #spc(2)
        $!l10n.location : $!location.getLocationNameByID($locid)
      #end

      #if(!$sutil.empty($deptid))
        #spc(2)
        $!l10n.department : $!department.getDepartmentByID($deptid).DepartmentName
      #end
      </i></b>
    </td>
    #if(!$printable)
    <td align="right">
      #if($preference.isHO())
      <a href="javascript:void(0)" title="Export $title"
        OnClick="printToExcel('$!pageParam', 'com.ssti.enterprise.pos.excel.helper.FixedAssetViewHelper');">
      <img src="${data.ContextPath}/images/btn_excel.gif" border="0"/></a>
      #end

      <a href="javascript:void(0)" OnClick="print();" title="Print">
      <img src="${data.ContextPath}/images/btn_print.gif" border="0"/></a>

      <a href="javascript:void(0)" OnClick="printLabel();" title="Print Label">
      <img src="${data.ContextPath}/images/btn_print.gif" border="0"/></a>

    </td>
    #end
  </tr>
</table>

#if(!$printable)
##<!-- SEARCH -->
<form name="frm" method="post" onSubmit="return loading();"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.fixedasset.FixedAssetAction")?op=next">

#if(!$FixedAssets)
<table class="searchTable">
  <tr>
    <td>Type</td>
    <td>
      <select name="FixedAssetTypeId" OnChange="setType();" style="width:150px;">
        <option value=""> -- $!l10n.fixed_asset_type --</option>
        #foreach ($fat in $fixedassettype.getAllFixedAssetType())
        <option value="$fat.FixedAssetTypeId"
          #if($fat.FixedAssetTypeId == $typeid) SELECTED #end >$!fat.Code - $!fat.Description</option>
        #end
      </select>
    </td>
    <td>$!l10n.category </td>
    <td>
      <select name="FaKategoriId" style="width:98%;">
        <option value=""> -- $!l10n.category --</option>
        #foreach ($oKat in $fakategori.getKategoriTreeList("", true))
        <option value="$oKat.FaKategoriId"
          #if($oKat.FaKategoriId == $kat) SELECTED #end >
          #set($iLevel = $oKat.KategoriLevel )
          #if($iLevel > 1) #foreach ($i in [2..$iLevel])  &nbsp;&nbsp; #end #end
          $!oKat.FaKategoriCode [$!oKat.Description]
        </option>
        #end
      </select>
    </td>
    <td> $!l10n.fa_usg_date </td>
    <td>
      <input type="text" #width(120) name="StartDate" value="$!start">
      #calf("frm" "StartDate" true)
    </td>
  </tr>
  <tr>
    <td width="9%">$!l10n.search_by </td>
    <td>
      <select name="Condition" style="width:150px;">
        <option value="3" #if($cond == 3) SELECTED #end > $!l10n.fa_name      </option>
        <option value="2" #if($cond == 2) SELECTED #end > $!l10n.fa_code      </option>
        <option value="1" #if($cond == 1) SELECTED #end > $!l10n.serial_no    </option>
        <option value="4" #if($cond == 4) SELECTED #end > $!l10n.custom_field </option>
        <option value="5" #if($cond == 5) SELECTED #end > $!l10n.fa_notes     </option>
      </select>
    </td>
    <td>$!l10n.department </td>
    <td>
      <select name="DepartmentId" style="width:98%;">
        <option value="">-- $!l10n.department --</option>
        #foreach ($dept in $department.getAllDepartment())
        <option value="$dept.DepartmentId" #if($dept.DepartmentId == $deptid) SELECTED #end >
          $dept.Description
        </option>
        #end
      </select>
    </td>
    <td> $!l10n.to </td>
    <td>
      <input type="text" #width(120) name="EndDate" value="$!end">
      #calf("frm" "EndDate" true)
    </td>
    <td>
      $!l10n.view_limit
    </td>
    <td>
      <input type="text" size="4" maxlength="4"
        name="ViewLimit" value="$!limit" OnKeyPress="handleKeypress(event)">
    </td>
  </tr>
  <tr>
    <td>$!l10n.sort_by </td>
    <td>
      <select name="SortBy" style="width:150px;">
        <option value="5" #if($sort == 5) SELECTED #end > $!l10n.end_date (DESC) </option>
        <option value="2" #if($sort == 2) SELECTED #end > $!l10n.fa_code         </option>
        <option value="1" #if($sort == 1) SELECTED #end > $!l10n.serial_no       </option>
        <option value="3" #if($sort == 3) SELECTED #end > $!l10n.fa_name         </option>
        <option value="4" #if($sort == 4) SELECTED #end > $!l10n.end_date (ASC)  </option>
      </select>
    </td>
    <td>$!l10n.location </td>
    <td>
      #if($preference.isHO())
        #locationSB ($locid)
      #else
        $!location.getLocationNameByID($preference.LocationID)
        <input name="LocationId" type="hidden" value="$preference.LocationID">
      #end
    </td>
    <td>$!l10n.keywords</td>
    <td>
      <input type="text" #width(120) name="Keywords" OnFocus="this.select();"
        OnKeyUp="handleKeypress(event)" value="$!key">
    </td>
    <td colspan="2">
      <input type="Submit" value="&nbsp; $!l10n.find &nbsp;" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
<br>
<table class="searchTable">
  <tr>
    <td colspan="5"><b>$!l10n.field_to_display &nbsp;</b></td>
    <td colspan="1" valign="bottom"></td>
  </tr>
  <tr>
    <td valign="top" width="20%">
      <input class="cb" type="checkbox" #if($f1)  CHECKED #end name="f1">  $!l10n.fa_code    <br>
      <input class="cb" type="checkbox" #if($f2)  CHECKED #end name="f2">  $!l10n.serial_no  <br>
      <input class="cb" type="checkbox" #if($f3)  CHECKED #end name="f3">  $!l10n.fa_name    <br>
      <input class="cb" type="checkbox" #if($f4)  CHECKED #end name="f4">  $!l10n.department <br>
      <input class="cb" type="checkbox" #if($f5)  CHECKED #end name="f5">  $!l10n.fixed_asset_type <br>
      <input class="cb" type="checkbox" #if($f21) CHECKED #end name="f21"> $!l10n.qty         <br>
    </td>
    <td valign="top" width="20%">
      <input class="cb" type="checkbox" #if($f6)  CHECKED #end name="f6">  $!l10n.category     <br>
      <input class="cb" type="checkbox" #if($f7)  CHECKED #end name="f7">  $!l10n.location     <br>
      <input class="cb" type="checkbox" #if($f8)  CHECKED #end name="f8">  $!l10n.fa_acq_date  <br>
      <input class="cb" type="checkbox" #if($f9)  CHECKED #end name="f9">  $!l10n.fa_usg_date  <br>
      <input class="cb" type="checkbox" #if($f10) CHECKED #end name="f10"> $!l10n.depr_method  <br>
    </td>
    <td valign="top" width="20%">
      <input class="cb" type="checkbox" #if($f11) CHECKED #end name="f11">  $!l10n.est_life     <br>
      <input class="cb" type="checkbox" #if($f12) CHECKED #end name="f12">  $!l10n.fa_age       <br>
      <input class="cb" type="checkbox" #if($f13) CHECKED #end name="f13">  $!l10n.depr_rate    <br>
      <input class="cb" type="checkbox" #if($f14) CHECKED #end name="f14">  $!l10n.asset_value  <br>
      <input class="cb" type="checkbox" #if($f15) CHECKED #end name="f15">  $!l10n.depreciation <br>
    </td>
    <td valign="top" width="20%">
      <input class="cb" type="checkbox" #if($f16) CHECKED #end name="f16">  $!l10n.book_value    <br>
      <input class="cb" type="checkbox" #if($f17) CHECKED #end name="f17">  $!l10n.salvage_value <br>
      <input class="cb" type="checkbox" #if($f18) CHECKED #end name="f18">  $!l10n.end_date      <br>
      <input class="cb" type="checkbox" #if($f19) CHECKED #end name="f19">  $!l10n.depr_last     <br>
      <input class="cb" type="checkbox" #if($f19) CHECKED #end name="f20">  $!l10n.monthly_depr  <br>
    </td>
  </tr>
</table>

<a name="display"></a>

#end ## end !$Item
</form>
#end ## end !$printable

<!-- END SEARCH SECTION -->
#if($FixedAssets)

$data.User.setTemp("FAViewParam", $pageParam)
$data.User.setTemp("page", $LargeData.CurrentPageNumber)
#set($headings = $butil.loadClass("java.util.ArrayList"))
#set($fields = $butil.loadClass("java.util.ArrayList"))
#set($x = $headings.add("No.")) ##No 
#set($x = $fields.add("")) 
                                       
#if($f1)  #set($x = $headings.add($!l10n.code            )) #set($x = $fields.add("fixedAssetCode"   )) #end
#if($f2)  #set($x = $headings.add($!l10n.serial_no       )) #set($x = $fields.add("serialNo"         )) #end
#if($f3)  #set($x = $headings.add($!l10n.fa_name         )) #set($x = $fields.add("fixedAssetName"   )) #end
#if($f4)  #set($x = $headings.add($!l10n.department      )) #set($x = $fields.add("departmentId"     )) #end
#if($f5)  #set($x = $headings.add($!l10n.fixed_asset_type)) #set($x = $fields.add("fixedAssetTypeId" )) #end
#if($f6)  #set($x = $headings.add($!l10n.category        )) #set($x = $fields.add("faKategoriId"     )) #end
#if($f7)  #set($x = $headings.add($!l10n.location        )) #set($x = $fields.add("locationId"       )) #end
#if($f8)  #set($x = $headings.add($!l10n.fa_acq_date     )) #set($x = $fields.add("acquisitionDate"  )) #end
#if($f9)  #set($x = $headings.add($!l10n.fa_usg_date     )) #set($x = $fields.add("usageDate"        )) #end
#if($f10) #set($x = $headings.add($!l10n.depr_method     )) #set($x = $fields.add("deprciationMethod")) #end
#if($f11) #set($x = $headings.add($!l10n.est_life        )) #set($x = $fields.add("estimatedLife"    )) #end
#if($f12) #set($x = $headings.add($!l10n.fa_age          )) #set($x = $fields.add("usageDate"        )) #end
#if($f13) #set($x = $headings.add($!l10n.depr_rate       )) #set($x = $fields.add("depreciationRate" )) #end
#if($f14) #set($x = $headings.add($!l10n.asset_value     )) #set($x = $fields.add("assetValue"       )) #end
#if($f21) #set($x = $headings.add($!l10n.qty             )) #set($x = $fields.add("qty"              )) #end
#if($f15) #set($x = $headings.add($!l10n.depreciation    )) #set($x = $fields.add(""                 )) #end
#if($f16) #set($x = $headings.add($!l10n.book_value      )) #set($x = $fields.add(""                 )) #end
#if($f17) #set($x = $headings.add($!l10n.salvage_value   )) #set($x = $fields.add("salvageValue"     )) #end
#if($f18) #set($x = $headings.add($!l10n.depr_last       )) #set($x = $fields.add(""                 )) #end
#if($f19) #set($x = $headings.add($!l10n.end_date        )) #set($x = $fields.add("deprFinishDate"   )) #end
#if($f20) #set($x = $headings.add($!l10n.monthly_depr    )) #set($x = $fields.add(""                 )) #end    

#set($x = $headings.add("")) ##op 
#set($x = $fields.add("")) 

#largeSelectNavBar($data.ScreenTemplate $pageParam)
$data.getUser().setTemp("ItemViewParam", $pageParam)
$data.getUser().setTemp("page", $LargeData.CurrentPageNumber)
$data.getSession().setAttribute("FixedAssets", $FixedAssets)

#set($iWidth = 10)
#if($f1)  #set($iWidth = $iWidth + 100) #end
#if($f2)  #set($iWidth = $iWidth + 100) #end
#if($f3)  #set($iWidth = $iWidth + 150) #end
#if($f4)  #set($iWidth = $iWidth + 100) #end
#if($f5)  #set($iWidth = $iWidth + 100) #end
#if($f6)  #set($iWidth = $iWidth + 100) #end
#if($f7)  #set($iWidth = $iWidth + 100) #end
#if($f8)  #set($iWidth = $iWidth + 100) #end
#if($f9)  #set($iWidth = $iWidth + 100) #end
#if($f10) #set($iWidth = $iWidth + 100) #end
#if($f11) #set($iWidth = $iWidth + 130) #end
#if($f12) #set($iWidth = $iWidth + 130) #end
#if($f13) #set($iWidth = $iWidth + 130) #end
#if($f14) #set($iWidth = $iWidth + 100) #end
#if($f15) #set($iWidth = $iWidth + 130) #end
#if($f16) #set($iWidth = $iWidth + 100) #end
#if($f17) #set($iWidth = $iWidth + 100) #end
#if($f18) #set($iWidth = $iWidth + 100) #end
#if($f19) #set($iWidth = $iWidth + 100) #end
#if($f20) #set($iWidth = $iWidth + 100) #end
#if($f21) #set($iWidth = $iWidth + 60) #end

#if(!$printable) <div id="itemViewDiv"> #end

<table class="altRowTable">
  #if($printable) #line(24) #end
  ##<thead> 
  #sortableHeader ($headings $fields "th2" "" false)
  ##</thead>
  #if($printable) #line(24) #end

  #set($no = 1)
  #set($pageno = (($LargeData.CurrentPageNumber - 1) * $limit) + 1 )

  #set($dTotalAcqVal = 0)
  #set($dTotalBookVal = 0)
  #set($dTotalDeprAll = 0)
  #set($dTotalMonthly = 0)

  #foreach ($fa in $sortingtool.sort($FixedAssets,$flux.Sort,$flux.ACDC))

  #set($oLastDepr = $fadepr.getLastDepr($fa.FixedAssetId, $conn))
  #set($dTotalDepr = $fadepr.getTotalDepr($fa.FixedAssetId))
  #set($dBookValue = $calculator.sub($fa.AssetValue, $dTotalDepr))
  #set($dMonthly = $fadepr.getMonthlyDepreciation($fa, $conn))

  #set($dTotalAcqVal  = $calculator.add($dTotalAcqVal,$fa.AssetValue))
  #set($dTotalBookVal = $calculator.add($dTotalBookVal,$dBookValue))
  #set($dTotalDeprAll = $calculator.add($dTotalDeprAll,$dTotalDepr))
  #set($dTotalMonthly = $calculator.add($dTotalMonthly,$dMonthly))

  #set($bFullyDepreciated = false)
  #if($oLastDepr && $calculator.compare($dTotalDepr, $fa.AssetValue, ">="))
    #set($bFullyDepreciated = true)
  #end
  #set($oAge = $!fixedasset.countAge($!fa, $dutil.getTodayDate()))

  <tr #if($bFullyDepreciated) bgcolor="#FFEEEE" #end >
    <td> $!pageno </td>
    #if($f1)
      <td><a href="javascript:viewHistory('$!fa.FixedAssetId');">$!fa.FixedAssetCode</a></td>
    #end
    #if($f2)  <td>$!fa.SerialNo       </td>  #end
    #if($f3)  <td>$!fa.FixedAssetName </td>  #end
    #if($f4)  <td>$!department.getDepartmentNameByID($!fa.DepartmentId) &nbsp;  </td> #end
    #if($f5)  <td>$!fixedassettype.getDescriptionByID($!fa.FixedAssetTypeId) &nbsp;  </td> #end
    #if($f6)  <td>$!fakategori.getLongDescription($!fa.FaKategoriId) &nbsp;  </td> #end
    #if($f7)  <td>$!location.getLocationNameByID($!fa.LocationId) &nbsp;  </td> #end
    #if($f8)  <td>$!cformat.formatDate($fa.AcquisitionDate) </td> #end
    #if($f9)  <td>$!cformat.formatDate($fa.UsageDate) </td> #end
    #if($f10) <td>$!fixedasset.getDepreciationMethod($fa.DepreciationMethod) </td>  #end
    #if($f11) <td align="right">$!fa.EstLifeYear $!l10n.year $!fa.EstLifeMonth $!l10n.month </td> #end
    #if($f12) <td align="right">$oAge.Years $!l10n.year $oAge.Months $!l10n.month </td> #end
    #if($f13) <td align="right">$!cformat.formatAligned($fa.DepreciationRate)  </td> #end
    #if($f14) <td align="right">$!cformat.formatAligned($fa.AssetValue)        </td> #end
    #if($f21) <td align="right">$!cformat.formatAligned($fa.Qty)               </td> #end
    #if($f15) <td align="right">$!cformat.formatAligned($dTotalDepr)           </td> #end
    #if($f16) <td align="right">$!cformat.formatAligned($dBookValue)           </td> #end
    #if($f17) <td align="right">$!cformat.formatAligned($fa.SalvageValue)      </td> #end
    #if($f18) <td align="right">$!cformat.formatDate($oLastDepr.TransDate)     </td> #end
    #if($f19) <td align="right">$!cformat.formatDate($fa.DeprFinishDate)       </td> #end
    #if($f20)
      <td align="right">
        ## $calculator.div($fa.AssetValue,$fa.EstimatedLife)
        $!cformat.formatAligned($dMonthly)
        ## | $!cformat.formatAligned($fadepr.getMonthlyDepreciation($fa)) ## COMPARE
      </td>
    #end
    <td>
      #if(!$printable)
      <ul class="rowLinkNav">    
      #rowDataLink ("$sTrans" "?op=4&id=$!fa.FixedAssetId" $!l10n.view "" "")
      </ul>      
      #end
    </td>
  </tr>
  #set($no = $no + 1)
  #set($pageno = $pageno + 1)
  #end ##foreach  
  <tfoot> 
    #linea(30)
    <tr bgcolor="$!bgcolor">
      <td></td>
      #if($f1)  <td></td>  #end
      #if($f2)  <td></td>  #end
      #if($f3)  <td></td>  #end
      #if($f4)  <td></td>  #end
      #if($f5)  <td></td>  #end
      #if($f6)  <td></td>  #end
      #if($f7)  <td></td>  #end
      #if($f8)  <td></td>  #end
      #if($f9)  <td></td>  #end
      #if($f10) <td></td>  #end
      #if($f11) <td align="right"></td> #end
      #if($f12) <td align="right"></td> #end
      #if($f13) <td align="right"></td> #end
      #if($f14) <td align="right"><b>$!cformat.formatAligned($dTotalAcqVal )</td> #end
      #if($f15) <td align="right"><b>$!cformat.formatAligned($dTotalDeprAll)</td> #end
      #if($f16) <td align="right"><b>$!cformat.formatAligned($dTotalBookVal)</td> #end
      #if($f17) <td align="right"></td> #end
      #if($f18) <td align="right"></td> #end
      #if($f19) <td align="right"></td> #end
      #if($f20) <td align="right"><b>$!cformat.formatAligned($dTotalMonthly)</td> #end
    </tr>
  </tfoot>
</table>
#if(!$printable) </div> #end
#end ## end if FA
#if($printable) #line(24) #end

#if(!$printable)
<ul class="btmLinkNav">
#btmLinkMenu("$!sTrans" "?op=3" "$!l10n.new_trans" "")
#btmLinkMenu("transaction,fixedasset,ImportFA.vm" "" "$!l10n.import $!l10n.fixed_asset" "")
#btmLinkMenu("transaction,fixedasset,FAStockTake.vm" "" "FA Stock Opname" "")
#btmLinkMenu("$data.ScreenTemplate" "?op=$!{pageParam}" "$!l10n.find_trans" "fa-search")    
#btmLinkMenu("report,fixedasset,FAReportMenu.vm" "" "FA Report" "fa-list")    

</ul>
#end
