#set($bLinked1 = true)
#if(!$vSource1)
  #set($vSource1 = $$vHeaders)
  #set($bLinked1 = false)
#end

#set($vGroup1 = $butil.getDistinctListByField($vSource1,$group1))

#foreach ($oGroup1 in $vGroup1)
#set($sGroup1Filter = $butil.invokeGetter($oGroup1, $group1))
#set($vFiltered1 = $butil.filterListByFieldValue($vSource1,$group1,$sGroup1Filter))

#if($bFromDetails)
  #set($vSource = $tool.getTransDetails($vFiltered1))
#else
  #set($vSource = $vFiltered1)
#end

#set($sumgrp1 = $sum.clone()) ##reset sum per group1


<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="$headings.size()"><b>$rpt.displayGroupHeader($group1Title, $group1Fld, $oGroup1, $group1Link)</b></td>
  </tr>
  <tr>
    <td width="15"></td>
    <td>
      #parse ("screens/report/BaseGroup.vm")      
    </td>
  </tr>
##</table>
####display group 1sum
<table width="100%" cellpadding="0" cellspacing="0">
  ##linea($headings.size())
  <tr height="1">
    <td width="15"></td>
    #foreach ($i in [0..$n])
    <td width="$width.get($i)"></td>
    #end
  </tr>
  <tr class="th5">
    #set($iColspan = $rpt.getSumColspan($sum) )
    
    <td width="15"></td>
    <td colspan="$iColspan" align="right"><b> $rpt.displayGroupTotal("", $group1Fld, $oGroup1, $group1Link)</b></td>
    #set($i = 1)
    #foreach ($totalGroup1 in $sumgrp1)
      #if($totalGroup1.intValue() >= 0)
      <td align="right"><b>$!cformat.formatNumber($totalGroup1)</b></td>
      #else
        #if($i > $iColspan)
        <td>&nbsp;</td>
        #end
      #end
      #set($i = $i + 1)
    #end ##end sum grp1
  </tr>
  ###linea($headings.size())
</table>
<br>
#end ##end foreach vGroup1
