$data.setLayoutTemplate("/Transaction.vm")

##configure logout after close cashier or not here
#set($bLogoutAfter = false)
#set($bClosePassword = false)

#set($op = $data.Parameters.getInt("op",1))
#set($sCashier = $data.User.Name)
#set($sLocID = $USRLOC)
#set($oLoc = $location.getLocationByID($sLocID))
#set($sLocName = $oLoc.LocationName)
#set($sScreen = $data.ScreenTemplate)

#if($oBalance)
  #set($dAmount = $oBalance.TotalAmount)
  #set($sTime = "$cf.formatNumber($oBalance.TotalAmount) - $cf.formatDateTime($oBalance.TransactionDate)")
#end

#if($type == 1)
  #set($title = "$!l10n.open_cashier ")
  #set($desc = "$!l10n.opening_balance")
  #if(!$oBalance)
    #set($dAmount = $defaultAmount)
    #set($sTime = "<span class=txtMessage>$!l10n.not_set</span>")
  #end
#else
  #set($title = "$!l10n.close_cashier ")
  #set($desc = "$!l10n.ending_balance")
#end

<script>
function initPage()
{
    #if($type == 2 && !$isOpened) ##if not opened yet
      alert ('$data.Message');
      #if($oCloseTrans && !$bLogoutAfter)
        document.location.href = '$link.setPage($data.ScreenTemplate)?op=4&id=$!oCloseTrans.CashierBalanceId';
      #else
        document.location.href = '$link.setAction("Logout")';
      #end
    #else
    try
    {
        document.frm.TotalAmount.focus();
    }
    catch(ex){}
    #end
}
function validate()
{
    var f = document.frm;
    if (!checkEmpty(f.TotalAmount.value))
    {
        alert("$!l10n.field_value $desc $!l10n.may_not_empty");
        f.TotalAmount.focus();
        return false;
    }
    return true;
}
function submitForm()
{
    var f = document.frm;
    if(validate())
    {
        f.submit();
    }
}
function calcCB(e,no)
{
    var f = document.frm;
    var bamt = eval('f.BillAmt'+no + '.value');
    var qty = eval('f.Qty'+no + '.value');
    var amt = bamt * qty;
    eval('f.Amount'+ no + '.value = amt');
    if (getKey(e) == 13)
    {
        var nxno = no + 1;
        if(!eval('f.Qty' + nxno + '.readOnly'))
        {
            eval('f.Qty' + nxno + '.select();');
        }
        else
        {
            eval('f.Amount' + nxno + '.select();');
        }
    }
    calcAllCB();
}
function calcCBAmt(e,no)
{
    var f = document.frm;
    eval('f.Qty'+no + '.value=1');
    calcAllCB();
}
function calcAllCB()
{
    var f = document.frm;
    var totalCB = 0;
    for (var i = 0; i < f.TotalCB.value; i++)
    {
        var famt = eval('f.Amount' + i + '.value');
        if(famt && famt != '')
        {
            totalCB = totalCB + parseFloat(famt);
        }
    }
    f.TotalAmount.value=totalCB;
    f.BalCls.value=totalCB;
    f.BalDif.value=totalCB - parseFloat(f.BalOpn.value) - parseFloat(f.TtlCash.value);
}
function calcVch(e,no)
{
    var f = document.frm;
    var val = eval('f.VchVal'+no + '.value');
    var qty = eval('f.VinQty'+no + '.value');
    var amt = val * qty;
    var vamt = eval('f.VchAmt' + no + '.value');
    eval('f.VinAmt'+ no + '.value = amt');
    eval('f.VinDif'+ no + '.value = vamt - amt;');
    if (getKey(e) == 13)
    {
        var nxno = no + 1;
        if(eval('f.VinQty' + nxno))
        {
            eval('f.VinQty' + nxno + '.select();');
        }
    }
    calcAllVch();
}
function calcAllVch()
{
    var f = document.frm;
    var totalQty = 0;
    var totalAmt = 0;
    var totalDif = 0;

    for (var i = 0; i < f.TotalVch.value; i++)
    {
        var fqty = eval('f.VinQty' + i + '.value');
        var famt = eval('f.VinAmt' + i + '.value');
        var fdif = eval('f.VinDif' + i + '.value');

        if(fqty && fqty != '') totalQty += parseInt(fqty);
        if(famt && famt != '') totalAmt += parseInt(famt);
        if(fdif && fdif != '') totalDif += parseInt(fdif);
    }
    f.TinQty.value=totalQty;
    f.TinAmt.value=totalAmt;
    f.TinDif.value=totalDif;

}
function calcCpn(e,no)
{
    var f = document.frm;
    var val = eval('f.CpnVal'+no + '.value');
    var qty = eval('f.CinQty'+no + '.value');
    var amt = val * qty;
    var vamt = eval('f.CpnAmt' + no + '.value');
    eval('f.CinAmt'+ no + '.value = amt');
    eval('f.CinDif'+ no + '.value = vamt - amt;');
    if (getKey(e) == 13)
    {
        var nxno = no + 1;
        if(eval('f.CinQty' + nxno))
        {
            eval('f.CinQty' + nxno + '.select();');
        }
    }
    calcAllCpn();
}
function calcAllCpn()
{
    var f = document.frm;
    var totalQty = 0;
    var totalAmt = 0;
    var totalDif = 0;

    for (var i = 0; i < f.TotalCpn.value; i++)
    {
        var fqty = eval('f.CinQty' + i + '.value');
        var famt = eval('f.CinAmt' + i + '.value');
        var fdif = eval('f.CinDif' + i + '.value');

        if(fqty && fqty != '') totalQty += parseInt(fqty);
        if(famt && famt != '') totalAmt += parseInt(famt);
        if(fdif && fdif != '') totalDif += parseInt(fdif);
    }
    f.TinCQty.value=totalQty;
    f.TinCAmt.value=totalAmt;
    f.TinCDif.value=totalDif;

}
function checkPwd(e)
{    
    if(getKey(e) == 13)
    {                
        e.preventDefault();
        var f = document.frm;        
        if(f.SpvPwd.value == f.PrefPwd.value.substring(0,parseInt(f.PrefLen.value)))
        {
            if(f.btnSet) f.btnSet.disabled = false;
            if(f.btnDrw) f.btnDrw.disabled = false;
        }
        else
        {
            if(f.btnSet) f.btnSet.disabled = true;
            if(f.btnDrw) f.btnDrw.disabled = true;
        }
    }
}
function delClose()
{
    if(confirm('Delete Close Cashier?'))
    {
        var f = document.frm;
        f.del.value = true;
        f.submit();
    }
}
function printText ()
{
    #set($sID = $!oBalance.CashierBalanceId)
    #if($oCloseTrans) 
    #set($sID = $!oCloseTrans.CashierBalanceId)
    #end 
    var sHelper = 'com.ssti.enterprise.pos.print.helper.CashierTransPrintHelper';
    var url    = '${data.ContextPath}/print?helper_class='+ sHelper +
                  '&print_type=1&detail_per_page=0&id=$!{sID}';

    jQuery.get(url,'', function(resp)
    {                
        console.log(resp);
        #if($preference.useLocalPOSClient())
        printToLocal(resp);        
        #end
    });                                                   
}
function printReport ()
{
    #set($oTx = $!oBalance)
    #if($oCloseTrans) 
    #set($oTx = $!oCloseTrans)
    #end 
    
    #set($dt = $cf.fmt($dutil.TodayDate))
    var url = '$!link.setPage("report,sales,CashierDailyReport.vm")?op=1&StartDate=$!{dt}&EndDate=$!{dt}' +
               '&printable=true&bills=true&CashierName=$!{oTx.CashierName}&LocationId=$!{oTx.LocationId}';

    var prnWnd = window.open (url, 'printWindow', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=480,height=480,left=20,top=20');
    prnWnd.focus();
}
function openDrawer(sReason)
{        
    var url = sTPL + 'transaction,OpenDrawer.vm?setreason=false&op=1&username=$!{data.User.Name}&Reason=' + sReason ;    
    jQuery.get(url, '', function(resp){
        eval(resp); console.log('Open Drawer:' + resp);
    });
}
</script>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <span class="txtTitle2">$title #if($op == 1) [$sCashier@$!sLocName] #end</span>
    </td>
    <td align="right">      
      #if($oBalance || $oCloseTrans)
      <a href="javascript:void(0)" OnClick="printText();" title="Print As Text" >
        <img src="${data.ContextPath}/images/btn_print_txt.gif" border="0"/>
      </a> 
      <a href="javascript:void(0)" OnClick="printReport();" title="Print in Daily Report" >
        <img src="${data.ContextPath}/images/btn_print_html.gif" border="0"/>
      </a>       
      #end
    </td>
  </tr>
  #if($data.Message)
  <tr>
    <td colspan="2"><span class="txtMessage">$data.Message</span></td>
  </tr>
  #end
</table>

<form method="post" name="frm" OnSubmit="return validate();"
  action="$link.setPage($sScreen).setAction("transaction.CashierBalanceAction")">
<input type="hidden" name="_session_access_counter" value="$data.User.getTemp("_session_access_counter")"/>
<input type="hidden" name="op" value="$op">
<input type="hidden" name="del" value="false">

#if($op == 1)
##-----------------------------------------------------------------------------
## OPEN / CLOSE CASHIER
##-----------------------------------------------------------------------------
<input type="hidden" name="TransactionType" value="$type"/>
<input type="hidden" name="id" value="$!oBalance.CashierBalanceId" />
<input type="hidden" name="LocationId" value="$sLocID">
<input type="hidden" name="CashierName" value="$sCashier">
<input type="hidden" name="Type" value="$type">
<input type="hidden" name="Description" value="$!desc $!{sCashier}">
#if($oOpening)
<input type="hidden" name="OpenCashierId" value="$!oOpening.CashierBalanceId">
<input type="hidden" name="PrefPwd" value="$!preference.Preference.CashierPassword$!oOpening.CashierBalanceId">
<input type="hidden" name="PrefLen" value="$!preference.Preference.CashierPassword.length()">
#end

#if($type == 2 && !$isOpened) ##if not opened yet
<a href="$link.setAction("Logout")"><b>Log Out</b></a>
#else
<table class="stdTable">
  <tr>
    <td width="15%">$!l10n.shift </td>
    <td>
      #if($type == 1 && !$oBalance)  ##if type = open cashier && open balance not yet set
        #set($vShift = $shifttool.getAllShift())
        #set($oNow = $shifttool.getByTime($dutil.TodayDate))
        <select name="Shift">
          #foreach ($oShift in $vShift)
          <option value="$oShift.ShiftId" #if($oShift.ShiftId == $oNow.ShiftId) SELECTED #end >$!oShift.ShiftName</option>
          #end
        </select>
      #else ##if type = close cashier or opening balance set
        #set($sShiftID = $oBalance.Shift)
        #if(!$oBalance && $oOpening)
          #set($sShiftID = $oOpening.Shift)
        #end
        <input type="hidden" name="Shift" value="$sShiftID" READONLY >
        <input type="text" size="30" name="ShiftTxt" value="$!shifttool.getName($sShiftID)" READONLY >
      #end
    </td>
  </tr>
  #if($type == 1)
  <tr>
    <td width="15%">$!desc</td>
    <td>
      <input type="text" size="30" name="TotalAmount"
          value="$!dAmount" OnFocus="this.select();" #if($oBalance) READONLY #end >
      <b>&nbsp; $!sTime</b>
    </td>
  </tr>
  #end
</table>
##-----------------------------------------------------------------------------
## CLOSE CASHIER
##-----------------------------------------------------------------------------
#if($type == 2)

#if($vPending && $vPending.size() > 0)
<span class="txtMessage">WARNING $!l10n.sales_invoice ($!l10n.pending): $!vPending.size()</span><br> 
#end

#set($vPmt = $invoicepayment.findInvoicePayment("","",$sCashier,$oOpening.TransactionDate,$null))
#set($dTtlCash = $invoicepayment.sumByType($vPmt,"",1,""))
#set($dTtlCashRet = 0)
#set($vRets = $salesreturn.findTrans(-1, "", $oOpening.TransactionDate, $dutil.TodayDate, "", $locid, 2, "", $sCashier, "$!curr"))
#foreach ($oInv in $vRets)   
  #if($oInv.CashReturn) #set($dTtlCashRet = $cal.add($dTtlCashRet, $!oInv.ReturnedAmount)) #end     
#end ##end foreach  
#set($dTtlCash = $cal.sub($dTtlCash,$dTtlCashRet))
 
<table class="fixTable">
  <tr>
    ## ----------------------------------------------------------------------
    ## CASH BILLS
    ## ----------------------------------------------------------------------
    <td width="50%">
      <table class="stdTable" style="width:80%;min-width:320px;">
        <tr class="th3">
          <td>$!l10n.cash_bills</td>
          <td>$!l10n.qty</td>
          <td>$!l10n.amount</td>
        </tr>
        #set($no = 0)
        #foreach($oBill in $paymenttype.PaymentBillsTool.All)
        <tr>
          <td width="30%"><b>$!oBill.Description</td>
          <td>
            <input type="hidden" name="BillId$no" value="$oBill.Id">
            <input type="hidden" name="BillAmt$no" value="$oBill.Amount">
            #if($oBill.InputQty)
              <input #stdin("Qty$!no" "" 60  $!oBill.InputQty) OnKeyUp="calcCB(event,$no);" >
            #else
              <input type="hidden" name="Qty$!no" value="1">
            #end
          </td>
          <td>
            <input #stdin("Amount$!no" "" 120 $!oBill.InputAmount) OnKeyUp="calcCBAmt(event,$no);" >
          </td>
        </tr>
        #set($no = $no + 1)
        #end ##end foreach bills
        <tr class="th3">
          <td colspan="2">$!l10n.total_amount</td>
          <td>
            <input type="hidden" name="TotalCB" value="$no">
            <input #stdin("TotalAmount" "" 120 false) >
          </td>
        </tr>
      </table>
      <br><br>
      <table class="stdTable" style="width:80%;min-width:320px;">
        <tr class="th3">
          <td>$!l10n.opening_balance</td>
          <td>$!l10n.ending_balance</td>
          <td>$!l10n.difference</td>
        </tr>
        <tr>
          <td>
            <input type="hidden" name="BalOpn" value="$!oOpening.TotalAmount">
            <input type="hidden" name="TtlCash" value="$!dTtlCash">
            <input type="hidden" name="TransAmount" value="$!dTtlCash">
            <b>
              $!cf.fmt($!oOpening.TotalAmount) ##+ $!dTtlCash
            </b>
          </td>
          <td><input #stdin("BalCls" "" 120 false) ></td>
          <td><input name="BalDif" class="text2"  READONLY 
                #if(!$oCloseTrans) style="width:120px;visibility:hidden;" #else style="width:120px" #end >
          </td>
        </tr>
        #if(!$vPending || $vPending.size() == 0)
        <tr>
          <td>Password</td>
          <td colspan="2"><input name="SpvPwd" type="password" OnKeyup="checkPwd(event);"></td>
        </tr>
        #end ##end
      </table>
    </td>
    ## ----------------------------------------------------------------------
    ## VOUCHER
    ## ----------------------------------------------------------------------
    <td width="50%" valign="top">
      <table class="stdTable" style="width:80%;min-width:320px;">
        <tr class="th3">
          <td>$!l10n.voucher</td>
          <td colspan="2">POS Receipt</td>
          <td colspan="2">Calculated</td>
          <td rowspan="2">Difference</td>
        </tr>
        <tr class="th3">
          <td>Value</td>
          <td>$!l10n.qty</td>
          <td>$!l10n.amount</td>
          <td>$!l10n.qty</td>
          <td>$!l10n.amount</td>
        </tr>
        #set($vVCH = $paymenttype.PaymentVoucherTool.getByUseCashier($sCashier,$oOpening.TransactionDate,$null))
        #set($vVAL = $butil.getDistinctListByField($vVCH,"amount"))
        #set($no = 0)
        #foreach($oDC in $vVAL)
        #set($vFIL = $butil.filterListByFieldValue($vVCH,"amount",$oDC.Amount))
        #set($dTTL = $butil.sumUp($vFIL,"amount"))
        <tr>
          <td>
            <input type="hidden" name="VchVal${no}" value="$!oDC.Amount">
            <input type="hidden" name="VchAmt${no}" value="$!dTTL">
            <b>$!cf.fmt($!oDC.Amount)
          </td>
          <td><input #stdin("VchQty${no}" "$!vFIL.size()" 60  false) ></td>
          <td><input #stdin("VdsAmt${no}" "$!cf.fmt($dTTL)" 80 false) ></td>
          <td><input #stdin("VinQty${no}" "" 60  true) OnKeyup="calcVch(event,$no);" ></td>
          <td><input #stdin("VinAmt${no}" "" 80 false) ></td>
          <td><input #stdin("VinDif${no}" "" 80 false) ></td>
        </tr>
        #set($no = $no + 1)
        #end ##end foreach vVAL
        #set($dTTLAll = $butil.sumUp($vVCH,"amount"))
        <tr class="th3">
          <td>
            <input type="hidden" name="TotalVch" value="$no">
            $!l10n.total_amount
          </td>
          <td><input #stdin("TtlQty" "$!vVCH.size()" 60  false) ></td>
          <td><input #stdin("TtlAmt" "$!cf.fmt($dTTLAll)" 80 false) ></td>
          <td><input #stdin("TinQty" "" 60  false)" ></td>
          <td><input #stdin("TinAmt" "" 80 false) ></td>
          <td><input #stdin("TinDif" "" 80 false) ></td>
        </tr>
      </table>
      <br><br>
      ##-----------------------------------------------------------------------
      ## COUPON
      ##-----------------------------------------------------------------------
      <table class="stdTable" style="width:80%;min-width:320px;">
        <tr class="th3">
          <td>$!l10n.coupon</td>
          <td colspan="2">POS Receipt</td>
          <td colspan="2">Calculated</td>
          <td rowspan="2">Difference</td>
        </tr>
        <tr class="th3">
          <td>Value</td>
          <td>$!l10n.qty</td>
          <td>$!l10n.amount</td>
          <td>$!l10n.qty</td>
          <td>$!l10n.amount</td>
        </tr>
        #set($vCPN = $discount.getByUseCashier($sCashier,$oOpening.TransactionDate,$null))
        #set($vVAL = $butil.getDistinctListByField($vCPN,"couponValue"))
        #set($no = 0)
        #foreach($oDC in $vVAL)
        #set($vFIL = $butil.filterListByFieldValue($vCPN,"couponValue",$oDC.CouponValue))
        #set($dTTL = $butil.sumUp($vFIL,"couponValue"))
        <tr>
          <td>
            <input type="hidden" name="CpnVal${no}" value="$!oDC.CouponValue">
            <input type="hidden" name="CpnAmt${no}" value="$!dTTL">
            <b>$!cf.fmt($!oDC.CouponValue)
          </td>
          <td><input #stdin("CpnQty${no}" "$!vFIL.size()" 60  false) ></td>
          <td><input #stdin("CdsAmt${no}" "$!cf.fmt($dTTL)" 80 false) ></td>
          <td><input #stdin("CinQty${no}" "" 60  true) OnKeyup="calcCpn(event,$no);" ></td>
          <td><input #stdin("CinAmt${no}" "" 80 false) ></td>
          <td><input #stdin("CinDif${no}" "" 80 false) ></td>
        </tr>
        #set($no = $no + 1)
        #end ##end foreach vVAL
        #set($dTTLAll = $butil.sumUp($vCPN,"couponValue"))
        <tr class="th3">
          <td>
            <input type="hidden" name="TotalCpn" value="$no">
            $!l10n.total_amount
          </td>
          <td><input #stdin("TtlCQty" "$!vCPN.size()" 60  false) ></td>
          <td><input #stdin("TtlCAmt" "$!cf.fmt($dTTLAll)" 80 false) ></td>
          <td><input #stdin("TinCQty" "" 60  false)" ></td>
          <td><input #stdin("TinCAmt" "" 80 false) ></td>
          <td><input #stdin("TinCDif" "" 80 false) ></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
#end ##end if type == 2
<br>
<table class="stdTable">
  <tr>
    <td width="15%">&nbsp;</td>
    <td>
      #if(!$oBalance)
      <input type="button" name="btnSet" value="Set $!desc" OnClick="submitForm();" #if($oOpening && $bClosePassword) DISABLED #end />
      #spc(2)
      <input type="button" name="btnDrw" value="$!l10n.open_drawer" OnClick="openDrawer('$!desc');" />      
      #end
      &nbsp;
    </td>
  </tr>
</table>   
#end ##end else trans == 2 && if ! opened
#elseif($op == 4 && $oCloseTrans) ## else if op == 4
##-----------------------------------------------------------------------------
## VIEW
##-----------------------------------------------------------------------------
<input type="hidden" name="id" value="$!oCloseTrans.TransId" />
<input type="hidden" name="PrefPwd" value="$!preference.Preference.CashierPassword$!oCloseTrans.CashierBalanceId">
<input type="hidden" name="PrefLen" value="$!preference.Preference.CashierPassword.length()">
<table class="fixTable">
  <tr>
    ## ----------------------------------------------------------------------
    ## CASH BILLS
    ## ----------------------------------------------------------------------
    <td width="50%">
      <table class="stdTable" style="width:80%;min-width:320px;">
        <tr class="th3">
          <td>$!l10n.cash_bills</td>
          <td>$!l10n.qty</td>
          <td>$!l10n.amount</td>
        </tr>
        #set($no = 0)
        #set($dBill = 0)
        #set($dTBill = 0)
        #foreach($oCBill in $oCloseTrans.Bills)
        #set($oBill = $oCBill.PaymentBills)
        <tr>
          <td width="30%"><b>$!oBill.Description</td>
          <td align="right">$!cf.fmt($oCBill.Qty)  </td>
          <td align="right">$!cf.fmt($oCBill.Amount)</td>
        </tr>
        #set($dTBill = $cal.add($dTBill,$oCBill.Amount))
        #set($no = $no + 1)
        #end ##end foreach bills
        <tr class="th3">
          <td colspan="2">$!l10n.total_amount</td>
          <td>$!cf.fmt($dTBill)</td>
        </tr>
      </table>
      <br><br>
      <table class="stdTable" style="width:80%;min-width:320px;">
        <tr class="th3">
          <td>$!l10n.opening_balance</td>
          <td>$!l10n.ending_balance</td>
          <td>$!l10n.difference</td>
        </tr>
        <tr>
          <td><b>$!cf.fmt($!oCloseTrans.Opening.TotalAmount) </td>
          <td><b>$!cf.fmt($oCloseTrans.TotalAmount)</td>
          <td><b>$!cf.fmt($oCloseTrans.Difference)</td>
        </tr>
        #if(!$vPending || $vPending.size() == 0)
        <tr>
          <td>Password</td>
          <td colspan="2"><input name="SpvPwd" type="password" 
            OnKeypress="checkPwd(event);" OnKeyup="checkPwd(event);"></td>
        </tr>        
        #end ##end 
      </table>
    </td>
    ## ----------------------------------------------------------------------
    ## VOUCHER
    ## ----------------------------------------------------------------------
    <td width="50%" valign="top">
      <table class="stdTable" style="width:80%;min-width:320px;">
        <tr class="th3">
          <td>$!l10n.voucher</td>
          <td colspan="2">POS Receipt</td>
          <td colspan="2">Calculated</td>
          <td rowspan="2">Difference</td>
        </tr>
        <tr class="th3">
          <td>Value</td>
          <td>$!l10n.qty</td>
          <td>$!l10n.amount</td>
          <td>$!l10n.qty</td>
          <td>$!l10n.amount</td>
        </tr>
        #foreach($oCCPN in $oCloseTrans.Coupons)
        #if($oCCPN.CouponType == 1)
        <tr>        
          <td>$!cf.fmt($oCCPN.CouponValue)</td>
          <td>$!cf.fmt($oCCPN.TrQty)</td>
          <td>$!cf.fmt($oCCPN.TrAmount)</td>
          <td>$!cf.fmt($oCCPN.InQty)</td>
          <td>$!cf.fmt($oCCPN.InAmount)</td>
        </tr>                    
        #end ##end if                
        #end ##end foreach
        ##<tr class="th3">
        ##  <td>
        ##    $!l10n.total_amount
        ##  </td>
        ##  <td></td>
        ##  <td></td>
        ##  <td></td>
        ##  <td></td>
        ##  <td></td>
        ##</tr>
      </table>
      <br><br>
      ##-----------------------------------------------------------------------
      ## COUPON
      ##-----------------------------------------------------------------------
      <table class="stdTable" style="width:80%;min-width:320px;">
        <tr class="th3">
          <td>$!l10n.coupon</td>
          <td colspan="2">POS Receipt</td>
          <td colspan="2">Calculated</td>
          <td rowspan="2">Difference</td>
        </tr>
        <tr class="th3">
          <td>Value</td>
          <td>$!l10n.qty</td>
          <td>$!l10n.amount</td>
          <td>$!l10n.qty</td>
          <td>$!l10n.amount</td>
        </tr>
        #foreach($oCCPN in $oCloseTrans.Coupons)
        #if($oCCPN.CouponType == 2)
        <tr>        
          <td>$!cf.fmt($oCCPN.CouponValue)</td>
          <td>$!cf.fmt($oCCPN.TrQty)</td>
          <td>$!cf.fmt($oCCPN.TrAmount)</td>
          <td>$!cf.fmt($oCCPN.InQty)</td>
          <td>$!cf.fmt($oCCPN.InAmount)</td>
        </tr>                    
        #end ##end if                
        #end ##end foreach
        ##<tr class="th3">
        ##  <td>
        ##    $!l10n.total_amount
        ##  </td>
        ##  <td></td>
        ##  <td></td>
        ##  <td></td>
        ##  <td></td>
        ##  <td></td>
        ##</tr>
      </table>
    </td>
  </tr>
</table>
#if(!$oCloseTrans.isNextOpenExists())
#set($synctool = $butil.getInstance("com.ssti.enterprise.pos.tools.SynchronizationTool"))
#set($lastgen = $synctool.getLastSyncDateByType(2))
<table class="stdTable">
  <tr>
    <td>$!l10n.last_generate_date</td>
    <td>$!cf.fmt($lastgen)</td>
  </tr>
  <tr>
    <td width="15%">&nbsp;</td>
    <td>    
      #if(!$lastgen || $dutil.isBefore($lastgen, $dutil.TodayDate))
      <input type="button" name="btnSet" id="btnCancel" value="$!l10n.delete $!desc" OnClick="delClose();" #if($oCloseTrans) DISABLED #end />
      #end ##end if lastgen
    </td>
  </tr>
</table>   
#end

#end ##end if op == 1 || 4
<br>
#if($type == 1 && $oBalance)

<input type="button" value="POS" OnClick="document.location.href='$!link.setPage("transaction,$!preference.DefaultPOSScreen")'" />
<input type="button" value="$!l10n.close_cashier" OnClick="document.location.href='$!link.setPage($sScreen)?type=2'"  />      
      
## <ul class="btmLinkNav">                                                                                              
## #btmLinkMenu("transaction,$preference.DefaultPOSScreen" "" "POS" "")                                                
## #btmLinkMenu("$sScreen" "?type=2" "$!l10n.close_cashier" "")                                                
## </ul>
#end
</form>
