#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end
#set($mode = $data.Parameters.getString("mode",""))
#if($mode == "popup")
  $data.setLayoutTemplate("PopupWindow.vm")
#end

#set($title = "Inventory History ")
#set($cond = $data.Parameters.getInt("Condition"))
#set($groupby = $data.Parameters.getInt("GroupBy"))
#set($start = $data.Parameters.getString("StartDate", ""))
#set($end   = $data.Parameters.getString("EndDate", ""))
#set($katid = $data.Parameters.getString("KategoriId", ""))
#set($locid = $data.Parameters.getString("LocationId", ""))
#set($type  = $data.Parameters.getInt("TransType", -1))
#set($key   = $data.Parameters.getString("Keywords", ""))
#set($summary = $data.Parameters.getBoolean("Summary"))

#set($dStart= $!cparser.parseDate($!start))
#set($dEnd  = $!cparser.parseDate($!end))

#set($bViewCost = true)
#if(!$data.ACL.Permissions.containsName("View Item Cost"))
#set($bViewCost = false)
#end

#set($pageParam = "&Condition=$!{cond}&LocationId=$!{locid}&KategoriId=$!{katid}&Keywords=$!sutil.encode($key)")
#set($pageParam = "${pageParam}&GroupBy=$!{groupby}&StartDate=$!{start}&EndDate=$!{end}&TransType=$!{type}&Summary=${summary}")
#if($printable) #set($pageParam = "$pageParam&mode=&printable=true") #end
#if(!$printable)
<script>
function viewDetail(code)
{
    //var f = document.frm;
    //f.Keywords.value = code;
    //f.GroupBy.value = 2;
    //f.Condition.value = 1;
    //f.submit();

    var sURL = '${link.setPage($data.ScreenTemplate)}?StartDate=$!start' +
               '&EndDate=$!{end}&LocationId=$!{locid}&printable=$!printable&KategoriId=$!katid' +
               '&mode=popup&Condition=1&GroupBy=2&Keywords=' + code;
    var histWnd = window.open (sURL,'histWindow',
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=480,left=20,top=20');
    histWnd.focus();
}
</script>
#end
#reportPrintJS()
<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>
<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="mode" value="$mode">
<table class="fixTable">
  <tr>
    <td #if($printable) colspan="5" #end >
      <span class="txtTitle2"><b>$title
        #if($start != "")
         ($!start - $!end)
        #end
        #if($groupby > 1)
          $!l10n.group_by
          #if($groupby == 2) $!l10n.item_data #end
          #if($groupby == 3) $!l10n.location  #end
          #if($groupby == 4) $!l10n.trans_type #end
          #if($groupby == 5) $!l10n.item_data & $!l10n.trans_type #end

        #end
        </b>
      </span>
    </td>
    #reportPrintBtn()
  </tr>
</table>
<!-- SEARCH -->
#if(!$printable)
<table class="searchTable">
  <tr>
    <td>$!l10n.category : </td>
    <td colspan="5">#kategoriSB("KategoriId" $!katid) #spc(2)</td>
    <td>Show Summary : </td>
    <td><input type="checkbox" name="Summary" #if($summary) CHECKED #end ></td>
  </tr>
  <tr>
    <td> $!l10n.search_by : </td>
    <td>
      <select name="Condition" #width(100)>
        <option value="2" #if($cond == 2) SELECTED #end > $!l10n.item_name </option>
        <option value="1" #if($cond == 1) SELECTED #end > $!l10n.item_code </option>
        <option value="3" #if($cond == 3) SELECTED #end > $!l10n.trans_no  </option>
      </select>
    </td>
    <td>$!l10n.location : </td>
    <td>#locationSB($!locid) #spc(2)</td>
    <td>$!l10n.start_date :</td>
    <td>
      <input type="text" size="10" name="StartDate" value="$!start">
      #calf("frm" "StartDate" true)
      #spc(2)
    </td>
    <td>$!l10n.trans_type :</td>
    <td>
      <select name="TransType" #width(100)>
        <option value="-1">-- $!l10n.all --</option>
        <option value="1" #if($type == 1) SELECTED #end >IN</option>
        <option value="2" #if($type == 2) SELECTED #end >OUT</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.group_by : </td>
    <td>
      <select name="GroupBy" #width(100)>
        <option value="1"> $!l10n.none </option>
        <option value="2" #if( $groupby == 2) SELECTED #end > $!l10n.item_data</option>
        <option value="3" #if( $groupby == 3) SELECTED #end > $!l10n.location </option>
        <option value="4" #if( $groupby == 4) SELECTED #end > $!l10n.trans_type</option>
        <option value="5" #if( $groupby == 5) SELECTED #end > $!l10n.item_data & $!l10n.trans_type</option>

      </select>
      #spc(2)
    </td>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(200) name="Keywords" value="$!key">#spc(2)
    </td>
    <td>$!l10n.end_date : </td>
    <td>
       <input type="text" size="10" name="EndDate" value="$!end">
       #calf("frm" "EndDate" true)
       #spc(2)
    </td>    
    <td colspan="2">
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
    </td>
  </tr>
</table><br>
#end
<!-- END SEARCH SECTION -->

<!-- GROUP BY NONE -->
#if($groupby == 1)
  #set($headings = [$!l10n.trans_type,$!l10n.trans_no,$!l10n.trans_date,$!l10.category,$!l10n.item_code,$!l10n.item_name, $!l10n.location, $!l10n.qty, $!l10n.cost, $!l10n.description] )
  <table class="stdTable">
    #line(20)
    <tr class="th5">
      #foreach ($heading in $headings)
      <td >$heading</td>
      #end
    </tr>
    #line(20)
    #set($totalQty = 0)
    #set($totalVal = 0)
    #foreach ($inv in $InventoryTransactions)
    #set($oItem = $item.getItemByID($inv.ItemId))
    <tr>
      <td width="15%">
        <a href="$!link.setPage($!inventorytransaction.getTransactionScreen($!inv.TransactionType))?op=4&id=$!inv.TransactionId" >
          $!inventorytransaction.getTransactionTypeName($!inv.TransactionType)
        </a>
      </td>
      <td width="15%">$!inv.TransactionNo  </td>
      <td width="15%">$!cf.formatDateTime($!inv.TransactionDate)</td>
      <td width="10%">$!kategori.getLongDescription($!oItem.KategoriId) </td>
      <td width="10%">$!inv.ItemCode       </td>
      <td width="10%">$!oItem.ItemName     </td>
      <td width="15%">$!inv.LocationName   </td>
      <td width="10%" align="right">$!cf.fmt($!inv.QtyChanges) </td>
      <td width="10%" align="right">$!cf.fmt($!inv.Cost)       </td>      
      <td width="35%">$!inv.Description          </td>
      #set($totalQty = $cal.add($totalQty, $!inv.QtyChanges))
      #set($totalVal = $cal.add($totalVal, $cal.mul($!inv.QtyChanges,$!inv.Cost)))
    </tr>
    #end  
    <tr class="th5">                                           
      <td colspan="6"></td>
      <td width="10%">$!cf.fmt($!totalQty) </td>
      <td width="10%">$!cf.fmt($!totalVal) </td>          
    </tr>
  </table>
#end

<!-- GROUP BY ITEM -->
#if($groupby == 2)
  #set($headings = [$!l10n.trans_type, $!l10n.trans_date, $!l10n.location, $!l10n.description, "<center>$!l10n.qty"] )
  #set($vItem = $!butil.getDistinctListByField($InventoryTransactions,"itemId"))
  #set($grandTotal = 0)
  <table class="stdTable">
  #foreach ($oItem in $vItem)
    #set($itm = $item.getItemByID($oItem.ItemId))
    #set($sItemID = $itm.ItemId)
    #set($vInvTrans = $!butil.filterListByFieldValue($InventoryTransactions,"itemId",$sItemID))
    
    #if(!$summary)
    <tr>  
      <td colspan="10">
        <b>
        $itm.ItemCode - $itm.ItemName
        #if($sutil.isNotEmpty($locid))
          #set($dBalance = $!inventorylocation.getBalanceAsOf("$!oItem.ItemId", "", $locid, $!cparser.parseDate($start)) )
          #set($dValueBalance = $!inventorylocation.getValueAsOf("$!oItem.ItemId", "", "", $locid, $!cparser.parseDate($start), $conn))
          $!l10n.value_as_of $!start, $!location.getLocationNameByID($locid) : $!cformat.formatAligned($dValueBalance)
          #spc(2) $l10n.qty_oh : $!cf.fmt($dBalance) $!sBaseUnit
        #end
        </b>
      </td>      
    </tr>
    ###line(10)     
    <tr class="th5">
      #foreach ($heading in $headings)
      <td>$heading</td>
      #end
      #if($bViewCost)
      <td><center>$!l10n.cost</td>
      <td><center>$!l10n.total_amount</td>
      #end
    </tr>
    #end ##end 
    ###line(10)
    #set($dTotalQty = 0)
    #set($dTotalCost = 0)
    #if($sutil.isNotEmpty($locid))
      #set($dTotalQty = $dBalance)
      #set($dTotalCost = $dValueBalance)
    #end
    #foreach ($inv in $vInvTrans)
    #if(!$summary)
    <tr>
      <td width="15%">
        <a href="$!link.setPage($!inventorytransaction.getTransactionScreen($!inv.TransactionType))?op=4&id=$!inv.TransactionId" >
          $!inv.TransactionNo
        </a>
      </td>
      <td width="15%">$!cformat.formatDateTime($!inv.TransactionDate)</td>
      <td width="15%">$!inv.LocationName </td>
      <td #width(140)>
        #if(!$excel)
        <input type="text" class="text2" value="$!inv.Description " #width(140) READONLY
         onmouseover="tooltip('$!sutil.tooltip($!inv.Description )');" onmouseout="exit();"
         #if($no % 2 == $row) style="background:#F3F3F3" #else style="background:#F7F7F7" #end >
        #else
        $!inv.Description
        #end
      </td>
      <td width="6%" align="right">$!cf.fmt($!inv.QtyChanges) </td>
      #if($bViewCost)
      <td width="12%" align="right">$!cformat.formatAligned($!inv.Cost)</td>
      <td width="12%" align="right">
        $!cformat.formatAligned($!calculator.mul($!inv.Cost,$!inv.QtyChanges))
      </td>
      #end
    </tr>
    #end ##end summary
    #set($dTotalQty = $calculator.add($dTotalQty, $!inv.QtyChanges))
    #set($dTotalCost = $calculator.add($dTotalCost, $!calculator.mul($!inv.Cost,$!inv.QtyChanges)))
    #end
    ##line(10)
    <tr class="th4">      
      #if(!$summary)
      <td colspan="4" align="right"><b>Total $!itm.ItemCode - $!itm.ItemName</td>     
      #else
      <td>$!itm.ItemCode</td>     
      <td>$!itm.ItemName</td>           
      #end
      <td width="6%" align="right"><b>$!cf.fmt($!dTotalQty)</td>            
      #if($bViewCost)
      #set($grandTotal = $calculator.add($grandTotal,$dTotalCost))
      <td width="10%" align="right">&nbsp;</td>
      <td width="10%" align="right"><b>$!cformat.formatAligned($!dTotalCost)</td>
      #end      
    </tr>
    ###linea(10)
    #end ##end foreach item
    <tr class="th5">
      <td #if($summary) colspan="2" #else colspan="4" #end align="right"><b>Grand Total</td>
      <td width="6%" align="right"></td>
      #if($bViewCost)
      <td width="10%" align="right">&nbsp;</td>
      <td width="10%" align="right"><b>$!cformat.formatAligned($!grandTotal)</td>
      #end
    </tr>
  </table>    
#end

<!-- GROUP BY LOCATION -->
#if($groupby == 3)
  #set($headings = [$!l10n.trans_type, $!l10n.trans_date, $!l10n.item_code,$!l10n.item_name, $!l10n.description, $!l10n.qty] )
  #set($vLocation = $butil.getDistinctListByField($InventoryTransactions,"locationId"))
  #foreach ($oLocation in $vLocation)
    #set($sLocID = $oLocation.LocationId)
    #set($vInvTrans = $!butil.filterListByFieldValue($InventoryTransactions,"locationId",$sLocID))
    <b>$!l10n.location : $oLocation.LocationName </b>
    <table class="stdTable">
      #line(10)
      <tr class="th5">
        #foreach ($heading in $headings)
        <td>$heading</td>
        #end
        #if($bViewCost)
        <td><center>$!l10n.cost</td>
        <td><center>$!l10n.total_amount</td>
        #end
      </tr>
      #line(10)
      #set($dTotalQty = 0)
      #set($dTotalCost = 0)
      #foreach ($inv in $vInvTrans)
      <tr>
        <td width="15%">
          <a href="$!link.setPage($!inventorytransaction.getTransactionScreen($!inv.TransactionType))?op=4&id=$!inv.TransactionId" >
            $!inv.TransactionNo
          </a>
        </td>
        <td width="15%">$!cformat.formatDateTime($!inv.TransactionDate) </td>
        <td width="13%">$!inv.ItemCode </td>
        <td #width(120)>
          #set($oItem = $item.getItemByID($inv.ItemId))
          #if(!$excel)
          <input type="text" class="text2" value="$!oItem.ItemName" #width(120) READONLY
           onmouseover="tooltip('$!sutil.tooltip($!oItem.ItemName)');" onmouseout="exit();"
           #if($no % 2 == $row) style="background:#F3F3F3" #else style="background:#F7F7F7" #end >
          #else
          $!oItem.ItemName
          #end
        </td>
        <td #width(140)>
          #if(!$excel)
          <input type="text" class="text2" value="$!inv.Description " #width(140) READONLY
           onmouseover="tooltip('$!sutil.tooltip($!inv.Description )');" onmouseout="exit();"
           #if($no % 2 == $row) style="background:#F3F3F3" #else style="background:#F7F7F7" #end >
          #else
          $!inv.Description
          #end
        </td>
        <td width="6%" align="right">$!cf.fmt($!inv.QtyChanges) </td>
        #if($bViewCost)
        <td width="10%" align="right">$!cformat.formatAligned($!inv.Cost)</td>
        <td width="12%" align="right">
          #set($dValue = $!calculator.mul($!inv.Cost,$!inv.QtyChanges))
          $!cformat.formatAligned($dValue)
        </td>
        #end
      </tr>
      #set($dTotalQty = $calculator.add($dTotalQty, $!inv.QtyChanges))
      #set($dTotalCost = $calculator.add($dTotalCost, $!dValue))
      #end  ##end foreach inv
      #line(10)
      <tr>
        <td colspan="5" align="right"><b>Total</td>
        <td width="6%" align="right"><b>$!cf.fmt($!dTotalQty)</td>
        #if($bViewCost)
        <td width="10%" align="right">&nbsp;</td>
        <td width="10%" align="right"><b>$!cformat.formatAligned($!dTotalCost)</td>
        #end
      </tr>
      #line(10)
    </table>
    <br><br>
  #end
#end

#if($groupby == 4)
  #set($headings = [$!l10n.item_code,$!l10n.item_name, $!l10n.qty] )
  #set($vType = $butil.getDistinctListByField($InventoryTransactions,"transactionType"))
  #foreach ($oType in $vType)
    #set($iType = $oType.TransactionType)
    #set($vTypeNo = $!butil.filterListByFieldValue($InventoryTransactions,"transactionType",$iType))
    #if($iType == 5) #set($vTypeNo = $sortingtool.sort($vTypeNo, "description")) #end ##TRANSFER
    #set($vNo = $butil.getDistinctListByField($vTypeNo,"transactionNo"))
    #set($dTotalTypeQty = 0)
    #set($dTotalTypeCost = 0)
    <table class="stdTable">
      <tr class="th5">        
        <td colspan="11">
          $!l10n.trans_type : $!inventorytransaction.getTransactionTypeName($!iType)
        </td>
      </tr>          
      #foreach ($oNo in $vNo)
      #if($iType == 1 || $iType == 2 || $iType == 5) ##ISSUE RECEIPT || ITEM TRANSFER
        #if($iType == 1 || $iType == 2)
          #set($oTR = $issuereceipt.getHeaderByID($oNo.TransactionId))
        #elseif ($iType == 5)
          #set($oTR = $itemtransfer.getHeaderByID($oNo.TransactionId))
        #end
        #set($oAdj = $adjustmenttype.getAdjustmentTypeByID($oTR.AdjustmentTypeId))
      #end ##end if type
      #set($sNo = $oNo.TransactionNo)
      #set($vInvTrans = $!butil.filterListByFieldValue($vTypeNo,"transactionNo",$sNo))
      #if(!$summary)
      <tr>
        <td width="1%"></td>
        <td colspan="10">
          <b>$!l10n.trans_no : $sNo, $!cformat.formatDate($!oNo.TransactionDate) <br>
          ##$!oNo.Description #if($oTR), $!oTR.Description ($!oAdj.Description) #end</b>
        </td>
      </tr>      
      #line(10)
      <tr class="th4">
        <td width="1%"></td>
        #foreach ($heading in $headings)
        <td>$heading</td>
        #end 
        #if($bViewCost)
        <td><center>$!l10n.cost</td>
        <td><center>$!l10n.total_amount</td>
        #end
      </tr>
      #line(10)
      #end ##end if summary  s
      #set($dTotalQty = 0)
      #set($dTotalCost = 0)
      #foreach ($inv in $vInvTrans)
      #set($oItem = $item.getItemByID($inv.ItemId))
      #set($dValue = $!calculator.mul($!inv.Cost,$!inv.QtyChanges))
      #if(!$summary)
      <tr>
        <td></td>
        <td>$!inv.ItemCode </td>
        <td>$!oItem.ItemName</td>
        <td align="right">$!cf.fmt($!inv.QtyChanges) </td>
        #if($bViewCost)
        <td align="right">$!cformat.formatAligned($!inv.Cost)</td>
        <td align="right">
          $!cformat.formatAligned($dValue)
        </td>
        #end
      </tr>
      #end ##end if  summary      
      #set($dTotalQty = $calculator.add($dTotalQty, $!inv.QtyChanges))
      #set($dTotalCost = $calculator.add($dTotalCost, $!dValue))
      #end  ##end foreach inv
      #line(10)
      <tr>
        <td></td>
        <td colspan="2" #if(!$summary) align="right" #end ><b>Total $!sNo</td>
        <td align="right"><b>$!cf.fmt($!dTotalQty)</td>
        #if($bViewCost)
        <td align="right">&nbsp;</td>
        <td align="right"><b>$!cformat.formatAligned($!dTotalCost)</td>
        #end
      </tr>
      #line(10)
      #set($dTotalTypeQty = $calculator.add($dTotalTypeQty, $!dTotalQty))
      #set($dTotalTypeCost = $calculator.add($dTotalTypeCost, $!dTotalCost))
      #end
      <tr class="th5">
        <td colspan="3" align="right"><b>Total $!inventorytransaction.getTransactionTypeName($!iType)</td>
        <td align="right"><b>$!cf.fmt($!dTotalTypeQty)</td>
        #if($bViewCost)
        <td align="right">&nbsp;</td>
        <td align="right"><b>$!cformat.formatAligned($!dTotalTypeCost)</td>
        #end
      </tr>
      #line(10)
    </table>
    <br><br>
  #end ## end foreach
#end


<!-- GROUP BY ITEM && TRANS TYPE-->
#if($groupby == 5  && $dStart && $dEnd)
  #set($mCode = $inventoryreport.SimpleCodeMap)
  #set($vItem = $!butil.getDistinctListByField($InventoryTransactions,"itemId"))
  #set($vItem = $!sortingtool.sort($vItem,"itemCode"))
  <table class="stdTable">
    #line(10)
    <tr class="th5">
      #set($headings = [$!l10n.item_code, $!l10n.item_name, "<center>Start"] )
      #foreach ($heading in $headings)
      <td>$heading</td>
      #end
      #foreach ($type in $mCode.keySet())
      <td><center>$!mCode.get($type)</td>
      #end
      <td><center>End</td>
    </tr>
    #line(10)
    #foreach ($oInvItem in $vItem)
    #set($sItemID = $oInvItem.ItemId)
    #set($oItem = $!item.getItemByID($sItemID))
    #set($vInvTrans = $!butil.filterListByFieldValue($InventoryTransactions,"itemId",$sItemID))
    #set($dBalance = $!inventorylocation.getBalanceAsOf("$!oItem.ItemId", "", $locid, $dStart) )
    #set($dTotalIn = $!inventorytransaction.getTotalIn($!oItem.ItemId, "", "", $locid, $dStart, $dEnd))
    #set($dTotalOut = $!inventorytransaction.getTotalOut($!oItem.ItemId,"", "", $locid, $dStart, $dEnd))
    #set($dTotalQtyChanges = $!calculator.add($dTotalIn, $dTotalOut))
    #set($dEndStock = $!calculator.add($dBalance, $dTotalQtyChanges))
    <tr>
      <td width="10%">
        <a href="#" OnClick="viewDetail('$!oItem.ItemCode');">
        $!oItem.ItemCode
        </a>
      </td>
      <td width="15%">$!oItem.ItemName</td>
      <td width="5%"  align="right">$!cformat.fmt($dBalance)</td>
      #foreach ($type in $mCode.keySet())
      #set($dQty = 0)
      #foreach ($oInv in $vInvTrans)
      #if($oInv.TransactionType == $type)
      #set($dQty = $calculator.add($dQty,$oInv.QtyChanges))
      #end ##end if transtype
      #end ##end if foreach oInv
      <td width="5%"  align="right">$!cformat.fmt($dQty)</td>
      #end ##end foreach type in mCode
      <td width="5%"  align="right">$!cformat.fmt($dEndStock)</td>
    </tr>
    #end ##end foreach
    #line(10)
    #line(10)
  </table>
  <br><br>
#end
