#set($printable= $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("/Printable.vm")
  #set($css = "txtPrint")
#end

#set($op = $data.Parameters.getInt("op")) 
#set($stat = $data.Parameters.getInt("StockStatus")) 
#set($sort = $data.Parameters.getInt("SortBy"))
#set($katid = $data.Parameters.getString("KategoriId"))
#set($locid = $data.Parameters.getString("LocationId","$!USRLOC"))
#set($StockOpname= $data.Parameters.getBoolean("StockOpname"))
#set($AltUnit = $data.Parameters.getBoolean("AltUnit"))
#set($InvLevel= $data.Parameters.getBoolean("InvLevel"))
#set($asof = $data.Parameters.getString("AsOf", "$!cformat.formatDate($dutil.TodayDate)"))
#set($today = "$!cformat.formatDate($dutil.TodayDate)")
#set($dAsOf = $dutil.getEndOfDayDate($cparser.parseDate($asof)))
#set($nocost = false)

#if(!$data.ACL.Permissions.containsName("View Item Cost"))
#set($nocost = true)
#end

#set($pageParam = "&StockStatus=$!{stat}&SortBy=$sort&LocationId=$!{locid}&KategoriId=$!{katid}&AsOf=$!{asof}")
#set($pageParam = "${pageParam}&StockOpname=${StockOpname}&InvLevel=${InvLevel}&IsFromItemList=0&op=1")
#set($pageParam = "${pageParam}&AltUnit=${AltUnit}&NoCost=${nocost}")

<script language="javascript" src="${data.ContextPath}/javascript/popcal.js"></script>
#set($title = "Stock Card Report")
#if(!$printable)
<script>
function openItemHistoryWindow (sItemID, sLocationID) 
{
    var sURL = '${link.setPage("transaction,ViewItemHistory.vm")}?StartDate=$!asof&ItemId=' + sItemID + '&LocationId=' + sLocationID;  
    var wndItemHist=window.open(sURL, 'wndItemHist', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    wndItemHist.focus();
}
function printToExcel(sHelperClass) 
{
    #set ($sHelper = "com.ssti.enterprise.pos.excel.helper.IssueReceiptUnplannedHelper")
    var sURL = '${data.ContextPath}/excel/opnameForm.xls?helper_class=${sHelper}$!pageParam';
    var excelWnd = window.open (sURL, 'excelWnd', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=720,height=480,left=20,top=20');
    excelWnd.focus();                                                     
}
</script>
##REPORT PRINT TXT
#reportPrintJS()
##set($sTXT = "StockOpnameFormTXT.vm")
##reportPrintTXT()
#end ##end if !printable

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<table class="fixTable"> 
  <tr>
    <td>
      <span class="txtTitle2"><b>$title  As Of 
        #if($sutil.isNotEmpty($asof))
        $!cformat.formatDateTime($dAsOf)
        #else
        $!cformat.formatDateTime($dutil.getTodayDate())
        #end
      </span>
    </td>
    #if (!$printable)
    <td>
      <div align="right">
      <a href="javascript:printReport();">
      <img src="${data.ContextPath}/images/btn_print.gif" border="0"/></a>
      <a href="javascript:printReport(true);">
      <img src="${data.ContextPath}/images/btn_excel.gif" border="0"/></a>
   
      #if ($data.ACL.Permissions.containsName("View Item Cost"))
      <a href="javascript:void(0)" title="$!l10n.issue_receipt (Excel)"
        OnClick="printToExcel();">
         <img src="${data.ContextPath}/images/btn_excel.gif" border="0" />
      </a>
      #end
      </div>
    </td>
    #end
  </tr>
</table>
#if (!$printable)
##<!-- SEARCH -->
<table class="searchTable">
  <tr>
    <td>$!l10n.category : </td>
    <td colspan="3">
      #kategoriSB("KategoriId" $data.Parameters.getString("KategoriId", ""))
      #spc(2)
    </td>  
  </tr>
  <tr>
    <td>$!l10n.location : </td>
    <td>
      #if($preference.isHO())
        #locationSB ("$locid")
      #else
        $!location.getLocationNameByID($preference.LocationID)
        <input name="LocationId" type="hidden" value="$preference.LocationID">
      #end
      #spc(2)
    </td>      
    <td>$!l10n.as_of : </td>       
    <td><input type="text" value="$!asof" name="AsOf" #width(100)>#cal("AsOf" true)</td>     
    <td>
      <input type="checkbox" class="cb" name="StockOpname" #if ($StockOpname) checked #end >
      <a href="#" title="$!l10n.all $!l10n.item_data">
      Stock Opname #spc(2)
      </a>
    </td>
    ##<td>
    ##  <input type="checkbox" class="cb" name="AltUnit" #if ($AltUnit) checked #end >
    ##  <a href="#" title="$!l10n.all $!l10n.item_data">
    ##  Alt Unit #spc(2)
    ##  </a>
    ##</td>           
  </tr>
  <tr>
    <td>$!l10n.stock_status : </td>          
    <td>      
      <select name="StockStatus" #width("")>
        <option value="-1" >-- $!l10n.stock_status --</option>
        <option value="1" #if ($stat == 1) SELECTED #end >$!l10n.qty_oh <= $!l10n.min_stock     </option>
        <option value="2" #if ($stat == 2) SELECTED #end >$!l10n.qty_oh <= $!l10n.reorder_point </option>
        <option value="3" #if ($stat == 3) SELECTED #end >$!l10n.qty_oh < 0                     </option>
        <option value="4" #if ($stat == 4) SELECTED #end >$!l10n.qty_oh > 0                     </option>
        <option value="5" #if ($stat == 5) SELECTED #end >$!l10n.qty_oh >= $!l10n.max_stock     </option>                     
      </select>                   
      #spc(2)
    </td>    
    <td>$!l10n.sort_by : </td>
    <td>
      <select name="SortBy" #width(100)>
        <option value="1" >-- $!l10n.sort_by --</option>
        <option value="2" #if ($sort == 2) SELECTED #end > $!l10n.item_name   </option>
        <option value="1" #if ($sort == 1) SELECTED #end > $!l10n.item_code   </option>
        <option value="3" #if ($sort == 3) SELECTED #end > $!l10n.description </option>
        <option value="4" #if ($sort == 4) SELECTED #end > $!l10n.qty         </option>
      </select>
      #spc(2)
    </td>    
    ##<td>
    ##  <input type="checkbox" class="cb" name="InvLevel" #if ($InvLevel) checked #end >
    ##  <a href="#" title="$!l10n.item_inv">
    ##  $!l10n.item_inv #spc(2)
    ##  </a>
    ##</td>      
    <td colspan="2">
      <input type="hidden" name="op" value="1">
      <input type="submit" value="$!l10n.view_report">
    </td>
  </tr>
</table>
##<!-- END SEARCH SECTION -->
#end

#if($op == 1)
#if($sutil.isNotEmpty($locid))                 
#set($oLoc = $location.getLocationByID($locid))
#end
<br>
#if($katid != "")
<b>$!l10n.category : $kategori.getLongDescription($katid)</b>
<br>
#end
<b>$!l10n.location : #if($sutil.isNotEmpty($oLoc.LocationId)) $!oLoc.LocationName #else $!l10n.all #end</b>  
#set($headings = ["No", "$!l10n.item_code", "$!l10n.item_name","$!l10n.color"])
#if($printable)
#set($Items = $data.Session.getAttribute("itemDet"))
#else    
#set($Items = $inventoryreport.findToItemList(-1,$sort,$stat,$StockOpname,"",$katid,$locid,"",$dAsOf))
#end
#set($mSKU = $sku.mapBySKU($Items)) ##get sku list from transaction details  
#set($vPLU = $sku.getUniquePLUCode($mSKU)) ##get all plu unique code in SKU
<table class="stdTable">
  <tr class="th4">
    #foreach ($heading in $headings)
    <td>$heading</td>
    #end
    #foreach($sPLUCode in $vPLU)
    <td width="32" align="center">$sPLUCode</td>
    #end
    <td>Total</td>    
  </tr>
  #set($no = 1)  
  #set($dTotalAll = 0)                      
  #set($vKeys = $mSKU.keySet().toArray())
  
  #foreach($sSKU in $mSKU.keySet())
  #set($vTD = $mSKU.get($sSKU))
  #set($oItem = $item.getItemBySKU($sSKU))
  #set($dTotalSKU = 0)  
  <tr>                  
    <td class="noCol">$no</td>
    <td>$!sSKU </td>
    <td>$!oItem.ItemSkuName </td> 
    <td>$!oItem.Color</td>
    #foreach($sPLUCode in $vPLU)
    <td width="32" class="$!css" align="right">
      #set($vByPLU = $sku.filterByCode("$!sSKU", "$!sPLUCode", $vTD))
      #set($pluqty = 0)
      #foreach($oTD in $vByPLU)
        #set($pluqty = $cal.add($pluqty,$oTD.Qty))
        #set($dTotalSKU = $calculator.add($dTotalSKU,$oTD.Qty)) 
        #set($dTotalAll = $calculator.add($dTotalAll,$oTD.Qty))       
        #set($oTD="")       
      #end ##end
      $!cf.fmt($pluqty)
    </td>
    #end ##End sPLUCode
    <td align="right">$!cformat.fmt($dTotalSKU) </td>        
  </tr>
  #set($no = $no + 1)    
  #end ##end sSKU   
  <tr class="th5">                  
    <td></td>
    <td> </td>
    <td></td> 
    #foreach($sPLUCode in $vPLU)
    <td align="right"></td>
    #end ##End sPLUCode
    <td align="right">$!cformat.fmt($dTotalAll) </td>        
  </tr> 
  #set($x = $data.Session.setAttribute("itemDet", $Items))
</table>
<br>
</form>
#end ##end if op 
