#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
$data.setLayoutTemplate("/Printable.vm")
#end

#set($title = "Stock Valuation Report ")
#set($start = $data.Parameters.getString("StartDate"))
#set($end = $data.Parameters.getString("EndDate"))
#set($limit = $data.Parameters.getInt("ViewLimit",50))
#set($keyword = $data.Parameters.getString("Keywords",""))
#set($sortBy = $data.Parameters.getInt("SortBy"))
#set($katid = $data.Parameters.getString("KategoriId",""))
#set($locid = $data.Parameters.getString("LocationId"))
#set($cond  = $data.Parameters.getInt("Condition"))
#set($det = $data.Parameters.getBoolean("ViewDetail"))
#set($intrans = $data.Parameters.getBoolean("InTrans"))
#set($AltUnit = $data.Parameters.getBoolean("AltUnit"))
#if($preference.jcInstalled())
#set($mCode = $inventoryreport.TypeCodeMap)
#else
#set($mCode = $inventoryreport.SimpleCodeMap)
#end

#set($pageParam = "&LocationId=$!{locid}&ViewLimit=$!{limit}&KategoriId=$!{katid}&Keywords=$!{keyword}&ViewDetail=${det}")
#set($pageParam = "${pageParam}&SortBy=$!{sortBy}&StartDate=$!{start}&EndDate=$!{end}&Condition=$!{cond}&InTrans=${intrans}")
#set($pageParam = "${pageParam}&AltUnit=${AltUnit}")
#if($printable) #set($pageParam = "$pageParam&printable=true") #end

#if(!$printable)
<script>
function viewHistory(sItemID, sLocationID)
{
    var url = '${link.setPage("transaction,ViewValuationHistory.vm")}?ItemId=' + sItemID
               + '&GroupBySku=false&StartDate=$!{start}&EndDate=$!{end}' + '&LocationId=' + sLocationID;
    var wndItemHist=window.open(url, 'wndItemHist',
        'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=960,height=600,left=20,top=20');
    wndItemHist.focus();
}
function printReport(excel)
{
    var url = '${link.setPage($data.ScreenTemplate)}?op=page&page=&printable=true$pageParam';
    if (excel)
    {
        url = '${data.ContextPath}/excel/RPTStockMovement.xls?url=' +
               '$sutil.encode("$tplutil.setLocalPage($data)?printable=true&op=page&page=&excel=true$!{pageParam}")';
    }
    var prnWnd = window.open (url,'printWindow','toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=800,height=480,left=20,top=20');
    prnWnd.focus();
}
</script>
##set($sTXT = "StockMovementReportTXT.vm")
##set($sHTML = "StockMovementReportHTML.vm")
##set($sTXTHDG = "StockMovementReportHDG.vm")
##reportPrintTXT()
#end

<table width="100%" cellspacing="0" cellpadding="4" border="0">
  <tr>
    <td colspan="7" class="txtTitle2"><b>$title
      #if($sutil.isNotEmpty($start))
        ($!start - $!end)
      #end
    </td>
    #reportPrintBtn()
  </tr>
</table>

#if(!$printable)
<form name="frm1" method="post" action="$data.ScreenTemplate">
<table class="searchTable">
  <tr>
    <td>
      $!l10n.location :
    </td>
    <td colspan="3">
      #locationSB($locid)
    </td>
    <td>$!l10n.category :</td>
    <td colspan="3">
      #kategoriSB("KategoriId" $!katid)
    </td>
  </tr>
  <tr>
    <td>
      $!l10n.start_date :
    </td>
    <td>
      <input type="text" name="StartDate" value="$!start" size="15">
      #calf("frm1" "StartDate" true)
    </td>
    <td> $!l10n.search_by : </td>
    <td>
      <select name="Condition" #width(150)>
        <option value="3" #if($cond == 3) SELECTED #end > $!l10n.item_desc       </option>
        <option value="2" #if($cond == 2) SELECTED #end > $!l10n.item_name       </option>
        <option value="1" #if($cond == 1) SELECTED #end > $!l10n.item_code       </option>
        <option value="7" #if($cond == 7) SELECTED #end > $!l10n.barcode         </option>
        <option value="5" #if($cond == 5) SELECTED #end > $!l10n.prefered_vendor </option>
        <option value="6" #if($cond == 6) SELECTED #end > $!l10n.status_code     </option>
        <option value="13" #if($cond == 13) SELECTED #end > $!l10n.rack_location   </option>
        <option value="14" #if($cond == 14) SELECTED #end > $!l10n.rack_location (Loc) </option>
        <option value="15" #if($cond == 15) SELECTED #end > $!l10n.brand           </option>
      </select>
    </td>
    <td>$!l10n.sort_by :</td>
    <td>
      <select name="SortBy" #width("90%")>
        <option value="1" #if($sortBy == 1) SELECTED #end > $!l10n.item_code </option>
        <option value="2" #if($sortBy == 2) SELECTED #end > $!l10n.item_name </option>
        <option value="3" #if($sortBy == 3) SELECTED #end > $!l10n.item_desc </option>
      </select>
    </td>
    <td>$!l10n.view_limit :</td>
    <td>
      <input type="text" name="ViewLimit" size="5" value="$!limit">
    </td>
  </tr>
  <tr>
    <td>$!l10n.end_date :</td>
    <td>
      <input type="text" name="EndDate" value="$!end" size="15">
      #calf("frm1" "EndDate" true)
    </td>
    <td>$!l10n.keywords :</td>
    <td>
      <input type="text" name="Keywords" #width(150) value="$!keyword">
    </td>
    <td colspan="5">
      $!l10n.view Detail :
      <input type="checkbox" name="ViewDetail" #if($det) CHECKED #end>
      In Trans Only :
      <input type="checkbox" name="InTrans" #if($intrans) CHECKED #end >
      ## <a href="#" title="$!l10n.purchase_unit">
      ## Alt Unit :
      ## </a>
      ## <input type="checkbox" class="cb" name="AltUnit" #if($AltUnit) checked #end >

      <input type="hidden" name="op" value="">
      <input type="hidden" name="StockStatus" value="11">
      <input type="Submit" value="&nbsp; $!l10n.view &nbsp;" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
</form>
#end ##end if printable

#if($Items)
#if($det)
*IR: $!l10n.issue_receipt #spc(1)
*TI/TO: $!l10n.item_transfer #spc(1)
*PR: $!l10n.purchase_receipt #spc(1)
*PI: $!l10n.purchase_invoice #spc(1)
*PT: $!l10n.purchase_return #spc(1)
*SI: $!l10n.sales_invoice #spc(1)
*DO: $!l10n.delivery_order #spc(1)
*SR: $!l10n.sales_return  #spc(1)
#if($preference.jcInstalled())
*JC/JR: $!l10n.job_costing #spc(1)
#end ##end if jc
#end ##end if det

#set($no = (($LargeData.CurrentPageNumber - 1) * $limit) + 1)
#set($dGTQtyIn = 0)
#set($dGTValIn = 0)
#set($dGTQtyOut = 0)
#set($dGTValOut = 0)
#set($dGTQtyStr = 0)
#set($dGTValStr = 0)
#set($dGTQtyEnd = 0)
#set($dGTValEnd = 0)
#set($mGTQty = $butil.loadClass("java.util.HashMap"))
#set($mGTVal = $butil.loadClass("java.util.HashMap"))
#set($dStr = $dutil.getStartOfDayDate($cparser.parseDate($start)))
#set($dEnd = $dutil.getEndOfDayDate($cparser.parseDate($end)))
#set($vItemID = $sqlutil.toListOfID($Items))
#set($vStrBal = $inventoryreport.getBalances($vItemID,"$!locid",$dStr))
#set($vEndBal = $inventoryreport.getBalances($vItemID,"$!locid",$dEnd))
#set($vTrans  = $inventoryreport.getChanges($vItemID,"$!locid",$dStr,$dEnd))       
#if(!$excel)
#largeSelectNavBar($data.ScreenTemplate $pageParam)
#end
<table class="stdTable">
  #set($headings = ["No","$!l10n.item_code","$!l10n.barcode","$!l10n.item_name"])
  <tr class="th5" style="text-align:center">
    #foreach($heading in $headings)<td rowspan="2">$heading</td>#end
    <td colspan="2">Start</td>
    #if(!$det)
    <td colspan="2">Total In</td>
    <td colspan="2">Total Out</td>
    #else
    #foreach($type in $mCode.keySet())
    <td colspan="2">$!mCode.get($type)</td>
    #end
    #end
    <td colspan="2">End</td>
  </tr>
  <tr class="th5" style="text-align:center">
    <td style="min-width:40px;">Qty</td>
    <td style="min-width:60px;">Val</td>
    #if(!$det)
      <td style="min-width:40px;">Qty</td>
      <td style="min-width:60px;">Val</td>
      <td style="min-width:40px;">Qty</td>
      <td style="min-width:60px;">Val</td>
    #else
      #foreach($type in $mCode.keySet())
      <td style="min-width:40px;">Qty</td>
      <td style="min-width:60px;">Val</td>
      #end
    #end
    <td style="min-width:40px;">Qty</td>
    <td style="min-width:60px;">Val</td>
  </tr>
  #foreach($itm in $Items)
    #set($vFStr = $sqlutil.filterRecord($vStrBal,"item_id",$itm.Id))
    #set($vFEnd = $sqlutil.filterRecord($vEndBal,"item_id",$itm.Id))
    #set($stQty = 0) #set($stVal = 0)
    #set($enQty = 0) #set($enVal = 0)
    #if($vFStr.size() > 0)
      #set($stQty = $vFStr.get(0).getValue("qty").asDouble())
      #set($stVal = $vFStr.get(0).getValue("cost").asDouble())
    #end
    #if($vFEnd.size() > 0)
      #set($enQty = $vFEnd.get(0).getValue("qty").asDouble())
      #set($enVal = $vFEnd.get(0).getValue("cost").asDouble())
    #end
    <tr>
      <td>$no </td>
      <td class="xls-txt">
        <a href="javascript:viewHistory('$itm.ItemId', '$locid');">
        $!itm.ItemCode
        </a>
      </td>
      <td class="xls-txt">$!itm.Barcode</td>
      <td>$!itm.ItemName</td>
      <td align="right">$!cf.fmtAlg($stQty) </td>
      <td align="right">$!cf.fmtAlg($stVal) </td>
      #if($det)
        #foreach($type in $mCode.keySet())
        #set($dQty = 0)
        #set($dVal = 0)
        #if($vTrans.size() > 0)
        #set($oRec = $inventoryreport.filterByType($vTrans,$itm.ItemId,$type))
          #if($oRec)
            #set($dQty = $oRec.getValue("qty").asDouble())            
            #set($dVal = $oRec.getValue("cost").asDouble())
            #set($x = $!tplutil.addToMap($mGTQty, "$type", $dQty))
            #set($x = $!tplutil.addToMap($mGTVal, "$type", $dVal))
          #end
        #end
        <td align="right">$!cf.fmtAlg($dQty)</td>
        <td align="right">$!cf.fmtAlg($dVal)</td>
        #set($oRec = "")
        #end
      #else
        #set($inQty  = $inventoryreport.sumInOut($vTrans,"item_id",$!itm.ItemId, true, true))
        #set($inVal  = $inventoryreport.sumInOut($vTrans,"item_id",$!itm.ItemId, true, false))
        #set($outQty = $inventoryreport.sumInOut($vTrans,"item_id",$!itm.ItemId, false, true))
        #set($outVal = $inventoryreport.sumInOut($vTrans,"item_id",$!itm.ItemId, false, false))
        <td align="right">$!cf.fmt($inQty )</td>
        <td align="right">$!cf.fmt($inVal )</td>
        <td align="right">$!cf.fmt($outQty)</td>
        <td align="right">$!cf.fmt($outVal)</td>
      #end
      <td align="right">$!cf.fmtAlg($enQty) </td>
      <td align="right">$!cf.fmtAlg($enVal) </td>
    </tr>
    #set($dGTQtyIn  = $cal.add($dGTQtyIn , $inQty))
    #set($dGTValIn  = $cal.add($dGTValIn , $inVal))
    #set($dGTQtyOut = $cal.add($dGTQtyOut, $outQty))
    #set($dGTValOut = $cal.add($dGTValOut, $outVal))
    #set($dGTQtyStr = $cal.add($dGTQtyStr, $stQty))
    #set($dGTValStr = $cal.add($dGTValStr, $stVal))
    #set($dGTQtyEnd = $cal.add($dGTQtyEnd, $enQty))
    #set($dGTValEnd = $cal.add($dGTValEnd, $enVal))
    #set($no = $no + 1)
  #end ##end foreach Items
  <tr class="th5">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td align="right"><b>TOTAL</b>&nbsp;</td>
    <td align="right"><b>$!cf.fmtAlg($dGTQtyStr) </b></td>
    <td align="right"><b>$!cf.fmtAlg($dGTValStr) </b></td>
    #if($det)
      #foreach ($type in $mCode.keySet())
      <td align="right">$!cf.fmtAlg($mGTQty.get("$type"))</td>
      <td align="right">$!cf.fmtAlg($mGTVal.get("$type"))</td>
      #end
    #else
      <td align="right"><b>$!cf.fmtAlg($dGTQtyIn) </b></td>
      <td align="right"><b>$!cf.fmtAlg($dGTValIn) </b></td>
      <td align="right"><b>$!cf.fmtAlg($dGTQtyOut) </b></td>
      <td align="right"><b>$!cf.fmtAlg($dGTValOut) </b></td>
    #end
    <td align="right"><b>$!cf.fmtAlg($dGTQtyEnd) </b></td>
    <td align="right"><b>$!cf.fmtAlg($dGTValEnd) </b></td>
  </tr>
</table>
#end
