#set($price = $itm.ItemPrice)      
#set($locid = $data.Parameters.getString("LocationId","$preference.LocationID"))
## DEBUG LOC: $!location.getLocationCodeByID($locid)             
## PRICE FROM PRICE LIST
#set($sql = "SELECT pd.new_price FROM price_list_detail pd, price_list p ")
#set($sql = "${sql}WHERE p.price_list_id = pd.price_list_id ")
#set($sql = "${sql}AND pd.item_id = '$!itm.ItemId' ")
#set($sql = "${sql}AND (p.location_id LIKE '%$!locid%' OR p.location_id = '') ")
#set($sql = "${sql}AND p.expired_date >= '$cformat.formatSqlDate($dutil.TodayDate)' ")
#set($sql = "${sql}AND p.create_date <= '$cformat.formatSqlDate($dutil.TodayDate)' ")
## DEBUG QUERY: $sqlutil<br> $sql <br>
#set($v = $sqlutil.executeQuery($sql))
## DEBUG LIST:  $v <br>

#set($frompl = false)
#if($v.size() > 0)
#set($price = $v.get(0).getValue(1).asBigDecimal())
#set($frompl = true)
##DEBUG PRICE: $price<br>
#end    

## PRICE FROM DISCOUNT
#set($cfield = $data.Parameters.getString("CustomField",""))
#set($norprc = $data.Parameters.getBoolean("NormalPrice"))
#set($disc = 0)                
#set($vdis = $discount.getItemEventDisc($itm.ItemId,$locid))                                               
#if($vdis.size() > 0)
#set($dis = $vdis.get(0))
#end
#if($dis)
#if($sutil.contains($dis.Items,$itm.ItemCode))
#set($disc = $dis.EventDiscount)
#if($dis.DiscountType == 1)
#set($disc = $cal.calculateDiscount($disc,$price))
#elseif($dis.DiscountType == 8)
#set($disc = $cal.sub($price,$cal.calculateDiscount($disc,$price)))
#end ##end if 
#end ## end if sutil
#end ## end if dis
#set($befdisc = $price)
#set($price = $calculator.sub($price,$disc))
<td class="mainCol" >
  <table class="shTable">
    <tr style="height:32px;">
      <td colspan="3"><span class="shName">&nbsp;&nbsp;&nbsp;$!sutil.cut($itm.ItemName,48,"..")</span></td>
    </tr>
    <tr>
      <td colspan="2">              
        <span class="shPrice">&nbsp;&nbsp;&nbsp;Rp. #if($norprc && ($disc.intValue() != 0 || $frompl)) <del>$cformat.formatNumber($befdisc)</del> #end</span>        
      </td>
      <td align="right">
        $!itm.getValue($!cfield) 
      </td>
    </tr>
    <tr>
      <td colspan="3" align="right"><span class="shPromo">$cformat.formatNumber($price)&nbsp;</span></td>
    </tr>    
    <tr>
      <td colspan="2" align="center">
        <img src="${data.ContextPath}/barcode/bcode.jpg?data=$!{itm.ItemCode}&type=$!{bcd.BarcodeType}&width=$!{bcd.BarcodeWidth}&height=$!{bcd.BarcodeWidth}&resolution=50&drawText=false" border="0" >
      </td>
      <td rowspan="2" style="width:60px;" align="center">
        <span style="font-size:9px;">                        
        #set($rack = $!itm.getInvLevel($locid).RackLocation)        
        #if($rack.length() == 19)
        $!rack.substring(0,7)
        $!rack.substring(7,13)
        $!rack.substring(13,19)  
        #set($rack = "")      
        #end
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <span class="shCode">
        $!itm.ItemCode - $!itm.Barcode
        </span>
      </td>
    </tr>    
  </table>
</td>
  