#set($headings = ["No","$!l10n.do_no","$!l10n.so_no","$!l10n.trans_date","$!l10n.customer","$!l10n.description","$!l10n.status","$!l10n.total_qty", "&nbsp;"] )
#set($fields = ["","deliveryOrderNo","salesOrderId","deliveryOrderDate","customerName","remark","status", "totalQty",""] )
#set($title = "$!l10n.delivery_order" )

##<!-- SEARCH -->
#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords"))
#set($limit  = $data.Parameters.getInt("ViewLimit",50))
#set($status = $data.Parameters.getInt("Status"))
#set($customerid = $data.Parameters.getString("CustomerId"))
#set($locid = $data.Parameters.getString("LocationId",""))
#set($start = $data.Parameters.getString("StartDate"))
#set($end = $data.Parameters.getString("EndDate"))
#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}&ViewLimit=${limit}&Status=${status}")
#set($pageParam = "${pageParam}&CustomerId=${customerid}&LocationId=${locid}&StartDate=${start}&EndDate=${end}")

<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>
<form name="frm" method="post" OnSubmit="loading();"
 action="$link.setPage($data.ScreenTemplate).setAction("transaction.DeliveryOrderAction")?op=next">

##<!-- TITLE SECTION -->
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
  </tr>
</table>
<table class="searchTable">
  <tr>
   <td>$!l10n.customer : </td>
    <td colspan="3">
      #custSB ($customerid "" "" "")
    </td>
    <td>$!l10n.location : </td>
    <td colspan="3">
      #locationSB($locid)
    </td>
  </tr>
  <tr>
    <td>$!l10n.search_by :</td>
    <td>$!deliveryorder.conditionSB($cond)</td>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" #width(80) name="StartDate" value="$!start">
      #calf("frm" "StartDate" true)
    </td>
    <td>$!l10n.status : </td>
    <td colspan="2">
      <select name="Status">
        <option value="-1"#if($status == -1) SELECTED #end >-- $!l10n.status --</option>
        <option value="1" #if($status == 1)  SELECTED #end >$!deliveryorder.getStatusString(1)</option>
        <option value="2" #if($status == 2)  SELECTED #end >$!deliveryorder.getStatusString(2)</option>
        <option value="3" #if($status == 3)  SELECTED #end >$!deliveryorder.getStatusString(3)</option>
        <option value="4" #if($status == 4)  SELECTED #end >$!deliveryorder.getStatusString(4)</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(150) name="Keywords" value="$!key" Onkeypress="handleSubmit(event);">
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" #width(80) name="EndDate" value="$!end">
      #calf ("frm" "EndDate" true)
    </td>
    <td>$!l10n.view_limit :</td>
    <td>
      <input type="text" #width(50) name="ViewLimit" value="$limit">
      #spc(2)
      <input type="button" value="$!l10n.search" OnClick="loading();document.frm.submit();">
    </td>
  </tr>
</table>
</form>
<!-- END SEARCH SECTION -->

#if($DeliveryOrders)
$data.User.setTemp("doViewParam", $pageParam)
$data.User.setTemp("dopage", $LargeData.CurrentPageNumber)
#largeSelectNavBar($data.ScreenTemplate $pageParam)
<form name="frm2" method="post"
  action="$link.setPage($data.ScreenTemplate)?op=page&page=$!LargeData.getCurrentPageNumber()$!{pageParam}">

<table class="altRowTable">
#set($FORMNAME="frm2")
  #sortableHeader ($headings $fields "th2" "sort2" true)
  #set($no = 1)
  #foreach ($do in $sortingtool.sort($DeliveryOrders,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$no</td>
    <td>$!do.DeliveryOrderNo</td>
    <td>$!salesorder.getHeaderByID($!do.SalesOrderId).SalesOrderNo</td>
    <td>$!cformat.formatDate($!do.DeliveryOrderDate)</td>
    <td>
    <input type="text" class="text2" value="$!do.CustomerName" #width(180) READONLY>
    </td>
    <td>
      <input type="text" class="text2" value="$!do.Remark" #width(180) READONLY
     onmouseover="tooltip('$!sutil.tooltip($!do.Remark)');" onmouseout="exit();">
    </td>
    <td>$!deliveryorder.getStatusString($!do.Status)</td>
    <td align="right">$cformat.formatAligned($!do.TotalQty)</td>
    <td>
      <ul class="rowLinkNav">    
      #rowDataLink ("transaction,DeliveryOrderTransaction.vm" "?op=4&id=$!do.DeliveryOrderId" $!l10n.view "" "View Delivery Order")
      </ul>
    </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
#end ##end if
</form>
<ul class="btmLinkNav">
#btmLinkMenu("transaction,DeliveryOrderTransaction.vm" "?op=3" "$!l10n.new_trans" "")
</ul>
