#if($flux.Mode == "viewPicture")
$data.setLayoutTemplate("/EmptyHTML.vm")
#set($oItem = $item.getItemByID($data.Parameters.getString("id")))
<table border="0">
  <tr>
    <td align="center">
      <img src="$data.Parameters.getString("pic")" border="0">
      <br><br>
      #if($oItem)
      <b>$!oItem.ItemCode - $!oItem.ItemName, $!oItem.Description
      <br><br>
      $!cformat.formatRupiah($!oItem.ItemPrice)
      </b>
      #end
      <br><br><br>
      <input type="button" value="$!l10n.button_back" onclick="history.go(-1);" >
    </td>
  </tr>
</table>
#else
#set($isMED = $preference.medicalInstalled())
#set($title = "$!l10n.item_data")
$data.setLayoutTemplate("/ItemLookup.vm")
#set($oUserPref  = $preference.getUserPreference($data))
#set($cond       = $data.Parameters.getInt("Condition",$!preference.DefaultSearchCond))
#set($sort       = $data.Parameters.getInt("SortBy",$!preference.DefaultSearchCond))
#set($limit      = $data.Parameters.getInt("ViewLimit",25))
#set($key        = $data.Parameters.getString("Keywords",""))
#set($katid      = $data.Parameters.getString("KategoriId",""))
#set($custid     = $data.Parameters.getString("CustomerId",""))
#set($custnm     = $data.Parameters.getString("CustomerName",""))
#set($vendid     = $data.Parameters.getString("VendorId",""))
#set($locid      = $data.Parameters.getString("LocationId",""))
#set($transgroup = $data.Parameters.getInt("TransactionGroup"))
#set($stat       = $data.Parameters.getInt("StockStatus"))
#set($displayid  = $data.Parameters.getString("DisplayItemId",""))
#set($isPOS      = $data.Parameters.getBoolean("isPOS"))
#set($isSO       = $data.Parameters.getBoolean("isSO"))
#set($onSO       = $data.Parameters.getBoolean("onSO"))
#set($isADJ      = $data.Parameters.getBoolean("isADJ"))
#set($target     = $data.Parameters.getString("targetField",""))

#if($locid == "") #set($locid = $!USRLOC) #end

#set($pageParam = "&Condition=${cond}&SortBy=${sort}&ViewLimit=${limit}&Keywords=$!{sutil.encode($key)}")
#set($pageParam = "${pageParam}&CustomerId=$!{custid}&CustomerName=$!{custnm}&LocationId=${locid}")
#set($pageParam = "${pageParam}&VendorId=$!{vendid}&TransactionType=$!{transtype}&StockStatus=${stat}")
#set($pageParam = "${pageParam}&KategoriId=${katid}&isPOS=$isPOS&isSO=$isSO&onSO=$onSO")
#set($pageParam = "${pageParam}&targetField=${target}")

<script>
var wnd = window.opener;
var frm = wnd.document.frm;

function setOnLoad()
{
    if(frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';
    document.frm.Keywords.focus();
}
function setOnUnload()
{
    ##//if(frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';
}
function addItem(ItemId, ItemCode, ItemName, ItemPrice, TaxId, TaxAmount,
                 DiscountId, ItemDiscount, UnitId, UnitCode, QtyOH  )
{
    var wnd = window.opener;
    var frm = wnd.document.frm;

    if(wnd && !wnd.closed)
    {
        #if($sutil.isEmpty($target))

            frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';
            frm.ItemId.value   =  ItemId;
            frm.ItemCode.value =  ItemCode;

            #if($sutil.isNotEmpty($data.Parameters.getString("VendorId")))
              frm.ItemName.value  = ItemName     ;
              frm.ItemPrice.value = ItemPrice    ;
              frm.TaxId.value     = TaxId        ;
              frm.TaxAmount.value = TaxAmount    ;
              frm.Discount.value  = ItemDiscount ;
              frm.UnitId.value    = UnitId       ;
              frm.UnitCode.value  = UnitCode     ;
              frm.Qty.value       = 1            ;
              if(frm.AddBtn) frm.AddBtn.focus();
            #else
              frm.ItemCode.focus();
            #end
            wnd.getItemData();
        #else
			frm.${target}.value = ItemCode;
			window.close();
        #end ##if
		wnd.focus();
    }
}
function submitForm(e)
{
    if(getKey(e) == 13)
    {
        document.frm.submit();
    }
}
function displayItemDetail(sRequestItemID)
{
    var disp = document.frm.DisplayItemId
    if(disp && disp.value == sRequestItemID)
    {
        disp.value = '';
    }
    else
    {
        disp.value = sRequestItemID;
    }
    document.frm.submit();
}
function viewPicture(sItemID, sPicture)
{
    document.location.href='$link.setPage($data.ScreenTemplate)?mode=viewPicture&pic=' +
        sPicture + '&id=' + sItemID;
}
</script>

<form name="frm" method="post" onSubmit="loading();"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.ItemLookupAction")?op=next">
  <input type="hidden" name="DisplayItemId" value="$displayid">
  <input type="hidden" name="TransactionGroup" value="$!{transgroup}">
  <input type="hidden" name="isPOS" value="$isPOS">
  <input type="hidden" name="isSO" value="$isSO">
  <input type="hidden" name="isADJ" value="$isADJ">
  <input type="hidden" name="TargetField" value="$!target">
  #parse("screens/transaction/common/ItemLookupCriteria.vm")
</form>

#if($Items)
#largeSelectNavBar("transaction,ItemLookup.vm" $pageParam)
#set($headings = ["No", "$!l10n.item_code","$!l10n.item_name","$!l10n.item_desc","$!l10n.color","$!l10n.size","<center>$!l10n.sales_price","<center>$!l10n.qty_oh"] )
<table width="99%" cellspacing="0" cellpadding="4" border="0">
  <tr>
    #displayItemHeadings($headings "th2")
    #foreach ($sCField in $oUserPref.getCustomFieldAsList())
    <td class="th2">$sCField</td>
    #end
    #if($isADJ)
    <td class="th2">$!l10n.last_adjustment</td>
    #end
    #if($onSO)
    <td class="th2">$!l10n.on_sales</td>
    #end
  </tr>
  #set($no = (($LargeData.getCurrentPageNumber() - 1) * $limit) + 1 )
  #set($row = 1)
  #set($amt = $Items.size())

  #foreach($oItem in $Items)
  #if($amt % 2 == 0) #set($row = 0) #end
  #set($qtyoh = $!inventorylocation.getInventoryOnHand($oItem.ItemId, $!locid) )
  #if($no % 2 == $row) #set($bgcolor ="#F3F3F3") #else  #set($bgcolor ="#FFFFFF") #end
  <tr onMouseOver="highlightRow('tr$no', true,  '#9DC6E5', '$bgcolor');" id="tr$no"
      onMouseOut="highlightRow('tr$no', false, '#9DC6E5', '$bgcolor');" bgColor="$bgcolor">
    <td>$no</td>
    <td>
      <a onFocus="highlightRow('tr$no',true, '#6CB5D4', '$bgcolor');" id="tr$no"
         onBlur="highlightRow('tr$no',false, '#6CB5D4', '$bgcolor');" bgColor="$bgcolor"
         href="javascript:addItem ('$!oItem.ItemId',
                                   '$!oItem.ItemCode',
                                   $!sutil.parseForJS($!oItem.ItemName),
                                   '$!oItem.ItemPrice',
                                   '$!oItem.TaxId',
                                   '$!tax.getAmountByID($!oItem.TaxId)',
                                   '$!oItem.DiscountId',
                                   '0',
                                   '$!oItem.UnitId',
                                   '$!unit.getCodeByID($oItem.UnitId)',
                                   '$qtyoh');">$!oItem.ItemCode
      </a>
    </td>
    #if($bDisplayName)
    <td OnMouseDown="javascript:addItem ('$!oItem.ItemId',
                                         '$!oItem.ItemCode',
                                         $!sutil.parseForJS($!oItem.ItemName),
                                         '$!oItem.ItemPrice',
                                         '$!oItem.TaxId',
                                         '$!tax.getAmountByID($!oItem.TaxId)',
                                         '$!oItem.DiscountId',
                                         '0',
                                         '$!oItem.UnitId',
                                         '$!unit.getCodeByID($oItem.UnitId)',
                                         '$qtyoh');">$!oItem.ItemName

      #if($sutil.isNotEmpty($oItem.ItemPicture))
      &nbsp;&nbsp;
      <a href="javascript:viewPicture('$!oItem.ItemId', '$!oItem.ItemPicture');" name="ItemPicture">
      <img src="${data.ContextPath}/images/btn_picture.gif" border="0"></a>
      #end
    </td>
    #end ##end displayName

    #if($bDisplayDesc)
    <td>
       $!oItem.Description
       #if(!$bDisplayName && $sutil.isNotEmpty($oItem.ItemPicture))
       &nbsp;&nbsp;
       <a href="javascript:viewPicture('$!oItem.ItemId', '$!oItem.ItemPicture');" name="ItemPicture">
       <img src="${data.ContextPath}/images/btn_picture.gif" border="0"></a>
       #end
    </td>
    #end
    #if($bDisplayColor)<td>$!oItem.Color</td> #end
    #if($bDisplaySize) <td>$!oItem.Size</td>  #end
    <td align="right" width="95">$!cformat.formatAligned($!oItem.ItemPrice) &nbsp;&nbsp;</td>
    <td align="right">
      #if($oItem.ItemId == $displayid)<b> #end
      #if(!$isPOS)
        <a href="javascript:displayItemDetail('$oItem.ItemId');"
           onFocus="highlightRow('tr$no', true,  '#6CB5D4', '$bgcolor');" id="tr$no"
           onBlur="highlightRow('tr$no', false, '#6CB5D4', '$bgcolor');" bgColor="$bgcolor">
      #end ##end if !POS
      #if(!$isADJ || !$isMED || ($isMED && $isADJ && $item.isRecentlyAdjusted($oItem)))
      $!cformat.formatAligned($!qtyoh)
      #else -
      #end
      #if(!$isPOS) </a> #end
      &nbsp;&nbsp;
    </td>
    #foreach($sCField in $oUserPref.getCustomFieldAsList())
     <td>$!itemfield.getValue($!oItem.ItemId, $sCField)</td>
    #end
    #if($isADJ)
    <td>$!cformat.formatDateTime($oItem.LastAdjustment)</td>
    #end
    #if($onSO)
    <td align="right">$!cformat.fmt($!oItem.OnSO)</td>
    #end
  </tr>

  ## <!-- ITEM QTY LOCATION DETAIL -->
  #if($oItem.ItemId == $displayid)
  <tr #if($no % 2 == $row) bgcolor="#F3F3F3" #end>
    <td colspan="7" align="right">
      <table width="95%" cellspacing="0" cellpadding="2">
        <tr bgcolor="#DDDDDD">
          <td class="tbs" >$!l10n.location     </td>
          <td class="tbs" >$!l10n.min_stock    </td>
          <td class="tbs" >$!l10n.max_stock    </td>
          <td class="tbs" >$!l10n.reorder_point</td>
          <td class="tbs" >$!l10n.qty_oh       </td>
        </tr>
        #foreach ($itemQty in $ItemQtyDetails)
        <tr bgcolor="#FFFFFF">
          <td class="tbs">$location.getLocationNameByID($!itemQty.LocationId)         </td>
          <td class="tbs" align="right">$!cformat.formatNumber($!itemQty.MinimumQty)  &nbsp;</td>
          <td class="tbs" align="right">$!cformat.formatNumber($!itemQty.MaximumQty)  &nbsp;</td>
          <td class="tbs" align="right">$!cformat.formatNumber($!itemQty.ReorderPoint)&nbsp;</td>
          <td class="tbs" align="right">$!cformat.formatNumber($!itemQty.CurrentQty)  &nbsp;</td>
        </tr>
        #end
      </table>
    </td>
  </tr>
  #end ##end if
  ## <!-- END ITEM QTY LOCATION DETAIL -->
  #set($no = $no + 1)
  #end
</table>
#end ##end if Items
#end ##end else
