$data.setLayoutTemplate("/Transaction.vm")
#set($title = "$!l10n.petty_cash" )

<script>
function initPage () 
{
    setPageFocus(); 
    setDate(document.frm.TransactionDate);
}
function setPageFocus ()
{
    #if(!$oPettyCash.PettyCashNo && $preference.getLocationFunction() == 1)
      //document.frm.LocationId.focus();
    #end
}   
function validate(frm)
{
    if (!validateDate(document.frm.TransactionDate.value)) {return false;}
    #isEmpty("frm" "PettyCashAmount")
    return true;
}
function saveTrans()
{
    if (validate(document.frm))
    {
        document.frm.save.value = 1;
        document.frm.submit();
    }
}
function cancelTrans()
{
    var url = '$link.setPage("transaction,SetCancelRemark.vm")?key=pc&desc=&js=true&id=$!oPettyCash.PettyCashId';     
    var wndCR = window.open(url, 'wndCR', 
        'toolbar=no,scrollbars=yes,menubar=no,resizable=no,width=480,height=200,left=20,top=20');
    wndCR.focus();     
}
function execCancel(id)
{
    if (id == '$!oPettyCash.PettyCashId')
    {
        document.frm.save.value = 2;
        document.frm.submit();
    }
    else
    {
        alert ('Different Transaction No !');
    }
}
function newTrans()
{
    document.location.href='$link.setPage("$data.ScreenTemplate")'
}
function findTrans()
{
    #set($iPage = $data.User.getTemp("page"))
    #set($sParam = $data.User.getTemp("PCViewParam"))
    #if($iPage && $iPage.intValue() > 0)
    #set($sParam = "?op=page&page=$!{iPage}$!{sParam}")
    #end        
    document.location.href='$link.setPage("transaction,PettyCashView.vm")$!{sParam}';
}
#printTrans("$!oPettyCash.PettyCashId" "PettyCashPrintHelper" -1)
</script>
#set($sLocID = $!USRLOC)
#set($oLoc = $!location.getLocationByID($sLocID))
<table width="100%" cellspacing="0" cellpadding="0"> 
  <tr>
    <td>
      <span class="txtTitle2">
        #set($balance = $pettycash.getBalanceByLocationID($oLoc.LocationId).PettyCashBalance)
        $title &nbsp;&nbsp; [$!oLoc.LocationName Balance : $!cformat.formatNumber($balance)]
      </span>
    </td>
    <td align="right" rowspan="2">
      #if($oPettyCash)
        #printBtn()
      #end            
    </td>
  </tr> 
  #if($data.Message)                  
  <tr>  
    <td><span class="txtMessage">$data.Message</span></td>                  
  </tr> 
  #end  
</table>

<form method="post" onSubmit="return validate(this)" name="frm"
    action="$link.setPage($data.ScreenTemplate).setAction("transaction.PettyCashAction")">
    
  <input type="hidden" name="_session_access_counter" 
      value="$data.getUser().getTemp("_session_access_counter")"/>
  <input type="hidden" name="save" value="" />
  <input type="hidden" name="Remark" value="" /> ##CANCEL REMARK
    
  <table class="stdTable">
    <tr>
      <td width="20%">$!l10n.trans_no</td>
      <td width="40%">
        <input type="hidden" name="PettyCashId" value="$!oPettyCash.PettyCashId">
        <input type="text" #width("") READONLY value="$!oPettyCash.PettyCashNo">            
      </td>
      <td rowspan="8" valign="top">
        <table width="100%" cellspacing="0" cellpadding="4" >
          <tr>
            <td>
              $!l10n.description : 
              <br>
              <textarea style="width:98%;height:72px;" name="Description" 
                #if($!oPettyCash) READONLY #end >$!oPettyCash.Description</textarea>                    
              <br><br><br>
              $!l10n.trans_status : 
              <br>
              #set($sStatus = $!pettycash.getStatus($oPettyCash.Status))
              <input type="text" #width("") READONLY value="$!sStatus"> 
            </td>
          </tr>
        </table>              
      </td>
    </tr>
    <tr>
      <td>$!l10n.location</td>
      <td>
        #if($oPettyCash.LocationId)
          <input type="text" #width("") value="$!location.getLocationNameByID($oPettyCash.LocationId)" READONLY>
        #else
          #if($preference.getLocationFunction() == 1)
            #locationSB($USRLOC)
          #elseif ($preference.getLocationFunction() == 2)
            <input type="text" #width("") value="$!preference.getLocationName()" READONLY>
            <input type="hidden" name="LocationId" value="$!SYSLOC">                    
          #end
        #end
      </td>
    </tr>                           
    <tr>
      <td>$!l10n.petty_cash_type</td>
      <td>
        <select name="PettyCashTypeId" #if($!oPettyCash) DISABLED #end #width("")>
          #foreach ($pct in $!pettycashtype.getAllPettyCashType())
          <option value="$pct.PettyCashTypeId"
            #if($pct.PettyCashTypeId == $!oPettyCash.PettyCashTypeId) SELECTED #end>$!pct.Description</option>
          #end
        </select> 
      </td>
    </tr>
    <tr>
      <td>$!l10n.reference_no</td>
      <td>
        <input type="text" #width("") name="ReferenceNo" value="$!oPettyCash.ReferenceNo"
          #if($!oPettyCash) READONLY #end >
      </td>
    </tr>
    <tr>
      <td>$!l10n.trans_date</td>
      <td>
        <input type="text" #width(100) name="TransactionDate" 
          value="$!cformat.formatDate($!oPettyCash.TransactionDate)" #if($!oPettyCash) READONLY #end >
        #if(!$oPettyCash)                 
        #cal("TransactionDate" true)
        #end
      </td>
    </tr>           
    <tr>
      <td>$!l10n.amount</td>
      <td>
        <input type="text" #width("") name="PettyCashAmount" 
          #if($!oPettyCash) value="$!cformat.formatNumber($!oPettyCash.PettyCashAmount)" READONLY 
          #else value=$!oPettyCash.PettyCashAmount #end >
      </td>
    </tr>
    <tr>
      <td>$!l10n.create_by</td>
      <td>
        #if($oPettyCash.PettyCashId)
          <input type="text" #width("") name="UserName" value="$!oPettyCash.UserName" READONLY >
        #else
          <input type="hidden" name="UserName" value="$data.User.Name">
          <input type="text" #width("") name="TxtUserName" value="$data.User.Name" READONLY >
        #end
      </td>
    </tr>
    <tr>
      <td>$!l10n.employee</td>
      <td>
        #if($oPettyCash.PettyCashId)
          <input type="text" #width(250) name="Employeee" READONLY 
            value="$!employee.getEmployeeByID($!oPettyCash.EmployeeId).EmployeeName">
        #else
          #selectBox("EmployeeId" "$!oPettyCash.EmployeeId" "$!l10n.employee" $employee.getAllEmployee() "employeeName")
        #end
      </td>
    </tr>
  
    #if(!$oPettyCash || $oPettyCash.Status != 2)
    <tr>
      <td>&nbsp;</td>
      <td colspan="2">
        #hiddenField ("ID" $!oPettyCash.PettyCashId)
        #if($data.ACL.Permissions.containsName("Create Petty Cash"))
          #if(!$oPettyCash.PettyCashId)
          <input type="button" value="$!l10n.save_trans" Onclick="saveTrans();"/>
          #end
        #end

        #if($data.ACL.Permissions.containsName("Cancel Petty Cash"))
          #if($oPettyCash.PettyCashId) ##not cancelled yet
          <input type="button" id="btnCancel" value="$!l10n.cancel_trans" Onclick="cancelTrans();"/>
          #end
        #end
     </td>
   </tr>
   #end
  </table>

  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="20%">
        <div align="left">        
          #prevNext("$!oPettyCash.PettyCashId" $!pettycash)
        </div>
      </td>
      <td>
        <div align="right">
        <input type="button" value="$!l10n.new_trans"
          OnClick="newTrans();" >              
        <input type="button" value="$!l10n.find_trans"
          OnClick="findTrans();" >
        </div>
      </td>
    </tr>
  </table>    
</form>
