
#set($printable = $data.Parameters.getBoolean("printable"))
#set($title = "$!l10n.price_list")
#set($op = $data.Parameters.getInt("op"))
#if($op == 2)
#set($code = $data.Parameters.getString("ItemCode"))
#if($sutil.isNotEmpty($code))
#set($itm = $item.getItemByCode($code))
#end ##end if code
#end ##end if op == 2
#set($bEditable = true)
#if($preference.getLocationFunction() != 1 || !$data.ACL.Permissions.containsName("Update Customer Price List"))
#set($bEditable = false)  
#end

<script>
function validate(frm)
{
    return true;
}
function findItem() 
{
    var f = document.frm;
    if (f.ItemCode.value != '' || f.ItemName.value != '' || f.Description.value != '')
    {
        f.op.value = 2;
        f.submit();
    }
}
function save() 
{
    var f = document.frm;
    if (f.ItemId.value != '')
    {
        f.op.value = 1;
        f.submit();
    }
}
</script>

<table width="100%">
  <tr>
    <td valign="top" width="1%">&nbsp;</td>
    <td valign="top" width="98%">
      <form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
      <input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>
      <input type="hidden" name="op" value="-1"/>
      <input type="hidden" name="ItemId" value="$!itm.ItemId"/>
      
      <span class="txtTitle2">$title</span>
      #if($data.Message)
      <br>
      <span class="txtMessage">$data.Message</span>
      #end
      <br>
      <table width="100%" cellspacing="0" cellpadding="2">
        <tr>
          <td class="tbs" width="15%">$!l10n.item_code</td>
          <td class="tbs"><input type="text" name="ItemCode" value="$!itm.ItemCode"></td>
        </tr>
        <tr>
          <td class="tbs">$!l10n.item_name</td>
          <td class="tbs"><input type="text" name="ItemName" #width(200) value="$!itm.ItemName" #if($itm) READONLY #end ></td>
        </tr>
        <tr>
          <td class="tbs">$!l10n.description</td>
          <td class="tbs"><input type="text" name="Description" value="$!itm.Description" #width(200) #if($itm) READONLY #end ></td>
        </tr>
        <tr>
          <td class="tbs">#spc(1)</td>
          <td class="tbs"><input type="button" value="$!l10n.find $!l10n.item_data" OnClick="findItem();"></td>          
        </tr>        
      </table>      
      <br>
      #if($itm)
      #set($PriceLists = $pricelist.AllActivePriceList)
      <table width="100%" cellspacing="0" cellpadding="2">
        #set($headings = ["No","$!l10n.code","$!l10n.date" ,"$!l10n.customer", "$!l10n.description","$!l10n.discount","$!l10n.sales_price","$!l10n.new_price"] )
        <tr>
          #foreach ($heading in $headings)
          <td class="th2">$heading</td>
          #end
        </tr>
        #set($no = 1)
        #set($row = 1)
        #set($amt = $PriceLists.size())
        #foreach ($pl in $PriceLists)
        #set($id = $pl.PriceListId)
        #set($pld = $pricelist.getDetailByPriceListAndItemID($pl.PriceListId,$itm.ItemId,$null))
        <tr #if($pld) bgcolor="#FFEEEE" #end >
          <td class="tbs">$no</td>
          <td class="tbs">$!pl.PriceListCode</td>          
          <td class="tbs">$!cformat.fmt($pl.CreateDate) - $!cformat.fmt($pl.ExpiredDate)</td>
          <td class="tbs">
            #if($pl.PriceListType == 1)
            $customertype.getCustomerTypeByID($pl.CustomerTypeId).Description
            #else
            $customer.getCustomerNameByID($pl.CustomerId)
            #end
          </td>
          <td class="tbs">$!pl.Remark #spc(1)</td>               
          <td width="50" class="tbs">
            <input #stdin ("DiscountAmount${id}" "" 50 $bEditable) OnFocus="this.select();"              
              #if($item.DiscountAmount) value="$!itm.DiscountAmount" #elseif($pld) value="$!pld.DiscountAmount" #else value="0" #end > 
          </td>
          <td width="120" class="tbs">
            <input #stdin ("OldPrice${id}" "$!itm.ItemPrice.setScale(2,4)" 120 false)
              style="text-align:right" OnFocus="this.select();">
          </td>   
          <td width="120" class="tbs">
            <input #stdin ("NewPrice${id}" "$!pld.NewPrice.setScale(2,4)" 120 true)
              style="text-align:right" OnFocus="this.select();">
          </td>                              
        </tr>
        #set($no = $no + 1)
        #set($i = $i + 1)
        #end ##end foreaceh
      </table><br>
      <input type="hidden" name="totalno" value="$no">
      <input type="button" value="$!l10n.add $!l10n.item_data" OnClick="save();">
      #end ##if item
      <br><br>
      <a href="$link.setPage("transaction,CreatePriceList.vm")">$!l10n.create $!l10n.price_list</a>
      #spc(4)      
      </form>
    </td>
    <td valign="top" width="1%">&nbsp;</td>
  </tr>
</table>







