#set($mode = $data.Parameters.getInt("mode"))

#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords"))
#set($limit  = $data.Parameters.getInt("ViewLimit", 50))
#set($paystatus = $data.Parameters.getInt("PaymentStatus"))
#set($status = $data.Parameters.getInt("Status"))
#set($vendorid = $data.Parameters.getString("VendorId", ""))   
#set($locid = $data.Parameters.getString("LocationId","$!USRLOC"))   
#set($start = $data.Parameters.getString("StartDate"))
#set($end = $data.Parameters.getString("EndDate"))
#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}&ViewLimit=${limit}")
#set($pageParam = "${pageParam}&PaymentStatus=${paystatus}&VendorId=${vendorid}&mode=${mode}")
#set($pageParam = "${pageParam}&LocationId=${locid}&StartDate=${start}&EndDate=${end}&Status=${status}")

#if($mode == 1) ##is popup
$data.setLayoutTemplate("/PopupWindow.vm")
<script>
function copyTrans (sTransID) 
{
    var wnd = window.opener;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.User.getTemp("_session_access_counter")';

    if (wnd && !wnd.closed) 
    {         
        frm.TransId.value = sTransID;
        frm.op.value = 7;            
        frm.submit();
        window.close();
    }
}         
</script>
#end


<script>
function exportExcel () 
{
    var sURL = '${data.ContextPath}/excel/TRXPurchaseInvoice.xls?helper_class=com.ssti.enterprise.pos.excel.helper.transaction.PurchaseInvoiceHelper${pageParam}' ;
    var excelWnd = window.open (sURL, 'excelWnd', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=720,height=480,left=20,top=20');
    excelWnd.focus();                                                     
}  
</script>
#set($title = "$!l10n.purchase_invoice")
<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>
<input type="hidden" name="mode" value="$!mode">      
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
    #if($sutil.isNotEmpty($start) && $sutil.isNotEmpty($end))
    <td align="right">
      <a href="javascript:void(0)" OnClick="exportExcel();" title="Export $title">
        <img src="${data.ContextPath}/images/btn_excel.gif" border="0" />
      </a>            
    </td>
    #end 
  </tr>
</table>

<form name="frm1" method="post"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.PurchaseInvoiceAction")?op=next">
<input type="hidden" name="mode" value="$!mode">
<table class="searchTable">
  <tr>                              
   <td>$!l10n.vendor : </td>
    <td colspan="3">
      #vendorSB($vendorid "" "")
    </td>         
    <td>$!l10n.location : </td>
    <td colspan="3">
      #locationSB($locid)
    </td>         
  </tr>        
  <tr>
    <td>$!l10n.search_by :</td>
    <td>$!purchaseinvoice.conditionSB($cond) </td>
    <td>$!l10n.payment : </td>
    <td>
      <select name="PaymentStatus" #width(100)>
        <option value="-1"#if($paystatus == -1) SELECTED #end >-- $!l10n.payment --</option>
        <option value="1" #if($paystatus == 1)  SELECTED #end >$!purchaseinvoice.getPaymentStatusString(1)</option>
        <option value="2" #if($paystatus == 2)  SELECTED #end >$!purchaseinvoice.getPaymentStatusString(2)</option>
      </select>
      #spc(2)
    </td>                   
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!start">
      #calf ("frm1" "StartDate" true)
    </td>
    <td>$!l10n.view_limit :</td>
    <td><input type="text" size="4" name="ViewLimit" value="$!limit"></td>  
  </tr>   
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(150) name="Keywords" value="$!key">
    </td>                 
    <td>$!l10n.status : </td>
    <td>
      <select name="Status" #width(100)>
        <option value="-1"#if($status == -1) SELECTED #end >-- $!l10n.status --</option>
        <option value="2" #if($status == 2)  SELECTED #end >$!purchaseinvoice.getStatusString(2)</option>
        <option value="1" #if($status == 1)  SELECTED #end >$!purchaseinvoice.getStatusString(1)</option>
        <option value="3" #if($status == 3)  SELECTED #end >$!purchaseinvoice.getStatusString(3)</option>
      </select>
      #spc(2)
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" size="15" name="EndDate" value="$!end">
      #calf ("frm1" "EndDate" true)
    </td>
    <td colspan="2">
      <input type="Submit" value="$!l10n.search" name="eventSubmit_doFind">
    </td>               
  </tr>   
</table>
</form>
<!-- END SEARCH SECTION -->
#if($PurchaseInvoices)
$data.User.setTemp("piViewParam", $pageParam)
$data.User.setTemp("pipage", $LargeData.CurrentPageNumber)
#largeSelectNavBar($data.ScreenTemplate $pageParam) 
<form name="frm" method="post"
   action="$link.setPage($data.ScreenTemplate)?op=page&page=$!LargeData.getCurrentPageNumber()$!{pageParam}">        
  #if($useMultiCurrency)
    #set($headings = ["No","$!l10n.pi_no","$!l10n.invoice_no","$!l10n.trans_date","$!l10n.vendor","$!l10n.description","$!l10n.status","$!l10n.payment","<center>$!l10n.total_qty","<center>$!l10n.curr","<center>$!l10n.total_amount","<center>$!l10n.base_amount","&nbsp;"] )
    #set($fields = ["","purchaseInvoiceNo","vendorInvoiceNo","purchaseInvoiceDate","vendorName","remark","status","paymentStatus","totalQty","currencyId","totalAmount","",""] )              
  #else
    #set($headings = ["No","$!l10n.pi_no","$!l10n.invoice_no","$!l10n.trans_date","$!l10n.vendor","$!l10n.description","$!l10n.status","$!l10n.payment","<center>$!l10n.total_qty","<center>$!l10n.total_amount","&nbsp;"] )
    #set($fields = ["","purchaseInvoiceNo","vendorInvoiceNo","purchaseInvoiceDate","vendorName","remark","status","paymentStatus","totalQty","totalAmount",""] )
  #end                
  <table class="altRowTable">
    #sortableHeader ($headings $fields "th2" "sort2" true) 
    #set($no = (($LargeData.getCurrentPageNumber() - 1) * $limit) + 1 ) 
    #foreach ($pi in $sortingtool.sort($PurchaseInvoices,$flux.Sort,$flux.ACDC))
    <tr>
      <td>$no</td>
      <td>
        <a #if($mode == 1) href="javascript:copyTrans('$!pi.PurchaseInvoiceId');" #else href="#" #end > 
        $!pi.PurchaseInvoiceNo
        </a>          
      </td>
      <td>$!pi.VendorInvoiceNo</td>
      <td>$!cformat.formatDate($!pi.PurchaseInvoiceDate)</td>
      <td>
      <input type="text" class="text2" value="$!pi.VendorName" #width(150) READONLY  >                     
      </td>
      <td>
        <input type="text" class="text2" value="$!pi.Remark" #width(120) READONLY 
	   onmouseover="tooltip('$!sutil.tooltip($!pi.Remark)');" onmouseout="exit();" >                
      </td>	 
      <td>$!purchaseinvoice.getStatusString($pi.Status)</td>
      <td>$!purchaseinvoice.getPaymentStatusString($pi.PaymentStatus)</td>
      <td align="right">$!cformat.formatAligned($!pi.TotalQty)</td>
      #if($useMultiCurrency)
      <td align="right"> $!currency.getCodeByID($!pi.CurrencyId)</td>
      #end
      <td align="right">$!cformat.formatAligned($!pi.TotalAmount)</td>
      #if($useMultiCurrency)
      <td align="right">$!cformat.formatAligned($!calculator.mul($!pi.TotalAmount,$!pi.CurrencyRate))</td>
      #end                               
      <td>
        <ul class="rowLinkNav">    
        #rowDataLink ("transaction,PurchaseInvoiceTransaction.vm" "?op=4&id=$!pi.PurchaseInvoiceId" $!l10n.view "" "View Purchase Invoice")
        </ul>
      </td>
    </tr>
    #set($no = $no + 1)
    #end
  </table>
</form>
#end ##end if
#if($mode != 1) 
<ul class="btmLinkNav">
#btmLinkMenu("transaction,PurchaseInvoiceTransaction.vm" "?op=3" "$!l10n.new_trans" "")
#if($preference.allowTransImport() && $data.ACL.Permissions.containsName("Create Purchase Invoice"))
#btmLinkMenu("transaction,loader,ImportPIData.vm" "" "$!l10n.import $!title" "")
#end
#btmLinkMenu("transaction,PIRebateView.vm" "" "Rebate Trans" "")
</ul>
#end
