#set($fromTrans = $data.Parameters.getBoolean("fromTrans",false))
#if($fromTrans) ##is popup
$data.setLayoutTemplate("/PopupWindow.vm")
#set($tplName = "transaction,SalesOrderTransaction.vm")
<script>
function copyTrans(_sid) 
{
    var wnd = window.opener;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';    
    frm.action = '$!link.setPage($tplName)';
    frm.SoId.value = _sid;
    frm.op.value = 6;
    frm.submit();
    window.close();
}           
</script>
#end
#set($title = "$!l10n.sales_order To ")
#set($aclPerm = $data.ACL.Permissions)
#set($bPO = $aclPerm.containsName("Create Purchase Order"))
#set($bRQ = $aclPerm.containsName("Create Item Request"))
#if($bPO) #set($title = "$title PO ") #end 
#if($bRQ) #if($bPO) #set($title = "$title /") #end #set($title = " $title RQ ") #end 

#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords"))
#set($limit  = $data.Parameters.getInt("ViewLimit", 50))
#set($status = $data.Parameters.getInt("Status"))
#set($customerid = $data.Parameters.getString("CustomerId", ""))              
#set($locid = $data.Parameters.getString("LocationId", "$!USRLOC"))              
#set($start = $data.Parameters.getString("StartDate"))
#set($end = $data.Parameters.getString("EndDate"))
#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}&ViewLimit=${limit}&Status=${status}&LocationId=$!{locid}")
#set($pageParam = "$!{pageParam}&CustomerId=${customerid}&StartDate=${start}&EndDate=${end}&fromTrans=${fromTrans}")

<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>
<script>
function exportExcel() 
{
}
function createPO() 
{
    var sURL = '$link.setPage($data.ScreenTemplate)?genPO=1&op=page&page=$LargeData.CurrentPageNumber${pageParam}';
    document.location.href=sURL;
}
function createRQ() 
{
    var sURL = '$link.setPage($data.ScreenTemplate)?genPO=2&op=page&page=$LargeData.CurrentPageNumber${pageParam}';
    document.location.href=sURL;
}
</script>

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate).setAction("transaction.SalesOrderAction")?op=next">
<input type="hidden" value="$!flux.Mode" name="mode">

##<!-- TITLE SECTION -->
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title</span></td>
  </tr>
  #if($data.Message)					
  <tr>
    <td><span class="txtMessage">$data.Message</span></td>				     
  </tr>        
  #end 
  #if($result)
  <tr>
    <td><pre>$result</pre></td>
  </tr>
  #end            
</table>

<table class="searchTable">
  <tr>
   <td>$!l10n.customer_name : </td>
    <td colspan="3">
      #custSB ($customerid "" "" "")
    </td>
    <td>$!l10n.location : </td>
    <td colspan="3">
      #locationSB($locid) 
    </td>               
  </tr>
  <tr>
    <td>$!l10n.search_by :</td>
    <td>$!salesorder.conditionSB($cond)</td>
   
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" #width(80) name="StartDate" value="$!start">
      #calf ("frm" "StartDate" true) 
    </td>
    <td>$!l10n.status : </td>
    <td>
      <select name="Status">                                         
        ##<option value="-1"#if($status == -1) SELECTED #end >-- $!l10n.status --</option>
        ##<option value="4" #if($status == 4) SELECTED #end >$!salesorder.getStatusString(4)</option>
        <option value="1" #if($status == 1) SELECTED #end >$!salesorder.getStatusString(1)</option>
        ##<option value="2" #if($status == 2) SELECTED #end >$!salesorder.getStatusString(2)</option>
        ##<option value="3" #if($status == 3) SELECTED #end >$!salesorder.getStatusString(3)</option>
        ##<option value="5" #if($status == 5) SELECTED #end >$!salesorder.getStatusString(5)</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(125) name="Keywords" value="$!key" Onkeypress="handleSubmit(event);">
    </td>                   
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" #width(80) name="EndDate" value="$!end">
      #calf ("frm" "EndDate" true)   
     </td>
    <td>$!l10n.view_limit :</td>
    <td>
      <input type="text" #width(50) name="ViewLimit" value="$limit">
      &nbsp;&nbsp;            
      <input type="button" value="$!l10n.search" OnClick="document.frm.submit();">
    </td>             
  </tr>   
  </table>
</form>
<!-- END SEARCH SECTION -->
    
#if($SalesOrders)
#largeSelectNavBar($data.ScreenTemplate $pageParam)
      
<form name="frm2" method="post"
  action="$link.setPage($data.ScreenTemplate)?op=page&page=$!LargeData.getCurrentPageNumber()$!{pageParam}">
<table class="stdTable">
  <tr class="th4">
    <td>No</td>
    <td>$!l10n.so_no</td>
    <td>$!l10n.trans_date</td>
    <td>$!l10n.customer</td>
    <td>$!l10n.item_code</td>
    <td>$!l10n.item_name</td>
    <td #width(80)>$!l10n.so_qty</td>
    <td #width(80)>$!l10n.delivered_qty</td>
    <td #width(80)>$!l10n.left_qty</td>
    <td>$!l10n.vendor</td>          
  </tr>        
  #set($no = 1)
  #set($row = 1)
  #set($amt = $SalesOrders.size())

  #foreach ($so in $sortingtool.sort($SalesOrders,$flux.Sort,$flux.ACDC))
  #set($vsod = $salesorder.getDetailsByID($so.SalesOrderId))
  #foreach ($sod in $vsod)        
  #set($dLeft = $calculator.sub($sod.Qty, $sod.DeliveredQty))
  #set($oItem = $item.getItemByID($sod.ItemId))
  <tr>
    <td>$no</td>
    <td>            
      <a target="new" href="$link.setPage("transaction,SalesOrderTransaction.vm")?op=4&id=$!so.SalesOrderId")">$!so.SalesOrderNo</a>
    </td>
    <td>$!cformat.formatDate($!so.TransactionDate)</td>
    <td>$!so.CustomerName</td>
    <td>$!sod.ItemCode</td>
    <td>$!sod.ItemName</td>
    <td align="right">$!cformat.fmt($!sod.Qty)</td>
    <td align="right">$!cformat.fmt($!sod.DeliveredQty)</td>
    <td align="right">$!cformat.fmt($!dLeft)</td>
    <td>#spc(1)$!vendor.getVendorNameByID($!oItem.PreferedVendorId)</td>
  </tr>
  #set($no = $no + 1)
  #end ##end foreach det
  #end ##end foreach so
</table>
</form>     
#if($aclPerm.containsName("Create Purchase Order"))  
<input type="button" value="$!l10n.create $!l10n.purchase_order" OnClick="createPO();">
#end
#if($aclPerm.containsName("Create Item Request"))
<input type="button" value="$!l10n.create $!l10n.item_request" OnClick="createRQ();">
#end
<br>
#end ##end if   
  
#if(!$fromTrans) 
<br>
<a href="$link.setPage("transaction,SalesOrderTransaction.vm")?op=3">$!l10n.new_trans</a>
#spc(2)
<a href="$link.setPage("transaction,SalesOrderView.vm")">$!l10n.find_trans</a>        
#spc(2)
#if($aclPerm.containsName("View Purchase Order")) 
<a href="$link.setPage("transaction,PurchaseOrderView.vm")">$!l10n.view $!l10n.purchase_order</a>        
#spc(2)
#end
#if($aclPerm.containsName("View Item Request")) 
<a href="$link.setPage("transaction,PurchaseRequestView.vm")">$!l10n.view $!l10n.item_request</a>        
#spc(2)
#end
<br>
#end
