#set($fromPOS = $data.Parameters.getBoolean("fromPOS",false))
#if($fromPOS)
  $data.setLayoutTemplate("/POSLayout.vm")
#end

#set($fromTrans = $data.Parameters.getBoolean("fromTrans",false))
#if($fromTrans)
  $data.setLayoutTemplate("/PopupWindow.vm")
#end

#set($tplName = $data.Parameters.getString("tplName",""))

#set($cond = $data.Parameters.getInt("Condition"))
#set($key = $data.Parameters.getString("Keywords",""))
#set($limit  = $data.Parameters.getInt("ViewLimit",50))
#set($status = $data.Parameters.getInt("Status"))
#set($paystatus = $data.Parameters.getInt("PaymentStatus"))
#set($custid = $data.Parameters.getString("CustomerID",""))
#set($locid = $data.Parameters.getString("LocationID",""))
#set($start = $data.Parameters.getString("StartDate",""))
#set($end = $data.Parameters.getString("EndDate",""))
#set($pageParam = "&Condition=${cond}&Keywords=$!{sutil.encode($key)}&ViewLimit=${limit}&LocationId=${locid}")
#set($pageParam = "${pageParam}&Status=${status}&PaymentStatus=${paystatus}&CustomerId=${custid}")
#set($pageParam = "${pageParam}&StartDate=${start}&EndDate=${end}&tplName=$!{tplName}&fromTrans=${fromTrans}")

<script>
function viewTrans(_sid)
{
    var wnd = window.opener;
    if(!wnd) wnd = parent;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';
    wnd.location.href = '$link.setPage($tplName).addQueryData("op","4")&id='+_sid;
    window.close();
}
function copyTrans(_sid)
{
    var wnd = window.opener;
    if(!wnd) wnd = parent;
    var frm = wnd.document.frm;
    if (frm) frm._session_access_counter.value = '$!data.getUser().getTemp("_session_access_counter")';
    wnd.location.href = '$link.setPage($tplName).addQueryData("op","6")&id='+_sid;
    window.close();
}
function exportExcel ()
{
    var sURL = '${data.ContextPath}/excel/TRXSalesInvoice.xls?helper_class=com.ssti.enterprise.pos.excel.helper.transaction.SalesInvoiceHelper${pageParam}' ;
    var excelWnd = window.open (sURL, 'excelWnd', 'toolbar=no,scrollbars=yes,menubar=no,resizable=yes,width=720,height=480,left=20,top=20');
    excelWnd.focus();
}
</script>
#set($headings = ["No","$!l10n.invoice_no","$!l10n.trans_date","$!l10n.customer","$!l10n.description","$!l10n.status", "<center>$!l10n.total_qty", "<center>$!l10n.total_amount",  "&nbsp;"] )
#set($fields = ["","invoiceNo","transactionDate","customerName","remark","status","totalQty","totalAmount"] )
#set($title = "$!l10n.sales_invoice" )

<div id="TipLayer" style="visibility:hidden;position:absolute;z-index:1000;top:-100"></div>

##<!-- TITLE SECTION -->
<table class="fixTable">
  <tr>
    <td><span class="txtTitle2">$title </span><br></td>
    #if(!$fromTrans && !$fromPOS)
    #if($sutil.isNotEmpty($start) && $sutil.isNotEmpty($end))
    <td align="right">
      <a href="javascript:void(0)" OnClick="exportExcel()" title="Export $title">
        <img src="${data.ContextPath}/images/btn_excel.gif" border="0" />
      </a>
    </td>
    #end
    #end ##end
  </tr>
</table>
##<!-- SEARCH -->

#if(!$fromTrans && !$fromPOS)
<form name="frm" method="post" OnSubmit="loading();"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.SalesTransactionAction")?op=next">
<input type="hidden" name="_session_access_counter" value="$data.getUser().getTemp("_session_access_counter")"/>
<table class="searchTable">
  <tr>
    <td>$!l10n.customer : </td>
    <td colspan="5">
      #custSB ($custid "" "" "")
    </td>
    <td>
      $!l10n.status :
    </td>
    <td colspan="2">
      <select name="Status" #width(100)>
        <option value="-1" #if($status == -1) SELECTED #end >-- $!l10n.status --</option>
        <option value="2"  #if($status == 2)  SELECTED #end >$!l10n.processed   </option>
        <option value="1"  #if($status == 1)  SELECTED #end >$!l10n.pending     </option>
        <option value="3"  #if($status == 3)  SELECTED #end >$!l10n.cancelled   </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.search_by :</td>
    <td>$!salestransaction.conditionSB($cond)</td>
    <td>
      $!l10n.cashier :
    </td>
    <td>
    #if(!$data.ACL.Roles.containsName("Cashier") || $data.ACL.Permissions.containsName("Cancel Sales Invoice") || $ACCLOC)
      <select name="CashierName" style="width:95%">
        <option value="">-- $!l10n.cashier --</option>
        #set($Employees = $employee.getEmployeeByLocationID($USRLOC))
        #set($sCashierName = $data.Parameters.getString("CashierName",""))
        #foreach ($sales in $Employees)
        #if($sutil.isNotEmpty($sales.UserName))
        <option value="$!sales.UserName"
          #if($sutil.isNotEmpty($sCashierName) && $sCashierName.equals($sales.UserName)) SELECTED #end >
          $!sales.EmployeeName ($!location.getLocationCodeByID($!sales.LocationId))
        </option>
        #end
        #end
      </select>
    #else
      $data.getUser().getName()
      <input type="hidden" name="CashierName" value="$!data.User.Name">
    #end
    </td>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" #width(80) name="StartDate" value="$!start">
      #calf ("frm" "StartDate" true) #spc(1)
    </td>
    <td>$!l10n.payment : </td>
    <td colspan="2">
      <select name="PaymentStatus" #width(100)>
        <option value="-1"#if($paystatus == -1) SELECTED #end >-- $!l10n.payment --</option>
        <option value="1" #if($paystatus == 1)  SELECTED #end >$!purchaseinvoice.getPaymentStatusString(1)</option>
        <option value="2" #if($paystatus == 2)  SELECTED #end >$!purchaseinvoice.getPaymentStatusString(2)</option>
      </select>
      #spc(2)
    </td>
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width(150) name="Keywords" value="$!key" Onkeypress="handleSubmit(event);">
    </td>
    <td>$!l10n.location : </td>
    <td>
      #locationSB($locid)
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" #width(80) name="EndDate" value="$!end">
      #calf ("frm" "EndDate" true) #spc(1)
    </td>
    <td>$!l10n.view_limit :</td>
    <td>
      <input type="text" #width(50) name="ViewLimit" value="$limit" 
        #if($preference.isStore()) maxlength="3" #else maxlength="4" #end >    
    </td>
    <td>
      <input type="button" value="$!l10n.search" OnClick="loading();document.frm.submit();">
    </td>
  </tr>
</table>
</form>
#else ##from Trans
<form name="frm" method="post"
  action="$link.setPage($data.ScreenTemplate).setAction("transaction.SalesTransactionAction")?op=next&fromTrans=true&tplName=$tplName">
<input type="hidden" value="$!flux.Mode" name="mode">
<table class="searchTable">
  <tr>
    <td>$!l10n.customer : </td>
    <td colspan="3">
      #custSB ($custid "" "" "")
    </td>  
  </tr>
  <tr>
    <td>$!l10n.invoice_no :</td>
    <td>
      <input type="hidden" name="Condition" value="1">
        <input type="text" #width(100) name="Keywords" value="$!key">      
    </td>
    <td>$!l10n.start_date : </td>
    <td>
      #if($sutil.isEmpty($start)) #set($start = $cformat.formatDate($dutil.getTodayDate())) #end
      <input type="text" #width(80) name="StartDate" value="$!start">
      #calf ("frm" "StartDate" true)
    </td>
    #if(!$data.ACL.Roles.containsName("Cashier") || $data.ACL.Roles.size() > 1)
    <td>$!l10n.location : </td>
    <td>
      #locationSB($locid)
    </td> 
    #else
    <input type="hidden" name="LocationId" value="$locid">   
    #end    
  </tr>
  <tr>
    <td>$!l10n.status :</td>
    <td>
      <select name="Status" #width(100)>
        <option value="-1" #if($status == -1) SELECTED #end >-- $!l10n.status --</option>
        <option value="1"  #if($status == 1)  SELECTED #end >$!l10n.pending   </option>
        <option value="2"  #if($status == 2)  SELECTED #end >$!l10n.processed </option>
        <option value="3"  #if($status == 3)  SELECTED #end >$!l10n.cancelled </option>
      </select>  
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      #if($sutil.isEmpty($end)) #set($end = $cformat.formatDate($dutil.getTodayDate())) #end
      <input type="text" #width(80) name="EndDate" value="$!end">
      #calf ("frm" "EndDate" true)
    </td>
    <td>$!l10n.view_limit :</td>
    <td>
      <input type="text" #width(50) name="ViewLimit" value="$limit" 
        #if($preference.isStore()) maxlength="3" #else maxlength="4" #end >    
       
      #if($data.ACL.Roles.containsName("Cashier") && $data.ACL.Roles.size() == 1)            
      <input type="hidden" name="CashierName" value="$data.getUser().getName()">
      #end
      &nbsp;&nbsp;
      <input type="button" value="$!l10n.search" OnClick="loading();document.frm.submit();">
      ##<input type="Submit" value="$!l10n.search" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
</form>
#end ##enf from trans
##<!-- END SEARCH SECTION -->

#if($Invoices)
$data.User.setTemp("siViewParam", $pageParam)
$data.User.setTemp("sipage", $LargeData.CurrentPageNumber)
#largeSelectNavBar($data.ScreenTemplate $pageParam)
<form name="frm2" method="post"
  action="$link.setPage($data.ScreenTemplate)?op=page&page=$!LargeData.getCurrentPageNumber()$!{pageParam}">
<table class="altRowTable">
  #set($FORMNAME="frm2")
  #sortableHeader ($headings $fields "th2" "sort2" true)

  #set($no = (($LargeData.getCurrentPageNumber() - 1) * $limit) + 1 )
  #set($amt = $Invoices.size())
  #foreach ($inv in $sortingtool.sort($Invoices,$flux.Sort,$flux.ACDC))
  <tr>
    <td>$no</td>
    <td>
      #if($fromTrans)
        #if($flux.Mode != "copy")
        <a href="javascript:viewTrans('$!inv.SalesTransactionId')">
        #if($sutil.isNotEmpty($!inv.InvoiceNo))
          $!inv.InvoiceNo
        #else
          <i class="fa fa-search"></i> $!l10n.view
        #end
        </a>
        #else
        <a href="javascript:copyTrans('$!inv.SalesTransactionId')">
        #if($sutil.isNotEmpty($!inv.InvoiceNo))
          $!inv.InvoiceNo
        #else
          Copy
        #end
        </a>
        #end
      #else
        $!inv.InvoiceNo
      #end
    </td>
    <td>$!cformat.formatDate($!inv.TransactionDate) </td>
    <td>
    <input type="text" class="text2" value="$!inv.CustomerName" #width(180) READONLY >
  </td>
  <td>
      <input type="text" class="text2" value="$!inv.Remark" #width(150) READONLY
     #if($sutil.isNotEmpty($inv.Remark)) onmouseover="tooltip('$!sutil.tooltip($!inv.Remark)');" onmouseout="exit();" #end >
    </td>
    <td>
      #if($!inv.Status==2)$!l10n.processed #end
      #if($!inv.Status==1)$!l10n.pending   #end
      #if($!inv.Status==3)$!l10n.cancelled #end
    </td>
    <td align="right">$!cformat.formatAligned($!inv.TotalQty)    </td>
    <td align="right">$!cformat.formatAligned($!inv.TotalAmount) </td>
    <td align="right">
     #if(!$fromTrans)
      <ul class="rowLinkNav">    
      #rowDataLink ("transaction,$!preference.InvoiceScreen" "?op=4&id=$!inv.SalesTransactionId" $!l10n.view "" "View Sales Invoice")
      </ul>
     #else
       &nbsp;
     #end
    </td>
  </tr>
  #set($no = $no + 1)
  #end
</table>
#end ##end if
</form>
#if(!$fromTrans)

<ul class="btmLinkNav">
#btmLinkMenu("transaction,$!preference.InvoiceScreen" "?op=3" "$!l10n.new_trans" "")
#if($data.ACL.Permissions.containsName("Create Sales Invoice"))
#if($preference.allowTransImport())
#btmLinkMenu("transaction,loader,ImportInvoiceData.vm" "" "$!l10n.import $!title" "")
#end ##end if allow import
#btmLinkMenu("transaction,SalesTransactionUpdate.vm" "" "Update $!title" "fa-check"  )
#btmLinkMenu("transaction,RecurringView.vm" "" "Recurring $!title" ""  )
#end ##end if perm
</ul>
#end

