#set($showUserInfo=true) 
#set($isTwoColumns=true)
#set($mainColumnWidth="80%")

#if(!$isTwoColumns) 
  #set($showUserInfo=false) 
  #set($mainColumnWidth="100%")
#end

#set($aclPerm = $data.ACL.Permissions)
<script>
</script>

<br><br>
<table width="100%" border="0">
  <tr>
	<td align="center">
      <table width="90%" cellpadding="4" cellspacing="0" border="0">
        <tr>
          <td width="10" rowspan="7">&nbsp;</td>
          <td colspan="4" bgcolor="#EEEEEE" height="40">
            <span class="txtTitle2">&nbsp;Promotion Menu :</span>
          </td>
        </tr>
        #if($preference.isHO()) ##DISPLAY MENU
          #if($aclPerm.containsName("View Customer Price List"))              
          <tr>
            #storeMenuTD ("transaction,CreateCustomerPriceList.vm" "store/reports.gif" "$!l10n.price_list" "")        
            <td width="5%"  class="tbs">#spc(1)</td>
            <td width="45%" class="tbs">#spc(1)</td>
          </tr>
          #end
          #if($aclPerm.containsName("View Discount Setup"))                            
          <tr bgcolor="#EEEEEE">
            #storeMenuTD ("setup,DiscountSetup.vm" "store/reports1.gif" "$!l10n.discount_mgmt" "")        
            <td width="5%"  class="tbs">#spc(1)</td>
            <td width="45%" class="tbs">#spc(1)</td>
          </tr>
          #end        
        #elseif ($preference.isStore()) ##STORE MUST SET MANUALLY AVAILABLE REPORTS 

          #if($aclPerm.containsName("View Customer Price List"))              
          <tr>
            #storeMenuTD ("transaction,CreatePriceList.vm" "store/reports.gif" "$!l10n.price_list" "")        
            <td width="5%"  class="tbs">#spc(1)</td>
            <td width="45%" class="tbs">#spc(1)</td>
          </tr>
          #end
          #if($aclPerm.containsName("View Discount Setup"))                            
          <tr bgcolor="#EEEEEE">
            #storeMenuTD ("setup,DiscountSetup.vm" "store/reports1.gif" "$!l10n.discount_mgmt" "")        
            <td width="5%"  class="tbs">#spc(1)</td>
            <td width="45%" class="tbs">#spc(1)</td>
          </tr>
          #end       
          #if($aclPerm.containsName("View Discount Setup"))                            
          ##<tr bgcolor="#EEEEEE">
          ##  #storeMenuTD ("transaction,pwp,PWPSetup.vm" "store/reports1.gif" "$!l10n.pwp_promo" "")        
          ##  <td width="5%"  class="tbs">#spc(1)</td>
          ##  <td width="45%" class="tbs">#spc(1)</td>
          ##</tr>
          #end       

        #end ##END IF HO / STORE
        ## SPECIAL PROMO REPORTS -- UNIMPLEMENTED
        ###if($aclPerm.containsName("View Sales Reports"))
        ##<tr bgcolor="#EEEEEE">
        ##  #storeMenuTD ("report,sales,PromotionsReportMenu.vm" "store/reports1.gif" "Promotions Report")
        ##</tr>  
        ###end
      </table>
    <td>
  <tr>
</table>

