#if($preference.SalesCustomPricingUse) 
  #set($vflds = $itemfield.AllCustomField)    
  #foreach($cf in $vflds)      
    #if($sutil.containsIgnoreCase($cf.FieldName,"qty"))
    <tr>
      <td><b>$cf.FieldName </td> ##$sutil.substringAfter($cf.FieldName," ")</td> 
      <td>                               
        <input type="text" class="text2" name="$!cf.FieldName" #width(100) 
            value="$!itemfield.getValue($oItem.ItemId,$cf.FieldName)"  READONLY > @ 
        #foreach($cf2 in $vflds)
          #if($sutil.containsIgnoreCase($cf2.FieldName,"$!l10n.price") && $sutil.contains($cf2.FieldName,$sutil.substringAfter($cf.FieldName," ")))
          <input type="text" class="text2" name="$!cf2.FieldName" #width(200) 
              value="$!itemfield.getValue($oItem.ItemId,$cf2.FieldName)"  READONLY > 
          #end ##end if price         
        #end ##end foreach
      </td>                
    </tr>                  
    #end ##end if 
  #end ##end foreach 
#end ##end if use custompricing       
