$data.setLayoutTemplate("/EmptyHTML.vm")

#set($sLocationID = $data.Parameters.getString("LocationId","")  )
#set($sItemID     = $data.Parameters.getString("ItemId","")      )
#set($dQty        = $data.Parameters.getDouble("Qty")            )
#set($iType       = $data.Parameters.getInt("Type")              )

<script>
function saveSerial()
{
    //document.frm.submit();
    window.close();
}
</script>

<form name="frm" action="$link.setPage($data.ScreenTemplate)" method="POST">
<input type="hidden" name="op">
<input type="hidden" name="LocationId" value="$!sLocationID">
<input type="hidden" name="ItemId"     value="$!sItemID"    >
<input type="hidden" name="Qty"        value="$!dQty"       >
<input type="hidden" name="Type"       value="$!iType"      >

  <table width="100%">
    <tr>
    	<td valign="top" width="99%">	
    	  <table width="100%" cellspacing="0" cellpadding="4" border="0">
    	    <tr>
    	      <td colspan="4">
    	        #set($sItemName = $!item.getItemNameByID($sItemID))
    	        <span class="txtTitle2">$!sItemName Serial No ($inventorytransaction.getTransactionTypeName($iType))</span>
    	      </td>
    	    </tr>
    	    #if($data.Message)
    	    <tr>
    	      <td colspan="4">
    	        <span class="txtMessage">$!data.Message</span> 
    	        &nbsp;
    	      </td>
    	    </tr>	    
    	    #end
    	  </table>
    	  <br>
    	  <! -- INPUT SERIAL NO -->
    	  <table width="100%" cellpadding="2" cellspacing="0">
    	    <tr>
    	      <td class="th4" colspan="3">&nbsp;&nbsp; Input Serial No</td>
    	    </tr>
    	    #foreach ($i in [1..$dQty.intValue()])
    	    <tr>
    	      <td class="tbs" width="30">$i</td>
    	      <td class="tbs">Serial No </td>
    	      <td class="tbs"> 
    	        <input type="text" class="text2" name="SerialNo${i}" size="50">
    	      </td>
    	    </tr>	      
    	    #end
    	    <tr>
    	      <td class="tbs" align="center" colspan="3">
    	        <input type="hidden" name="TotalNo" value="$!dQty.intValue()">&nbsp;
    	      </td>
    	    </tr>
    	    <tr>
    	      <td class="tbs" align="center" colspan="3">
    	        <input type="button" value="&nbsp;&nbsp;&nbsp;&nbsp; Save Serial No &nbsp;&nbsp;&nbsp;&nbsp;" 
    	            OnClick="javascript:saveSerial();">
    	      </td>
    	    </tr>
    	  </table>
    	  <! -- END INPUT SERIAL NO -->
      </td>
    </tr>
  </table>
</form>