#txtINIT()
$data.setLayoutTemplate("/Empty.vm")
#set($nocompany = true)
#parse("/print/headers/HeaderHTML.vm") 
#set($title = $!l10n.item_transfer) 
## SET DETAIL PER PAGE HERE 
#set($detperpage = 25)
#htmlInitPAGE()
#foreach($i in [0 .. $totalpageidx])
##<b>From $from To $to</b>
#set($currentpage = $i + 1)
#set($to2 = $to + 1)
#if($transDet.size() > $detperpage)
#set($transDetPage = $transDet.subList($from, $to2))
#else
#set($transDetPage = $transDet)
#end
#set($dTotalQty = 0)
#set($dTotalAmt = 0) 
#set($bConsignment = true)
#parse("/print/ItemTransferHTMLPage.vm")
#if($currentpage == $totalpage)  
##Move 2 lines below to InvoiceHTMLPage if footer need to be displayed in every page
#set($sOther = $!l10n.received_by) 
#set($sOtherName = "") 
#parse("/print/footers/FooterHTML.vm")
#end
<p class="pagebreakhere"/>
<br>
#set($from = $to + 1)
#if((($i + 1) == ($totalpageidx)) && $left > 0)
#set($to = $to + $left)
#else
#set($to = $to + $detperpage)
#end ##END IF LAST PAGE
#end ##END FOREACH [0..totalpageidx]
</body>
</html>
