#txtINIT()
#set($sExternal = $!l10n.vendor) 
#set($title = $!l10n.purchase_invoice) 
$data.setLayoutTemplate("/Empty.vm")
#parse ("/print/headers/HeaderHTML.vm")
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td width="18%">$!l10n.invoice_no </td>
    <td width="32%">: $!trans.PurchaseInvoiceNo</td>    
    <td width="18%">$!l10n.vendor_si_no </td>
    <td>: $!trans.VendorInvoiceNo</td>                
    #if(!$oCURR.IsDefault)
    <td>$!l10n.curr </td>
    <td>: $!oCURR.CurrencyCode / $!cformat.formatNumber($!trans.CurrencyRate)</td> 
    #end         
  </tr>
  #set($vNo = $purchaseinvoice.getPRNo($trans.PurchaseInvoiceId))
  #if($vNo.size() > 0)
  #set($sPRNo = $purchaseinvoice.displayNo($vNo,false))
  #set($sPONo = $purchaseinvoice.displayNo($vNo,true))    
  <tr>
    <td>$!l10n.pr_no </td>
    <td>: $!sPRNo  </td>    
    <td>$!l10n.po_no </td>
    <td>: $!sPONo  </td>            
  </tr> 
  #end ##end if 
  <tr>
    <td>$!l10n.vendor </td>
    <td>: $!trans.VendorName</td>    
    <td>$!l10n.create_by </td>
    <td>: $!trans.CreateBy</td>    
  </tr>    
  <tr>
    <td>$!l10n.trans_date </td>
    <td>: $!cformat.formatDate($!trans.TransactionDate)</td>    
    <td>$!l10n.due_date </td>
    <td>: $!cformat.formatDate($!trans.PaymentDueDate)</td>    
  </tr>  
  <tr>
    <td>$!l10n.payment_type </td>
    <td>: $!oPTP.Description / $!oPTM.Description</td>    
    <td width="18%">$!l10n.print_date </td>
    <td>: $!cformat.formatDateTime($!dutil.TodayDate)</td>        
  </tr>    
  <tr>
    #if($sutil.isNotEmpty($!trans.Remark))
    <td colspan="2">$!trans.Remark</td>
    #end
    #if($sutil.isNotEmpty($!trans.ShipTo))
    <td colspan="2">$!trans.ShipTo</td>    
    #end
  </tr>
</table>
<br>

<table width="100%" cellpadding="1" cellspacing="0" border="0">
  #set($no = 1)
  ## DETAIL
  #if($transDet.size() > 0)
  #linea(10)
  <tr>
    <td style="width:2%;max-width:24px;">No</td>
    <td width="10%">$!l10n.item_code</td>
    <td width="24%">$!l10n.item_name</td>
    <td width="6%"  align="center">$!l10n.qty</td>
    <td width="6%"  align="center">$!l10n.unit</td>
    <td width="8%" align="center">$!l10n.price</td>
    <td width="8%" align="center">$!l10n.discount</td>
    <td width="12%" align="center">$!l10n.sub_total</td>
  </tr>
  #linea(10)    
  #foreach ($td in $transDet)
  #set($itm = $item.getItemByID($td.ItemId))
  <tr>
    <td>$no</td>
    <td>$!td.ItemCode </td>
    <td>$!itm.ItemName </td>
    <td align="right">$!cformat.formatNumber($!td.Qty)</td>
    <td align="right">$!td.UnitCode</td>
    <td align="right">$!cformat.formatNumber($!td.ItemPrice)</td>
    <td align="right">$!td.Discount</td>
    <td align="right">$!cformat.formatNumber($!td.SubTotal)</td>
  </tr>
  #if(($td.ItemName != $td.Description) && ($itm.Description != $td.Description) && $sutil.isNotEmpty($td.Description)) ##desc set
  <tr>
    <td>#spc(1)</td>
    <td>#spc(1)</td>
    <td colspan="5">$!td.Description</td>
  </tr>
  #end ##end   
  #set($no = $no + 1)
  #end  
  #linea(10)
  #end ##end if $transDet
  
  ## EXPENSE
  #if(!$piExp)
    #set($piExp = $purchaseinvoice.getExpensesByID($trans.PurchaseInvoiceId,$null))  
  #end
  #if($piExp.size() > 0)  
  #linea(10)
  <tr>
    <td width="30">No</td>
    <td width="120">$!l10n.account_code</td>
    <td width="200">$!l10n.account_name</td>
    <td width="120"></td>
    <td width="120"></td>            
    <td width="90" align="center">$!l10n.department</td>
    <td width="90" align="center">$!l10n.project</td>
    <td width="110" align="center">$!l10n.amount</td>
  </tr>
  #linea(10)  
  #foreach ($td in $piExp)
  ##set($acc = $account.getItemByID($td.AccountId))
  <tr>
    <td>$no</td>
    <td>$!td.AccountCode </td>
    <td colspan="3">$!td.Description </td>    
    <td align="right">$!td.DepartmentCode</td>
    <td align="right">$!td.ProjectCode</td>
    <td align="right">$!cformat.formatNumber($!td.Amount)</td>
  </tr>
  #set($no = $no + 1)
  #end  
  #linea(10)
  #end ##end if $piExp 

  #if($trans.TotalQty.intValue() > 0)
  <tr>
    <td colspan="6" align="right">$!l10n.total_qty</td>
    <td width="90"  align="right">:</td>
    <td width="150" align="right">$!cformat.fmt($!trans.TotalQty)</td>
  </tr>  
  #end
  #if($trans.TotalDiscount.intValue() > 0)
  <tr>
    <td colspan="6" align="right">$!l10n.discount </td>
    <td width="90"  align="right">:</td>
    <td width="150" align="right">$!cformat.fmtAlg($!trans.TotalDiscount)</td>
  </tr>
  #end
  #if($trans.TotalTax.intValue() > 0)
  <tr>
    <td colspan="6" align="right">Total DPP </td>
    <td width="90"  align="right">:</td>
    <td width="150" align="right">$!cformat.fmtAlg($cal.sub($trans.TotalAmount,$!trans.TotalTax))</td>
  </tr>      
  <tr>
    <td colspan="6" align="right">$!l10n.total_tax </td>
    <td width="90"  align="right">:</td>
    <td width="150" align="right">$!cformat.fmtAlg($!trans.TotalTax)</td>
  </tr>    
  #end
  <tr>
    <td colspan="6" align="right">$!l10n.total_amount</td>
    <td width="90"  align="right">:</td>
    <td width="150" align="right">$!cformat.fmtAlg($!trans.TotalAmount)</td>
  </tr>   
  #if($trans.DownPayment.intValue() > 0)
  <tr>
    <td colspan="6" align="right">$!l10n.dp</td>
    <td width="90"  align="right">:</td>
    <td width="150" align="right">$!cformat.fmtAlg($!trans.DownPayment)</td>
  </tr>
  #end    
</table>
#set($sExtName = $!trans.VendorName)
#parse ("/print/footers/FooterHTML.vm")
