#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end


#set($src = $data.Parameters.getString("src", "loc"))
#if($src == "loc")
  #set($srctitle = $!l10n.location)
  #set($srcname = "Location")
#elseif ($src == "dept")
  #set($srctitle = $!l10n.department)
  #set($srcname = "Department")
#elseif ($src == "prj")
  #set($srctitle = $!l10n.project)
  #set($srcname = "Project")
#end

#set($title = "Item Qty Sales Report (Periodic)")
#set($srcid = $data.Parameters.getString("${srcname}Id"))
#set($katid = $data.Parameters.getString("KategoriId"))
#set($year = $data.Parameters.getInt("Year", -1))
#set($sort = $data.Parameters.getInt("SortBy",1))
#set($op   = $data.Parameters.getInt("Op"))

#set($bIsHO = false)
#set($oLoc = $location.getLocationByID($preference.getLocationID($data.User.Name)))
#if($oLoc.LocationType == 1)
  #set($bIsHO = true)
#end

#set($pageParam = "&Op=1&StartDate=$!{sdate}&KategoriId=$!{katid}&Year=$!{year}&SortBy=${sort}")
#set($pageParam = "${pageParam}&src=$!{src}&$!{srcname}Id=$!{srcid}")

<script>
</script>
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="src" value="$src">

<table width="100%" cellspacing="0" cellpadding="0" border="0"> 
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title   	   
  	   $srctitle :
  	   #if($srcid == "")
  	     $!l10n.all 
  	   #else
  	     #if($src == "loc")        	     
  	       $!location.getLocationNameByID($srcid)
  	     #elseif ($src == "dept")
  	       $!department.getDepartmentNameByID($srcid) 
  	     #elseif ($src == "prj")
  	       $!project.getProjectNameByID($srcid) 
  	     #end
  	   #end
  	   #spc(2)
  	   $!l10n.category :
  	   #if($katid != "") $!kategori.getLongDescription($katid) #else $!l10n.all #end  	  
  	  </b>
      </span>
    </td>
    #reportPrintBtn()
  <tr>
</table>

#if(!$printable)
<table cellspacing="0" cellpadding="2" border="0">
  <tr>          
    #if($bIsHO)
    #set($sID = $srcid)
    #subSelect (1)
    #else
    <td>$!l10n.location : </td>
    <td>
      <input type="hidden" name="LocationId" value="$oLoc.getLocationId()">
      $oLoc.getLocationName()            
    </td>	            
    #end
    ##<td><input type="checkbox" class="cb" name="IncludeReturn" #if($incret) CHECKED #end>$!l10n.sales_return #spc(2)</td>
    <td>$!l10n.sort_by : #spc(1)</td>
    <td>
      <select name="SortBy">
        <option value="1" #if($sort == 1) SELECTED #end>$!l10n.item_code</option>
        <option value="2" #if($sort == 2) SELECTED #end>$!l10n.item_name</option>        
      </select>
    </td>
  </tr>
  <tr>
    <td>
      $!l10n.category : &nbsp;&nbsp;
    </td>
    <td>
      #kategoriSB("KategoriId" "$!katid")
      <input type="hidden" name="Op" value="1"> #spc(2)
    </td> 
    <td>$!l10n.year : #spc(1)</td>
    <td>
      <input type="text" size="4" name="Year" #if($year == -1) value="$!dutil.getCurrentYear()" #else value="$!year" #end > #spc(2)
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
<br>
#end ##if(!$printable)

#set($Months = [$!l10n.january,$!l10n.february,$!l10n.march,$!l10n.april,$!l10n.may,$!l10n.june,$!l10n.july,$!l10n.august,$!l10n.september,$!l10n.october,$!l10n.november,$!l10n.december])
#if($op == 1)
#set($vKat = $kategori.getChildIDList($katid))
#set($x = $vKat.add($katid))
#set($vItem = $item.getItemByStatusAndKategoriID($vKat,true,$sort))
<table width="100%" cellspacing="0" cellpadding="4">
  #if($printable) #line(20) #end
  <tr>
    <td class="th4"><b>No</b></td>
    <td class="th4"><b>$!l10n.item_code</b></td>
    <td class="th4"><b>$!l10n.item_name</b></td>
    #foreach($mt in $Months)
    <td class="th4" #width(50)><center>$mt</td>
    #end
    <td class="th4" #width(50)><center><b>Total</td>
  </tr>		                 
  #if($printable) #line(20) #end
  #set($no = 1)
  #foreach ($itm in $vItem)
  <tr>
    <td class="tbs">$no</b></td>
    <td class="tbs">$!itm.ItemCode</b></td>
    <td class="tbs">$!itm.ItemName</b></td>
    #set($month = 0)
    #set($totalQty = 0)
    #foreach($mt in $Months)
    #set($dStart = $dutil.getStartOfMonthDate($month,$year))
    #set($dEnd = $dutil.getEndOfMonthDate($month,$year))    
    #set($dQty = $salesreport.getSoldQty($itm.itemId,$dStart,$dEnd,$srcid))
    #set($totalQty = $calculator.add($totalQty,$dQty))
    <td class="tbs" align="right">$!cformat.fmt($dQty)</td>
    #set($month = $month + 1)
    #end ##end foreach months
    <td class="tbs" align="right">$!cformat.fmt($totalQty)</td>
  </tr>		  
  #set($no = $no + 1)
  #end  ##end foreach
  #if($printable) #line(20) #end
</table> 
#end ##end if op
</form>
