#set($printable = $data.Parameters.getBoolean("printable"))
#set($excel = $data.Parameters.getBoolean("excel"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end
#if($chart)
  $data.setLayoutTemplate("EmptyHTML.vm")
#end

#set($title = "$!l10n.sales_report ($!l10n.promotion) ")
#set($op = $data.Parameters.getInt("Op"))
#set($cond = $data.Parameters.getInt("Condition"))
#set($dtype = $data.Parameters.getInt("DiscountType"))
#set($key = $data.Parameters.getString("Keywords"))
#set($locid = $data.Parameters.getString("LocationId"))
#set($ptid = $data.Parameters.getString("PaymentTypeId"))
#set($cconly = $data.Parameters.getBoolean("CcOnly"))
#set($spcdisc = $data.Parameters.getBoolean("SpcDisc"))
#set($sdate = $data.Parameters.getString("StartDate", "$!cformat.fmt($dutil.TodayDate)"))
#set($edate = $data.Parameters.getString("EndDate", "$!cformat.fmt($dutil.TodayDate)"))

#set($dStart = $cparser.parseDate($sdate))
#set($dEnd   = $cparser.parseDate($edate))

#set($bIsHO = false)
#set($oLoc = $location.getLocationByID($preference.getLocationID($data.User.Name)))
#if($oLoc.LocationType == 1 || $data.ACL.Permissions.containsName("Access All Location"))
#set($bIsHO = true)
#end

#set($pageParam = $tplutil.pageParam($data))

#if(!$printable)
<script>
function setDiscType(cbtype)
{
    var f = document.frm;
    if(f.CcOnly.checked || f.SpcDisc.checked)
    {
        f.DiscountType.value = -1;
        f.DiscountType.disabled = true;
        if(cbtype == 2)
        {
            f.CcOnly.checked = false;
        } 
        else
        {
            f.SpcDisc.checked = false;        
        }
    }
    else
    {
        f.DiscountType.disabled = false;
    }
}
</script>
#reportPrintJS()
#end

<table class="fixTable">
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title
       #if($cconly) $!l10n.by_cc #end 
       #if($sdate != "")
         ($!sdate vs $!edate)                  
         #spc(2)
         $!l10n.location :
         #if($locid == "")
         $!l10n.all
         #else
         $!location.getLocationNameByID($locid)
         #end
         #spc(2)         
      #end
      </b>
      </span>
    </td>
    #if(!$printable)
    #reportPrintBtn()
    #end ## end ! printable
  <tr>
</table>

#if(!$printable)
<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="op" value="1">
<input type="hidden" name="SHour" value="$!shour">
<input type="hidden" name="EHour" value="$!ehour">

<table class="searchTable">
  <tr>
    <td>$!l10n.location : </td>
    #if($bIsHO)
    <td colspan="3">
      #locationSB($locid)
    </td>
    #else
    <td colspan="3">
      <input type="hidden" name="LocationId" value="$oLoc.getLocationId()">
      $oLoc.getLocationName()
    </td>
    #end
    <td>$!l10n.payment_type : </td>
    <td colspan="3">
      #selectBox("PaymentTypeId" "$!ptid" "$!l10n.payment_type" $paymenttype.AllPaymentType "description")
    </td>
  </tr>
  <tr>
    <td>$!l10n.search_by : </td>
    <td>
      <select name="Condition" #width("95%")>
        <option value="1" #if($cond == 1) SELECTED #end>$!l10n.promo_code</option>
        <option value="2" #if($cond == 2) SELECTED #end>$!l10n.discount_code</option>
        <option value="3" #if($cond == 3) SELECTED #end>$!l10n.description</option>

        <option value="4" #if($cond == 4) SELECTED #end>$!l10n.item_code</option>
        <option value="5" #if($cond == 5) SELECTED #end>$!l10n.item_name</option>
        <option value="6" #if($cond == 6) SELECTED #end>$!l10n.barcode</option>
      </select>
    </td>
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" #width(80) name="StartDate" value="$!sdate">
        #calf("frm" "StartDate" true)
        #spc(2)
    </td>
    <td>$!l10n.discount_type : </td>
    <td>
      <select name="DiscountType" #width("") #if($cconly) DISABLED #end >
        <option value="-1" >-- $!l10n.discount_type  --</option>
        <option value="1" #if($dtype == 1) selected #end >$!l10n.by_event       </option>
        <option value="3" #if($dtype == 3) selected #end >$!l10n.by_qty         </option>
        <option value="5" #if($dtype == 5) selected #end >$!l10n.by_pwp         </option>
        <option value="6" #if($dtype == 6) selected #end >$!l10n.by_multi_unit  </option>
        <option value="4" #if($dtype == 4) selected #end >$!l10n.by_total       </option>
        <option value="8" #if($dtype == 8) selected #end >$!l10n.by_price       </option>
        
        ##<option value="7" #if($Discount.DiscountType == 7) selected #end >$!l10n.coupon         </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>$!l10n.keywords : </td>
    <td>
      <input type="text" #width("95%") name="Keywords" value="$!key">
    </td>
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" #width(80) name="EndDate" value="$!edate">
      #calf("frm" "EndDate" true)
      #spc(2)
    </td>
    <td><input type="checkbox" class="cb" name="CcOnly" #if($cconly) CHECKED #end OnChange="setDiscType(1);">$!l10n.by_cc #spc(2)</td>
    <td colspan="2">
      <input type="checkbox" class="cb" name="SpcDisc" #if($spcdisc) CHECKED #end OnChange="setDiscType(2);">Special Disc #spc(2)
      <input type="button" value="$!l10n.view_report" OnClick="document.frm.submit();">
    </td>
  </tr>
</table>
<br>
</form>
#end ##if(!$printable)

#if($op == 1)

  ##---------------------------------------------------------------------------
  ## DETAIL
  ##---------------------------------------------------------------------------
  #set($cls = 19)
  <table class="stdTable">
  #if($cconly || (!$cconly && $dtype != 4)) ##cc only || !total disc

  #if(!$spcdisc)
    #set($vTD = $salesreport.getDetailByPromo($cond,$dtype,$key,$locid,$ptid,$dStart,$dEnd,$cconly))
  #else
    #set($vTD = $salesreport.getDetailBySpcDisc($cond,$key,$locid,$ptid,$dStart,$dEnd))  
  #end
  #set($i = 0)
  #set($dTotal = 0)
  #set($dTDisc = 0)
  #set($dTComp = 0)
  #set($dTBank = 0)
    <tr>
      <td colspan="$cls"><b>Item Discount #if($spcdisc) (Special) #end</b></td>
    </tr>
    <tr class="th5" align="center">
      #set($row = "")
      #if($cconly) #set($row = "rowspan='2'") #end
      <td $row >$!l10n.location</td>
      <td $row >$!l10n.invoice_no</td>
      <td $row >$!l10n.trans_date</td>
      <td $row >$!l10n.discount_type</td>
      <td $row >$!l10n.promo_code</td>
      <td $row >$!l10n.discount_code</td>
      <td $row >$!l10n.description</td>
      <td $row >$!l10n.item_code</td>
      <td $row >$!l10n.barcode</td>
      <td $row >$!l10n.item_name</td>
      <td $row >$!l10n.price</td>
      <td $row >$!l10n.discount</td>
      <td $row >$!l10n.qty</td>
      <td $row >$!l10n.total_amount</td>
      <td $row >$!l10n.total_discount</td>
      #if($cconly)
      <td $row >$!l10n.payment_type</td>      
      <td $row >Bank</td>      
      <td $row >$!l10n.amount</td>
      <td colspan="2">Cost Share</td>
      #end
    </tr>
    #if($cconly)
    <tr class="th5" align="center">
      <td>Company</td>
      <td>Bank</td>
    </tr>
    #end

    #foreach ($oTD in $vTD)
    #set($oPMT = $invoicepayment.getByTransIDAndPTypeID($oTD.Trans.TransactionId,$oTD.DiscountData.PaymentTypeId))
    <tr>
      <td>$!oTD.Trans.Location.LocationName</td>
      <td>$!oTD.Trans.InvoiceNo</td>
      <td>$!cformat.fmt($!oTD.Trans.TransactionDate)</td>
      <td>$!oTD.DiscountData.TypeDesc</td>
      <td>$!oTD.DiscountData.PromoCode</td>
      <td>$!oTD.DiscountData.DiscountCode</td>
      <td>$!oTD.DiscountData.Description</td>
      <td>$!oTD.ItemCode</td>
      <td>$!oTD.Item.Barcode</td>
      <td>$!oTD.ItemName</td>
      <td align="right">$!cformat.fmt($!oTD.ItemPrice)</td>
      <td align="right">$!oTD.Discount</td>
      <td align="right">$!cformat.fmt($!oTD.Qty)</td>
      <td align="right">$!cformat.fmt($!oTD.SubTotal)</td>
      <td align="right">$!cformat.fmt($!oTD.SubTotalDisc)</td>
      #if($cconly)
      #set($dComp = $calculator.mul($calculator.div($oTD.DiscountData.CcDiscComp,100),$oTD.SubTotalDisc))
      #set($dBank = $calculator.mul($calculator.div($oTD.DiscountData.CcDiscBank,100),$oTD.SubTotalDisc))
      <td align="right">$!oPMT.PaymentType.Code</td>
      <td align="right">$!oPMT.BankIssuer</td>
      <td align="right">$!cformat.fmt($oPMT.PaymentAmount)</td>
      <td align="right">$!cformat.fmt($dComp)</td>
      <td align="right">$!cformat.fmt($dBank)</td>
      #end
    </tr>
    #set($dTotal = $calculator.add($dTotal, $oTD.SubTotal))
    #set($dTDisc = $calculator.add($dTDisc, $oTD.SubTotalDisc))
    #set($dTComp = $calculator.add($dTComp, $dComp))
    #set($dTBank = $calculator.add($dTBank, $dBank))
    #set($i = $i + 1)
    #end ##end foreach
    <tr align="right" class="th5">
      <td align="center" colspan="12">Total </td>
      <td>$!cformat.fmt($dTotal)</td>
      <td>$!cformat.fmt($dTDisc)</td>
      #if($cconly)
      <td colspan="3"></td>      
      <td>$!cformat.fmt($dTComp)</td>
      <td>$!cformat.fmt($dTBank)</td>
      #end
    </tr>
    <tr>
      <td colspan="$cls"></td>
    </tr>
  #end ##end if show detail

  ##---------------------------------------------------------------------------
  ## TOTAL
  ##---------------------------------------------------------------------------

  #if($cconly || (!$cconly && $dtype == 4)) ##cc only || !total disc

  #set($vTR = $salesreport.getPromoTotal($cond,$dtype,$key,$locid,$ptid,$dStart,$dEnd,$cconly))
  #set($i = 0)
  #set($dTotal = 0)
  #set($dTDisc = 0)
  #set($dTComp = 0)
  #set($dTBank = 0)

  ##<table class="stdTable">
    <tr>
      <td colspan="$cls"><b>Total Discount</b></td>
    </tr>
    <tr class="th5" align="center">
      #set($row = "")
      #if($cconly) #set($row = "rowspan='2'") #end
      <td $row >$!l10n.location</td>
      <td $row >$!l10n.invoice_no</td>
      <td $row >$!l10n.trans_date</td>
      <td $row >$!l10n.promo_code</td>
      <td $row >$!l10n.discount_code</td>
      <td $row >$!l10n.description</td>
      <td $row >$!l10n.item_code</td>
      <td $row >$!l10n.barcode</td>
      <td $row >$!l10n.item_name</td>
      <td $row >$!l10n.price</td>
      <td $row >$!l10n.discount</td>
      <td $row >$!l10n.qty</td>
      <td $row >$!l10n.total_amount</td>
      <td $row >$!l10n.total_discount</td>
      #if($cconly)
      <td $row >$!l10n.payment_type</td>      
      <td $row >Bank</td>
      <td $row >$!l10n.amount</td>                  
      <td colspan="2">Cost Share</td>
      #end
    </tr>
    #if($cconly)
    <tr class="th5" align="center">
      <td>Company</td>
      <td>Bank</td>
    </tr>
    #end

    #foreach ($oTR in $vTR)
    <tr>
      <td>$!oTR.Location.LocationCode</td>
      <td>$!oTR.InvoiceNo</td>
      <td>$!cformat.fmt($!oTR.TransactionDate)</td>
      <td>$!oTR.DiscountData.PromoCode</td>
      <td>$!oTR.DiscountData.DiscountCode</td>
      <td>$!oTR.DiscountData.Description</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td align="right">$!cformat.fmt($!oTR.TotalAmount)</td>
      <td align="right">$!oTR.TotalDiscountPct</td>
      <td align="right">$!cformat.fmt($!oTR.TotalQty)</td>
      <td align="right">$!cformat.fmt($!oTR.TotalAmount)</td>
      <td align="right">$!cformat.fmt($!oTR.TotalDiscount)</td>
      #if($cconly)
      #set($oPMT = $invoicepayment.getByTransIDAndPTypeID($oTR.TransactionId,$oTR.DiscountData.PaymentTypeId))
      #set($dComp = $calculator.mul($calculator.div($oTR.DiscountData.CcDiscComp,100),$oTR.TotalDiscount))
      #set($dBank = $calculator.mul($calculator.div($oTR.DiscountData.CcDiscBank,100),$oTR.TotalDiscount))
      <td align="right">$!oPMT.PaymentType.Code</td>
      <td align="right">$!oPMT.BankIssuer</td>      
      <td align="right">$!cformat.fmt($oPMT.PaymentAmount)</td>
      <td align="right">$!cformat.fmt($dComp)</td>
      <td align="right">$!cformat.fmt($dBank)</td>
      #end
    </tr>
    #set($dTotal = $calculator.add($dTotal, $oTR.TotalAmount))
    #set($dTDisc = $calculator.add($dTDisc, $oTR.TotalDiscount))
    #set($dTComp = $calculator.add($dTComp, $dComp))
    #set($dTBank = $calculator.add($dTBank, $dBank))
    #set($i = $i + 1)
    #end ##end foreach
    <tr align="right" class="th5">
      <td align="center" colspan="12">Total </td>
      <td>$!cformat.fmt($dTotal)</td>
      <td>$!cformat.fmt($dTDisc)</td>
      #if($cconly)
      <td colspan="3"></td>
      <td>$!cformat.fmt($dTComp)</td>
      <td>$!cformat.fmt($dTBank)</td>
      #end
    </tr>
  #end ##end show total
  </table>
#end ##end if op
