#set($printable = $data.Parameters.getBoolean("printable"))
#if($printable)
  $data.setLayoutTemplate("Printable.vm")
#end



#set($src = $data.Parameters.getString("src", "loc"))
#if($src == "loc")
  #set($srctitle = $!l10n.location)
  #set($srcname = "Location")
#elseif ($src == "dept")
  #set($srctitle = $!l10n.department)
  #set($srcname = "Department")
#elseif ($src == "prj")
  #set($srctitle = $!l10n.project)
  #set($srcname = "Project")
#end

#set($title = "Vendor Item Sales Report")
#set($srcid = $data.Parameters.getString("${srcname}Id"))
#set($katid = $data.Parameters.getString("KategoriId"))
#set($vendid = $data.Parameters.getString("VendorId"))
#set($sdate  = $data.Parameters.getString("StartDate", ""))
#set($edate  = $data.Parameters.getString("EndDate", ""))
#set($incret = $data.Parameters.getBoolean("IncludeReturn"))
#set($inctax = $data.Parameters.getBoolean("IncludeTax"))
#set($incdis = $data.Parameters.getBoolean("IncludeDiscount"))
#set($det = $data.Parameters.getBoolean("Detail"))
#set($sort = $data.Parameters.getInt("SortBy",1))
#set($op = $data.Parameters.getInt("op"))

#set($bIsHO = false)
#set($bViewCost = true)
#set($oLoc = $location.getLocationByID($preference.getLocationID($data.User.Name)))
#if($oLoc.LocationType == 1)
  #set($bIsHO = true)
#end
#if($oLoc.LocationType != 1)
  ##set($bViewCost = false)
#end
#if(!$data.ACL.Permissions.containsName("View Item Cost"))
  #set($bViewCost = false)
#end

#set($pageParam = "&Op=1&StartDate=$!{sdate}&KategoriId=$!{katid}&IncludeReturn=$!{incret}&IncludeTax=$!{inctax}&SortBy=${sort}&Detail=$!{det}")
#set($pageParam = "${pageParam}&IncludeDiscount=$!{incdis}&EndDate=$!{edate}&src=$!{src}&$!{srcname}Id=$!{srcid}&VendorId=$!{vendid}")
<script>
function change(id) 
{	
}
function viewItemReport(sItemCode)
{
    var sURL = '${link.setPage("report,sales,SalesReport.vm")}?printable=$!{printable}&StartDate=$!{start}' + 
               '&EndDate=$!{end}&Condition=7&GroupBy=-1&Status=2&CurrencyId=&Keywords=' + sItemCode;    
    document.location.href = sURL;
}
</script>
#reportPrintJS()

<form name="frm" method="post" action="$link.setPage($data.ScreenTemplate)">
<input type="hidden" name="src" value="$src">
<input type="hidden" name="op" value="1">

<table width="100%" cellspacing="0" cellpadding="0" border="0"> 
  <tr>
    <td #if($printable) colspan="10" #end >
      <span class="txtTitle2"><b>$title 
        #if($sdate != "")			          
         ($!sdate - $!edate)
  	   #spc(2)
  	   
  	   $srctitle :
  	   #if($srcid == "")
  	     $!l10n.all 
  	   #else
  	     #if($src == "loc")        	     
  	       $!location.getLocationNameByID($srcid)
  	     #elseif ($src == "dept")
  	       $!department.getDepartmentNameByID($srcid) 
  	     #elseif ($src == "prj")
  	       $!project.getProjectNameByID($srcid) 
  	     #end
  	   #end
  	   #spc(2)
  	   $!l10n.category :
  	   #if($katid != "") $!kategori.getLongDescription($katid) #else $!l10n.all #end
  	  #end
  	  </b>
      </span>
    </td>
    #reportPrintBtn()
  <tr>
</table>

#if(!$printable)
<table cellspacing="0" cellpadding="2" border="0">
  <tr>
    <td>$!l10n.vendor : </td>
    <td>
      #vendorSB ($vendid "" "")         
    </td>	            
  </tr>  
  <tr>          
    #if($bIsHO)
    #set($sID = $srcid)
    #subSelect (1)
    #else
    <td>$!l10n.location : </td>
    <td>
      <input type="hidden" name="LocationId" value="$oLoc.getLocationId()">
      $oLoc.getLocationName()            
    </td>	            
    #end
    <td>$!l10n.start_date : </td>
    <td>
      <input type="text" size="15" name="StartDate" value="$!sdate">
	    #calf("frm" "StartDate" true)
	    #spc(2)
    </td>	  
    <td><input type="checkbox" class="cb" name="IncludeReturn" #if($incret) CHECKED #end>$!l10n.sales_return #spc(2)</td>
    <td><input type="checkbox" class="cb" name="Detail" #if($det) CHECKED #end>Detail #spc(2)</td>
    <td>$!l10n.sort_by : #spc(1)</td>
    <td>
      <select name="SortBy">
        <option value="1" #if($sort == 1) SELECTED #end>$!l10n.item_code</option>
        <option value="2" #if($sort == 2) SELECTED #end>$!l10n.item_name</option>        
      </select>
    </td>
  </tr>
  <tr>
    <td>
      $!l10n.category : &nbsp;&nbsp;
    </td>
    <td>
      #kategoriSB("KategoriId" $data.Parameters.getString("KategoriId", ""))
      <input type="hidden" name="Op" value="1"> &nbsp;&nbsp;
    </td> 
    <td>$!l10n.end_date : </td>
    <td>
      <input type="text" size="15" name="EndDate" value="$!edate">
  	  #calf("frm" "EndDate" true)
  	  #spc(2)
    </td>	  		  
    <td><input type="checkbox" class="cb" name="IncludeTax" #if($inctax) CHECKED #end>$!l10n.inc_tax #spc(2)</td>
    <td><input type="checkbox" class="cb" name="IncludeDiscount" #if($incdis) CHECKED #end>$!l10n.discount #spc(2)</td>
    <td colspan="2">
      <input type="Submit" value="$!l10n.view_report" name="eventSubmit_doFind">
    </td>
  </tr>
</table>
<br>
#end ##if(!$printable)

#if($op == 1 && $sutil.isNotEmpty($sdate))
#set($dStart = $cparser.parseDate($sdate))
#set($dEnd = $cparser.parseDate($edate))
#set($vVend = $salesreport.getVendorList($dStart,$dEnd,"$!locid","$!depid","$!prjid","$!vendid",$sort))
#foreach ($oVend in $vVend)
#set($vid = $oVend.getValue(1).asString())
#if(!$det) ## SUMMARY BY ITEM

#set($vResult = $salesreport.getTotalSalesPerItem($dStart,$dEnd,"$!locid","$!depid","$!prjid","$!katid","",$!vid,"","","",$inctax,$incdis,2,$sort))
#if($incret)
#set($vReturn = $salesreport.getTotalReturnPerItem($dStart,$dEnd,"$!locid","$!depid","$!prjid","$!katid","",$!vid,"","","",$inctax,$incdis,2,$sort))
#end
<br><b>$!l10n.vendor: $!oVend.getValue(2).asString() - $!oVend.getValue(3).asString()
#if($vResult)  
  <table width="100%" cellspacing="0" cellpadding="4">
    #if($printable) #line(10) #end
    <tr>
      <td class="th4"><b>No</b></td>
      <td class="th4"><b>$!l10n.item_code</b></td>
      <td class="th4"><b>$!l10n.item_name</b></td>
      <td class="th4"><center><b>$!l10n.total_qty</b>   </center></td>
      <td class="th4"><center><b>$!l10n.total_amount</b></center></td>      
      #if($incdis)
      <td class="th4"><center><b>$!l10n.total_discount</b>   </center></td>
      <td class="th4"><center><b>$!l10n.discount</b></center></td>      
      #end
      #if($bViewCost)
      <td class="th4"><center><b>$!l10n.total_cost</b></td>            
      <td class="th4"><center><b>$!l10n.gross_profit</b></td>            
      <td class="th4"><center><b>%</b></td>            
      #end
    </tr>		
    #if($printable) #line(10) #end
    #set($totalQty    = 0)
    #set($totalSales  = 0)
    #set($totalCost   = 0)
    #set($totalProfit = 0)               
    #set($totalPct    = 0)         
    #set($totalDisc   = 0)
    #set($No = 1)
    #foreach ($res in $vResult)
    #set($dQty    = $res.getValue(4).asBigDecimal())
    #set($dSales  = $res.getValue(5).asBigDecimal()) 
    #set($dCost   = $res.getValue(6).asBigDecimal())
    #set($dFreq   = $res.getValue(7).asInt())       
    #if($incdis)
    #set($dSubDisc= $res.getValue(8).asBigDecimal())
    #set($sDisc   = $res.getValue(9).asString())
    #end
    #set($dProfit = $calculator.sub($dSales, $dCost))
    #set($dPct    = $calculator.pct($dProfit, $dSales))       
    <tr>
      <td width="3%"  class="tbs">$!No</td>
      <td width="12%" class="tbs">
        #if(!$printable)<a href="javascript:viewItemReport('$!res.getValue(2).asString()');">#end
        $!res.getValue(2).asString()
        #if(!$printable)</a>#end
      </td>		
      <td width="24%" class="tbs">
        #if(!$printable)<a href="javascript:viewItemReport('$!res.getValue(2).asString()');">#end
        $!res.getValue(3).asString()
        #if(!$printable)</a>#end
      </td>		
      <td width="10%" class="tbs" align="right">$!cformat.formatAligned($dQty)   </td>
      <td width="12%" class="tbs" align="right">$!cformat.formatAligned($dSales) </td>
      #if($incdis)
      <td width="10%" class="tbs" align="right">$!cformat.formatAligned($dSubDisc) </td>      
      <td width="9%"  class="tbs" align="right">$sDisc </td>
      #end
      #if($bViewCost)
        <td width="12%" class="tbs" align="right">$!cformat.formatAligned($dCost)  </td>
        <td width="12%" class="tbs" align="right">$!cformat.formatAligned($dProfit)</td>
        <td width="9%"  class="tbs" align="right">$!cformat.formatAligned($dPct)%  </td>	 
      #end
    </tr>
    #set($totalQty    = $calculator.add($totalQty,    $dQty ))
    #set($totalSales  = $calculator.add($totalSales,  $dSales ))
    #set($totalCost   = $calculator.add($totalCost,   $dCost ))
    #set($totalProfit = $calculator.add($totalProfit, $dProfit))                         
    #set($totalDisc   = $calculator.add($totalDisc,   $dSubDisc))
    #set($No = $No + 1)
    #end  ##end foreach
    #set($totalPct = $calculator.pct($totalProfit, $totalSales))       
    #if($printable) #line(10) #end      
    <tr>
      <td class="tbs" align="right" colspan="3"><b>Total $!l10n.sales_invoice #spc(2)</b></td>		
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalQty)   </b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalSales) </b></td>
      #if($incdis)
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalDisc) </td>      
      <td class="tbs" align="right"><b>#spc(1) </td>
      #end      
      #if($bViewCost)
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalCost)  </b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalProfit)</b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalPct)%  </b></td>	 
      #end
    </tr>
    #if($printable) #line(10) #end
  </table>
#end ##end if vResult 

#if($incret)
#if($vReturn)
  #if($bViewCost)
    #set($headings = ["No","$!l10n.item_code","$!l10n.item_name","<center>$!l10n.total_qty","<center>$!l10n.total_amount", "<center>$!l10n.total_cost", "<center>$!l10n.gross_profit", "<center>%"] )
  #else                                                                                      
    #set($headings = ["No","$!l10n.item_code","$!l10n.item_name","<center>$!l10n.total_qty","<center>$!l10n.total_amount"])
  #end
  <br><b>$!l10n.sales_return</b><br>
  <table width="100%" cellspacing="0" cellpadding="4">
    #if($printable) #line(10) #end
    <tr>
      <td class="th4"><b>No</b></td>
      <td class="th4"><b>$!l10n.item_code</b></td>
      <td class="th4"><b>$!l10n.item_name</b></td>
      <td class="th4"><center><b>$!l10n.total_qty</b>   </center></td>
      <td class="th4"><center><b>$!l10n.total_amount</b></center></td>      
      #if($incdis)
      <td class="th4"><center><b>$!l10n.total_discount</b>   </center></td>
      <td class="th4"><center><b>$!l10n.discount</b></center></td>      
      #end
      #if($bViewCost)
      <td class="th4"><center><b>$!l10n.total_cost</b></td>            
      <td class="th4"><center><b>$!l10n.gross_profit</b></td>            
      <td class="th4"><center><b>%</b></td>            
      #end
    </tr>		
    #if($printable) #line(10) #end

    #set($totalRetQty    = 0)
    #set($totalRetSales  = 0)
    #set($totalRetCost   = 0)
    #set($totalRetProfit = 0)               
    #set($totalRetPct    = 0)    
    #set($totalRetDisc   = 0)
    #set($No    = 1)         
              
    #foreach ($res in $vReturn)
    #set($dQty    = $res.getValue(4).asBigDecimal())
    #set($dSales  = $res.getValue(5).asBigDecimal()) 
    #set($dCost   = $res.getValue(6).asBigDecimal())
    #set($dFreq   = $res.getValue(7).asInt())
    #if($incdis)
    #set($dSubDisc= $res.getValue(8).asBigDecimal())
    #set($sDisc   = $res.getValue(9).asString())
    #end    
    #set($dProfit = $calculator.sub($dSales, $dCost))
    #set($dPct    = $calculator.pct($dProfit, $dSales))       
    <tr>
      <td width="3%"  class="tbs">$!No</td>
      <td width="12%" class="tbs">
        #if(!$printable)<a href="javascript:viewItemReport('$!res.getValue(2).asString()');">#end
        $!res.getValue(2).asString()
        #if(!$printable)</a>#end
      </td>		
      <td width="24%" class="tbs">
        #if(!$printable)<a href="javascript:viewItemReport('$!res.getValue(2).asString()');">#end
        $!res.getValue(3).asString()
        #if(!$printable)</a>#end
      </td>		
      <td width="10%" class="tbs" align="right">$!cformat.formatAligned($dQty)   </td>
      <td width="15%"  class="tbs" align="right">$!cformat.formatAligned($dSales) </td>
      #if($incdis)
      <td width="10%" class="tbs" align="right">$!cformat.formatAligned($dSubDisc) </td>      
      <td width="9%"  class="tbs" align="right">$sDisc </td>
      #end      
      #if($bViewCost)
        <td width="15%" class="tbs" align="right">$!cformat.formatAligned($dCost)  </td>
        <td width="15%" class="tbs" align="right">$!cformat.formatAligned($dProfit)</td>
        <td width="9%"  class="tbs" align="right">$!cformat.formatAligned($dPct)%  </td>	 
      #end
    </tr>
    #set($totalRetQty    = $calculator.add($totalRetQty,    $dQty ))
    #set($totalRetSales  = $calculator.add($totalRetSales,  $dSales))
    #set($totalRetCost   = $calculator.add($totalRetCost,   $dCost))
    #set($totalRetProfit = $calculator.add($totalRetProfit, $dProfit))            
    #set($totalRetDisc   = $calculator.add($totalRetDisc,   $dSubDisc))

    #set($No = $No + 1)
    #end  ##end foreach
    #set($totalRetPct = $calculator.pct($totalRetProfit, $totalRetSales))       
    #if($printable) #line(10) #end      
    <tr>
      <td class="tbs" align="right" colspan="3"><b>Total $!l10n.sales_return #spc(2)</b></td>		
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalRetQty)   </b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalRetSales) </b></td>
      #if($incdis)
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalRetDisc) </td>      
      <td class="tbs" align="right"><b>#spc(1) </td>
      #end        
      #if($bViewCost)
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalRetCost)  </b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalRetProfit)</b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalRetPct)%  </b></td>	 
      #end                                                                      
    </tr>
    #if($printable) #line(10) #end
    ##GRAND TOTAL
    #set($totalQty    = $calculator.sub($totalQty   ,$totalRetQty   ))
    #set($totalSales  = $calculator.sub($totalSales ,$totalRetSales ))
    #set($totalCost   = $calculator.sub($totalCost  ,$totalRetCost  ))
    #set($totalProfit = $calculator.sub($totalProfit,$totalRetProfit))
    #set($totalDisc   = $calculator.sub($totalDisc  ,$totalRetDisc  ))    
    #set($totalPct = $calculator.pct($totalProfit, $totalSales))       
    <tr>
      <td class="tbs" align="right" colspan="3"><b>GRAND TOTAL &nbsp;&nbsp; </b></td>		
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalQty)   </b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalSales) </b></td>
      #if($incdis)
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalDisc) </td>      
      <td class="tbs" align="right"><b>#spc(1) </td>
      #end        
      #if($bViewCost)
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalCost)  </b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalProfit)</b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalPct)%  </b></td>	 
      #end                                                                      
    </tr>
    #if($printable) #line(10) #end  
  </table>
#end ##end if vReturn
#end ##end if include return

#else ## DETAIL MODE
#set($vResult = $salesreport.getSalesDetailByPeer($dStart,$dEnd,"item.PREFERED_VENDOR_ID",$vid))
#if($vResult)  
  <br><b>$!l10n.vendor: $!oVend.getValue(2).asString() - $!oVend.getValue(3).asString()
  <table width="100%" cellspacing="0" cellpadding="4">
    #if($printable) #line(10) #end
    <tr>
      <td class="th4"><b>No</b></td>
      <td class="th4"><b>$!l10n.invoice_no</b></td>
      <td class="th4"><b>$!l10n.trans_date</b></td>      
      <td class="th4"><b>$!l10n.item_code</b></td>
      <td class="th4"><b>$!l10n.item_name</b></td>
      <td class="th4"><center><b>$!l10n.discount</b>    </center></td>      
      <td class="th4"><center><b>$!l10n.total_qty</b>   </center></td>
      <td class="th4"><center><b>$!l10n.total_amount</b></center></td>      
    </tr>		
    #if($printable) #line(10) #end
    #set($No = 1)                       
    #foreach ($oTD in $vResult)
    #set($oTR = $salestransaction.getHeaderByID($oTD.SalesTransactionId))
    <tr>
      <td width="3%"  class="tbs">$!No</td>
      <td width="12%" class="tbs">$!oTR.InvoiceNo</td>		
      <td width="8%" class="tbs">$!cformat.fmt($oTR.TransactionDate)</td>
      <td width="12%" class="tbs">$!oTD.ItemCode</td>		
      <td width="24%" class="tbs">$!oTD.ItemName</td>      		
      <td width="10%" class="tbs" align="right">$!cformat.formatAligned($oTD.SubTotalDisc)</td>            
      <td width="10%" class="tbs" align="right">$!cformat.formatAligned($oTD.QtyBase)     </td>
      <td width="12%" class="tbs" align="right">$!cformat.formatAligned($oTD.SubTotal)    </td>
    </tr>
    #set($totalQty    = $calculator.add($totalQty,    $oTD.QtyBase))
    #set($totalSales  = $calculator.add($totalSales,  $oTD.SubTotal))
    #set($totalCost   = $calculator.add($totalCost,   $oTD.SubTotalCost))
    #set($totalProfit = $calculator.add($totalProfit, $calculator.sub($oTD.SubTotal,$oTD.SubTotalCost)))                         
    #set($totalDisc   = $calculator.add($totalDisc,   $oTD.SubTotalDisc))
    #set($No = $No + 1)
    #end  ##end foreach
    #set($totalPct = $calculator.pct($totalProfit, $totalSales))       
    #if($printable) #line(10) #end      
    <tr>
      <td class="tbs" align="right" colspan="5"><b>Total $!l10n.sales_invoice #spc(2)</b></td>		
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalDisc)  </td>      
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalQty)   </b></td>
      <td class="tbs" align="right"><b>$!cformat.formatAligned($totalSales) </b></td>
      ##<td class="tbs" align="right"><b>#spc(1) </td>
    </tr>
    #if($printable) #line(10) #end
  </table>
#end ##end if vResult
#end ##end if DETAIL

#end ##end foreach $vVend
#end ##end if op
</form>
