/* HTML */                               
html,body {height:100%; width:100%; margin:0;} 
body,td,a, input, select {font-family:  "Helvetica Neue", Helvetica, Arial; font-size: 16px; font-weight:bold;}  
body      {color: #3F74B6; background-color:#FFFFFF; overflow:auto;}
a		  {color: #333366; text-decoration: none;}
a.topLink {color: #FFFFFF; font-size: 14px;}
a:HOVER	  {color: #004466}
table     {border-collapse: collapse; border-color: #3F74B6;}
thead,th,tbody,tr,td {font-size:inherit;font-weight:inherit;border:inherit;}
         
/* FORM */
form {margin: 0px;} /*solve form add one line in ie */
select		    {font-size:16px; height:28px; border: 1px #CCCCCC solid; max-width:360px}
select[DISABLED]{color: #000033; background-color: #F5F5F5;}
select[READONLY]{color: #000033; background-color: #F5F5F5;}
select option   {font-size: 16px; height:28px; border: 1px #CCCCCC solid; border-top:none}
input 		    {border: 1px #CCCCCC solid; background-color: #FFFFFF; max-width:360px; height:24px}
input[DISABLED] {color: #003366;}
img             {border: 0px; vertical-align:top;}

#detailTableDiv {width:100%; height:320px; background-color:white; overflow:auto;}
#compLogo   {position:absolute;width:100px;height:60px;z-index:0;left:4px;top:29px;}
.text2,.whiteBtn {border:0px  #FFFFFF solid; vertical-align:middle;}
.whiteBtn   {color: #333366; background-color: #FFFFFF; }
.txtMessage {font-size: 14px; color: #990000}     
.txtAmount {font-size: 36px; color: #000000; border: 0px #FFFFFF solid; height:40px; text-align:center; width:98%}

.headerRow,.footerRow{  
    background-color:#3F74B6;
}
#titleRow {font-size: 16px; color: #3F74B6; vertical-align:middle; line-height:38px;}
#promoBtn {background:#880000;color:white;font-size:22px;cursor:pointer;}
.fixTable {width:auto; min-width:100%; table-layout:fixed; white-space: nowrap;}
.searchTable {width:auto; min-width:80%; table-layout:fixed; white-space: nowrap; padding:4px;}
.mainTable{border:0px; padding:0px; border-spacing: 0px; width:100%;height:100%;}
.headerRow{height:27px;}
.footerRow{height:24px; text-align:center;}
.detailRow{height:31px; vertical-align:top;}
.pmtPromoRow{background-color:#eeeeff}
.altRowTable{
    min-width:240px; padding:2px; border-spacing: 0px; white-space: nowrap; 
    width:100%; border:1px solid #3F74B6; 
}
.stdTable {
    min-width:240px; padding:2px; border-spacing: 0px; white-space: nowrap; 
    width:100%; border:1px solid #3F74B6; 
}
.th2 {color: #fff; background-color: #3F74B6;}
.th5 {color: #3F74B6; background-color: #9DC6E5;}

#txtTotalAmount,#PaymentAmount{
    font-family: "Helvetica Neue",Arial;   
    font-weight:bold;  
    border:0px none;
    color: #990000;  
    background-color:#FFEEDD;
}
#txtTotalAmount {
    width:360px;
    height:99%;
    font-size: 43px; 
    text-align:right;
}
#PaymentAmount {
    width:99%;
    font-size: 36px; 
    text-align:center;
}

a.faicon, i.faicon {font-size:28px; color: #3F74B6}
a.faicon-del, i.faicon-del {font-size:28px; color: #990000}
.addBtn,.delBtn,.findBtn {border:0px;min-width:29px;width:29px;height:29px;vertical-align:middle;}
.addBtn {background:url('../images/pos/btn_add_30.png') ;}
.delBtn {background:url('../images/pos/btn_del_30.png') ;}
.findBtn{background:url('../images/pos/btn_find_30.png');}
#disAllBtn {background:url('../images/btn_down.gif');min-width:16px;width:16px;height:16px;padding:0px;border:none;}

#btnNew,#btnFind,#btnPmt,#btnSave,#btnFindItem,#btnCancel{
  min-width: 200px;  
  height: 45px;          
  font-family: Arial; font-size: 20px; 
  font-weight:bold; 
  vertical-align:middle;
}
#btnFindItem {
  min-width: 120px;  
  height: 32px;            
}
#btnCancel {
  background: #990000;           
}
.button 
{           
  border: 1px #3F74B6 solid; 
  color: #FFFFFF;                                                                                                                                                    
  border-radius:4px;                                                                                                                                              
  -moz-border-radius:4px;                                                                                                    
  background: #006699;
  
  /*
  background: rgb(184,225,252);
  background: -moz-linear-gradient(top, rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); 
  background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); 
  */
}                                                                                                                                                                 
.button:hover {                                                                                                                                                    
  background: #005588;
  color: #DDDDDD;                                                                                                                                                   
}

/* Payment Selector */
.btnSelPayment { width:100%; max-width:360px; min-height:32px; font-size:18px; height:100%;}
#btnId, #btnEdc { width:100%; max-width:360px; min-height:32px; font-size:18px; height:100%;}
#btnId:disabled {background:#eee}
#btnEdc:disabled {background:#eee}
#btnSetPayment, #btnClearPayment { width:200px; height:32px;}
#btnClearPayment { background:#900}
#btnSetEDC, #btnAbortEDC { width:200px; height:32px;}
#btnAbortEDC { background:#900}

#edcStatus, #edcAmount {
    width:100%;height:48px;line-height:48px;font-size:20px;
    background:#ffc;border:2px solid #336;text-align:center;vertical-align:middle;
}          
#edcAmount { 
    background:#fff;font-weight:bold;border:0px;
}
.btnSelEDC { 
    font-size: 24px;
    width:90%; height:180px; border:1px; 
    box-shadow: 0 5px 10px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);    
}
.btnSelEDC.EDC-BCA {background: url(../images/pos/bca-logo.png) no-repeat; }
.btnSelEDC.EDC-MDR {background: url(../images/pos/mdr-logo.png) no-repeat; }

.btnSelEDC:hover    { border:8px solid #036; }
.btnSelEDC:disabled { border:8px solid #ddd; }

.numCol {max-width:600px; text-align:right; font-size:18px;}
.numCol:read-only {background:#eee}
.edcInput:read-only {background:#eee}

.modal-iframe {width:100%;height:79vh;border:0;}
#simplemodal-overlay   {background-color:#000;}
#simplemodal-container {max-height:82vh; width:80vw; max-width:1080px; color:#000; background-color:#fff; border:2px solid #888; padding:12px;}
#simplemodal-container .simplemodal-data {padding:4px;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

@media (max-height:740px) {
    .footerRow {display:none}
    .footerRow td {display:none}

}

/* textField With Selector */
.txtSel { position:relative }
.txtSel .txtSelField {}
.txtSel>ul.txtSelList { 
    display:none;
	position:absolute; left:60px; top:-60px; z-index:999;
	width:300px;
	margin:0; padding:10px; list-style:none;
	background:#fff; color:#333;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
.txtSel>ul.txtSelList li {
	padding:10px;
	border-bottom: solid 1px #ccc;
}
.txtSel>ul.txtSelList li:hover {
	background:#3F74B6; color:#fff;
}
.txtSel>ul.txtSelList li:last-child { border:none } 

.noCol   {width:24px;min-width:24px;max-width:24px}
.codeCol {width:120px;min-width:120px;}
.nameCol {width:25%;min-width:120px;max-width:240px;}
.descCol {width:40%;min-width:200px;max-width:360px;}
.qtyCol  {width:60px;min-width:60px;}
.prcCol  {width:100px;min-width:100px;}
    