html,body{height: 100%; width: 100%;} 
body	 {font-family: "Helvetica Neue",Tahoma,Helvetica,Arial; font-size: 11px; overflow: visible !important; margin: 0; background-color: #FFFFFF;}
h1,h2,h3,a {font-weight:bold;color: #000000} 
h1, .txtTitle2 {font-size: 16px;}
h2 {font-size: 14px;}
h3 {font-size: 12px;}
a  {text-decoration: none}
a:hover	{color: #333366}
table   {white-space:normal; width:auto; min-width:100%; table-layout:fixed;}
table, th, tr, td, span, hr, .tbs, .tblHeader2
{
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial; font-size: 12px; 
    overflow: visible !important;     
}
th, td {border:inherit;}
th, .th4, .th3, .tblHeader4,.th5,.tblHeader5 {font-weight:bold;}
.th4,.tblHeader4 {background-color: #EEEEEE; border-top: 1px #EFEFEF solid; border-bottom: 1px #EFEFEF solid}
.th5,.tblHeader5 {background-color: #E0E0E0; border-top: 1px #EEEEEE solid; border-bottom: 1px #EEEEEE solid}
.tbs{border-bottom: 1px #EEEEEE solid}
.thb{border-top: 1px #EEEEEE solid;border-bottom: 1px #EEEEEE solid}
.xls-num {mso-number-format:General;}
.xls-txt {mso-number-format:"\@";}
.stdTable td:nth-child(1) {mso-number-format:"\@";}    
.stdTable td:nth-child(2) {mso-number-format:"\@";}    

    
    
    
