/* HTML */                               
BODY	{font-family: Verdana, Arial; font-size: 11px; }
TD 		{font-family: Verdana, Arial; font-size: 11px; }

/* LINK */
A		    {font-family: Verdana, Arial; font-size: 11px; color: #333366; text-decoration: none}
A:HOVER	    {color: #A4B4C2}
A.linkProp1 {font-size: 100%; font-weight:bold; color: #000066}
A.linkProp2 {font-size: 120%; font-weight:bold; color: #000066}
A.linkProp3 {font-family: arial,verdana;  font-size: 12px; font-weight:bold; color: #477EB3}
A.linkProp4 {font-family: arial,verdana;  font-size: 12px; font-weight:bold; color: #3C6A96}
A.sort2     {font-family: Arial; font-size: 11px; font-weight: bold; color: #FFFFFF; 
             background-color: #255C91; text-decoration: none}


/* SCROLL BAR */
BODY 
{
margin: 0;
overflow:auto;
/*
scrollbar-base-color:#ffffff; scrollbar-arrow-color:#777777; 
scrollbar-highlight-color:#eeeeee; scrollbar-3dLight-Color:#eeeeee;
scrollbar-shadow-color:#eeeeee; scrollbar-darkshadow-color:#eeeeee; 
scrollbar-face-color:white; scrollbar-track-color: #eeeeee
*/
}

/* FORM */
FORM            {margin: 2px;} /*solve form add one line in ie */
INPUT 		    {font-family: Verdana,Arial; font-size: 11px; border: 1px #CCCCCC solid;  background-color: #FFFFFF}
INPUT[DISABLED] {color: #000033; background-color: #F5F5F5;}
INPUT[READONLY] {color: #000033; background-color: #F5F5F5;}

INPUT.cb        {border: none}
INPUT.rb        {border: none}

INPUT.text1 	{font-size: 10px; border: 1px #CCCCCC solid}
INPUT.text2 	{font-size: 10px; border: 1px #CCCCCC solid}
INPUT.text3 	{font-size: 9px;  border: 1px #CCCCCC solid}

INPUT.text4 	{font-size: 10px; font-weight:bold; color: #000066; border: 1px #FFFFFF solid}
INPUT.text5 	{font-family: Arial; font-size: 18px; font-weight:bold; color: #000066; border: 1px #FFFFFF solid}
INPUT.text6 	{font-size: 11px; border: 0px #FFFFFF none}

INPUT.whiteBtn  {font-size: 10px; color: #000066; border: none}
INPUT.greyBtn   {font-size: 11px; color: #000000; font-weight:bold; text-align: right; background-color: #CCCCCC; border: 0px #CCCCCC none}

SELECT		      {font-family: Verdana,Arial; font-size: 11px; border: 1px #CCCCCC solid}
SELECT[DISABLED]  {color: #000033; background-color: #F5F5F5;}
SELECT[READONLY]  {color: #000033; background-color: #F5F5F5;}

TEXTAREA 	      {font-family: Verdana,Arial; font-size: 11px; border: 1px #CCCCCC solid}
TEXTAREA[DISABLED]{color: #000033; background-color: #F5F5F5;}
TEXTAREA[READONLY]{color: #000033; background-color: #F5F5F5;}

MARQUEE  {font-family: Arial; font-size: 14px; font-weight:bold; color: #FFFFFF;  background-color: #FFCC00}

/* EXTENDED */
.txtShelving1 {font-family: Arial; font-weight:bold; font-size: 35px; color: #000000}
.txtShelving2 {font-family: Arial; font-weight:bold; font-size: 14px; color: #000000}
.txtTitle1    {font-family: Arial; font-weight:bold; font-size: 18px; color: #990000}
.txtTitle2    {font-family: Arial; font-weight:bold; font-size: 14px; color: #000000}
.txtTitle3    {font-family: Arial; font-weight:bold; font-size: 13px; color: #000000}
.txtTitle4    {font-family: Arial; font-weight:bold; font-size: 12px; color: #000000}

.txtWarning  	   {font-family: Arial;   font-weight:bold; font-size: 14px; color: #990000}
.txtWarningPeriod  {font-family: Arial;   font-weight:bold; font-size: 14px; color: #000000}
.txtErrorPage  	   {font-family: Arial;   font-weight:bold; font-size: 12px; color: #333366}
.txtSubTitle1  	   {font-family: Verdana; font-weight:bold; font-size: 13px; color: #000000}

.txtProp1  	 {font-size: 11px;  color: #000000}
.txtProp2  	 {font-size: 12px;  color: #000000}
.txtProp4  	 {font-size: 10px;  color: #000000}

.txtSmall  	 {font-family: Arial;  font-size: 9px; color: #000000}
.txtPayment  {font-family: Courier New; font-size: 18px; color: #000000; text-align:center;
              font-weight: bold; border: 1px #FFFFFF solid} /*  For Payment Info in transaction screen  */

.txtStack  	 {font-family: Verdana,Arial;  font-size: 9px;   color: #000000} /*  For StackTrace  */
.txtStack2   {font-family: Verdana,Arial;  font-size: 10px;  color: #990000} /*  For Column need highlight */
.txtPrint  	 {font-family: Arial;          font-size: 10px;  color: #000000} /*  For Print */ 
.txtTree  	 {font-family: Courier New;    font-size: 12px;  color: #000000} /* For Member Tree */
.txtMessage  {font-family: Arial;          font-weight:bold; font-size: 14px; color: #990000 } /* System Message */
.txtPRE  	 {font-family: Trebuchet MS;   font-weight:bold; font-size: 14px; color: #000000}  /* File Content */

.tblHeader1     {font-family: Arial;  font-size: 11px; font-weight: bold;   color: #FFFFFF;background-color: #990000}
.tblHeader2     {font-family: Arial;  font-size: 11px; font-weight: bold;   color: #FFFFFF;background-color: #255C91}
.tblHeader3     {font-family: Arial;  font-size: 11px; font-weight: bold;   color: #FFFFFF;background-color: #CCCCCC}
.tblHeader4     {font-family: Trebuchet MS, Arial;  font-size: 12px; font-weight: normal; color: #000000;background-color: #CCCCCC}
.tblHeader5     {font-family: Trebuchet MS, Arial;  font-size: 12px; font-weight: normal; color: #000000;background-color: #E0E0E0; border: 1px #CCCCCC solid}

.tblHeaderPrint {font-family: Arial,Verdana;        font-size: 10px; font-weight: bold;   color: #000000}
.tblHeaderCopy  {font-family: Verdana,Arial;        font-size: 10px; font-weight: bold;   color: #FFFFFF; background-color: #366DA2}

.tblBorderDot  	{ border: 1px #CCCCCC dotted}
.tblBorderSolid { border: 1px #CCCCCC solid}

/* MENU  */
.clCMAbs {
	position:absolute; 
	visibility:hidden; 
	left:0; 
	top:0
}
  
/*Style for the background-bar*/
.clBar {
	position:absolute; 
	width:10; 
	height:10; 
	visibility:hidden
}

/*Styles for level 0*/
.clLevel0,.clLevel0over {
	position:absolute; 
	padding:2px; 
	font-family:Verdana; 
	font-size:11px; 
	font-weight:normal;
    color:#FFFFFF;
}
.clLevel0 {	
	background-color:#779AC1; 
}
.clLevel0over {
}
.clLevel0border {
	position:absolute; 
	visibility:hidden; 
}

/*Styles for level 1*/
.clLevel1, .clLevel1over {
	position:absolute; 
	padding:2px; 
	font-family:Trebuchet MS, Arial; 
	font-size:12px; 
	font-weight:bold;
}
.clLevel1 { 
	background-color:#779AC1; 
    color:#FFFFFF;
}
.clLevel1over {
	background-color:#BCD7F1; 
	color:#779AC1; 
	cursor:pointer; 
 	
}
.clLevel1border {
	position:absolute; 
	visibility:hidden; 
	background-color:#628ABA; 
}

/*Styles for level 2*/
.clLevel2, .clLevel2over {
	position:absolute; 
	padding:2px; 
	font-family:Trebuchet MS, Arial; 
	font-size:12px; 
	font-weight:bold;
}
.clLevel2 {
	background-color:#BCD7F1; 
	color:#779AC1;
}
.clLevel2over{
	background-color:#779AC1; 
	color:#FFFFFF; 
	cursor:pointer; 
}
.clLevel2border {
	position:absolute; 
	visibility:hidden; 
	background-color:#628ABA; 
}

/* CALENDAR RELATED */

td.cal{
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #000000;
  background-color : #f3f3f3;
}
select.month{
  font-family : Arial,Helvetica;
  font-size : 10px;
  color : #000000;
  width : 85px;
}
input.year{
  font-family : Arial,Helvetica;
  font-size : 10px;
  color : #000000;
  width : 30px;
}
td.calDaysColor {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #ffffff;
  background-color : #333366;
}
td.calWeekend {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #ffffff;
  background-color : #CCCCCC;
}
td.calBgColor {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #ffffff;
  background-color : #DDDDDD;
}
.calBorderColor {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #ffffff;
  background-color : #a9a9a9;
}
td.calHighlightColor {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #ffffff;
  background-color : #DDDDDD;
}
A.cal {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #000000;
  text-decoration : none;
}  
A.cal:Hover {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #993333;
  text-decoration : none;
} 
.disabled {
  font-family : Arial,Helvetica;
  font-size : 11px;
  color : #808080;
  text-decoration : none;
}  

/* TABS RELATED */

A.tab-link	{font-family: Trebuchet MS, Arial ; font-size: 12px; color: #000000; text-decoration: none}
A.tab-link:HOVER	{color: #000066}

.tab-button	 
{ 
    width: 170; 
    height: 20; 
    font-weight: normal;     
    background: #CCCCCC; 
	border: 1px solid #CCCCCC;
    padding-top: 2px; 
    padding: 3;
}

/* Tree Style */
.treetitle {
	padding:2px;
	cursor:pointer;
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.editednode {
	padding:2px;
	cursor:default;
	background-color: #FFFFFF;;
	color: #000000;
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.editednodeinput {
	background-color: #FFFFFF;;
	color: #000000;
	width: 150px;
	height: 17px;
	cursor:default;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.treetitleselectedfocused {
	padding:2px;
    cursor:pointer;	
	background-color: highlight;
	color: highlighttext;
	
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.treetitleselectedblured {
	padding:2px;
	cursor:pointer;
	background-color: menu;
	color: windowtext;
	font-family: Tahoma,Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
.autocomplete ul li.selected { background-color: #CCCCCC;}
.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:20px;
  cursor:pointer;
}

/* QTY INFORMATION AJAX DIV */
div.qty_info 
{

}                                                                                                                                                                                                                                       

div.qty_info ul 
{                                                                                                                                                                                                                  
  border:1px solid #888;                                                                                                                                                                                                                  
  margin:0;                                                                                                                                                                                                                               
  padding:0;                                                                                                                                                                                                                              
  width:250px;                                                                                                                                                                                                                             
  background: #fff;
  list-style-type:none;                                                                                                                                                                                                                   
}                                                                                                                                                                                                                                       

div.qty_info ul li 
{                                                                                                                                                                                                               
  margin:0;                                                                                                                                                                                                                               
  padding:3px;                                                                                                                                                                                                                            
}
/* END QTY INFO */        