<!DOCTYPE html>
<html>
<head>
  <title>
    #if($sutil.isNotEmpty($preference.Company.CompanyName)) $preference.Company.CompanyName - #end
    #if($sutil.isNotEmpty($title)) $title #else Retailsoft #end [$!preference.getCurrentDatabase()]
    #set($last = "${preference.getLastUpdate($data)}")    
  </title>  
  <link rel="icon" type="image/png" href="$!data.ContextPath/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="$!data.ContextPath/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="$!data.ContextPath/images/favicons/favicon.ico">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  ## <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">  
  <link type="text/css" href="${data.ContextPath}/css/stylesheet.css?$!{last}" rel="stylesheet"/>
  <link type="text/css" href="${data.ContextPath}/css/pikaday.css" rel="stylesheet"/>
  <link type="text/css" href="${data.ContextPath}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link type="text/css" href="${data.ContextPath}/javascript/modules/select2/select2.min.css" rel="stylesheet"/>
    
  ##<link type="text/css" href="${data.ContextPath}/css/pace.css" rel="stylesheet"/>
  #jsGlobalVar()
  ##<script src="${data.ContextPath}/javascript/pace.min.js"></script>                                                                                                                                                           
  <script src="${data.ContextPath}/javascript/common.js?$!{last}"> </script>
  <script src="${data.ContextPath}/javascript/coolmenus4.js"></script>
  <script src="${data.ContextPath}/javascript/time.js"></script>
  <script src="${data.ContextPath}/javascript/moment.min.js"></script>    
  <script src="${data.ContextPath}/javascript/pikaday.js"></script>  
  <script src="${data.ContextPath}/javascript/format_number.js"></script>
  <script src="${data.ContextPath}/javascript/jquery.min.js"></script> 
  <script src="${data.ContextPath}/javascript/jq/jquery.simplemodal.min.js"></script> 
  <script src="${data.ContextPath}/javascript/modules/select2/select2.min.js"></script>
  <script src="${data.ContextPath}/javascript/notify.min.js"></script>  
  ## <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>      
      
  <script>jQuery.noConflict();</script>

#if($headings && $headings.size() > 0)
#setMobileRowHeading($headings)
#end
</head>

<body #if($sutil.isNotEmpty($sOnLoad)) $sOnLoad #end >
## <script>
## var docWidth = document.documentElement.offsetWidth;
## 
## [].forEach.call(
##   document.querySelectorAll('*'),
##   function(el) {
##     if (el.offsetWidth > docWidth) {
##       console.log(el);
##     }
##   }
## );
## </script>
#if($sutil.isNotEmpty($data.User.Name))
<script src="${data.ContextPath}/javascript/menu${data.User.Name}.js"></script>
#end ##end if
<table id="mainLayoutTable" cellpadding="0">
  <tr id="topHeaderRow">
    <td></td>
  </tr>
  <tr id="midHeaderRow">
    <td>
    $navigation.setTemplate("/Header.vm")
    </td>
  </tr>
  <tr id="menuHolderRow">
    <td>
      <img src="${data.ContextPath}/images/layout/layout_03.gif">
    </td>
  </tr>
  <tr>
    <td id="disHeaderRow">
      $navigation.setTemplate("/DateDisplayer.vm")
    </td>
  </tr>
  <tr id="screenHolderRow">
    <td>         
    $screen_placeholder
    </td>
  </tr>
  $navigation.setTemplate("/Footer.vm")
</table>
</body>
</html>

