<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>                                                                                                                 
#if($sutil.isNotEmpty($title)) $title #else RetailSoft - Item Lookup #end [$!preference.getCurrentDatabase()]
#set($last = "${preference.getLastUpdate($data)}")
</title>
#if($isPOS) ##set in ItemLookup Screen
<link type="text/css" href="${data.ContextPath}/css/pos-touch.css" rel="stylesheet"/>
#else
<link type="text/css" href="${data.ContextPath}/css/stylesheet.css?$!{last}" rel="stylesheet"/>
#end
<link type="text/css" href="${data.ContextPath}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link type="text/css" href="${data.ContextPath}/javascript/modules/select2/select2.min.css" rel="stylesheet"/>
#jsGlobalVar()
<script src="${data.ContextPath}/javascript/common.js?$!{last}"></script>
<script src="${data.ContextPath}/javascript/jquery.min.js"></script>
<script src="${data.ContextPath}/javascript/jq/jquery.simplemodal.min.js"></script>
<script src="${data.ContextPath}/javascript/modules/select2/select2.min.js"></script>
<script src="${data.ContextPath}/javascript/notify.min.js"></script>  

#if($headings && $headings.size() > 0)
#setMobileRowHeading($headings)
#end
</head>
<body topMargin="3" leftMargin="3" OnLoad="setOnLoad();" OnUnload="setOnUnload();">
$screen_placeholder
</body>
</html>