$data.setLayoutTemplate("/Empty.vm")
#set($ir = $data.Session.getAttribute("ir"))
#set($irDet = $data.Session.getAttribute("irDet"))
#set($bEditable = $data.Parameters.getBoolean("Editable"))
<table width="100%" cellspacing="0" cellpadding="1">                               
  #set($no = 1)
  #set($TotalItem = 0)
  #set($TotalQty = 0)
  #set($TotalAllCost = 0)
  #set($detCount = $irDet.size())
  #set($vDet = $irDet)
    
  #foreach ($td in $vDet)
    #set($TotalItem = $TotalItem + 1)
    #set($TotalQty = $calculator.add($TotalQty,$!td.QtyChanges))
    #set($TotalCost = $calculator.mul($td.QtyChanges,$td.Cost))
    #set($TotalAllCost = $calculator.add($TotalAllCost,$TotalCost))
    #set($oItem = $!item.getItemByID($td.ItemId))
    <tr cellpadding="0">
      <td class="tbs" width="20" ><input #stdin ("" "$no" 20 false) ></td>
      <td class="tbs" width="120"><input #stdin ("" "$!td.ItemCode" 120 false) ></td>
      <td class="tbs" width="250"><input #stdin ("" "$!oItem.ItemName" 250 false) ></td>
      <td class="tbs" width="75" >
        #if($bEditable)
        <input #stdin ("QtyChanges$no" "$!td.QtyChanges" 75 true) OnFocus="this.select();">
        #else
        <input #stdin ("QtyChanges$no" "$!cformat.formatNumber($!td.QtyChanges)" 75 false) >                  
        #end
      </td>
      <td class="tbs" width="75" ><input #stdin ("" "$!td.UnitCode" 75 false)</td>
      <td class="tbs" width="100"><input #stdin ("" "$!cformat.formatNumber($!td.Cost)" 100 false) ></td>
      <td class="tbs" width="125"><input #stdin ("" "$!cformat.formatNumber($!TotalCost)" 125 false) ></td>      
      <td class="tbs">
        #if($bEditable)
          #opBtn("del" "" "" "")
        #end
        #opBtn("dept" "" "" "irDet")
      </td>
    </tr>
    #set($no = $no + 1)
  #end ## end foreach
</table>
<input type="hidden" name="totalDisplay" value="$no">