$data.setLayoutTemplate("/Empty.vm")
#set($sNo = $data.Parameters.getString("LendingOutNo",""))
#set($lt = $butil.loadClass("com.ssti.enterprise.pos.tools.inventory.LendingTool")) 
#set($v = $lt.findOutByNo($sNo)) 
#if($v.size() > 10)#set($v = $v.subList(0,10)) #end
<ul>
#foreach ($c in $v)
<li id="$c.LendingId">$c.TransNo</li>
#end
</ul>
