#set($title   = " $!l10n.purchase_order ")
#set($sTrans  = "transaction,PurchaseOrderTransaction.vm")
#set($sAction = "transaction.PurchaseOrderAction")
#set($tool    = $!purchaseorder)
#set($sType   = "po")

#set($vHeaders = $PurchaseOrders)
#set($sPK = "purchaseOrderId")

#parse("screens/report/purchase/CommonSearch.vm")

#if($vHeaders)
#largeSelectNavBar("$data.ScreenTemplate" $pageParam) 
#end

<!-- GROUP BY NONE -->
#if($groupby == 1)      

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.due_date", "$!l10n.vendor", "$!l10n.location", "$!l10n.status", "<center>$!l10n.total_qty", "<center>$!l10n.total_amount"] ) 
#set($fields = ["purchaseOrderNo", "transactionDate", "dueDate", "vendorName", "locationName", "transactionStatus", "totalQty", "totalAmount"] )
#set($width = ["15%", "10%", "10%", "15%", "15%", "12%", "12%", "15%"] )
#set($align = ["", "", "",  "", "", "", "right", "right"] )
#set($src = ["no", "h", "h", "h", "l", "l", "h", "h"] )
#set($sum = [-1, -1, -1, -1, -1, -1, 0, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", "", "",[$location, "getLocationNameByID"], [$tool, "getStatusString"], "", ""] )
#set($linksrc  = ["", "", "", "","h", "h", "", ""] )
#set($linkfld  = ["", "", "", "","locationId", "transactionStatus", "", ""] )

#parse ("screens/report/NonGrouping.vm")

#end ##end group by none

<!-- GROUP BY VENDOR -->
#if($groupby == 2)

#set($group = "vendorId")
#set($groupTitle = $!l10n.vendor)
#set($groupFld = "vendorName")
#set($groupLink = [""])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.due_date","$!l10n.location", "$!l10n.status", "<center>$!l10n.total_qty", "<center>$!l10n.total_amount"] ) 
#set($fields = ["purchaseOrderNo", "transactionDate", "dueDate", "locationName", "transactionStatus", "totalQty", "totalAmount"] )
#set($width = ["15%", "12%", "12%", "15%", "12%", "12%", "15%"] )
#set($align = ["", "", "",  "", "", "right", "right"] )
#set($src = ["no", "h", "h", "l", "l", "h", "h"] )
#set($sum = [-1, -1, -1, -1, -1, 0, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", "", [$location, "getLocationNameByID"], [$tool, "getStatusString"], "", ""] )
#set($linksrc  = ["", "", "", "h", "h", "", ""] )
#set($linkfld  = ["", "", "", "locationId", "transactionStatus", "", ""] )

#parse ("screens/report/BaseGroup.vm")

#end ##end if

<!-- GROUP BY STATUS -->
#if($groupby == 3)

#set($group = "transactionStatus")
#set($groupTitle = $!l10n.status)
#set($groupFld = "transactionStatus")
#set($groupLink = [$tool, "getStatusString"])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.due_date", "$!l10n.vendor", "$!l10n.location", "<center>$!l10n.total_qty", "<center>$!l10n.total_amount"] ) 
#set($fields = ["purchaseOrderNo", "transactionDate", "dueDate", "vendorName", "locationName", "totalQty", "totalAmount"] )
#set($width = ["15%", "12%", "12%", "15%", "15%", "12%", "15%"] )
#set($align = ["", "", "",  "", "", "right", "right"] )
#set($src = ["no", "h", "h", "h", "l", "h", "h"] )
#set($sum = [-1, -1, -1, -1, -1, 0, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", "", "", [$location, "getLocationNameByID"], "", ""] )
#set($linksrc  = ["", "", "", "", "h", "", ""] )
#set($linkfld  = ["", "", "", "", "locationId", "", ""] )

#parse ("screens/report/BaseGroup.vm")

#end ##end if

<!-- GROUP BY LOCATION -->
#if($groupby == 4)

#set($group = "locationId")
#set($groupTitle = $!l10n.location)
#set($groupFld = "locationId")
#set($groupLink = [$location, "getLocationNameByID"])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.due_date","$!l10n.vendor", "$!l10n.status", "<center>$!l10n.total_qty", "<center>$!l10n.total_amount"] ) 
#set($fields = ["purchaseOrderNo", "transactionDate", "dueDate", "vendorName", "transactionStatus", "totalQty", "totalAmount"] )
#set($width = ["15%", "12%", "12%", "15%", "12%", "12%", "15%"] )
#set($align = ["", "", "",  "", "", "right", "right"] )
#set($src = ["no", "h", "h", "h", "l", "h", "h"] )
#set($sum = [-1, -1, -1, -1, -1, 0, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", "", "", [$tool, "getStatusString"], "", ""] )
#set($linksrc  = ["", "", "", "", "h", "", ""] )
#set($linkfld  = ["", "", "", "", "transactionStatus", "", ""] )

#parse ("screens/report/BaseGroup.vm")

#end

<!-- GROUP BY USER -->
#if($groupby == 5)

#set($group = "createBy")
#set($groupTitle = $!l10n.create_by)
#set($groupFld = "createBy")
#set($groupLink = [""])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.due_date", "$!l10n.vendor", "$!l10n.location", "$!l10n.status", "<center>$!l10n.total_qty", "<center>$!l10n.total_amount"] ) 
#set($fields = ["purchaseOrderNo", "transactionDate", "dueDate", "vendorName", "locationName", "transactionStatus", "totalQty", "totalAmount"] )
#set($width = ["15%", "10%", "10%", "15%", "15%", "12%", "12%", "15%"] )
#set($align = ["", "", "",  "", "", "", "right", "right"] )
#set($src = ["no", "h", "h", "h", "l", "l", "h", "h"] )
#set($sum = [-1, -1, -1, -1, -1, -1, 0, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", "", "",[$location, "getLocationNameByID"], [$tool, "getStatusString"], "", ""] )
#set($linksrc  = ["", "", "", "","h", "h", "", ""] )
#set($linkfld  = ["", "", "", "","locationId", "transactionStatus", "", ""] )

#parse ("screens/report/BaseGroup.vm")

#end ##end if

#if($groupby == 6)

#set($group = "confirmBy")
#set($groupTitle = $!l10n.confirm_by)
#set($groupFld = "confirmBy")
#set($groupLink = [""])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.due_date", "$!l10n.vendor", "$!l10n.location", "$!l10n.status", "<center>$!l10n.total_qty", "<center>$!l10n.total_amount"] ) 
#set($fields = ["purchaseOrderNo", "transactionDate", "dueDate", "vendorName", "locationName", "transactionStatus", "totalQty", "totalAmount"] )
#set($width = ["15%", "10%", "10%", "15%", "15%", "12%", "12%", "15%"] )
#set($align = ["", "", "",  "", "", "", "right", "right"] )
#set($src = ["no", "h", "h", "h", "l", "l", "h", "h"] )
#set($sum = [-1, -1, -1, -1, -1, -1, 0, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", "", "",[$location, "getLocationNameByID"], [$tool, "getStatusString"], "", ""] )
#set($linksrc  = ["", "", "", "","h", "h", "", ""] )
#set($linkfld  = ["", "", "", "","locationId", "transactionStatus", "", ""] )

#parse ("screens/report/BaseGroup.vm")

#end ##end if

<!-- GROUP BY PAYMENT TYPE-->
#if($groupby == 7)

#set($group1 = "paymentTypeId")
#set($group1Title = $!l10n.payment_type)
#set($group1Fld = "paymentTypeId")
#set($group1Link = [$paymenttype, "getDescriptionByID"])

#set($group = "paymentTermId")
#set($groupTitle = $!l10n.payment_term)
#set($groupFld = "paymentTermId")
#set($groupLink = [$paymentterm, "getDescriptionByID"])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.due_date", "$!l10n.vendor", "$!l10n.location", "$!l10n.status", "<center>$!l10n.total_qty", "<center>$!l10n.total_amount"] ) 
#set($fields = ["purchaseOrderNo", "transactionDate", "dueDate", "vendorName", "locationName", "transactionStatus", "totalQty", "totalAmount"] )
#set($width = ["15%", "10%", "10%", "15%", "15%", "12%", "12%", "15%"] )
#set($align = ["", "", "",  "", "", "", "right", "right"] )
#set($src = ["no", "h", "h", "h", "l", "l", "h", "h"] )
#set($sum = [-1, -1, -1, -1, -1, -1, 0, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", "", "",[$location, "getLocationNameByID"], [$tool, "getStatusString"], "", ""] )
#set($linksrc  = ["", "", "", "","h", "h", "", ""] )
#set($linkfld  = ["", "", "", "","locationId", "transactionStatus", "", ""] )

#set($bFromDetails = false)

#parse ("screens/report/GroupLevel1.vm")    

#end

<!-- GROUP BY CURRENCY-->
#if($groupby == 8)

#set($group = "currencyId")
#set($groupTitle = $!l10n.currency)
#set($groupFld = "currencyId")
#set($groupLink = [$currency, "getDescriptionByID"])

#set($headings = ["No","$!l10n.trans_no", "$!l10n.trans_date", "$!l10n.due_date", "$!l10n.vendor", "$!l10n.location", "$!l10n.status", "<center>$!l10n.total_qty", "<center>$!l10n.total_amount"] ) 
#set($fields = ["purchaseOrderNo", "transactionDate", "dueDate", "vendorName", "locationName", "transactionStatus", "totalQty", "totalAmount"] )
#set($width = ["15%", "10%", "10%", "15%", "15%", "12%", "12%", "15%"] )
#set($align = ["", "", "",  "", "", "", "right", "right"] )
#set($src = ["no", "h", "h", "h", "l", "l", "h", "h"] )
#set($sum = [-1, -1, -1, -1, -1, -1, 0, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", "", "",[$location, "getLocationNameByID"], [$tool, "getStatusString"], "", ""] )
#set($linksrc  = ["", "", "", "","h", "h", "", ""] )
#set($linkfld  = ["", "", "", "","locationId", "transactionStatus", "", ""] )

#parse ("screens/report/BaseGroup.vm")

#end


<!-- GROUP BY TAX -->
#if($groupby == 10)

#set($group = "taxId")
#set($groupTitle = "$!l10n.tax")
#set($groupFld = "taxId")
#set($groupLink = [$tax, "getCodeByID"])

#set($headings = ["No","$!l10n.trans_no","$!l10n.trans_date","$!l10n.vendor","<center>$!l10n.price","<center>$!l10n.ordered","<center>$!l10n.received","$!l10n.unit","<center>$!l10n.tax_amount","<center>$!l10n.sub_total"] )
#set($fields = ["purchaseOrderNo", "transactionDate", "vendorName", "itemPrice", "qty", "receivedQty", "unitCode", "subTotalTax", "subTotal"] )
#set($width = ["15%", "12%", "15%", "10%", "8%", "8%", "8%", "11%", "13%"] )
#set($align = ["", "", "",  "right", "right", "right", "right", "right", "right"] )
#set($src = ["no", "h", "h", "d", "d", "d", "d", "d", "d"] )
#set($sum = [-1, -1, -1, -1, 0, 0, -1, 0, 0] )
#set($n = $fields.size() - 1)

#set($bFromDetails = true)

#parse ("screens/report/BaseGroup.vm")

#end


#if($groupby == 11 || $groupby == 12 || $groupby == 13 || $groupby == 14 || $groupby == 15)

#set($group = "itemId")
#set($groupTitle = "")
#set($groupFld = "itemCode,itemName")
#set($groupLink = [""])

#set($headings = ["No","$!l10n.trans_no","$!l10n.trans_date","$!l10n.vendor","$!l10n.location","<center>$!l10n.price","<center>$!l10n.ordered","<center>$!l10n.received","$!l10n.unit","<center>$!l10n.sub_total"] )
#set($fields = ["purchaseOrderNo", "transactionDate", "vendorName", "locationName", "itemPrice", "qty", "receivedQty", "unitCode", "subTotal"] )
#set($width = ["15%", "12%", "15%", "15%", "10%", "8%", "8%", "8%", "15%"] )
#set($align = ["", "", "",  "", "right", "right", "right", "", "right"] )
#set($src = ["no", "h", "h", "l", "d", "d", "d", "d", "d"] )
#set($sum = [-1, -1, -1, -1, -1, 0, 0, -1, 0] )
#set($n = $fields.size() - 1)

#set($linktool = ["", "", "", [$location, "getLocationNameByID"], "", "", "", "", ""] )
#set($linksrc  = ["", "", "", "h", "", "", "", "", ""] )
#set($linkfld  = ["", "", "", "locationId", "", "", "", "", ""] )

#set($bFromDetails = true)

#end

<!-- GROUP BY KATEGORI -->
#if($groupby == 11)

#parse ("screens/report/GroupByKategori.vm")

#end ##end if transaction GROUP == 11


<!-- GROUP BY ITEM -->
#if($groupby == 12)

#parse ("screens/report/BaseGroup.vm")

#end  ##end if transaction GROUP == 12

<!-- GROUP BY VENDOR & ITEM -->
#if($groupby == 13)

#set($group1 = "vendorId")
#set($group1Title = $!l10n.vendor)
#set($group1Fld = "vendorName")
#set($group1Link = [""])

#end ##end if transaction GROUP == 13

<!-- GROUP BY LOCATION & ITEM-->
#if($groupby == 14)

#set($group1 = "locationId")
#set($group1Title = $!l10n.location)
#set($group1Fld = "locationId")
#set($group1Link = [$location, "getLocationNameByID"])

#end ##end if transaction GROUP == 13

#if($groupby == 13 || $groupby == 14 || $groupby == 15)

#set($bFromDetails = true)

#parse ("screens/report/GroupLevel1.vm")  

#end ## end if group == 13 || 14 || 15
  

